<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>딜링아트</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	
	<meta name="author" content="">
	<meta name="keywords" content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta name="description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:type" content="website">
	<meta property="og:title" content="딜링아트">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/DA_logo_og.png">
	<meta property="og:url" content="https://www.dealing-art.com">
	
	<meta name="robots"content="noindex">
	
	<!-- google -->
    <meta name="google-site-verification" content="EKiW_Lm3Qw-DYnLT9qokEpZT2Sa8tSQuVWhVEvs4kPk" />
    <!-- faceBook -->
    <meta name="facebook-domain-verification" content="bgotqya9tcsrgrmspnq0uywh85kjzh" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- HTML의 <head> 섹션에 전체 사이트 태그를 복사합니다. -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRJBSR52MT"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WRJBSR52MT');
	</script>
	
	<!-- Google Tag Manager -->
	<!-- 페이지의 <head>에서 가능한 한 높은 위치에 코드를 붙여넣으세요. -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBP5CQ9');</script>
	<!-- End Google Tag Manager -->
			
	<!-- Google Tag Manager (noscript) -->
	<!-- 또한 여는 <body> 태그 바로 뒤에 코드를 붙여넣으세요. -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBP5CQ9"height="0" width="0" style="display:none; visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	
	<!-- 페이스북 Meta Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '5995234030505207');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=5995234030505207&ev=PageView&noscript=1"/></noscript>
    
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	.swi-box::before{background-color:#f9f9f9;}
    	.footer-wrap{margin-top:0;}
    	.hd-div{background-color:#fff;}
    	[name=COLLworkClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		[name=WORKworkClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
		/* Firefox */
		input[type=number] {
		  -moz-appearance: textfield;
		}
    </style>
    
    <link rel="icon" type="image/png" href="/resources/img/favicon.png">
    <link type="text/css" rel="stylesheet" href="/resources/css/common_new.css"/>
</head>
<body>
    <th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
    <div id="container">
        <div class="community_wrap">
            <div id="nav">
                <ul>
                    <li><a href="/community/main" class="over">홈</a></li>
                    <li id="boa"><a href="/community/worksList">작품자랑</a></li>
                    <li id="exh"><a href="/community/exhintList">전시 소개&후기</a></li>
                    <li id="iss"><a href="/community/issueList">이슈</a></li>
                    <li><a href="/community/event">이벤트</a></li>
                    <!-- <li class="pt0 mt10"><button class="btn_recording" onclick="location.href='/myPage/main'">기록하기</button></li> -->
                    <li class="pt0 mt10"><button class="btn_recording" onclick="exLoginCheck()">기록하기</button></li>
                </ul>
            </div>
            <!-- mobile html 시작 -->
            <!-- <div id="nav">
                <ul>
                    <li><a href="/community/main" class="over">홈</a></li>
                    <li><a href="/community/worksList">작품자랑</a></li>
                    <li><a href="/community/exhintList">전시 소개&후기</a></li>
                    <li><a href="/community/knowhowList">노하우</a></li>
                    <li><a href="/community/event">이벤트</a></li>
                </ul>
            </div>
            <button class="btn_recording">기록하기</button> -->
            <!-- mobile html 끝 -->
            <div class="community_visual_wrap" id="community_banner">
                <!-- <div class="community_visual"><a href="https://promo.dealing-art.com/2023/auto_action_bidding_5percet?utm_source=landingpage&utm_medium=MainBanner&utm_campaign=action_bidding_5percet"><img src="/resources/img/img_new/community_visual.jpg" alt=""></a></div>
                <div class="community_visual_event">
                    <ul>
                        <li><a href="https://promo.dealing-art.com/2023/auto_action_bidding_5percet?utm_source=landingpage&utm_medium=MainBanner&utm_campaign=action_bidding_5percet"><img src="/resources/img/img_new/event_6m.png" alt=""></a></li>
                        <li><a href="https://promo.dealing-art.com/2023/auto_action_bidding_5percet?utm_source=landingpage&utm_medium=MainBanner&utm_campaign=action_bidding_5percet"><img src="/resources/img/img_new/btn_event_more.png" alt=""></a></li>
                    </ul>  
                </div> -->
            </div>             
            <div class="works_wrap">
                <div class="tit_wrap">
                    <h2>이주의 인기 작품자랑</h2>
                    <button class="btn_more" onclick="btnMore('BOA');">더보기</button>
                </div>
                <ul>
                    <!-- <li>
                      <a href="#"><img src="/resources/img/img_new/sample_works01.jpg" alt=""></a>
                      <p>희망을 주는 그림</p>
                    </li>
                    <li>
                      <a href="#"><img src="/resources/img/img_new/sample_works02.jpg" alt=""></a>
                      <p>희망을 주는 그림</p>
                    </li>
                    <li>
                      <a href="#"><img src="/resources/img/img_new/sample_works03.jpg" alt=""></a>
                      <p>희망을 주는 그림</p>
                    </li>
                    <li>
                      <a href="#"><img src="/resources/img/img_new/sample_works04.jpg" alt=""></a>
                      <p>희망을 주는 그림</p>
                    </li>  -->
                  </ul>
            </div>
            <!-- mobile html 시작 -->
            <!-- <div class="works_wrap">
                <div class="tit_wrap">
                    <h2>이주의 인기 작품자랑</h2>
                    <button class="btn_more" onclick="btnMore('BOA');">더보기</button>
                </div>
                <div class="works_box_wrap">
                	<div class="works_box">
                		<div class="works_img"><a href="#"><img src="/resources/img/img_new/sample_works01.jpg" alt=""></a></div>
                		<div class="text">희망을 주는 그림</div>
                	</div>
                	<div class="works_box">
                		<div class="works_img"><a href="#"><img src="/resources/img/img_new/sample_works02.jpg" alt=""></a></div>
                		<div class="text">희망을 주는 그림</div>
                	</div>
                	<div class="works_box">
                		<div class="works_img"><a href="#"><img src="/resources/img/img_new/sample_works03.jpg" alt=""></a></div>
                		<div class="text">희망을 주는 그림</div>
                	</div>
                	<div class="works_box">
                		<div class="works_img"><a href="#"><img src="/resources/img/img_new/sample_works04.jpg" alt=""></a></div>
                		<div class="text">희망을 주는 그림</div>
                	</div>
                </div>                  
            </div> -->
            <!-- mobile html 끝 -->
            <div class="master_wrap">
                <div class="tit_wrap">
                    <h2>자랑하기의 고수</h2>
                    <button class="btn_more" onclick="btnMore('BOA');">더보기</button>
                </div>
                <ul>
                    <!-- <li>
                      <a href="#"><img src="/resources/img/img_new/sample_master01.jpg" alt=""></a>
                      <p>전시를 다녀 왔어요</p>
                    </li>
                    <li>
                      <a href="#"><img src="/resources/img/img_new/sample_master02.jpg" alt=""></a>
                      <p>전시를 다녀 왔어요</p>
                    </li>
                    <li>
                      <a href="#"><img src="/resources/img/img_new/sample_master03.jpg" alt=""></a>
                      <p>전시를 다녀 왔어요</p>
                    </li>
                    <li>
                      <a href="#"><img src="/resources/img/img_new/sample_master04.jpg" alt=""></a>
                      <p>전시를 다녀 왔어요</p>
                    </li> -->
                  </ul>
            </div>
            <!-- mobile html 시작 -->
            <!-- <div class="master_wrap">
                <div class="tit_wrap">
                    <h2>자랑하기의 고수</h2>
                    <button class="btn_more" onclick="btnMore('BOA');">더보기</button>
                </div>
                <div class="master_box_wrap">
                	<div class="master_box">
                		<div class="works_img"><a href="#"><img src="/resources/img/img_new/sample_master01.jpg" alt=""></a></div>
                		<div class="text">희망을 주는 그림</div>
                	</div>
                	<div class="master_box">
                		<div class="works_img"><a href="#"><img src="/resources/img/img_new/sample_master02.jpg" alt=""></a></div>
                		<div class="text">희망을 주는 그림</div>
                	</div>
                	<div class="master_box">
                		<div class="works_img"><a href="#"><img src="/resources/img/img_new/sample_master03.jpg" alt=""></a></div>
                		<div class="text">희망을 주는 그림</div>
                	</div>
                	<div class="master_box">
                		<div class="works_img"><a href="#"><img src="/resources/img/img_new/sample_master01.jpg" alt=""></a></div>
                		<div class="text">희망을 주는 그림</div>
                	</div>
                </div>
            </div> -->
            <!-- mobile html 끝 -->            
            <div class="posts_warp">
                <div class="intro_posts">
                    <div class="tit_wrap">
                        <h2><img src="/resources/img/img_new/ico_intro.png" alt=""><span>전시소개 / 후기 베스트 게시물</span></h2>
                        <button class="btn_more" onclick="btnMore('EXH');">더보기</button>
                    </div>
                    <ol>
                        <!-- <li><span class="no1"></span>전시회에 다녀왔어요! <em>+9</em></li>
                        <li><span class="no2"></span>전시회에 다녀왔어요! <em>+9</em></li>
                        <li><span class="no3"></span>전시회에 다녀왔어요! <em>+9</em></li>
                        <li><span class="no4"></span>전시회에 다녀왔어요! <em>+9</em> </li>
                        <li><span class="no5"></span>전시회에 다녀왔어요! <em>+9</em></li> -->
                    </ol>
                </div>
                <div class="issue_posts">
                    <div class="tit_wrap">
                        <h2><img src="/resources/img/img_new/ico_issue.png" alt=""><span>이슈 베스트 게시물</span></h2>
                        <button class="btn_more" onclick="btnMore('ISS');">더보기</button>
                    </div>
                    <ol>
                        <!-- <li><span class="no1"></span>도자기 잘 보관하기 <em>+9</em></li>
                        <li><span class="no2"></span>도자기 잘 보관하기 <em>+9</em></li>
                        <li><span class="no3"></span>도자기 잘 보관하기 <em>+9</em></li>
                        <li><span class="no4"></span>도자기 잘 보관하기 <em>+9</em> </li>
                        <li><span class="no5"></span>도자기 잘 보관하기 <em>+9</em></li> -->
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
    
    <script th:inline="javascript">
    	$(document).ready(function() {
    		// 커뮤니티 홈 리스트 조회
    		$.ajax({
    			type: "post",
    			url: "/community/searchHomeList",
    			success: function(data) {
    				console.log(data.boardAuth);
    				fn_chkCommUseYn(data.boardAuth);
    				var popList = data.popList.popList; // 이 주의 인기 작품자랑 리스트
    				var boastMstList = data.boastMstList.boastMstList; // 자랑하기 고수 리스트
    				var bestExhibitList = data.bestExhibitList.bestExhibitList; // 전시후기/소개 베스트 게시물 리스트
    				var bestIssueList = data.bestIssueList.bestIssueList; // 이슈 베스트 게시물 리스트
    				var community_banner = data.bigBnn; // 커뮤니티 배너 리스트
					console.log(popList) 
    				
    				var bannerWrap = $("#community_banner"); // 배너
    				bannerWrap.append(fn_setBanner(community_banner)).trigger("create");
    				
    				var worksWrap = $(".works_wrap ul"); // 이 주의 인기 작품자랑
    				worksWrap.append(setShowingOffHtml(popList)).trigger("create");
    				
    				var masterWrap = $(".master_wrap ul"); // 자랑하기 고수
    				masterWrap.append(setShowingOffHtml(boastMstList)).trigger("create");
    				
    				var introPostsWarp = $(".intro_posts ol"); // 전시후기/소개 베스트 게시물
    				introPostsWarp.append(setExhibitAndIssueHtml(bestExhibitList, "EXH")).trigger("create");
    				
    				var issuePostsWarp = $(".issue_posts ol"); // 이슈 베스트 게시물
    				issuePostsWarp.append(setExhibitAndIssueHtml(bestIssueList, "ISS")).trigger("create");
    				
    				/* // 빅 배너
    				var bigBnn = data.result.bigBnn;
    				// 이벤트 배너
    				var eventBnn = data.result.eventBnn;
    				
    				var visualHtml = "";
    				visualHtml += "<div class='community_visual'>";
    				visualHtml += "    <a href='javascript:void(0);'><img src="+ bigBnn.bnnMpImgUrl +" alt=''></a>";
    				visualHtml += "</div>";
    				visualHtml += "<div class='community_visual_event'>";
    				visualHtml += "    <ul>";
    				visualHtml += "        <li><a href='javascript:void(0);'><img src="+ eventBnn.bnnMpImgUrl +" alt=''></a></li>";
    				visualHtml += "        <li><a href='javascript:void(0);'><img src='/resources/img/img_new/btn_event_more.png' alt=''></a></li>";
    				visualHtml += "    </ul>";
    				visualHtml += "</div>";
    				
    				$(".community_visual_wrap").append(visualHtml).trigger("create"); */
    			}
    		});
    	});
    	
    	/*
    	 * 커뮤니티 사용 여부 확인
    	 */
    	function fn_chkCommUseYn(data){
    		
    		var html = "";
    		
    		$.each(data, function(idx, item) {
    			
    			//$("#nav").empty();
    			
    			if(item.comtTypCd != null && item.comtTypCd == "BOA"){
    				if(item.comtTypCd == "BOA" && item.useYn == "Y"){
						$("#boa").css("display","block");
						
    				}else if(item.comtTypCd == "BOA" && item.useYn == "N"){
    					$("#boa").css("display","none");
    				}

    			}else if(item.comtTypCd != null && item.comtTypCd == "EXH"){
    				if(item.comtTypCd == "EXH" && item.useYn == "Y"){
						$("#exh").css("display","block");
						
    				}else if(item.comtTypCd == "EXH" && item.useYn == "N"){
    					$("#exh").css("display","none");
    				}
    			}else if(item.comtTypCd != null && item.comtTypCd == "ISS"){
    				if(item.comtTypCd == "ISS" && item.useYn == "Y"){
						$("#iss").css("display","block");
						
    				}else if(item.comtTypCd == "ISS" && item.useYn == "N"){
    					$("#iss").css("display","none");
    				}
    			}
    		});
    	}
    	
    	// 이 주의 인기 작품자랑, 자랑하기 고수 html 구성
		function setShowingOffHtml(list) {
    		console.log(list + "******")
			var html = "";
			$.each(list, function(idx, item) {
				html += "<li>";
				html += "	<a href='/community/showingOffDetail?SqNumber="+ item.comtSq +"'>";
				html += "		<img src="+ item.comtImgUrl +" alt='' style='width: 360px; height: 360px; object-fit: contain;'>";
				html += "	</a>";
				html += "	<p style='width: 360px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;'>"+ item.comtTitle +"</p>";
				html += "</li>";
			});
			return html;
		}
    	
    	// 전시후기/소개 베스트 게시물, 이슈 베스트 게시물 html 구성
		function setExhibitAndIssueHtml(list, type) {
			var html = "";
			$.each(list, function(idx, item) {
				html += "<li>";
				html += "<a href='/community/"+ (type == "EXH" ? "exhibitDetail" : "issueDetail") +"?SqNumber="+ item.comtSq +"' class='dp-flex justify-content-between'>";
				html += "		<span class='no"+ (idx+1) +"'></span>";
				html += "		<span class='ellipsis-w-360'>"+ item.comtTitle + (item.comtCmts ? "<em>+"+ item.comtCmts +"</em>" : "") +"</span>";
				html += "		<span>"+ item.regDt +"</span>";
				html += "	</a>";
				html += "</li>";
			});
			return html;
		}
    	
    	// 더보기 클릭 이벤트
    	function btnMore(type) {
    		var url = "";
    		switch(type) {
    		case "BOA":
    			url = "/community/worksList";
    			break;
    		case "EXH":
    			url = "/community/exhintList";
    			break;
    		case "ISS":
    			url = "/community/issueList";
    			break;
    		}
    		location.href = url;
    	}
    	
    	// 기록하기 버튼 로그인체크 및 페이지 이동
		function exLoginCheck() {
			if(sMbrSqVal != null && sMbrSqVal != ""){
				modalConfirm("기록하기 페이지로 이동합니다.", 
						function(confirm){
							if(confirm){
								location.href="/myPage/main";
							}
					}
				);
			}else{
				modalAlertShow("로그인 후 이용하실 수 있습니다.", "login");
			}
    	}
    	
		//홈 배너
		function fn_setBanner(community_banner) {
 
    		console.log(community_banner);
			
    		$(".community_visual_wrap").empty();
    		
			var html = "";
    		//오른쪽 배너
    		html += '<div class="community_visual">';
    		html += '	<a href="'+ community_banner.bigBnn.bnnMLndUrl +'">';
    		html += '		<img src="'+ community_banner.bigBnn.bnnMpImgUrl +'" alt="">';
    		html += '	</a>';
    		html += '</div>';
    		//왼쪽배너
    		html += '<div class="community_visual_event">';
	        html += '	<ul>';
	        html += '		<li>';
	        html += '			<a href="'+ community_banner.bigBnn.bnnELndUrl +'">';
	        html += '				<img src="'+ community_banner.bigBnn.bnnEpImgUrl +'" alt="">';
	        html += '			</a>';
	        html += '		</li>';
	        html += '       <li>';
	        html += '			<a href="'+ community_banner.bigBnn.bnnELndUrl +'">';
	        html += '				<img src="/resources/img/img_new/btn_event_more.png" alt="">';
	        html += '			</a>';
	        html += '		</li>';
	        html += '	</ul>';  
	        html +=	'</div>';
    		
			return html;
		}
    	
    </script>
</body>
</html>