<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>딜링아트</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	
	<meta name="author" content="">
	<meta name="keywords" content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta name="description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:type" content="website">
	<meta property="og:title" content="딜링아트">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/DA_logo_og.png">
	<meta property="og:url" content="https://www.dealing-art.com">
	
	<meta name="robots"content="noindex">
	
	<!-- google -->
    <meta name="google-site-verification" content="EKiW_Lm3Qw-DYnLT9qokEpZT2Sa8tSQuVWhVEvs4kPk" />
    <!-- faceBook -->
    <meta name="facebook-domain-verification" content="bgotqya9tcsrgrmspnq0uywh85kjzh" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- HTML의 <head> 섹션에 전체 사이트 태그를 복사합니다. -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRJBSR52MT"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WRJBSR52MT');
	</script>
	
	<!-- Google Tag Manager -->
	<!-- 페이지의 <head>에서 가능한 한 높은 위치에 코드를 붙여넣으세요. -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBP5CQ9');</script>
	<!-- End Google Tag Manager -->
			
	<!-- Google Tag Manager (noscript) -->
	<!-- 또한 여는 <body> 태그 바로 뒤에 코드를 붙여넣으세요. -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBP5CQ9"height="0" width="0" style="display:none; visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	
	<!-- 페이스북 Meta Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '5995234030505207');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=5995234030505207&ev=PageView&noscript=1"/></noscript>
    
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	.swi-box::before{background-color:#f9f9f9;}
    	.footer-wrap{margin-top:0;}
    	.hd-div{background-color:#fff;}
    	[name=COLLworkClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		[name=WORKworkClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
		/* Firefox */
		input[type=number] {
		  -moz-appearance: textfield;
		}
    </style>
    
    <link rel="icon" type="image/png" href="/resources/img/favicon.png">
    <link type="text/css" rel="stylesheet" href="/resources/css/common_new.css"/>
</head>
<body>
	<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
    <div id="container">
        <div class="community_wrap">
            <div id="nav">
                <ul>
                    <li><a href="/community/main">홈</a></li>
                    <li><a href="/community/worksList" class="over">작품자랑</a></li>
                    <li><a href="/community/exhintList">전시후기&소개</a></li>
                    <li><a href="/community/issueList">이슈</a></li>
                    <li><a href="/community/event">이벤트</a></li>
                    <li class="pt0 mt10"><button class="btn_recording" onclick="location.href='/temp/mypage_main'">기록하기</button></li>
                </ul>
            </div>
            <div class="input_wrap">
                <div class="input_cal" style="display: inline; position: static;">
                	<input type="date" id="startDate" onchange="checkCalendar()">
                	<span class="">~</span>
                	<input type="date" id="endDate" onchange="checkCalendar()">
                	<div class="sel_sorting">
                        <select name="comtSort" id="comtSort">
                            <option value="">정렬</option>
                            <option value="newest">최신순</option>
                            <option value="byRecentPopularity">최근 인기 순</option>
                            <option value="allTimePopularity">역대 인기 순</option>
                            <option value="pastOrder">과거 순</option>
                        </select>
                    </div>
                    <div class="sel_form" style="display: inline-block; margin-left: 3px;">
                        <select name="comtWorkShpCd" id="comtWorkShpCd">
                            <option value="">형태</option>
                            <option value="">평면</option>
                            <option value="">입체</option>
                            <option value="">고미술</option>
                            <option value="">공예</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="notice dp-flex">
                <div class="tit">공 지</div>
                <div class="contents mt0">
                	<div>작품자랑 작성 가이드 라인 ver 1.0</div>
                </div>
            </div>
            <div class="workspic_wrap">
                <div class="btn_area">
                    <button type="button" onclick="communityWorksList()">더보기</button>
                </div>
            </div>  
        </div>
    </div>
    <th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
    
    <script>
   
   	var offset = 0;
   	var comtSort = '';
   	var startDate = '';
   	var endDate = '';
   
   	$(document).ready(function(){
   		// 리스트 데이터 뿌려주기
   		communityWorksList();
   		
   		// 캘린더 선택시 조회
   		
   		
   		// 정렬 값 선택시 데이터 검색
   		$("#comtSort").on("change", function(){
   			comtSort = $(this).val();
   			offset = 0;
   			communityWorksList();
   		});
   	});
   	
   	// 캘린더 선택시 조회하기 
   	function checkCalendar(){
   		startDate = $("#startDate").val();
   		endDate = $("#endDate").val();
   		
   		console.log(typeof(startDate));
   		console.log(endDate);
   		
   		if(startDate != '' && endDate != ''){
   			offset = 0;
   			communityWorksList();
   		}
   	}

   	// 커뮤니티 작품 데이터 화면에 뿌려주기
   	function communityWorksList(){
   		var param = {
   				comtTypCd: 'BOA',
   				offset: offset,
   				comtSort: comtSort, 
   				startDate: startDate,
   				endDate: endDate,
   				limit: 12
   		};
   		
   		$.ajax({
   			type: "POST",
   			url: "/community/communityListData",
   			data: param,
   		    success : function(response){
   		    	console.log(response.result);
   				workHtml(response.result);
   			},
   			error : function(response){
   				console.log(response);
   			}
   		});

   		offset += 12;
   	}
   	
   	function workHtml(list){
   		var strHtml = '';
   		
   		list.forEach(function(work, idx){
   			var cnt = idx + 1;
   			
   			if(cnt == 1 || cnt % 5 == 0) {
	   			strHtml += '<div class="workspic_row">';
	   			strHtml += '	<ul id="worksBox">';
   			}
   			
   			strHtml += '		<li id="work_'+ work.comtSq +'">';
            strHtml += '    		<div class="works_pic">';
            strHtml += '        		<div class="header">';
            
            if(null != work.mbrProfileImgUrl){
            	strHtml += '            	<div class="user_img"><img src="'+ work.mbrProfileImgUrl +'" alt=""></div>';
            } else {
	            strHtml += '            	<div class="user_img"><img src="/resources/img/mypage/ico_dauser.png" alt=""></div>';
            }
            
            strHtml += '            		<ul class="user_name">';
            strHtml += '                		<li><span>'+ work.mbrNcknm +'</span></li>';
            strHtml += '                		<li>'+ (work.mbrIntro || "소개가 없습니다.") +'</li>';
            strHtml += '            		</ul>';
            strHtml += '        		</div>';
            //strHtml += '        		<div class="pic"><div class="ico_new">NEW</div><a href="javascript:void(0);" data-mbrSq='+ work.mbrSq +' data-comtSq='+ work.comtSq +' data-workSq='+ work.workSq +' data-artstsq='+ work.artstSq +' onclick="openComtDetail(this, \'BOA\');"><img src="'+ work.comtImgUrl +'" alt="" class="img-fit-contain"></a></div>';
            strHtml += '        		<div class="pic"><div class="ico_new">NEW</div><a href="/community/showingOffDetail?comtSq='+ work.comtSq +'"><img src="'+ work.comtImgUrl +'" alt="" class="img-fit-contain"></a></div>';
            strHtml += '        		<div class="icon_box">';
            strHtml += '           			<ul>';
            strHtml += '                		<li><p class="ico_good"></p><span>'+ work.comtLikes +'</span></li>';
            strHtml += '                		<li><p class="ico_scrap"></p><span>'+ work.comtScraps +'</span></li>';
            strHtml += '                		<li><p class="ico_hits"></p><span>'+ work.comtViews +'</span></li>';
            strHtml += '                		<li><p class="ico_comments"></p><span>'+ work.comtCmts +'</span></li>';
            strHtml += '            		</ul>';
            strHtml += '        		</div>';
            strHtml += '        		<div class="text ellipsis-w-360">'+ work.comtTitle +'</div>';
            strHtml += '    		</div>';
            strHtml += '		</li>';
            
            if(cnt != 1 && cnt % 4 == 0 || list.length == cnt) {
	   			strHtml += '	</ul>';
	            strHtml += '</div>';
            }
   		});
   		
   		$("#workspic_wrap .workspic_row").remove();
   		$(".workspic_wrap").prepend(strHtml);
   	}
   	
 	// 커뮤니티 상세 페이지 이동
	function openComtDetail(obj, type) {
		var url = "";
		
		switch(type) {
		case "BOA":
			url = "/community/showingOffDetail";
			break;
		case "EXH":
			url = "/community/exhibitDetail";
			break;
		case "KNO":
			url = "/community/knowhowDetail";
			break;
		}
		
		pageGoPost({
			url: url,
			target:"_self",
			vals:[
				["mbrSq", $(obj).data("mbrsq")],
				["comtSq", $(obj).data("comtsq")],
				["artstSq", $(obj).data("artstsq")],
				["workSq", $(obj).data("worksq")],
				["comtTypCd", type]
			]
		});
	}

    </script>
</body>
</html>