<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    </style>
    
    <link rel="icon" type="image/png" href="/resources/img/favicon.png">
    
	<meta charset="utf-8">
	<title>딜링아트</title>
	<meta property="og:title" content="DealingArt">
	<meta name=”description” content="개인간 미술품 거래 마켓플레이스">
	<meta name=”keywords” content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta property="og:url" content="https://www.dealing-art.com">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/logo_new.png">
	<meta property="og:type" content="website">
    
</head>

<body>
	<div class="wrap">
		
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>  
		
		<div class="body-wrap">
			<div class="contents">
				
				<div class="con-wrap">
					<div class="con-left">
						<div class="con-btn">
							<a href="#" data-toggle="modal" data-target="#paintModal"><img src="resources/img/de/paint.png" /></a>
						</div>
					
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading1">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
											Deal wtith
										</a>
									</h4>
								</div>
								<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
									<div class="panel-body">
										<input type="radio" id="r3" name="authSq" value="1" class="searchOption" onclick="dealSearch()" checked/>
                                        <label for="r3"><span></span>Collector</label><br/>
                                        <input type="radio" id="r4" name="authSq" value="2" class="searchOption" onclick="dealSearch()" />
                                        <label for="r4"><span></span>Artist</label>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading2">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
											거래
										</a>
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
									<div class="panel-body">
										<input type="checkbox" id="a11" name="dealSttsCd" value="TP" class="searchOption" onclick="dealSearch()" checked/>
                                        <label for="a11"><span></span>진행 중인 거래</label><br/>
                                        <input type="checkbox" id="a22" name="dealSttsCd" value="TC" class="searchOption" onclick="dealSearch()"/>
                                        <label for="a22"><span></span>종료된 거래</label><br/>
                                        <input type="checkbox" id="a33" name="dealTypCd" value="A" class="searchOption" onclick="dealSearch()"/>
                                        <label for="a33"><span></span>경매</label><br/>
                                        <input type="checkbox" id="a44" name="dealTypCd" value="S" class="searchOption" onclick="dealSearch()"/>
                                        <label for="a44"><span></span>정찰가</label>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading3">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion3" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
											형태
										</a>
									</h4>
								</div>
								<div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
									<div class="panel-body">
							        	<input type="checkbox" id="b1" name="workShpCd" value="PLN" class="searchOption" onclick="dealSearch()"/>
										<label for="b1"><span></span>평면</label><br/>
										<input type="checkbox" id="b2" name="workShpCd" value="SLD" class="searchOption" onclick="dealSearch()"/>
										<label for="b2"><span></span>입체</label><br/>
										<!-- <input type="checkbox" id="b3" name="workShpCd" value="NFT" class="searchOption" onclick="dealSearch()"/>
										<label for="b3"><span></span>NFT</label> -->
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading3">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion4" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
											구분
										</a>
									</h4>
								</div>
								<div id="collapse4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading4">
									<div class="panel-body">
									<input type="checkbox" id="c11" name="workClsfcCd" value="PAINTING" class="searchOption" onclick="dealSearch()"/>
										<label for="c11"><span></span>회화</label><br/>
                                        <input type="checkbox" id="c22" name="workClsfcCd" value="EDITION" class="searchOption" onclick="dealSearch()"/>
										<label for="c22"><span></span>에디션</label><br/>
                                        <input type="checkbox" id="c33" name="workClsfcCd" value="PICTURE" class="searchOption" onclick="dealSearch()"/>
										<label for="c33"><span></span>사진</label>
										<!-- <input type="checkbox" id="c1" name="workClsfcCd" value="ORNTPAI" class="searchOption" onclick="dealSearch()"/>
										<label for="c1"><span></span>동양화</label><br/>
                                        <input type="checkbox" id="c2" name="workClsfcCd" value="WSTNPAI" class="searchOption" onclick="dealSearch()"/>
										<label for="c2"><span></span>서양화</label><br/>
                                        <input type="checkbox" id="c3" name="workClsfcCd" value="POPART" class="searchOption" onclick="dealSearch()"/>
										<label for="c3"><span></span>팝아트</label>
                                        <input type="checkbox" id="c4" name="workClsfcCd" value="MDRNART" class="searchOption" onclick="dealSearch()"/>
										<label for="c4"><span></span>현대미술</label><br/>
                                        <input type="checkbox" id="c5" name="workClsfcCd" value="ANTQART" class="searchOption" onclick="dealSearch()"/>
										<label for="c5"><span></span>고미술</label> -->
									</div>
								</div>
							</div>
							<!-- <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading5">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion5" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
											유형
										</a>
									</h4>
								</div>
								<div id="collapse5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading5">
									<div class="panel-body">
									
									</div>
								</div>
							</div> -->
							<!-- <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading6">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion6" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
											종류
										</a>
									</h4>
								</div>
								<div id="collapse6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading6">
									<div class="panel-body">
									
									</div>
								</div>
							</div> -->
						</div>
                   			<button type="button" class="btn-more2" onclick="searchOptionReset()"><span>reset</span></button>
					</div>
					
					<div class="con-right">
					
						<div class="sea-won2">
							<input type="text" class="" id="searchKeyword" placeholder="작품이나 작가를 검색해 보세요" onkeydown="javascript: if (event.keyCode == 13) {dealSearch();}"/>
							<a href="javascript:void(0);" onclick="dealSearch()"><img src="resources/img/de/sech-icon.jpg" /></a>
						</div>
					
						<div class="reds-box">
							<ul class="pc-on">
								<li>
									<a href="javascript:void(0);" name="LT"  onclick="sorting(this)" class="">
										등록 일시
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" name="PY" onclick="sorting(this)" class="">
										제작년도
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" name="KN" onclick="sorting(this)" class="">
										작가명 <span>ㄱ</span> - <span>ㅎ</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" name="EN" onclick="sorting(this)" class="">
										작가명 <span>A</span> - <span>Z</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" name="PC" onclick="sorting(this)" class="">
										가격
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" name="RT" onclick="sorting(this)" class="">
										종료 일시
									</a>
								</li>
							</ul>
							
							<ul class="ta-on">
								<li>
									<div class="dropdown">
										<button class="btn btn-default dropdown-toggle de-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="trfalseue">정렬</button>
										<ul class="dropdown-menu ds-bo" role="menu" aria-labelledby="dropdownMenu1">
											<li role="presentation">
												<div class="drop-body pd_0">
													<div class="drop-select">
														<a href="javascript:void(0);" onclick="sorting(this)" name="LT" class="">등록 일시</a>
														<a href="javascript:void(0);" onclick="sorting(this)" name="PY" class="">제작년도</a>
														<a href="javascript:void(0);" onclick="sorting(this)" name="KN" class="">작가명 <span>ㄱ</span> - <span>ㅎ</span></a>
														<a href="javascript:void(0);" onclick="sorting(this)" name="EN" class="">작가명 <span>A</span> - <span>Z</span></a>
														<a href="javascript:void(0);" onclick="sorting(this)" name="PC" class="">가격</a>
														<a href="javascript:void(0);" onclick="sorting(this)" name="RT" class="">종료 일시</a>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<div class="dropdown" style="position:inherit;">
										<button class="btn btn-default dropdown-toggle de-btn mo-no" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="trfalseue">Filter</button>
										<button class="btn btn-default dropdown-toggle de-btn mo-on " type="button" id="" data-toggle="modal" data-target="#myModal1">Filter</button>
										

										<ul class="dropdown-menu drop-ul" role="menu" aria-labelledby="dropdownMenu2">
											<li role="presentation">
												<div class="drop-title">
													<span>Deal wtith</span>
												</div>
												<div class="drop-body">
                                                    <input type="radio" id="m3" name="authSq" value="1" class="searchOption"/>
                                                    <label for="m3"><span></span>Collector</label><br/>
                                                    <input type="radio" id="m4" name="authSq" value="2" class="searchOption"/>
                                                    <label for="m4"><span></span>Artist</label>
												</div>
											</li>
											<li role="presentation">
												<div class="drop-title">
													<span>거래</span>
												</div>
												<div class="drop-body">
                                                    <input type="checkbox" id="p1" name="dealSttsCd" value="IP" class="searchOption"/>
													<label for="p1"><span></span>진행 중인 거래</label><br/>
                                                    <input type="checkbox" id="p2" name="dealSttsCd" value="EN" class="searchOption"/>
													<label for="p2"><span></span>종료된 거래</label><br/>
                                                    <input type="checkbox" id="p3" name="dealTypCd" value="AUCT" class="searchOption"/>
													<label for="p3"><span></span>경매</label><br/>
                                                    <input type="checkbox" id="p4" name="dealTypCd" value="SALE" class="searchOption"/>
													<label for="p4"><span></span>정찰가</label>
												</div>
											</li>
											<li role="presentation">
												<div class="drop-title">
													<span>형태</span>
												</div>
												<div class="drop-body">
                                                    <input type="checkbox" id="o1" name="workShpCd" value="PLN" class="searchOption"/>
													<label for="o1"><span></span>평면</label><br/>
                                                    <input type="checkbox" id="o2" name="workShpCd" value="SLD" class="searchOption"/>
													<label for="o2"><span></span>입체</label><br/>
                                                   <!--  <input type="checkbox" id="o3" name="workShpCd" value="NFT" class="searchOption"/>
													<label for="o3"><span></span>NFT</label> -->
												</div>
											</li>
											<li role="presentation">
												<div class="drop-title">
													<span>구분</span>
												</div>
												<div class="drop-body">
												<input type="checkbox" id="i11" name="workClsfcCd" value="PAINTING" class="searchOption"/>
													<label for="i11"><span></span>회화</label>
													<input type="checkbox" id="i22" name="workClsfcCd" value="EDITION" class="searchOption"/>
													<label for="i22"><span></span>에디션</label>
													<input type="checkbox" id="i33" name="workClsfcCd" value="PICTURE" class="searchOption"/>
													<label for="i33"><span></span>사진</label>
                                                    <!-- <input type="checkbox" id="i1" name="workClsfcCd" value="ORNTPAI" class="searchOption"/>
													<label for="i1"><span></span>동양화</label><br/>
                                                    <input type="checkbox" id="i2" name="workClsfcCd" value="WSTNPAI" class="searchOption"/>
													<label for="i2"><span></span>서양화</label><br/>
                                                    <input type="checkbox" id="i3" name="workClsfcCd" value="POPART" class="searchOption"/>
													<label for="i3"><span></span>팝아트</label><br/>
                                                    <input type="checkbox" id="i4" name="workClsfcCd" value="MDRNART" class="searchOption"/>
													<label for="i4"><span></span>현대미술</label><br/>
                                                    <input type="checkbox" id="i5" name="workClsfcCd" value="ANTQART" class="searchOption"/>
													<label for="i5"><span></span>고미술</label> -->
												</div>
											</li>
											<!-- <li role="presentation">
												<div class="drop-title">
													<span>유형</span>
												</div>
												<div class="drop-body">
												
												</div>
											</li>
											<li role="presentation">
												<div class="drop-title">
													<span>종류</span>
												</div>
												<div class="drop-body">
												
												</div>
											</li> -->
											<div class="drop-btnb">
                                                <button type="button" class="dbtn-1" onclick="dealSearch()">선택</button>
                                                <button type="button" class="dbtn-2" onclick="searchOptionReset()">reset</button>
											</div>
										</ul>
									</div>
								</li>
								
							</ul>
						</div>
						
						<div>
						
							<style type="text/css">
							
								.pseudo-img {
								  border-radius: 7px;-moz-border-radius: 7px;-khtml-border-radius: 7px;-webkit-border-radius: 7px;
								}
								
								.grid{border:0px solid #222;text-align:center;margin: 100 auto;}
 								.griditem{ margin-bottom:40px;}
								
							</style>
							
							
						    
						    <!-- 작품 리스트  -->
	 						  	<div class="grid" style= "cursor: pointer;">

								 
							</div>
						  	<div class="text-center mg_t50">
<!-- 								<button type="button" class="btn-more" id="btn_more" onclick="dealSearchMore()"><span>more</span></button> -->
							</div>
						</div>
						
						
						<!--
						<div class="text-center mg_t50">
							<button type="button" class="btn-more"><span>more</span></button>
						</div>
						  -->
						
					</div>
				</div>
				
			</div>
		</div>
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>

<!-- 모달검색 -->



<div class="modal fade modal-s" id="paintModal" tabindex="-1" role="dialog" aria-labelledby="paintModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sech2">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modal-bs">
					<div class="mb-img-1"><a href="#" alt="작가 본인 선택" id="myWork"></a></div>
					<div class="mb-img-2"><a href="#" alt="소장중인 작품" id="myCollection"></a></div>
					<a href="#" class="mb-a" data-dismiss="modal" aria-label="Close"><img src="/resources/img/de/end-btn.png" /></a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade modal-s" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true">
	<div class="modal-dialog modal-sech3">
		<div class="modal-content">
			<div class="modal-header">
				<div class="conts">
				    <div class="close" data-dismiss="modal" aria-label="Close"></div>
				</div>

			</div>
			<div class="modal-body">
				<!-- <div class="pons-div">
					<button type="button" class="pons-btn">동양화</button>
					<button type="button" class="pons-btn">동양화</button>
					<button type="button" class="pons-btn">동양화</button>
					<button type="button" class="pons-btn">동양화</button>
					<button type="button" class="pons-btn">동양화</button>
					<button type="button" class="pons-btn">동양화</button>
					<button type="button" class="pons-btn">동양화</button>
				</div> -->
				<ul class="drop-ul">
					<li role="presentation">
						<div class="drop-title">
							<span>Deal wtith</span>
						</div>
						<div class="drop-body">
							<div class="db-div">
                                <input type="radio" id="s5" name ="authSq" value="1" class="searchOption"/>
                                <label for="s5"><span></span>Collector</label>
							</div>
							<div class="db-div">
                                <input type="radio" id="s6" name="authSq" value="2" class="searchOption"/>
                                <label for="s6"><span></span>Artist</label>
							</div>
						</div>
					</li>
					<li role="presentation">
						<div class="drop-title">
							<span>거래</span>
						</div>
						<div class="drop-body">
							<div class="db-div">
                                <input type="checkbox" id="z1" name="dealSttsCd" value="TP" class="searchOption"/>
								<label for="z1"><span></span>진행 중인 거래</label>
							</div>
							<div class="db-div">
                                <input type="checkbox" id="z2" name="dealSttsCd" value="TC" class="searchOption"/>
								<label for="z2"><span></span>종료된 거래</label>
							</div>
							<div class="db-div">
                                <input type="checkbox" id="z3" name="dealTypCd" value="A" class="searchOption"/>
								<label for="z3"><span></span>경매</label>
							</div>
							<div class="db-div">
                                <input type="checkbox" id="z4" name="dealTypCd" value="S" class="searchOption"/>
								<label for="z4"><span></span>정찰가</label>
							</div>
						</div>
					</li>
					<li role="presentation">
						<div class="drop-title">
							<span>형태</span>
						</div>
						<div class="drop-body">
							<div class="db-div">
                                <input type="checkbox" id="x1" name="workShpCd" value="PLN" class="searchOption"/>
								<label for="x1"><span></span>평면</label>
							</div>
							<div class="db-div">
                                <input type="checkbox" id="x2" name="workShpCd" value="SLD" class="searchOption"/>
								<label for="x2"><span></span>입체</label>
							</div>
							<!-- <div class="db-div">
                                <input type="checkbox" id="x3" name="workShpCd" value="NFT" class="searchOption"/>
								<label for="x3"><span></span>NFT</label>
							</div> -->
						</div>
					</li>
					<li role="presentation">
						<div class="drop-title">
							<span>구분</span>
						</div>
						<div class="drop-body">
						<div class="db-div">
                                <input type="checkbox" id="m22" name="workClsfcCd" value="PAINTING" class="searchOption"/>
								<label for="m22"><span></span>회화</label>
							</div>
							<div class="db-div">
                                <input type="checkbox" id="v22" name="workClsfcCd" value="EDITION" class="searchOption"/>
								<label for="v22"><span></span>에디션</label>
							</div>
							<div class="db-div">
                                <input type="checkbox" id="v33" name="workClsfcCd" value="PICTURE" class="searchOption"/>
								<label for="v33"><span></span>사진</label>
							</div>
							<!-- <div class="db-div">
                                <input type="checkbox" id="v1" name="workClsfcCd" value="ORNTPAI" class="searchOption"/>
								<label for="v1"><span></span>동양화</label>
							</div>
							<div class="db-div">
                                <input type="checkbox" id="v2" name="workClsfcCd" value="WSTNPAI" class="searchOption"/>
								<label for="v2"><span></span>서양화</label>
							</div>
							<div class="db-div">
                                <input type="checkbox" id="v3" name="workClsfcCd" value="POPART" class="searchOption"/>
								<label for="v3"><span></span>팝아트</label>
							</div>
							<div class="db-div">
                                <input type="checkbox" id="v4" name="workClsfcCd" value="MDRNART" class="searchOption"/>
								<label for="v4"><span></span>현대미술</label>
							</div>
							<div class="db-div">
                                <input type="checkbox" id="v5" name="workClsfcCd" value="ANTQART" class="searchOption"/>
								<label for="v5"><span></span>고미술</label>
							</div> -->
						</div>
					</li>
					<!-- <li role="presentation">
						<div class="drop-title">
							<span>유형</span>
						</div>
						<div class="drop-body">
						
						</div>
					</li>
					<li role="presentation">
						<div class="drop-title">
							<span>종류</span>
						</div>
						<div class="drop-body">
						
						</div>
					</li> -->
					<div class="drop-btnb">
                        <button type="button" class="dbtn-1" onclick="dealSearch()">선택</button>
                        <button type="button" class="dbtn-2" onclick="searchOptionReset()">reset</button>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript"> 
	var more = 1;
	$(function () {
		dealSearch('1', 'TP');
	});
	
	function sorting(obj){ //pc 정렬
		var val = obj.attributes.name.value;
		var className = obj.className;
		var classList = document.querySelectorAll(".down-on, .up-on");
		if(classList.length > 0){
			classList[0].className = "";
		}
		switch(className){
		
			case "" :
				obj.className = "down-on";
				dealSearch(val, "DOWN");
				break;
				
			case "down-on" :
				obj.className = "up-on";
				dealSearch(val, "UP");
				break;
			
			case "up-on" :
				obj.className = "";
				dealSearch();
				break;
			
		}
	}
	
	function dealSearch(sort, type){
		$("#myModal1").modal("hide");
		//검색옵션이 담긴 JSON
		var searchOptions = new Object();
		searchOptions.page = more;
		//정렬
		if(sort != null && type != null){
			searchOptions.sort = sort;
			searchOptions.type = type;
		}
		
		//검색 키워드
		searchOptions.searchKeyword = $("#searchKeyword").val();
		
		//회원구분
		if($('input[name=authSq]:checked').val() != null && $('input[name=authSq]:checked').val() != ""){
			searchOptions.authSq = $('input[name=authSq]:checked').val();
		}
		//거래유형코드
		var dealTypCds = new Array();
		document.querySelectorAll('input[name=dealTypCd]:checked').forEach((el) => {
			dealTypCds.push(el.value);
		});
		if(dealTypCds.length > 0){
			searchOptions.dealTypCds = dealTypCds;
		}
		//거래상태코드
		var dealSttsCds = new Array();
		document.querySelectorAll('input[name=dealSttsCd]:checked').forEach((el) => {
			dealSttsCds.push(el.value);
		});
		if(dealSttsCds.length > 0){
			searchOptions.dealSttsCds = dealSttsCds;
		}
		//작품형태코드
		var workShpCds = new Array();
		document.querySelectorAll('input[name=workShpCd]:checked').forEach((el) => {
			workShpCds.push(el.value);
		});
		if(workShpCds.length > 0){
			searchOptions.workShpCds = workShpCds;
		}
		//작품분류코드
		var workClsfcCds = new Array();
		document.querySelectorAll('input[name=workClsfcCd]:checked').forEach((el) => {
			workClsfcCds.push(el.value);
		});
		if(workClsfcCds.length > 0){
			searchOptions.workClsfcCds = workClsfcCds;
		}
		
		$.ajax({
	        type: "post",
	        url: "/dealSearch",
	        contentType:"application/json;",
	        data: JSON.stringify(searchOptions),
	        success: function(data) {
	        	var dealList;
	        	var html = "";
	        	var dealListHtml = "";
	     		if(data.result.length == 0){
	     			modalAlertShow("검색 결과가 없습니다.");
	     			$(".grid").empty();
	     		}else{
	     			if(more == 1){
	     				$(".grid").empty();
	     			}
	     			dealList = data.result;
	     			
	     			
	     			
	     				for(var i=0; i<dealList.length; i++){
	     					
	     					if(i != 0)
	     					{
	     						var z = i+1
	     						var gtText = "gt"+z;
	     					}	
	     						     					
	     					//경매 - 겨래진행중
	     					if(dealList[i].dealTypCd == "A" && dealList[i].dealSttsCd == "TP"){
	     						
	     						html += '<div class="griditem '+gtText+'" style="border:0px solid #222;" >';
		     					html += '<div>';
		     					html += '<div class="item-div-img active" onclick="workDetail('+ dealList[i].workSq +')" style="cursor:pointer">'
		     					//작품 이미지
		     					html += '<img src="'+ dealList[i].workMainImgUrl +'" class="pseudo-img" width="360px;"  style="max-width:360px; max-height:600px; width:100%; height:100%;">';
		     					
		     					html += '<div class="item-ho">';
		     					
		     					html += '<p>'+ dealList[i].dealStrtDate +' - '+ dealList[i].dealEndngDate +'</p>';
			     				html += '<p> 응찰수 : '+ dealList[i].bidCnt +'</p>';
			     				html += '<ul class="dealCount" dday="'+dealList[i].dealEndngDateTime+'"></ul>';
			     				if(dealList[i].maxBidPrc != null && dealList[i].maxBidPrc != "") {
	    	     					html += '<h4>입찰가 '+ dealList[i].maxBidPrc +' KRW</h4>';
	     						}else{
	     							html += '<h4>시작가 '+ dealList[i].dealStrtPrc +' KRW</h4>';
	     						}
		     					html += '</div>';
		     					html += '</div>'
		     					
		     					html += '<div class="item-body">';
		     					html += '<div class="heart" workSq="'+ dealList[i].workSq +'" style="cursor:pointer;"></div>';
		     					html += '<div>';
		     					html += '<div class="uesr-s">';
		     					if(dealList[i].artstProfileImgUrl == null || dealList[i].artstProfileImgUrl == ""){
		    	     				html += '<img src="resources/img/de/ues-icon.png"/>';
		    	     			}else{
		    	     				html += '<img src="'+ dealList[i].artstProfileImgUrl +'" style="width:42px;border-radius: 7px;-moz-border-radius: 7px;-khtml-border-radius: 7px;-webkit-border-radius: 7px"/>';
		    	     			}
		     					html += '</div>';
		     					
		     					
		     					html += '<div class="text-s" style="padding-left:5px;text-align:left">';
		     					
		     					html += '<h3>'+ dealList[i].artstActvtyNm +' ('+ dealList[i].artstBirthYear +')</h3>';
		     					html += '<p class="ts-1">'+ dealList[i].workNm +' ('+ dealList[i].workProdcYear +')</p>';
		     					html += '<p>'+ dealList[i].workMatrl +'</p>';
		     					html += '<p>'+ dealList[i].workSizeDepth +'x'+ dealList[i].workSizeWidth +'</p>';
		     					
	     						if(dealList[i].maxBidPrc != null && dealList[i].maxBidPrc != "") {
	    	     					html += '<h4>입찰가 '+ dealList[i].maxBidPrc +' KRW</h4>';
	     						}else{
	     							html += '<h4>입찰가 0 KRW</h4>';
	     						}
	    	     				/* html += '<p class="ts-2">';
	    	     				html += ''+ dealList[i].dealStrtDate +' – '+ dealList[i].dealEndngDate +'<br/>';
	    	     				html += '응찰수 : '+ dealList[i].bidCnt +'<br/>';
	    	     				html += ''+ dealList[i].dealRemainingDay +'일 '+ dealList[i].dealRemainingHour +'시 '+ dealList[i].dealRemainingMin +'분 '+ dealList[i].dealRemainingSec +'초';
	    	     				html += '</p>'; */
		     					
		     					html += '</div>'
		     					
		     					html += '</div>';
		     					
		     					if(dealList[i].authSq == 2){
		    	     				html += '<div class="artist active"><span>Artist</span></div>';
		    	     			}
		    	     			if(dealList[i].authSq == 1){
		    	     				html += '<div class="artist"><span>Artist</span></div>';
		    	     			}
		     					
		     					html += '</div>';
		     					html += '</div>';
		     					html += '</div>';
	     						
	     					}
	     					
	     					//판매 - 거래진행중
	     					if(dealList[i].dealTypCd == "S" && dealList[i].dealSttsCd == "TP"){
		     					
	     						html += '<div class="griditem '+gtText+'" style="border:0px solid #222;">';
		     					html += '<div>';
		     					//작품 이미지
		     					html += '<div class="item-div-img sale" onclick="workDetail('+ dealList[i].workSq +')"  style="cursor:pointer">';
		     					html += '<img src="'+ dealList[i].workMainImgUrl +'" class="pseudo-img" style="max-width:360px; max-height:600px; width:100%; height:100%;">';
		     					html += '		<div class="item-ho2 sale-div">';
		    	     			html += '			<h3>판매중</h3>';
		    	     			html += '				<ul class="dealCount" dday="'+dealList[i].dealEndngDateTime+'"></ul>';
		    	     			html += '		</div>';
		     					html += '</div>';
		     					html += '<div class="item-body">';
		     					html += '<div class="heart" workSq="'+ dealList[i].workSq +'" style="cursor:pointer;"></div>';
		     					html += '<div>';
		     					html += '<div class="uesr-s">';
		     					if(dealList[i].artstProfileImgUrl == null || dealList[i].artstProfileImgUrl == ""){
		    	     				html += '<img src="resources/img/de/ues-icon.png"/>';
		    	     			}else{
		    	     				html += '<img src="'+ dealList[i].artstProfileImgUrl +'" style="width:42px;border-radius: 7px;-moz-border-radius: 7px;-khtml-border-radius: 7px;-webkit-border-radius: 7px"/>';
		    	     			}
		     					html += '</div>';
		     					
		     					
		     					html += '<div class="text-s" style="padding-left:5px;text-align:left">';
		     					
		     					html += '<h3>'+ dealList[i].artstActvtyNm +' ('+ dealList[i].artstBirthYear +')</h3>';
		     					html += '<p class="ts-1">'+ dealList[i].workNm +' ('+ dealList[i].workProdcYear +')</p>';
		     					html += '<p>'+ dealList[i].workMatrl +'</p>';
		     					html += '<p>'+ dealList[i].workSizeDepth +'x'+ dealList[i].workSizeWidth +'</p>';
		     					html += '<h4>판매가 '+ dealList[i].dealFinalPrc +' KRW</h4>';
		     					html += '</div>'
		     					
		     					html += '</div>';
		     					
		     					if(dealList[i].authSq == 2){
		    	     				html += '<div class="artist active"><span>Artist</span></div>';
		    	     			}
		    	     			if(dealList[i].authSq == 1){
		    	     				html += '<div class="artist"><span>Artist</span></div>';
		    	     			}
		     					
		     					html += '</div>';
		     					html += '</div>';
		     					html += '</div>';
		     						
						    
	     					}
	     					
	     					//거래종료
	     					if(dealList[i].dealSttsCd == "TC"){
		     					
	     						html += '<div class="griditem '+gtText+'" style="border:0px solid #222;">';
		     					html += '<div >';
		     					html += '<div class="item-div-img sold-3">';
		     					//작품 이미지
		     					html += '<img src="'+ dealList[i].workMainImgUrl +'" class="pseudo-img" style="max-width:360px; max-height:600px; width:100%; height:100%;">';
		     					html += '</div>';
		     					html += '<div class="item-body">';
		     					//html += '<div class="heartsoldout" workSq="'+ dealList[i].workSq +'" style="cursor:pointer;"></div>';
		     					html += '<div class="heart" workSq="'+ dealList[i].workSq +'" style="cursor:pointer;"></div>';
		     					html += '<div>';
		     					html += '<div class="uesr-s">';
		     					if(dealList[i].artstProfileImgUrl == null || dealList[i].artstProfileImgUrl == ""){
		    	     				html += '<img src="resources/img/de/ues-icon.png"/>';
		    	     			}else{
		    	     				html += '<img src="'+ dealList[i].artstProfileImgUrl +'" style="width:42px;border-radius: 7px;-moz-border-radius: 7px;-khtml-border-radius: 7px;-webkit-border-radius: 7px"/>';
		    	     			}
		     					html += '</div>';
		     					
		     					
		     					html += '<div class="text-s" style="padding-left:5px;text-align:left">';
		     					
		     					html += '<h3>'+ dealList[i].artstActvtyNm +' ('+ dealList[i].artstBirthYear +')</h3>';
		     					html += '<p class="ts-1">'+ dealList[i].workNm +' ('+ dealList[i].workProdcYear +')</p>';
		     					html += '<p>'+ dealList[i].workMatrl +'</p>';
		     					html += '<p>'+ dealList[i].workSizeDepth +'x'+ dealList[i].workSizeWidth +'</p>';
		     					
		     					html += '</div>'
		     					
		     					html += '</div>';
		     					
		     					if(dealList[i].authSq == 2){
		    	     				html += '<div class="artist active"><span>Artist</span></div>';
		    	     			}
		    	     			if(dealList[i].authSq == 1){
		    	     				html += '<div class="artist"><span>Artist</span></div>';
		    	     			}
		     					
		     					html += '</div>';
		     					html += '</div>';
		     					html += '</div>';
							    
						    
	     					}
						   
	     				}
		     		
		     			
		     		
		     		$(".grid").append(html);
		     		masonryLayout();
	     		}
	     		
	        },
	        error: function(error) {
	            alert("오류 발생" + error); 
	        }
		})
	}
	
	function dealSearchMore(){
		more += 1;
		dealSearch();
	}
	//거래 남은 시간 1초마다 계산해서 표현하기
	setInterval(function() {
		var elements = document.querySelectorAll(".dealCount");
		for(var i=0; i<elements.length; i++){
			var html = '';
			var dday = new Date(parseInt(elements[i].attributes.dday.value)).getTime();
			var today = new Date().getTime();
			if(today >= dday){
				dealSearch();
			}
		  	var gap = dday - today;
			var day = Math.ceil(gap / (1000 * 60 * 60 * 24));
			var hour = Math.ceil((gap % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60) - 1);
			var min = Math.ceil((gap % (1000 * 60 * 60)) / (1000 * 60));
			var sec = Math.ceil((gap % (1000 * 60)) / 1000);
			html += '<li>'+ day +'<span>day</span></li>';
 			html += '<li>'+ hour +'<span>hrs</span></li>';
 			html += '<li>'+ min +'<span>min</span></li>';
 			html += '<li>'+ sec +'<span>sec</span></li>';
			elements[i].innerHTML = html;
		  	//document.getElementById("dealCount").innerHTML = day + " 일 " + hour + " : " + min + " : " + sec;
		}
	}, 1000);
	
	function searchOptionReset(){
	    document.querySelectorAll(".searchOption").forEach(function(v, i) {
	        v.checked = false;
	    });
	    $("#searchKeyword").val("");
	    dealSearch();
	}
	
	 $(window).on("resize", function () {
		 
		 if(window.matchMedia('(min-width: 1537px)').matches) {
			$(".grid").width( '1200px' );
		 }
		
	 }).resize();

	 
      
      $(document).ready(function () {
	      $(".elm").hover(
	    	function(){ $(this).addClass('hover') },
	   	    function(){ $(this).removeClass('hover') }
	   	  )
	   	  $(".cn-b").hover(
	    	function(){ $(this).addClass('gis') },
	   	    function(){ $(this).removeClass('gis') }
	   	  )
      });
      
      $(function() {                      
    	  $(".bab-bo").click(function() { 
    	    $(this).toggleClass("bashow");     
    	  });
    	  
    	  $(".lg-my").click(function() { 
      	    $('.bg-sh').toggleClass('bg-show');     
      	 	 $('.s-hov').toggleClass('s-hov-show');     
      	  });
    	  
    	});
      
      
      
      
      /* 메뉴바 FIXED */
      if (jQuery(window).width() > 0) {
          jQuery(window).on("scroll",function(ev){
              if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
                  jQuery('.head-wrap').addClass('fixed');
              }
              else{
                  jQuery('.head-wrap').removeClass('fixed');
              }
              return false;
          });
      }
    
      
      $('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
    	    // The event won't be propagated up to the document NODE and 
    	    // therefore delegated events won't be fired
    	    event.stopPropagation();
    	});
      
      
      
    //화면 레이아웃 추가
	function masonryLayout() {
		
		var msnry = new Masonry( '.grid', {

				
		  	  itemSelector: '.griditem',
		  	  columnWidth: 360,
		  	  gutter: 10,
		  	  horizontalOrder: true,
		  	  // originLeft: false //왼쪽부터 정렬 
		  	  // originTop: false //바닥부터
		  	  transitionDuration: '0.2s' //위치 전환 시간
		});
		
		imagesLoaded( '.grid' ).on( 'progress', function() {
			msnry.layout();
		});
			
	}
    
    
	$("#myWork").on("click", function(){
		if(sAuthSqVal == null || sAuthSqVal == "" || sMbrSqVal == null || sMbrSqVal == ""){
			$("#paintModal").modal("hide");
			modalAlertShow("로그인 된 회원만 이용 할 수 있습니다.");
		}else if(sAuthSqVal != 2){
			$("#paintModal").modal("hide");
			modalAlertShow("작가로 등록된 회원만 이용할 수 있습니다.");
		}else if(sAuthSqVal == 2){
			$("#paintModal").modal("hide");
			modalConfirm("알림", "포토폴리오 > 나의 작품 페이지로 이동합니다.", function(confrim){
				if(confrim){
					pageGoPost({
						url:"/myWork",
						target:"_self",
						vals:[
							["artstSq", artstSq]
						]
					});
				}
			});
		}
	});

	$("#myCollection").on("click", function(){
		if(sAuthSqVal == null || sAuthSqVal == "" || sMbrSqVal == null || sMbrSqVal == ""){
			$("#paintModal").modal("hide");
			modalAlertShow("로그인 된 회원만 이용 할 수 있습니다.");
		}else{
			$("#paintModal").modal("hide");
			modalConfirm("알림", "My Gallery > 소장품 페이지로 이동합니다.", function(confrim){
				$("#paintModal").modal("hide");
				if(confrim){
					pageGoPost({
						url:"/myCollection",
						target:"_self",
						vals:[
							["mbrSq", sMbrSqVal]
						]
					});
				}
			});
		}
	});
    
	function workDetail(workSq){
		window.location.href = "/bidding?workSq="+workSq;
	}
	
	
	/* $(document).on("click", ".heartsoldout", function(){
		modalAlertShow("판매가 완료된 상품은 [스크랩]을 할 수 없습니다.");
	}); */
	$(document).on("click", ".heart", function(){
		if(sMbrSqVal == null) {
			modalAlertShow("로그인 된 회원만 이용 할 수 있습니다.");	
		} else {
			var param = new Object();
			var element = $(this);
			param.workSq= element.attr("workSq");
			param.mbrSq = sMbrSqVal;
			if($(this).hasClass("on")){
				$.ajax({
			        type: "post",
			        url: "/scrapDel",
			        data: param,
			        success: function(data) {
			        	element.removeClass("on");
			        },
			        error: function(error) {
			            alert("오류 발생" + error);
			        }
				});
			}else{
				$.ajax({
			        type: "post",
			        url: "/scrapAdd",
			        data: param,
			        success: function(data) {
			        	if(data == 1){
			        		element.addClass("on");
			        	}else{
			        		modalAlertShow("스크랩 등록에 실패했습니다. 관리자에게 문의하세요.");
			        	}
			        },
			        error: function(error) {
			            alert("오류 발생" + error);
			        }
				});
			}
		
		}
	});
	
</script>	
    
	
	
	
	
</body>

</html>
