<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script src="https://api-std.mainpay.co.kr/js/mainpay.pc-1.1.js"></script>
<head>
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	.swi-box::before{background-color:#f9f9f9;}
    	.footer-wrap{margin-top:0;}
    	.hd-div{background-color:#fff;}
    	.ellipsis{
			overflow:hidden;
			text-overflow: ellipsis;
			width:1200px;
  			display: -webkit-box;
  			-webkit-box-orient: vertical;
  			-webkit-line-clamp: 5;
  			line-height: 29.15px;    /* 추가 */
  			height: 145.75px;        /* line-height x line */
    	};
    	[name=workClrCd]:checked+label{
		  outline: 5px solid gray;
		}
    </style>
</head>

<body>
	<div class="wrap">
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>		
		<div class="body-wrap">
			
			<div class="contents max-1500">
				<div class="sub-title">
					<h3 class="mo-no" id="pageTitle">작품정보</h3>
				</div>
				
				<div class="baeg-wrap">
					<div class="baeg-left">
						<img th:src="${result.work.workMainImgUrl}" style="width:98%;"/>
					</div>
					<div class="baeg-right">
						<div class="be-title">
							<th:block th:if="${not #strings.isEmpty(result.artistInfo.artstEnglsNm)}">
								<h2 th:text="${result.artistInfo.artstActvtyNm}"></h2>
								<h2 th:text="'('+${result.artistInfo.artstEnglsNm}+')'"></h2>
							</th:block>
							<h2 th:if="${#strings.isEmpty(result.artistInfo.artstEnglsNm)}" th:text="${result.artistInfo.artstActvtyNm}"></h2>
							<h3 th:text="${result.work.workNm}"></h3>
							
<!-- 							<a href="#" class="phos" data-toggle="modal" data-target="#myModal3"> -->
<!-- 								<div class="tootip-1">신고하기</div> -->
<!-- 								<img src="resources/img/de/popo-1.png" /> -->
<!-- 							</a> -->
						</div>
						
						<table class="tstyle1">
							<tr>
								<th>제작년도</th>
								<td th:text="${result.work.workProdcYear}"></td>
							</tr>
							<tr>
								<th>소재/기법</th>
								<td th:text="${result.work.workMatrl}">canvas</td>
							</tr>
							<tr>
								<th>액자</th>
								<td th:if="${result.work.workFrmYn == 'Y'}">있음</td>
								<td th:if="${result.work.workFrmYn == 'N'}">없음</td>
							</tr>
							<tr>
								<th>사이즈</th>
								<td th:text="${result.work.workSizeWidth} + ' X ' + ${result.work.workSizeDepth}"></td>
							</tr>
							<tr>
								<th>판매 여부</th>
								<td th:if="${result.work.workSaleYn == 'Y'}">판매 완료</td>
								<td th:if="${result.work.workSaleYn == 'N'}">미판매</td>
							</tr>
							<tr>
								<th>메인 컬러</th>
								<td th:if="${result.work.workClrCd == 'MIX'}"><div class="color-box"><input type="radio" id="mc-1" name="workClrCd" value="MIX" checked><label for="mc-1" class="mc-1 active"></label></div></td>
								<td th:if="${result.work.workClrCd == 'RED'}"><div class="color-box"><input type="radio" id="mc-2" name="workClrCd" value="RED" checked><label for="mc-2" class="mc-2 active"></label></div></td>
								<td th:if="${result.work.workClrCd == 'ORANGE'}"><div class="color-box"><input type="radio" id="mc-3" name="workClrCd" value="ORANGE" checked><label for="mc-3" class="mc-3 active"></label></div></td>
								<td th:if="${result.work.workClrCd == 'YELLOW'}"><div class="color-box"><input type="radio" id="mc-4" name="workClrCd" value="YELLOW" checked><label for="mc-4" class="mc-4 active"></label></div></td>
								<td th:if="${result.work.workClrCd == 'GREEN'}"><div class="color-box"><input type="radio" id="mc-5" name="workClrCd" value="GREEN" checked><label for="mc-5" class="mc-5 active"></label></div></td>
								<td th:if="${result.work.workClrCd == 'SKY'}"><div class="color-box"><input type="radio" id="mc-6" name="workClrCd" value="SKY" checked><label for="mc-6" class="mc-6 active"></label></div></td>
								<td th:if="${result.work.workClrCd == 'BLUE'}"><div class="color-box"><input type="radio" id="mc-7" name="workClrCd" value="BLUE" checked><label for="mc-7" class="mc-7 active"></label></div></td>
								<td th:if="${result.work.workClrCd == 'PURPLE'}"><div class="color-box"><input type="radio" id="mc-8" name="workClrCd" value="PURPLE" checked><label for="mc-8" class="mc-8 active"></label></div></td>
								<td th:if="${result.work.workClrCd == 'BROWN'}"><div class="color-box"><input type="radio" id="mc-9" name="workClrCd" value="BROWN" checked><label for="mc-9" class="mc-9 active"></label></div></td>
								<td th:if="${result.work.workClrCd == 'WHITE'}"><div class="color-box"><input type="radio" id="mc-10" name="workClrCd" value="WHITE" checked><label for="mc-10" class="mc-10 active"></label></div></td>
								<td th:if="${result.work.workClrCd == 'GRAY'}"><div class="color-box"><input type="radio" id="mc-11" name="workClrCd" value="GRAY" checked><label for="mc-11" class="mc-11 active"></label></div></td>
								<td th:if="${result.work.workClrCd == 'BLACK'}"><div class="color-box"><input type="radio" id="mc-12" name="workClrCd" value="BLACK" checked><label for="mc-12" class="mc-12 active"></label></div></td>
							</tr>
							<tr>
								<th>소장가(판매가)</th>
								<td th:text="${result.work.workPrc}+' KRW'"></td>
							</tr>
							<tr>
								<th>닉네임</th>
								<td th:if="${not #strings.isEmpty(result.work.mbrNcknm)}" th:onclick="|location.href='@{/artistDetail(artstSq=${result.work.artstSq})}'|" style="cursor:pointer;">[[${result.work.mbrNcknm}]]
									<img th:src="${result.artistInfo.artstProfileImgUrl}" th:onclick="|location.href='@{/artistDetail(artstSq=${result.work.artstSq})}'|" style="cursor:pointer;width:28px;height:28px;border-radius:50%;" class="mg_l5">
								</td>
								<td th:unless="${not #strings.isEmpty(result.work.mbrNcknm)}" th:onclick="|location.href='@{/artistDetail(artstSq=${result.work.artstSq})}'|" style="cursor:pointer;">[[${result.work.artstActvtyNm}]]
									<img th:src="${result.artistInfo.artstProfileImgUrl}" th:onclick="|location.href='@{/artistDetail(artstSq=${result.work.artstSq})}'|" style="cursor:pointer;width:28px;height:28px;border-radius:50%;" class="mg_l5">
								</td>
							</tr>
						</table>
						<div class="bat-box">
							<!-- <button type="button" class="ba-btn1 por" id="btn_purchaseOrBid" onclick="btn_purchaseOrBid_onclick()"><span>응찰하기</span></button> -->
							<button type="button" class="ba-btn2" onclick="javascript:fnModalAlert();"><img src="resources/img/de/mo/icon-1.jpg" /><span>공유하기</span></button>
							<!-- <button type="button" class="ba-btn3" id="btn_history" data-toggle="modal" data-target="#myModal2"><img src="resources/img/de/mo/icon-2.jpg" /><span>응찰 히스토리</span></button> -->
							<button type="button" class="ba-btn3" onclick="javascript:history.go(-2);"><span>목록으로 돌아가기</span></button>
							<div class="clearboth"></div>
						</div>
						
					</div>
				</div>
			</div>
				
		<div id="artstInfo">	
			<div class="artist-wrap">
				<div class="artist-box max-1500">
					<div class="sub-title mg_t77">
						<h3>Artist Introduce</h3>
					</div>
					<div class="sub-user">
						<div class="su-l">
							<span><img th:src="${result.artistInfo.artstProfileImgUrl}" style="width:100%; border-radius:15%;"/></span>
						</div>
						<div class="su-r">
							<p class="sup-1" th:text="${result.artistInfo.artstActvtyNm}"></p>
							<p class="sup-2" th:text="${result.artistInfo.artstEnglsNm}"></p>
							<div class="sup-3 ellipsis" th:text="${result.artistInfo.artstSelfIntro}"></div>
							 
							 
  							
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="contents conbg">
				<div class="cont-title2 max-1500">
					<h3 th:text="${result.artistInfo.artstActvtyNm} + '의 다른 작품'">이 용은작가의 다른 작품</h3>
					<button type="button" class="the-more" data-toggle="modal" data-target="#artstInfoMore">더보기</button>
				</div>
				<!-- 작품이 없는 작가면 보여주지 않는 영역 -->
				<th:block th:if="${not #strings.isEmpty(result.workList)}">
					<div class="swi-box max-1500">
						<div class="swiper mySwiper2">
							<div class="swiper-wrapper">
							<th:block th:each="workList : ${result.workList}">
								<div class="swiper-slide" th:onclick="|location.href='@{/workDetail(workSq=${workList.workSq})}'|">
									<a class="hd-div hd-tablet">
										<img th:src="${workList.workMainImgUrl}" class="hd-img" style="width:100%;"/>
										
										<div class="hd-text">
											<h4 th:text="${workList.artstActvtyNm}+'('+${workList.artstBirthYear}+')'">작가명</h4>
											<div class="hd-d1" th:inline="text">
												[[${workList.workNm}]]([[${workList.workProdcYear}]])
												<br/>
												소재 [[${workList.workMatrl}]], [[${workList.workSizeWidth}]] x [[${workList.workSizeDepth}]]
												<br/>
												가격 [[${workList.workPrc}]] KRW
											</div>
											<!-- <div class="hd-d2" th:text="'가격 '+${workList.workPrc}+'원'">낙찰가 3,700,000 원</div> -->
										</div>
									</a>
								</div>
							</th:block>
								
							</div>
							<div class="swiper-pagination swpa-2 pc-no"></div>
						</div>
						<div class="swiper-button-next sbn ta-no"><span><img src="resources/img/arr-r.jpg"></span></div>
						<div class="swiper-button-prev sbp ta-no"><span><img src="resources/img/arr-l.jpg"></span></div>
					</div>
				</th:block>
				<!-- 영역 끝 -->
			</div>
		</div>
	</div>
	<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
</div>


<!-- 신고하기 -->
<div class="modal fade modal-s" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal3Label" aria-hidden="true">
	<div class="modal-dialog modal-baeg max-w530">
		<div class="modal-content">
			<div class="modal-header">
				<div class="baegs">
					<h2>신고하기</h2>
				    <img src="resources/img/ba/icon-2.png" class="con-img" />
				    <div class="close" data-dismiss="modal" aria-label="Close"><img src="resources/img/ba/icon-end.png" /></div>
				</div>

			</div>
			<div class="modal-body">
				<div class="md-box-1">
					<p>
					위작, 허위판매 등 신고 사유를 가능한 상세히 작성해 주시기 바랍니다.<br />
					허위 신고는 제재를 받을 수 있으며 민형사상의 법적 책임을 물을 수 있습니다.
					</p>
					
					<textarea rows="" cols="" class="textarea-1" placeholder="신고 사유를 입력해주세요."></textarea>
					
					<!-- <div class="text-center  mg_b40">
						<input type="checkbox" id="w1" name="cc">
						<label for="w1" style="color:#e9625c;"><span></span> 경매약관 주요 사항 팝업 및 약관 동의 사실 확인</label>
					</div> -->
					
					<div class="baeg-btn mg_t30">
						<a href="#" data-toggle="modal" data-target="#myModal4"><button type="button" class="baeg-b1">제출하기</button></a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 신고하기 완료 -->
<div class="modal fade modal-s" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal4Label" aria-hidden="true">
	<div class="modal-dialog modal-baeg max-w530">
		<div class="modal-content">
			<div class="modal-header" style="height: 0; min-height: 0; padding: 0;">
				<div class="baegs">
				    <div class="close" data-dismiss="modal" aria-label="Close"><img src="resources/img/ba/icon-end.png" /></div>
				</div>

			</div>
			<div class="modal-body">
				<div class="md-box-1">
					<div class="md-ds">
						서비스 준비중입니다.
					</div>
					
					<div class="baeg-btn mg_t30">
						<a href="#"><button type="button" class="baeg-b1" aria-label="Close" data-dismiss="modal">확인</button></a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade modal-s" id="artstInfoMore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-baeg max-w1200">
		<div class="modal-content">
			<div class="modal-header" style="padding: 0;min-height: 0;">
				<div class="baegs">
				    <div class="close" data-dismiss="modal" aria-label="Close"><img src="resources/img/ba/icon-end.png" /></div>
				</div>

			</div>
			<div class="modal-body pd60 h850-o" id="artstInfoModal">
				<div class="ad-text">
					<h3 th:text="${result.artistInfo.artstActvtyNm}"></h3>
					<h4 th:text="${result.artistInfo.artstEnglsNm}"></h4>
					<p th:text="${result.artistInfo.artstSelfIntro}" id="artstSelfIntro"></p>
				</div>
				
				<dl class="ad-dl">
					<dt>SNS</dt>
					<dd>
						<th:block th:if="${not #strings.isEmpty(result.artistInfo.artstInstagramUrl)}">
							<a class="if-img" th:href="${result.artistInfo.artstInstagramUrl}" target="_blank"><img src="resources/img/icon/i-1.png"/></a>
						</th:block>
						<th:block th:if="${not #strings.isEmpty(result.artistInfo.artstfacebookUrl)}">
							<a class="if-img" th:href="${result.artistInfo.artstfacebookUrl}" target="_blank"><img src="resources/img/icon/i-2.png"/></a>
						</th:block>
						<!-- <a class="if-img" th:if="${not #strings.isEmpty(user.id)}" th:href="${result.artistInfo.artstInstagramUrl}"><img src="resources/img/icon/i-2.png" /></a> -->
						<!-- <a href="#" class="if-img"><img src="resources/img/icon/i-3.png" /></a>
						<a href="#" class="if-img"><img src="resources/img/icon/i-4.png" /></a>
						<a href="#" class="if-img"><img src="resources/img/icon/i-5.png" /></a>
						<a href="#" class="if-img"><img src="resources/img/icon/i-6.png" /></a> -->
					</dd>
				</dl>
				<dl class="ad-dl">
					<dt>홈페이지</dt>
					<dd>
						<p th:text="${result.artistInfo.artstHmpgUrl}">https://mansion9.co.kr/</p>
					</dd>
				</dl>
				<dl class="ad-dl">
					<dt>학력</dt>
					<dd>
					<th:block th:each="eductn: ${result.eductn}">
						<p th:text="${eductn.eductnNm}"></p>
					</th:block>
					</dd>
				</dl>
				<dl class="ad-dl">
					<dt>경력</dt>
					<dd>
					<th:block th:each="career: ${result.career}">
						<p th:text="${career.careerNm}"></p>
					</th:block>
					</dd>
				</dl>
				<dl class="ad-dl">
					<dt>전시 정보</dt>
					<dd>
					<th:block th:each="exhbtn: ${result.exhbtn}">
						<p th:text="${exhbtn.exhbtnNm}"></p>
					</th:block>
					</dd>
				</dl>
				
<!-- 				<dl class="ad-dl"> -->
<!-- 					<dt>수상</dt> -->
<!-- 					<dd> -->
<!-- 						<p>2020 Fly High, 충무로갤러리</p> -->
<!-- 						<p>2019 크리스마스 아트마켓, 갤러리오</p> -->
<!-- 						<p>2019 Falling in Animal, 비움갤러리</p> -->
<!-- 						<p>2019 취하다 아트페어, 프로타주갤러리</p> -->
<!-- 						<p>2019 be coming a collector, 연희예술극장</p> -->
<!-- 						<p>2019 이원생중계, 갤러리라메르</p> -->
<!-- 					</dd> -->
<!-- 				</dl> -->
<!-- 				<dl class="ad-dl"> -->
<!-- 					<dt>인터뷰영상</dt> -->
<!-- 					<dd> -->
<!-- 						<p>https://youtu.be/bRY2uftc9pQ</p> -->
<!-- 						<p>https://youtu.be/bRY2uftc9pQ</p> -->
<!-- 					</dd> -->
<!-- 				</dl> -->
<!-- 				<dl class="ad-dl"> -->
<!-- 					<dt>논문, 평론, 기사</dt> -->
<!-- 					<dd> -->
<!-- 						<p>2014 동심을 깨우는 강한 숨결 전, 전북대학교 국립 박물관</p> -->
<!-- 						<p>2013 50만원 전, 경민미술관</p> -->
<!-- 						<p>2013 가미갤러리 초대작가전, 가미갤러리</p> -->
<!-- 						<p>2013 블라블라, 인사토포하우스</p> -->
<!-- 					</dd> -->
<!-- 				</dl> -->
			</div>
		</div>
	</div>
</div>




<script th:inline="javascript">

var isMobileBidding = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;

jQuery(document).ready(function($){
     
	if(isMobile) {
		
		var baseW = $(window).width();
		
		var ww = 0;
		
		if(baseW < 399) {
			ww = $(window).width()-50;	
		} else {
			ww = $(window).width()-250;
		}
		
		$(".ellipsis").width(ww);
		$(".ellipsis").height('320px');
		
		$(".ellipsis").css('padding',20);
     }
});

$('.selectpicker').selectpicker('render');

var result = /*[[${result}]]*/ 'default';


 $(window).on("resize", function () {
    if(window.matchMedia('(min-width: 1537px)').matches)
    {
    	
    	var swiper = new Swiper(".mySwiper2", {
	          slidesPerView: 4,
	          spaceBetween: 30,
	          slidesPerGroup: 1,
	          loop: true,
	          loopFillGroupWithBlank: true,
	       	  /* autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          }, */
	          pagination: {
	            el: ".swiper-pagination",
	            clickable: true,
	          },
	          navigation: {
	            nextEl: ".swiper-button-next",
	            prevEl: ".swiper-button-prev",
	          },
	        });
    	
    }  else if(window.matchMedia('(min-width: 751px)').matches) {
    	
    	var swiper = new Swiper(".mySwiper2", {
	          slidesPerView: 3,
	          spaceBetween: 30,
	          slidesPerGroup: 1,
	          loop: true,
	          loopFillGroupWithBlank: true,
	       /* autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          }, */
	          pagination: {
	            el: ".swiper-pagination",
	            clickable: true,
	          },
	          navigation: {
	            nextEl: ".swiper-button-next",
	            prevEl: ".swiper-button-prev",
	          },
	     });
    	
    	
    	
     } else {
    	var swiper = new Swiper(".mySwiper2", {
	          slidesPerView: 2,
	       	  spaceBetween: 30,
	          slidesPerGroup: 1,
	          loop: true,
	          loopFillGroupWithBlank: true,
	       /* autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          }, */
	          pagination: {
	            el: ".swiper-pagination",
	            clickable: true,
	          },
	          navigation: {
	            nextEl: ".swiper-button-next",
	            prevEl: ".swiper-button-prev",
	          },
	     });
    	
     };
}).resize();
 
 
 
 $(document).ready(function () {
  $(".elm").hover(
	function(){ $(this).addClass('hover') },
    function(){ $(this).removeClass('hover') }
  )
  $(".cn-b").hover(
	function(){ $(this).addClass('gis') },
    function(){ $(this).removeClass('gis') }
  )
 });
 
 $(function() {                      
  $(".bab-bo").click(function() { 
    $(this).toggleClass("bashow");     
  });
  
  $(".lg-my").click(function() { 
 	    $('.bg-sh').toggleClass('bg-show');     
 	 	 $('.s-hov').toggleClass('s-hov-show');     
 	  });
  
});
 
 /* 메뉴바 FIXED */
 if (jQuery(window).width() > 0) {
     jQuery(window).on("scroll",function(ev){
         if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
             jQuery('.head-wrap').addClass('fixed');
         }
         else{
             jQuery('.head-wrap').removeClass('fixed');
         }
         return false;
     });
 }
 
 $('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
    // The event won't be propagated up to the document NODE and 
    // therefore delegated events won't be fired
    event.stopPropagation();
});
 
</script>

	
	
	
</body>

</html>
