<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	@media screen and (min-width: 1px) and (max-width: 1536px){
    	.con-left{display:none}
    	}
    </style>
</head>

<body>
	<div class="wrap">
	<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>		
		<div class="body-wrap">
			<div class="contents">
				
				<div class="con-wrap">
					 <!-- left Include  -->
					<th:block th:replace="thymeleaf/myPageLeft :: myPageLeftFragment"></th:block>
					
					<div class="con-right">
					
						<div class="me-center">
							<h4 class="mec-h4">이벤트 및 혜택 알림</h4>
							<p class="mec-p">경매, 판매 등 거래알림 및 이벤트 정보를 알려드립니다.</p>
							<div class="me-redia">
								<dl class="me-dl">
									<dt>이메일</dt>
									<dd>
										<p class="btn-switch">					
											<input type="radio" id="yes" name="switch" class="btn-switch__radio btn-switch__radio_yes" />
											<input type="radio" checked id="no" name="switch" class="btn-switch__radio btn-switch__radio_no" />		
											<label for="yes" class="btn-switch__label btn-switch__label_yes"><span class="btn-switch__txt"></span></label>
											<label for="no" class="btn-switch__label btn-switch__label_no"><span class="btn-switch__txt"></span></label>							
										</p>
									</dd>
									<dt>문자 메세지</dt>
									<dd>
										<p class="btn-switch">					
											<input type="radio" id="yes" name="switch" class="btn-switch__radio btn-switch__radio_yes" />
											<input type="radio" checked id="no" name="switch" class="btn-switch__radio btn-switch__radio_no" />		
											<label for="yes" class="btn-switch__label btn-switch__label_yes"><span class="btn-switch__txt"></span></label>
											<label for="no" class="btn-switch__label btn-switch__label_no"><span class="btn-switch__txt"></span></label>							
										</p>
									</dd>
								</dl>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>


<script type="text/javascript">      
$(window).on("resize", function () {
    if(window.matchMedia('(min-width: 1537px)').matches){
  	    document.querySelectorAll(".item").forEach((item) => {
      	     item.style.gridRowEnd = `span ${item.clientHeight + 0}`;
      	  });
  	    
    }else if(window.matchMedia('(min-width: 751px)').matches) {
    	
  	      document.querySelectorAll(".item").forEach((item) => {
      	     item.style.gridRowEnd = `span ${item.clientHeight + 280}`;
      	  });
    	
    }else{
    	var swiper = new Swiper(".mySwiper2", {
          slidesPerView: 1,
          slidesPerGroup: 1,
          loop: true,
          loopFillGroupWithBlank: true,
          pagination: {
            el: ".swiper-pagination",
            clickable: true
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
          }
     });
    	
    	document.querySelectorAll(".item").forEach((item) => {
      	     item.style.gridRowEnd = `span ${item.clientHeight + 150}`;
      	  });
  	  
     }
}).resize();



$(function () {
  $(".elm").hover(
	function(){ $(this).addClass('hover') },
	    function(){ $(this).removeClass('hover') }
	  )
	  $(".cn-b").hover(
	function(){ $(this).addClass('gis') },
	    function(){ $(this).removeClass('gis') }
	  )
});

$(function() {                      
  $(".bab-bo").click(function() { 
    $(this).toggleClass("bashow");     
  });
  
  $(".lg-my").click(function() { 
	    $('.bg-sh').toggleClass('bg-show');     
	 	$('.s-hov').toggleClass('s-hov-show');     
	  });
  
});

$(function() {
	/* 메뉴바 FIXED */
	if (jQuery(window).width() > 0) {
	  jQuery(window).on("scroll",function(ev){
	      if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
	          jQuery('.head-wrap').addClass('fixed');
	      }else{
	          jQuery('.head-wrap').removeClass('fixed');
	      }
	      return false;
	  });
	}
});

/* jQuery(function($) {

    window.onresize = function(){
      document.location.reload();
    };

}); */



var delay = 300;
var timer = null;

//Javascript
window.addEventListener('resize', function(){
	clearTimeout(timer);
	timer = setTimeout(function(){
		document.location.reload();
	}, delay);
});

//jQuery
$(window).on('resize', function(){
	clearTimeout(timer);
	timer = setTimeout(function(){
		document.location.reload();
	}, delay);
});

$('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
    // The event won't be propagated up to the document NODE and 
    // therefore delegated events won't be fired
    event.stopPropagation();
});

$(function() { 
	if(sAuthSqVal == 2){
		document.getElementById("portfolio").style.display="";
	}
	$("#conTitle").empty();
	const conBtn = document.getElementById("conBtn");
	conBtn.remove();
	var conTitleHtml = "";
	conTitleHtml += '<h3>설정</h3>';
	$("#conTitle").append(conTitleHtml).trigger("create");
});   
</script>
    
	
	
	
	
</body>

</html>
