<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>딜링아트</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta name="description" content="개인간 미술품 거래 마켓플레이스">
	<meta property="og:description" content="개인간 미술품 거래 마켓플레이스">
	<meta property="og:type" content="website">
	<meta property="og:title" content="DeailngArt">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/DA_logo_og.png">
	<meta property="og:url" content="https://www.dealing-art.com">
	
	<!-- google -->
    <meta name="google-site-verification" content="EKiW_Lm3Qw-DYnLT9qokEpZT2Sa8tSQuVWhVEvs4kPk" />
    <!-- faceBook -->
    <meta name="facebook-domain-verification" content="zrw9l0gyn4u5jja4qv7kpleb4i914k" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- HTML의 <head> 섹션에 전체 사이트 태그를 복사합니다. -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRJBSR52MT"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WRJBSR52MT');
	</script>
	
	<!-- Google Tag Manager -->
	<!-- 페이지의 <head>에서 가능한 한 높은 위치에 코드를 붙여넣으세요. -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBP5CQ9');</script>
	<!-- End Google Tag Manager -->
			
	<!-- Google Tag Manager (noscript) -->
	<!-- 또한 여는 <body> 태그 바로 뒤에 코드를 붙여넣으세요. -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBP5CQ9"height="0" width="0" style="display:none; visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	
	<!-- 페이스북 Meta Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '5995234030505207');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=5995234030505207&ev=PageView&noscript=1"/></noscript>
	<style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	.swi-box::before{background-color:#f9f9f9;}
    	.footer-wrap{margin-top:0;}
    	.hd-div{background-color:#fff;}
    	[name=workClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
		/* Firefox */
		input[type=number] {
		  -moz-appearance: textfield;
		}
    </style>
    
    <link rel="icon" type="image/png" href="resources/img/favicon.png">
    
</head>

<body>
	<div class="wrap">
	<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>	
		
		
		<div class="body-wrap coll-mobile">
			
			<div class="contents max-1500">
				<div class="sub-title">
					<h3 class="mo-no">소장품 등록</h3>
				</div>
				<form id="form">
				<div class="baeg-wrap">
					<div class="med">
						<h2 class="">작가 정보 <span class="c-reds">* 필수 정보</span></h2>
					</div>
					<div class="myd-box">
						<div class="myd-box-2">
							
							<div class="input-gra" data-toggle="modal" data-target="#searchArtstModal">
								<input type="text" placeholder="작가명으로 검색해 보세요." style="cursor:pointer"/>
								<!-- <a href="javascript:void(0);" onclick=><img src="resources/img/mypage/icon-sech.png" /></a> -->
								<!-- onclick= 제거  -->
								<a href="javascript:void(0);"><img src="resources/img/mypage/icon-sech.png" /></a>
							</div>
							
							<table class="mstyle-2">
								<tr>
									<th><span class="my-red">작가명</span></th>
									<td><input type="text" class="input-4" id="artstActvtyNm" placeholder="작가명 또는 작가의 활동명을 입력해주세요."/></td>
								</tr>
								<tr>
									<th>출생년도</th>
									<td><input type="number" class="input-4" id="artstBirthYear" placeholder="작가의 출생년도를 입력해주세요." onblur="this.value = this.value.replace('.', ''); if(this.value.length != 4){this.value='';}"/></td>
								</tr>
								<tr>
									<th>작고</th>
									<td><input type="number" class="input-4" id="artstYod" placeholder="작가의 사망년도를 입력해주세요." onblur="this.value = this.value.replace('.', ''); if(this.value.length != 4){this.value='';}"/></td>
								</tr>
							</table>
						</div>
					</div>
					
					<div class="med col_t85">
						<h2 class="">작품 정보 불러오기 <span class="c-gra">※ 이미 등록되어 있는 작품 정보를 불러온 뒤 필요한 정보만 수정하세요.</span></h2>
					</div>
					<div class="myd-box">
						<div class="myd-box-2">
							<div class="input-gra" data-toggle="modal" data-target="#searchWorkModal">
								<input type="text" placeholder="작품명으로 검색해 보세요." style="cursor:pointer"/>
								<a href="javascript:void(0);"><img src="resources/img/mypage/icon-sech.png" /></a>
							</div>
						</div>
					</div>
					
					<div class="med col_t85">
						<h2 class="">작품 등록 정보 <span class="c-gra">작품 등록을 위한 기본 정보 입니다.</span></h2>
					</div>
					<div class="myd-box">
						<div class="myd-box-2">
							
							<table class="mstyle-2">
								<tr>
									<th><span class="my-red">작품명</span></th>
									<td><input type="text" class="input-4" id="workNm" placeholder="작품 이름 또는 제목을 입력해주세요."/></td>
								</tr>
								<tr>
									<th><span class="">작품 대표 사진</span></th>
									<td>
										<div class="filebox bs3-primary">
											<img class="content" id="workMainImgUrl1" style="cursor:pointer"/>
											<label for="workMainImgUrl">찾아보기</label> 
											<input type="file" id="workMainImgUrl" class="upload-hidden"> 
										</div>
										<p class="table-p">
											※ 작품 사진은 정방형 이미지를 권장합니다.<br/>
											※ 작품이 꽉 차게 나온 대표 사진 입니다. 관리자가 배경을 제거하고 다시 등록할 수 있습니다.<br/>
											※ 파일 확장자는 jpg, jpeg로 용량은 5MB 미만으로 등록해주세요.
										</p>
									</td>
								</tr>
								<tr>
									<th><span class="my-red">작품 사진(전면)</span></th>
									<td>
										<div class="filebox bs3-primary">
											<img class="content" id="workImgFrtUrl1" style="cursor:pointer"/>
											<label for="workImgFrtUrl">찾아보기</label> 
											<input type="file" id="workImgFrtUrl" class="upload-hidden"> 
										</div>
										<p class="table-p">
											※ 작품 사진은 정방형 이미지를 권장합니다.<br/>
											※ 작품이 꽉 차게 나온 대표 사진 입니다. 관리자가 배경을 제거하고 다시 등록할 수 있습니다.<br/>
											※ 파일 확장자는 jpg, jpeg로 용량은 5MB 미만으로 등록해주세요.
										</p>
									</td>
								</tr>
								<tr>
									<th><span class="">작품 사진(후면)</span></th>
									<td>
										<div class="filebox bs3-primary">
											<img class="content" id="workImgRerUrl1" style="cursor:pointer"/>
											<label for="workImgRerUrl">찾아보기</label> 
											<input type="file" id="workImgRerUrl" class="upload-hidden"> 
										</div>
										<p class="table-p">
											※ 작품 사진은 정방형 이미지를 권장합니다.<br/>
											※ 작품이 꽉 차게 나온 대표 사진 입니다. 관리자가 배경을 제거하고 다시 등록할 수 있습니다.<br/>
											※ 파일 확장자는 jpg, jpeg로 용량은 5MB 미만으로 등록해주세요.
										</p>
									</td>
								</tr>
								<tr>
									<th><span class="my-red">액자 유무</span></th>
									<td>
										<div class="radio-2">
											<input type="radio" id="w1" name="workFrmYn" value="Y">
											<label for="w1" class="wd-145"><span></span>있음</label>
											<input type="radio" id="w2" name="workFrmYn" value="N">
											<label for="w2"><span></span>없음</label>
										</div>
									</td>
								</tr>
								<tr>
									<th><span class="my-red">메인 컬러</span></th>
									<td>
										<div class="color-box">
											<input type="radio" id="mc-1" name="workClrCd" value="MIX"><label for="mc-1" class="mc-1 active"></label>
											<input type="radio" id="mc-2" name="workClrCd" value="RED"><label for="mc-2" class="mc-2"></label>
											<input type="radio" id="mc-3" name="workClrCd" value="ORANGE"><label for="mc-3" class="mc-3"></label>
											<input type="radio" id="mc-4" name="workClrCd" value="YELLOW"><label for="mc-4" class="mc-4"></label>
											<input type="radio" id="mc-5" name="workClrCd" value="GREEN"><label for="mc-5" class="mc-5"></label>
											<input type="radio" id="mc-6" name="workClrCd" value="SKY"><label for="mc-6" class="mc-6"></label>
											<input type="radio" id="mc-7" name="workClrCd" value="BULE"><label for="mc-7" class="mc-7"></label>
											<input type="radio" id="mc-8" name="workClrCd" value="PURPLE"><label for="mc-8" class="mc-8"></label>
											<input type="radio" id="mc-9" name="workClrCd" value="BROWN"><label for="mc-9" class="mc-9"></label>
											<input type="radio" id="mc-10" name="workClrCd" value="WHITE"><label for="mc-10" class="mc-10"></label>
											<input type="radio" id="mc-11" name="workClrCd" value="GRAY"><label for="mc-11" class="mc-11"></label>
											<input type="radio" id="mc-12" name="workClrCd" value="BLACK"><label for="mc-12" class="mc-12"></label>
										</div>
									</td>
								</tr>
								<tr>
									<th><span class="my-red">형태</span></th>
									<td>
										<input type="radio" id="z1" name="workShpCd" value="PLN"/>
										<label for="z1" class="wd-145"><span></span>평면</label>
										<input type="radio" id="z2" name="workShpCd" value="SLD"/>
										<label for="z2" class="wd-145"><span></span>입체</label>
									</td>
								</tr>
								<tr>
									<th><span class="my-red">구분</span></th>
									<td>
										<input type="checkbox" id="z11" name="workClsfcCd" value="PAINTING" onclick="workClsfcCdCheck()"/>
										<label for="z11" class="wd-145"><span></span>회화</label>
										<input type="checkbox" id="z22" name="workClsfcCd" value="EDITION" onclick="workClsfcCdCheck()"/>
										<label for="z22" class="wd-145"><span></span>에디션</label>
										<input type="checkbox" id="z33" name="workClsfcCd" value="PICTURE" onclick="workClsfcCdCheck()"/>
										<label for="z33" class="wd-145"><span></span>사진</label>
									</td>
								</tr>
								<tr>
									<th><span class="my-red">공개 여부</span></th>
									<td>
										<div class="radio-2">
											<!-- 오픈 기본 값 -->
											<input type="radio" id="x1" name="workOpenYn" class="workOpenYn" value="Y" checked>
											<label for="x1" class="wd-145"><span></span>공개</label>
											<input type="radio" id="x2" name="workOpenYn" class="workOpenYn" value="N" >
											<label for="x2"><span></span>비공개</label>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
					
					<div class="med col_t85">
						<h2 class="">판매 등록 정보 <span class="c-gra">등록된 작품을 판매로 전환할 때 필요한 정보 입니다.  미리 등록 할 수도, 판매 등록할 때 입력하셔도 괜찮습니다.</span></h2>
					</div>
					<div class="myd-box">
						<div class="myd-box-2">
							
							<table class="mstyle-2">
								<tr>
									<th><span class="my-red">보증서</span></th>
									<td>
										<div class="filebox bs3-primary">
											<!-- <img class="content" id="workGrtUrl1" style="cursor:pointer"/> -->
											<input type="text" id="workGrtUrl1" class="input-4" disabled>
											<label for="workGrtUrl">찾아보기</label> 
											<input type="file" id="workGrtUrl" class="upload-hidden" accept=".jpeg, .jpg, .png, .pdf"> 
										</div>
										<p class="table-p">
											<!-- 
											※ 향후에 판매로 등록 할 때에는 보증서 등록이 필요합니다. 보증서를 분실하셨다면 구매처에 재발급을 요청하시기 바랍니다.<br/>
											※ 파일 확장자는 jpg, jpeg로 용량은 5MB 미만으로 등록해주세요. -->
											
											※ png, jpeg, pdf 형식으로 등록해주세요.(5MB 미만) <br/>
											※ 향후에 판매로 등록 할 때에는 보증서 등록이 필요합니다. 보증서를 분실하셨다면 구매처에 재발급을 요청하시길 바랍니다. <br/>
											※ 구매처의 보증서에 Resale-Lock (재판매 금지)의 여부와 기간을 꼭 확인 후 등록을 해주세요.
										</p>
									</td>
								</tr>
								<tr>
									<th><span class="">작품 상태</span></th>
									<td>
										<input type="text" class="input-4" id="workState"/>
										<p class="table-p">
											※ 작품의 질감, 액자의 파손, 크랙, 찢어짐 등 작품 상태와 관련된 내용을 입력해주세요.<br/>
										</p>
									</td>
								</tr>
								<tr>
									<th><span class="my-red">소재/기법</span></th>
									<td><input type="text" class="input-4" id="workMatrl"/></td>
								</tr>
								<tr>
									<th><span class="my-red">제작년도</span></th>
									<td><input type="number" class="input-4" id="workProdcYear" onblur="this.value = this.value.replace('.', ''); if(this.value.length != 4){this.value='';}"/></td>
								</tr>
								<tr>
									<th><span class="my-red">사이즈</span></th>
									<td>
										<div class="coll-gr">
											<!-- <input type="number" class="input-4" id="workSizeWidth" onblur="autoLake()"/>
											<span class="cg-x">X</span> 
											<input type="number" class="input-4" id="workSizeDepth" onblur="autoLake()"/>
											<span class="cg-text" id="workLake">
												<br/>작품 사이즈를 입력하시면 호수가 자동으로 계산됩니다. 
											</span>
											<img src="/resources/img/ba/me-icon.png" style="cursor:pointer;" onclick="openLakeHelp()"></img> -->
											<input type="number" class="input-4" id="workSizeWidth"/>
											<span class="cg-x">X</span> 
											<input type="number" class="input-4" id="workSizeDepth"/>
										</div>
										<p class="table-p">
											※ 캔버스의 규격을 기준으로 측정해주세요.<br/>
											※ 사이즈 단위는 cm 입니다.
										</p>
									</td>
								</tr>
								<tr>
									<th><span class="">호수</span></th>
									<td><input type="number" class="input-4" id="workLake" oninput="this.value = this.value.replace('.', ''); if(this.value > 500){this.value='';modalAlertShow('호수는 500호 까지입니다.');}" />
									<img src="/resources/img/ba/me-icon.png" style="cursor:pointer;" onclick="openLakeHelp()"></img></td>
								</tr>
								<tr>
									<th><span class="">소장가</span></th>
									<td>
										<input type="text" class="input-4" id="workPrc" onkeyup="workPrcCal(this)"/>
										<p class="table-p">
											※작품 소장가는 판매 등록 후 노출되지 않습니다.
										</p>
									</td>
								</tr>
								<tr>
									<th><span class="">작품 사진(좌)</span></th>
									<td>
										<div class="filebox bs3-primary">
											<img class="content" id="workImgLefUrl1" style="cursor:pointer"/>
											<label for="workImgLefUrl">찾아보기</label> 
											<input type="file" id="workImgLefUrl" class="upload-hidden"> 
										</div>
										<p class="table-p">
											※ 작품 사진은 정방형 이미지를 권장합니다.<br/>
											※ 작품의 질감, 액자의 파손, 크랙, 찢어짐 등 작품 상태와 관련된 사진을 등록해 주세요.<br/>
											※ 배송 완료 시점에 사진과 다른 경우 구매자는 수취를 거부할 수 있습니다.<br/>
											※ 파일 확장자는 jpg, jpeg로 용량은 5MB 미만으로 등록해주세요.
										</p>
									</td>
								</tr>
								<tr>
									<th><span class="">작품 사진(우)</span></th>
									<td>
										<div class="filebox bs3-primary">
											<img class="content" id="workImgRitUrl1" style="cursor:pointer"/>
											<label for="workImgRitUrl">찾아보기</label> 
											<input type="file" id="workImgRitUrl" class="upload-hidden" required> 
										</div>
										<p class="table-p">
											※ 작품 사진은 정방형 이미지를 권장합니다.<br/>
											※ 작품의 질감, 액자의 파손, 크랙, 찢어짐 등 작품 상태와 관련된 사진을 등록해 주세요.<br/>
											※ 배송 완료 시점에 사진과 다른 경우 구매자는 수취를 거부할 수 있습니다.<br/>
											※ 파일 확장자는 jpg, jpeg로 용량은 5MB 미만으로 등록해주세요.
										</p>
									</td>
								</tr>
								<tr>
									<th><span class="">작품 사진(상)</span></th>
									<td>
										<div class="filebox bs3-primary">
											<img class="content" id="workImgTopUrl1" style="cursor:pointer"/>
											<label for="workImgTopUrl">찾아보기</label> 
											<input type="file" id="workImgTopUrl" class="upload-hidden"> 
										</div>
										<p class="table-p">
											※ 작품 사진은 정방형 이미지를 권장합니다.<br/>
											※ 작품의 질감, 액자의 파손, 크랙, 찢어짐 등 작품 상태와 관련된 사진을 등록해 주세요.<br/>
											※ 배송 완료 시점에 사진과 다른 경우 구매자는 수취를 거부할 수 있습니다.<br/>
											※ 파일 확장자는 jpg, jpeg로 용량은 5MB 미만으로 등록해주세요.
										</p>
									</td>
								</tr>
								<tr>
									<th><span class="">작품 사진(하)</span></th>
									<td>
										<div class="filebox bs3-primary">
											<img class="content" id="workImgBotUrl1" style="cursor:pointer"/>
											<label for="workImgBotUrl">찾아보기</label> 
											<input type="file" id="workImgBotUrl" class="upload-hidden"> 
										</div>
										<p class="table-p">
											※ 작품 사진은 정방형 이미지를 권장합니다.<br/>
											※ 작품의 질감, 액자의 파손, 크랙, 찢어짐 등 작품 상태와 관련된 사진을 등록해 주세요.<br/>
											※ 배송 완료 시점에 사진과 다른 경우 구매자는 수취를 거부할 수 있습니다.<br/>
											※ 파일 확장자는 jpg, jpeg로 용량은 5MB 미만으로 등록해주세요.
										</p>
									</td>
								</tr>
								<tr>
									<th><span class="">작품 영상</span></th>
									<td><input type="text" class="input-4" id="workVideoUrl" placeholder="홈페이지, SNS 등 본 작품과 관련된 영상 링크를 기재해 주세요" /></td>
								</tr>
								<tr>
									<th><span class="">작품 소개</span></th>
									<td><textarea class="textarea-2" id="workIntrdc" placeholder="작품소개를 입력해주세요."></textarea></td>
								</tr>
								<tr>
									<th><span class="">작품 키워드</span></th>
									<td>
										<input type="text" class="input-4" id="keywrd" placeholder="키워드를 쉼표로 구분해 주세요." onblur="keywrdSet(this)"/>
										<div class="key-box">
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
					
					<div class="bat-box5">
						<button type="button" class="ba-btn1" onclick="collectionReg()"><span>등록하기</span></button>
						<button type="button" class="ba-btn3" onclick="collectionStorage()"><span>임시저장</span></button>
						<button type="button" class="ba-btn3" onclick='javascript:pageGoPost({url:"/myCollection",target:"_self",vals:[["mbrSq", sMbrSqVal]]});'><span>취소</span></button>
					</div>
					
					
				</div>
				</form>
			</div>
			
			
		</div>
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>

<!-- 작가명검색 -->
<div class="modal fade modal-s" id="searchArtstModal" tabindex="-1" role="dialog" aria-labelledby="collModal2Label" aria-hidden="true">
	<div class="modal-dialog modal-sech">
		<div class="modal-content">
			<div class="modal-header">
				<div class="conts">
				    <div class="close" data-dismiss="modal" aria-label="Close"></div>
				</div>

			</div>
			<div class="modal-body">				
				<!-- 검색버튼 클릭시 -->
				<div class="search-show">
					<div class="sea-box">
						<img src="resources/img/w-logo.jpg" class="sea-img" />
						
						<div class="sea-won">
							<!-- <div class="select-box">
								<select>
									<option>작가명</option>
								</select>
							</div> -->
							<input type="text" id="txt_searchArtst" placeholder="작가명으로 검색해 보세요." onkeyup="searchArtst()"/>
							<a href="#" style="cursor:default;"><img src="resources/img/icon-2.jpg" /></a>
						</div>
						<ul class="collsul" id="ul_searchArtst">
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 작품명검색 -->
<div class="modal fade modal-s" id="searchWorkModal" tabindex="-1" role="dialog" aria-labelledby="collModal1Label" aria-hidden="true">
	<div class="modal-dialog modal-sech">
		<div class="modal-content">
			<div class="modal-header">
				<div class="conts">
				    <div class="close" data-dismiss="modal" aria-label="Close"></div>
				</div>

			</div>
			<div class="modal-body">				
				<!-- 검색버튼 클릭시 -->
				<div class="search-show">
					<div class="sea-box">
						<img src="resources/img/w-logo.jpg" class="sea-img" />
						
						<div class="sea-won">
							<!-- <div class="select-box">
								<select>
									<option>작가명</option>
								</select>
							</div> -->
							<input type="text" id="txt_searchWork" placeholder="작품명으로 검색해 보세요." onkeyup="searchWork()"/>
							<a href="#" style="cursor:default;"><img src="resources/img/icon-2.jpg" /></a>
						</div>
						<ul class="collsul" id="ul_searchWork">
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 호수 안내표 -->
<!-- table -->
<div class="modal fade modal-s" id="lakeHelpModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-baeg max-w480" style="max-width:600px !important;">
		<div class="modal-content">
			<div class="modal-header" style="padding: 0;min-height: 0;height: 0;">
				<div class="baegs">
				    <div class="close" onclick="closeLakeHelp()"><img src="/resources/img/ba/icon-end.png" /></div>
				</div>
			</div>
			<div class="modal-body login-body">

				<div class="login-box" style="margin-top:30px;">
					<p class="lb-p1">작품 사이즈 기준표 (cm)</p>
					<div class="text-box1">
						
						<table class="tstyle4">
						  <tr>
						    <td> 호수 </td>
						    <td> F형(인물) </td>
						    <td> P형(풍경) </td>
						    <td> M형(해경) </td>
						    <td> S형(정방형) </td>
						  </tr>
						  <tr>
						    <td> 0 </td>
						    <td> 18.0x14.0 </td>
						    <td> - </td>
						    <td> - </td>
						    <td> - </td>
						  </tr>
						  <tr>
						    <td> 1 </td>
						    <td> 22.7x15.8 </td>
						    <td> 22.7x14.0 </td>
						    <td> 22.7x12.0 </td>
						    <td> 15.8x15.8 </td>
						  </tr>
						  <tr>
						    <td> 2 </td>
						    <td> 25.8x17.9 </td>
						    <td> 25.8x16.0 </td>
						    <td> 25.8x14.0 </td>
						    <td> 17.9x17.9 </td>
						  </tr>
						  <tr>
						    <td> 3 </td>
						    <td> 27.3x22.0 </td>
						    <td> 27.3x19.0 </td>
						    <td> 27.3x16.0 </td>
						    <td> 22.0x22.0 </td>
						  </tr>
						  <tr>
						    <td> 4 </td>
						    <td> 33.4x24.2 </td>
						    <td> 33.4x21.2 </td>
						    <td> 33.4x19.0 </td>
						    <td> 24.2x24.2 </td>
						  </tr>
						  <tr>
						    <td> 5 </td>
						    <td> 34.8x27.3 </td>
						    <td> 34.8x24.2 </td>
						    <td> 34.8x21.2 </td>
						    <td> 27.3x27.3 </td>
						  </tr>
						  <tr>
						    <td> 6 </td>
						    <td> 40.9x31.8 </td>
						    <td> 40.9x27.3 </td>
						    <td> 40.9x24.2 </td>
						    <td> 31.8x31.8 </td>
						  </tr>
						  <tr>
						    <td> 8 </td>
						    <td> 45.5x37.9 </td>
						    <td> 45.5x33.4 </td>
						    <td> 45.5x27.3 </td>
						    <td> 37.9x37.9 </td>
						  </tr>
						  <tr>
						    <td> 10 </td>
						    <td> 53.0x45.0 </td>
						    <td> 53.0x40.9 </td>
						    <td> 53.0x33.4 </td>
						    <td> 45.0x45.0 </td>
						  </tr>
						  <tr>
						    <td> 12 </td>
						    <td> 60.6x50.0 </td>
						    <td> 60.6x45.5 </td>
						    <td> 60.6x40.9 </td>
						    <td> 50.0x50.5 </td>
						  </tr>
						  <tr>
						    <td> 15 </td>
						    <td> 65.1x53.0 </td>
						    <td> 65.1x50.5 </td>
						    <td> 65.1x45.5 </td>
						    <td> 53.0x53.0 </td>
						  </tr>
						  <tr>
						    <td> 20 </td>
						    <td> 72.7x60.6 </td>
						    <td> 72.7x53.0 </td>
						    <td> 72.7x50.0 </td>
						    <td> 60.6x60.6 </td>
						  </tr>
						  <tr>
						    <td> 25 </td>
						    <td> 80.3x65.1 </td>
						    <td> 80.3x60.6 </td>
						    <td> 80.3x53.0 </td>
						    <td> 65.1x65.1 </td>
						  </tr>
						  <tr>
						    <td> 30 </td>
						    <td> 90.9x72.7 </td>
						    <td> 90.9x65.1 </td>
						    <td> 90.9x60.6 </td>
						    <td> 72.7x72.7 </td>
						  </tr>
						  <tr>
						    <td> 40 </td>
						    <td> 100.0x80.3 </td>
						    <td> 100.0x72.7 </td>
						    <td> 100.0x65.1 </td>
						    <td> 80.3x80.3 </td>
						  </tr>
						  <tr>
						    <td> 50 </td>
						    <td> 116.8x91.0 </td>
						    <td> 116.8x80.3 </td>
						    <td> 116.8x72.7 </td>
						    <td> 91.0x91.0 </td>
						  </tr>
						  <tr>
						    <td> 60 </td>
						    <td> 130.3x97.0 </td>
						    <td> 130.3x89.4 </td>
						    <td> 130.3x80.3 </td>
						    <td> 97.0x97.0 </td>
						  </tr>
						  <tr>
						    <td> 80 </td>
						    <td> 145.5x112.1 </td>
						    <td> 145.5x97.0 </td>
						    <td> 145.5x89.4 </td>
						    <td> 112.1x112.1 </td>
						  </tr>
						  <tr>
						    <td> 100 </td>
						    <td> 162.2x130.3 </td>
						    <td> 162.2x112.1 </td>
						    <td> 162.2x97.0 </td>
						    <td> 130.3x130.3 </td>
						  </tr>
						  <tr>
						    <td> 120 </td>
						    <td> 193.9x130.3 </td>
						    <td> 193.9x112.1 </td>
						    <td> 193.9x97.0 </td>
						    <td> - </td>
						  </tr>
						  <tr>
						    <td> 150 </td>
						    <td> 227.3x181.8 </td>
						    <td> 227.3x162.1 </td>
						    <td> 227.3x145.5 </td>
						    <td> 181.8x181.8 </td>
						  </tr>
						  <tr>
						    <td> 200 </td>
						    <td> 259.1x193.9 </td>
						    <td> 259.1x181.9 </td>
						    <td> 259.1x162.1 </td>
						    <td> 193.9x193.9 </td>
						  </tr>
						  <tr>
						    <td> 300 </td>
						    <td> 290.9x218.2 </td>
						    <td> 290.9x197.0 </td>
						    <td> 290.9x181.8 </td>
						    <td> 218.2x218.2 </td>
						  </tr>
						  <tr>
						    <td> 500 </td>
						    <td> 333.3x248.5 </td>
						    <td> 333.3x218.2 </td>
						    <td> 333.3x197.0 </td>
						    <td> 248.5x248.5 </td>
						  </tr>
						</table>

					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">      
 
 var delay = 300;
 var timer = null;

 //Javascript
//  window.addEventListener('resize', function(){
//  	clearTimeout(timer);
//  	timer = setTimeout(function(){
//  		document.location.reload();
//  	}, delay);
//  });

 //jQuery
//  $(window).on('resize', function(){
//  	clearTimeout(timer);
//  	timer = setTimeout(function(){
//  		document.location.reload();
//  	}, delay);
//  });
 
 $('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
    // The event won't be propagated up to the document NODE and 
    // therefore delegated events won't be fired
    event.stopPropagation();
});
 
$(function() {
	if(sMbrSqVal == null || sMbrSqVal == ""){
		modalAlertShow("잘못된 접근입니다. 메인페이지로 이동합니다.", "main");
	}
});

$(document).on("change", ".upload-hidden", function(e){
	readImg(e.target, e.target.id);
});

$("#workGrtUrl").change(function(){
	//파일 경로.
	var filePath = this.value;
	//전체경로를 \ 나눔.
	var filePathSplit = filePath.split('\\'); 
	//전체경로를 \로 나눈 길이.
	var filePathLength = filePathSplit.length;
	var fileName = filePathSplit[filePathLength-1];
	//마지막 경로를 .으로 나눔.
	//var fileNameSplit = filePathSplit[filePathLength-1].split('.');
	//파일명 : .으로 나눈 앞부분
	//var fileName = fileNameSplit[0];
	//파일 확장자 : .으로 나눈 뒷부분
	//var fileExt = fileNameSplit[1];
	//파일 크기
	//var fileSize = file.files[0].size;
	$("#workGrtUrl1").val(fileName);
});
function autoLake(){
	var width = $("#workSizeWidth").val();
	var depth = $("#workSizeDepth").val();
	var lake = "";
	if(width != null && width != "" && depth != null && depth != ""){
		if(width <= 18.0 && depth <= 14.0 && width > 0 && depth > 0){
			lake = 0;
		}
		if(width <= 22.7 && depth <= 15.8 && width > 18.0 && depth > 14.0){
			lake = 1;
		}
		if(width <= 25.8 && depth <= 17.9 && width > 22.7 && depth > 15.8){
			lake = 2;
		}
		if(width <= 27.3 && depth <= 22.0 && width > 25.8 && depth > 17.9){
			lake = 3;
		}
		if(width <= 33.4 && depth <= 24.2 && width > 27.3 && depth > 22.0){
			lake = 4;
		}
		if(width <= 34.8 && depth <= 27.3 && width > 33.4 && depth > 24.2){
			lake = 5;
		}
		if(width <= 40.9 && depth <= 31.8 && width > 34.8 && depth > 27.3){
			lake = 6;
		}
		if(width <= 45.5 && depth <= 37.9 && width > 40.9 && depth > 31.8){
			lake = 8;
		}
		if(width <= 53.0 && depth <= 45.0 && width > 45.5 && depth > 37.9){
			lake = 10;
		}
		if(width <= 60.6 && depth <= 50.0 && width > 53.0 && depth > 45.0){
			lake = 12;
		}
		if(width <= 65.1 && depth <= 53.0 && width > 60.6 && depth > 50.0){
			lake = 15;
		}
		if(width <= 72.7 && depth <= 60.6 && width > 65.1 && depth > 53.0){
			lake = 20;
		}
		if(width <= 80.3 && depth <= 65.1 && width > 72.7 && depth > 60.6){
			lake = 25;
		}
		if(width <= 90.9 && depth <= 72.7 && width > 80.3 && depth > 65.1){
			lake = 30;
		}
		if(width <= 100.0 && depth <= 80.3 && width > 90.9 && depth > 72.7){
			lake = 40;
		}
		if(width <= 116.8 && depth <= 91.0 && width > 100.0 && depth > 80.3){
			lake = 50;
		}
		if(width <= 100.0 && depth <= 80.3 && width > 116.8 && depth > 91.0){
			lake = 40;
		}
		if(width <= 116.8 && depth <= 91.0 && width > 100.0 && depth > 80.3){
			lake = 50;
		}
		if(width <= 130.3 && depth <= 97.0 && width > 116.8 && depth > 91.0){
			lake = 60;
		}
		if(width <= 145.5 && depth <= 112.1 && width > 130.3 && depth > 97.0){
			lake = 80;
		}
		if(width <= 162.2 && depth <= 130.3 && width > 145.5 && depth > 112.1){
			lake = 100;
		}
		if(width <= 193.9 && depth <= 130.3 && width > 162.2 && depth > 130.3){
			lake = 120;
		}
		if(width <= 227.3 && depth <= 181.8 && width > 193.9 && depth > 130.3){
			lake = 150;
		}
		if(width <= 259.1 && depth <= 193.9 && width > 227.3 && depth > 181.8){
			lake = 200;
		}
		if(width <= 290.9 && depth <= 218.2 && width > 259.1 && depth > 193.9){
			lake = 300;
		}
		if(width <= 333.3 && depth <= 248.5 && width > 290.9 && depth > 218.2){
			lake = 500;
		}
		$("#workLake").html("<br/>"+lake+"호 입니다.");
		work.workLake = lake;
		
	}else{
		$("#workLake").html("<br/>작품 사이즈를 입력하시면 호수가 자동으로 계산됩니다.");
		work.workLake = "";
	}
}
function openLakeHelp(){
	$('body').css("overflow", "hidden");
	$('#lakeHelpModal').modal({backdrop: 'static', keyboard: false})  
	$("#lakeHelpModal").modal("show");
}
function closeLakeHelp(){
	$('body').css("overflow", "scroll");
	$("#lakeHelpModal").modal("hide");
}
function readImg(input, imgId){
    // 인풋 태그에 파일이 있는 경우
    if(input.files && input.files[0]) {
        // 이미지 파일인지 검사 (생략)
        const reader = new FileReader()
        // 이미지가 로드가 된 경우
        reader.onload = function (e){
            const previewImage = document.getElementById(imgId+1);
            previewImage.src = e.target.result;
        }
        // reader가 이미지 읽도록 하기
        reader.readAsDataURL(input.files[0]);
    }
}

var work = new Object();
var storage = new Object();
work.workTypCd = 'COLL';
$(function() {   
	if(sessionStorage.getItem("work") != null){
		modalConfirm("임시저장된 작품 정보가 있습니다. <br/> 임시저장된 작품 정보를 불러오시겠습니까?", 
			function(confirm){
				if(confirm){
					storage = JSON.parse(sessionStorage.getItem("work"));
					$("#artstActvtyNm").val(storage.artstActvtyNm);
					$("#artstBirthYear").val(storage.artstBirthYear);
					$("#artstYod").val(storage.artstYod);
					$("#workNm").val(storage.workNm);
					$('input:radio[name="workFrmYn"][value="'+storage.workFrmYn+'"]').prop('checked', true);
					$('input:radio[name="workSaleYn"][value="'+storage.workSaleYn+'"]').prop('checked', true);
					$('input:radio[name="workClrCd"][value="'+storage.workClrCd+'"]').prop('checked', true);
					$('input:radio[name="workShpCd"][value="'+storage.workShpCd+'"]').prop('checked', true);
					//작품 구분 체크하기
					if(storage.workClsfcCd != null && storage.workClsfcCd != ""){
						var workClsfcds = storage.workClsfcCd.split(",");
						for(var i in workClsfcds){
							document.querySelectorAll('input[name=workClsfcCd]').forEach((el) => {
								if(el.value == workClsfcds[i]){
									el.checked = true;
								}
							});
						}
					}
					$("#workState").val(storage.workState);
					$("#workPrc").val(storage.workPrc);
					$("#workSizeWidth").val(storage.workSizeWidth);
					$("#workSizeDepth").val(storage.workSizeDepth);
					$("#workMatrl").val(storage.workMatrl);
					$("#workProdcYear").val(storage.workProdcYear);
					$("#workVideoUrl").val(storage.workVideoUrl);
					$("#workIntrdc").val(storage.workIntrdc);
					$("#keywrd").val(storage.keywrd);
					$('input:radio[name="workClrCd"][value="'+storage.workSaleYn+'"]').prop('checked', true);
				}
		});
	}
});

function collectionReg(){

	if(checkValid()){
		work.mbrSq = sMbrSqVal;
		work.artstBirthYear = $("#artstBirthYear").val();
		work.artstYod = $("#artstYod").val();
		work.workPrc = $("#workPrc").val().replaceAll(/,/g, '');
		work.workSizeWidth = $("#workSizeWidth").val();
		work.workSizeDepth = $("#workSizeDepth").val();
		work.workMatrl = $("#workMatrl").val();
		work.workProdcYear = $("#workProdcYear").val();
		work.workVideoUrl = $("#workVideoUrl").val();
		work.workIntrdc = $("#workIntrdc").val();
		work.keywrd = $("#keywrd").val();
		work.workLake = $("#workLake").val();
		work.workState = $("#workState").val();
		
		//공개여부
		work.workOpenYn = $('input[name=workOpenYn]:checked').val();
		
		const formData = new FormData();
		//작품 사진 전면
		const workImgFrtUrl = document.getElementById("workImgFrtUrl");
		if(workImgFrtUrl.files[0] == null && $("#workImgFrtUrl1").attr("src") != null){
			work.workImgFrtUrl = $("#workImgFrtUrl1").attr("src");
		}else{
			if(workImgFrtUrl.files[0] != null){
				formData.append("workImgFrtUrl", workImgFrtUrl.files[0]);
			}
		}
		//작품 대표 사진
		const workMainImgUrl = document.getElementById("workMainImgUrl");
		if(workMainImgUrl.files[0] == null && $("#workMainImgUrl1").attr("src") != null){
			work.workMainImgUrl = $("#workMainImgUrl1").attr("src");
		}else{
			if(workMainImgUrl.files[0] != null){
				formData.append("workMainImgUrl", workMainImgUrl.files[0]);
			}
		}
		//작품 사진 후면
		const workImgRerUrl = document.getElementById("workImgRerUrl");
		if(workImgRerUrl.files[0] == null && $("#workImgRerUrl1").attr("src") != null){
			work.workImgRerUrl = $("#workImgRerUrl1").attr("src");
		}else{
			if(workImgRerUrl.files[0] != null){
				formData.append("workImgRerUrl", workImgRerUrl.files[0]);
			}
		}
		//보증서
		const workGrtUrl = document.getElementById("workGrtUrl");
		if(workGrtUrl.files[0] == null && $("#workGrtUrl1").val() != null){
			work.workGrtUrl = $("#workGrtUrl1").val();
		}else{
			if(workGrtUrl.files[0] != null){
				formData.append("workGrtUrl", workGrtUrl.files[0]);
			}
		}
		//작품 사진 좌
		const workImgLefUrl = document.getElementById("workImgLefUrl");
		if(workImgLefUrl.files[0] == null && $("#workImgLefUrl1").attr("src") != null){
			work.workImgLefUrl = $("#workImgLefUrl1").attr("src");
		}else{
			if(workImgLefUrl.files[0] != null){
				formData.append("workImgLefUrl", workImgLefUrl.files[0]);
			}
		}
		//작품 사진 우
		const workImgRitUrl = document.getElementById("workImgRitUrl");
		if(workImgRitUrl.files[0] == null && $("#workImgRitUrl1").attr("src") != null){
			work.workImgRitUrl = $("#workImgRitUrl1").attr("src");
		}else{
			if(workImgRitUrl.files[0] != null){
				formData.append("workImgRitUrl", workImgRitUrl.files[0]);
			}
		}
		//작품 사진 상
		const workImgTopUrl = document.getElementById("workImgTopUrl");
		if(workImgTopUrl.files[0] == null && $("#workImgTopUrl1").attr("src") != null){
			work.workImgTopUrl = $("#workImgTopUrl1").attr("src");
		}else{
			if(workImgTopUrl.files[0] != null){
				formData.append("workImgTopUrl", workImgTopUrl.files[0]);
			}
		}
		//작품 사진 하
		const workImgBotUrl = document.getElementById("workImgBotUrl");
		if(workImgBotUrl.files[0] == null && $("#workImgBotUrl1").attr("src") != null){
			work.workImgBotUrl = $("#workImgBotUrl1").attr("src");
		}else{
			if(workImgBotUrl.files[0] != null){
				formData.append("workImgBotUrl", workImgBotUrl.files[0]);
			}
		}
	    formData.append("work", new Blob([JSON.stringify(work)], {type: "application/json"}));
	
	    
	    modalConfirm("딜링아트 내 검색/노출 될 수 있지만 소유자의 계정 또는 콜렉터명이 노출되지 않습니다. \n등록하시겠습니까?", 

    		function(confirm){
    			if(confirm){
    				$.ajax({
    			        type: "post",
    			        url: "/collectionReg",
    			        data: formData,
    			        contentType : false,
    			        processData : false,
    			        success: function(data) {
    			        	/* if(data != 0 || data != null || data != ""){
    			        		modalAlertShow("성공적으로 저장되었습니다.", "myCollection");
      			        	} */
    			        	
    			        	if(data == 1 ){
    			        		modalAlertShow("성공적으로 저장되었습니다.", "myCollection");
      			        	} else {
      			        		modalAlertShow("소장품 등록에 실패했습니다. 다시 한번 등록해 주세요!!", "myCollection");
      			        	}
    			        	
    			        },
    			        error: function(error) {
    			            alert("오류 발생" + error);
    			        }
    				});
    			}
    	});
	
	}

}

function checkValid(){

	if($("#artstActvtyNm").val() != null && $("#artstActvtyNm").val() != ""){
		work.artstActvtyNm = $("#artstActvtyNm").val();
	}else{
		modalAlertShow("작가명이 입력되지 않았습니다!", "artstActvtyNm");
		return false;
	}
	
	if($("#workNm").val() != null && $("#workNm").val() != ""){
		work.workNm = $("#workNm").val();
	}else{
		modalAlertShow("작품명이 입력되지 않았습니다!", "workNm");
		return false;
	}
	
	/* if(document.getElementById("workMainImgUrl1").src == null || document.getElementById("workMainImgUrl1").src == ""){
		modalAlertShow("작품 대표 사진이 업로드되지 않았습니다!", "workMainImgUrl");
		return false;
	} */
	
	if(document.getElementById("workImgFrtUrl1").src == null || document.getElementById("workImgFrtUrl1").src == ""){
		modalAlertShow("작품 전면 사진이 업로드되지 않았습니다!", "workImgFrtUrl");
		return false;
	}
	
	/* if(document.getElementById("workImgRerUrl1").src == null || document.getElementById("workImgRerUrl1").src == ""){
		modalAlertShow("작품 후면 사진이 업로드되지 않았습니다!", "workImgRerUrl");
		return false;
	} */
	
	if($('input:radio[name=workFrmYn]').is(':checked')){
		work.workFrmYn = $('input[name=workFrmYn]:checked').val();
	}else{
		modalAlertShow("액자 유무가 선택되지 않았습니다!", "w1");	
		return false;
	}
	
	if($('input:radio[name=workClrCd]').is(':checked')){
		work.workClrCd = $('input[name=workClrCd]:checked').val();
	}else{
		modalAlertShow("메인 컬러가 선택되지 않았습니다!", "mc-1");	
		return false;
	}
	
	if($('input:radio[name=workShpCd]').is(':checked')){
		work.workShpCd = $('input[name=workShpCd]:checked').val();
	}else{
		modalAlertShow("작품 형태가 선택되지 않았습니다!", "z1");	
		return false;
	}
	
	var workClsfcCdCheckYn = false;
	document.querySelectorAll('input[name=workClsfcCd]').forEach((el) => {
		if(el.checked == true){
			workClsfcCdCheckYn = true;
		} 
	});
	if(!workClsfcCdCheckYn){
		modalAlertShow("작품 구분이 선택되지 않았습니다!", "z11");	
		return false;
	}
	
	//이미지 용량 확인 체크 시작
	if($("#workMainImgUrl").val() != ""){	
		var maxSize = 5 * 1024 * 1024; // 5MB
		var fileSize = $("#workMainImgUrl")[0].files[0].size;

		if(fileSize > maxSize){
			modalAlertShow("작품 대표 사진의 용량이 5MB가 넘습니다. 5MB이상은 첨부파일을 올릴 수 없습니다.", "workMainImgUrl");
			return false;
		}
	}else if($("#workImgFrtUrl").val() != ""){	
		var maxSize = 5 * 1024 * 1024; // 5MB
		var fileSize = $("#workImgFrtUrl")[0].files[0].size;

		if(fileSize > maxSize){
			modalAlertShow("작품 사진(전면)의 용량이 5MB가 넘습니다. 5MB이상은 첨부파일을 올릴 수 없습니다.", "workImgFrtUrl");
			return false;
		}
	}else if($("#workImgRerUrl").val() != ""){	
		var maxSize = 5 * 1024 * 1024; // 5MB
		var fileSize = $("#workImgRerUrl")[0].files[0].size;

		if(fileSize > maxSize){
			modalAlertShow("작품 사진(후면)의 용량이 5MB가 넘습니다. 5MB이상은 첨부파일을 올릴 수 없습니다.", "workImgRerUrl");
			return false;
		}
	}else if($("#workGrtUrl").val() != ""){	
		var maxSize = 5 * 1024 * 1024; // 5MB
		var fileSize = $("#workGrtUrl")[0].files[0].size;

		if(fileSize > maxSize){
			modalAlertShow("보증서의 용량이 5MB가 넘습니다. 5MB이상은 첨부파일을 올릴 수 없습니다.", "workGrtUrl");
			return false;
		}
	}else if($("#workImgLefUrl").val() != ""){	
		var maxSize = 5 * 1024 * 1024; // 5MB
		var fileSize = $("#workImgLefUrl")[0].files[0].size;

		if(fileSize > maxSize){
			modalAlertShow("작품 사진(좌)의 용량이 5MB가 넘습니다. 5MB이상은 첨부파일을 올릴 수 없습니다.", "workImgLefUrl");
			return false;
		}
	}else if($("#workImgRitUrl").val() != ""){	
		var maxSize = 5 * 1024 * 1024; // 5MB
		var fileSize = $("#workImgRitUrl")[0].files[0].size;

		if(fileSize > maxSize){
			modalAlertShow("작품 사진(우)의 용량이 5MB가 넘습니다. 5MB이상은 첨부파일을 올릴 수 없습니다.", "workImgRitUrl");
			return false;
		}
	}else if($("#workImgTopUrl").val() != ""){	
		var maxSize = 5 * 1024 * 1024; // 5MB
		var fileSize = $("#workImgTopUrl")[0].files[0].size;

		if(fileSize > maxSize){
			modalAlertShow("작품 사진(상)의 용량이 5MB가 넘습니다. 5MB이상은 첨부파일을 올릴 수 없습니다.", "workImgTopUrl");
			return false;
		}
	}else if($("#workImgBotUrl").val() != ""){	
		var maxSize = 5 * 1024 * 1024; // 5MB
		var fileSize = $("#workImgBotUrl")[0].files[0].size;

		if(fileSize > maxSize){
			modalAlertShow("작품 사진(하)의 용량이 5MB가 넘습니다. 5MB이상은 첨부파일을 올릴 수 없습니다.", "workImgBotUrl");
			return false;
		}
	}
	//이미지 용량 확인 체크 끝
	
	return true;
}

function collectionStorage(){
	modalConfirm("임시저장시 파일은 저장되지 않습니다. 임시저장하시겠습니까?", 
		function(confirm){
			if(confirm){
				sessionStorage.setItem("work", JSON.stringify({
																artstSq : work.artstSq,
																artstActvtyNm : $("#artstActvtyNm").val(),
																artstEnglsNm : work.artstEnglsNm,
																artstBirthYear : $("#artstBirthYear").val(),
																artstYod : $("#artstYod").val(),
																workNm : $("#workNm").val(),
																workFrmYn : $('input[name=workFrmYn]:checked').val(),
																workSaleYn : $('input[name=workSaleYn]:checked').val(),
																workClrCd : $('input[name=workClrCd]:checked').val(),
																workShpCd : $('input[name=workShpCd]:checked').val(),
																workClsfcCd : result.workClsfcCd,
																workState : $("#workState").val(),
																workPrc : $("#workPrc").val(),
																workSizeWidth : $("#workSizeWidth").val(),
																workSizeDepth : $("#workSizeDepth").val(),
																workMatrl : $("#workMatrl").val(),
																workProdcYear : $("#workProdcYear").val(),
																workVideoUrl : $("#workVideoUrl").val(),
																workIntrdc : $("#workIntrdc").val(),
																keywrd : $("#keywrd").val(),
																}));
				modalAlertShow("임시 저장 되었습니다.", "reload");
			}
	});
}
//작품 구분 체크하면 체크한 값을 가져온다
function workClsfcCdCheck(){
	work.workClsfcCd = "";
	document.querySelectorAll('input[name=workClsfcCd]:checked').forEach((el) => {
		work.workClsfcCd += el.value + ",";
	});
	work.workClsfcCd = work.workClsfcCd.slice(0, -1);
} 
//키워드 입력시 공백제거하고 키워드 값을 가져온다
function keywrdSet(obj){
	var str_space = /\s/;           
    if(str_space.exec(obj.value) || obj.value == null || obj.value == "") {   
        obj.value = obj.value.replaceAll(' ',''); // 공백제거
    }
	var keywrdList = obj.value.split(',');
	var keywrdHtml = '';
	for(var i=0; i<keywrdList.length; i++){
		keywrdHtml += '<div id="keywrd'+i+'"><span>'+keywrdList[i]+'</span><img src="resources/img/mypage/icon-x.png" class="keywrdList" keywrdSq="'+i+'" value="'+keywrdList[i]+'"/></div>';
	}
	$(".key-box").empty();
	$(".key-box").append(keywrdHtml).trigger("create");
}
//키워드 옆에 X 버튼 누르면 해당 키워드가 지워진다
$(document).on("click", ".keywrdList", function(){
	var keywrdId = document.getElementById("keywrd"+$(this).attr("keywrdSq"));
	keywrdId.remove();
	var keywrdValue = $(this).attr("value");
	var keywrd = $("#keywrd").val().replaceAll(keywrdValue, '');
	$("#keywrd").val(keywrd.substring(0, keywrd.length - 1));
});

function searchArtst(){
	var searchKeyword = $("#txt_searchArtst").val();
	var wordLength = $("#txt_searchArtst").val().trim().length;
	if(wordLength > 1){
		$.ajax({
			url:"/searchArtst",
			type:"post",
	      data: {
	      	searchKeyword : searchKeyword
	      },
			success: function(data){
				$("#ul_searchArtst").empty();
				var result = data.result;
				var html = '';
				for(var i=0; i<result.length; i++){
					html += '<li artstSq="'+result[i].artstSq+'" artstActvtyNm="'+result[i].artstActvtyNm+'" artstEnglsNm="'+result[i].artstEnglsNm+'" artstBirthYear="'+result[i].artstBirthYear+'" artstYod="'+result[i].artstYod+'" onclick="selectArtst(this)" style="cursor:pointer;">';
					html += '	<div class="collsearch">';
					html += '		<div class="collsear-img"><img src="'+result[i].artstProfileImgUrl+'" class="colls-i2" /></div>';
					html += '		<div class="collsear-text">';
					if(result[i].artstEnglsNm != null && result[i].artstEnglsNm != ""){
						if(result[i].artstYod != null && result[i].artstYod != ""){
							html += '			<h2>'+result[i].artstActvtyNm+'('+result[i].artstEnglsNm+') / '+result[i].artstBirthYear+'~'+result[i].artstYod+'</h2>';
						}else{
							html += '			<h2>'+result[i].artstActvtyNm+'('+result[i].artstEnglsNm+') / '+result[i].artstBirthYear+'</h2>';
						}
					}else{
						if(result[i].artstYod != null && result[i].artstYod != ""){
							html += '			<h2>'+result[i].artstActvtyNm+' / '+result[i].artstBirthYear+' ~ '+result[i].artstYod+'</h2>';
						}else{
							html += '			<h2>'+result[i].artstActvtyNm+' / '+result[i].artstBirthYear+'</h2>';
						}
					}
					if(result[i].artstSelfIntro != null && result[i].artstSelfIntro != ""){
						html += '			<p>'+result[i].artstSelfIntro+'</p>';
					}else{
						html += '			<p>작가 소개가 없습니다.</p>';
					}
					html += '		</div>';
					html += '	</div>';
					html += '</li>';
				}
				$("#ul_searchArtst").append(html).trigger("create");
			},
			error: function(error) {
	            alert("오류 발생" + error);
	        }
		}); 
	}else{
		$("#ul_searchArtst").empty();
	}
}

function selectArtst(obj){
	$("#artstActvtyNm").val("");
	$("#artstBirthYear").val("");
	$("#artstYod").val("");
	
	var artstActvtyNm = obj.attributes.artstActvtyNm.value;
	var artstBirthYear = obj.attributes.artstBirthYear.value;
	var artstYod = obj.attributes.artstYod.value;
	
	work.artstEnglsNm = obj.attributes.artstEnglsNm.value;
	work.artstSq = obj.attributes.artstSq.value;
	
	$("#artstActvtyNm").val(artstActvtyNm);
	$("#artstBirthYear").val(artstBirthYear);
	if(artstYod != "" && artstYod != "null" && artstYod != null){
		$("#artstYod").val(artstYod);
	}
	
	$("#searchArtstModal").modal("hide");
}

function searchWork(){
	var searchKeyword = $("#txt_searchWork").val();
	$.ajax({
		url:"/searchWork",
		type:"post",
      data: {
      	searchKeyword : searchKeyword
      },
		success: function(data){
			$("#ul_searchWork").empty();
			var result = data.result;
			var html = '';
			for(var i=0; i<result.length; i++){
				html += '<li workSq="'+result[i].workSq+'" onclick="selectWork(this)" style="cursor:pointer;">';
				html += '	<div class="collsearch">';
				html += '		<div class="collsear-img"><img src="'+result[i].workMainImgUrl+'" class="colls-i2" /></div>';
				html += '		<div class="collsear-text">';
				if(result[i].workProdcYear != null && result[i].workProdcYear != ""){
					html += '			<h2>'+result[i].workNm+'('+result[i].workProdcYear+')</h2>';
				}else{
					html += '			<h2>'+result[i].workNm+'</h2>';
				}
				if(result[i].artstEnglsNm != null && result[i].artstEnglsNm != ""){
					if(result[i].artstYod != null && result[i].artstYod != ""){
						html += '			<h3>'+result[i].artstActvtyNm+'('+result[i].artstEnglsNm+') / '+result[i].artstBirthYear+' ~ '+result[i].artstYod+'</h3>';
					}else{
						html += '			<h3>'+result[i].artstActvtyNm+'('+result[i].artstEnglsNm+') / '+result[i].artstBirthYear+'</h3>';
					}
				}else{
					if(result[i].artstYod != null && result[i].artstYod != ""){
						html += '			<h3>'+result[i].artstActvtyNm+' / '+result[i].artstBirthYear+' ~ '+result[i].artstYod+'</h3>';
					}else{
						html += '			<h3>'+result[i].artstActvtyNm+' / '+result[i].artstBirthYear+'</h3>';
					}
				}
				
				if(result[i].workIntrdc == null || result[i].workIntrdc == ""){
					html += '			<p>작품 소개가 없습니다.</p>';
				}else{
					html += '			<p>'+result[i].workIntrdc+'</p>';
				}
				html += '		</div>';
				html += '	</div>';
				html += '</li>';
			}
			$("#ul_searchWork").append(html).trigger("create");
		},
		error: function(error) {
            alert("오류 발생" + error);
        }
	}); 
}

function selectWork(obj){
	$("#searchWorkModal").modal("hide");
	var workSq = obj.attributes.workSq.value;
	$.ajax({
		url:"/selectWork",
		type:"post",
      data: {
      	workSq : workSq
      },
		success: function(data){
			$("#form")[0].reset();
			$("#workMainImgUrl1").attr("src", "");
			$("#workImgFrtUrl1").attr("src", "");
			$("#workImgRerUrl1").attr("src", "");
			$("#workImgLefUrl1").attr("src", "");
			$("#workImgRitUrl1").attr("src", "");
			$("#workImgTopUrl1").attr("src", "");
			$("#workImgTopUrl1").attr("src", "");
			
			var result = data.result;
			work.artstSq = result.artstSq;
			work.artstEnglsNm = result.artstEnglsNm;
			$("#artstActvtyNm").val(result.artstActvtyNm);
			$("#artstBirthYear").val(result.artstBirthYear);
			$("#artstYod").val(result.artstYod);
			$("#workNm").val(result.workNm);
			$('input:radio[name="workFrmYn"][value="'+result.workFrmYn+'"]').prop('checked', true);
			$('input:radio[name="workSaleYn"][value="'+result.workSaleYn+'"]').prop('checked', true);
			$('input:radio[name="workClrCd"][value="'+result.workClrCd+'"]').prop('checked', true);
			$('input:radio[name="workShpCd"][value="'+result.workShpCd+'"]').prop('checked', true);
			//작품 구분 체크하기
			if(result.workClsfcCd != null && result.workClsfcCd != ""){
				var workClsfcds = result.workClsfcCd.split(",");
				for(var i in workClsfcds){
					document.querySelectorAll('input[name=workClsfcCd]').forEach((el) => {
						if(el.value == workClsfcds[i]){
							el.checked = true;
						}
					});
				}
			}
			$("#workPrc").val(result.workPrc);
			$("#workSizeWidth").val(result.workSizeWidth);
			$("#workSizeDepth").val(result.workSizeDepth);
			$("#workMatrl").val(result.workMatrl);
			$("#workProdcYear").val(result.workProdcYear);
			$("#workVideoUrl").val(result.workVideoUrl);
			$("#workIntrdc").val(result.workIntrdc);
			$("#keywrd").val(result.keywrd);
			$("#workMainImgUrl1").attr("src", result.workMainImgUrl);
			$("#workImgFrtUrl1").attr("src", result.workImgFrtUrl);
			$("#workImgRerUrl1").attr("src", result.workImgRerUrl);
			//$("#workGrtUrl1").val(result.workGrtUrl);
			$("#workImgLefUrl1").attr("src", result.workImgLefUrl);
			$("#workImgRitUrl1").attr("src", result.workImgRitUrl);
			$("#workImgTopUrl1").attr("src", result.workImgTopUrl);
			$("#workImgTopUrl1").attr("src", result.workImgBotUrl);
			$('input:radio[name="workClrCd"][value="'+result.workSaleYn+'"]').prop('checked', true);
			$("#workLake").val(result.workLake);
		},
		error: function(error) {
            alert("오류 발생" + error);
        }
	}); 
}

function workPrcCal(obj){
	obj.value = obj.value.replace(/[^0-9]/g,'');   // 입력값이 숫자가 아니면 공백
	obj.value = obj.value.replace(/,/g,'');          // ,값 공백처리
    obj.value = obj.value.replace(/\B(?=(\d{3})+(?!\d))/g, ","); // 정규식을 이용해서 3자리 마다 , 추가 	
}

$(window).on("resize", function () {
    if(window.matchMedia('(min-width: 1537px)').matches)
    {
    	
    	var swiper = new Swiper(".mySwiper2", {
	          slidesPerView: 4,
	          spaceBetween: 30,
	          slidesPerGroup: 1,
	          loop: true,
	          loopFillGroupWithBlank: true,
	       	  /* autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          }, */
	          pagination: {
	            el: ".swiper-pagination",
	            clickable: true,
	          },
	          navigation: {
	            nextEl: ".swiper-button-next",
	            prevEl: ".swiper-button-prev",
	          },
	        });
    	
    	  
    	  
    	
    	
    }  else if(window.matchMedia('(min-width: 751px)').matches) {
    	
    	var swiper = new Swiper(".mySwiper2", {
	          slidesPerView: 3,
	          spaceBetween: 30,
	          slidesPerGroup: 1,
	          loop: true,
	          loopFillGroupWithBlank: true,
	       /* autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          }, */
	          pagination: {
	            el: ".swiper-pagination",
	            clickable: true,
	          },
	          navigation: {
	            nextEl: ".swiper-button-next",
	            prevEl: ".swiper-button-prev",
	          },
	     });
    	
    	
    	
     } else {
    	var swiper = new Swiper(".mySwiper2", {
	          slidesPerView: 2,
	       	  spaceBetween: 30,
	          slidesPerGroup: 1,
	          loop: true,
	          loopFillGroupWithBlank: true,
	       /* autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          }, */
	          pagination: {
	            el: ".swiper-pagination",
	            clickable: true,
	          },
	          navigation: {
	            nextEl: ".swiper-button-next",
	            prevEl: ".swiper-button-prev",
	          },
	     });
    	
     };
}).resize();
 
 
 
 $(document).ready(function () {
  $(".elm").hover(
	function(){ $(this).addClass('hover') },
    function(){ $(this).removeClass('hover') }
  )
  $(".cn-b").hover(
	function(){ $(this).addClass('gis') },
    function(){ $(this).removeClass('gis') }
  )
 });
 
 /* 메뉴바 FIXED */
 if (jQuery(window).width() > 0) {
     jQuery(window).on("scroll",function(ev){
         if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
             jQuery('.head-wrap').addClass('fixed');
         }
         else{
             jQuery('.head-wrap').removeClass('fixed');
         }
         return false;
     });
 }
 
 
 /* jQuery(function($) {

    window.onresize = function(){
      document.location.reload();
    };

}); */

</script>
    
	
	
	
	
</body>

</html>
