<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	@media screen and (min-width: 1px) and (max-width: 1536px){
    		.con-left{display:none}
    	}
    </style>
</head>

<body>
	<div class="wrap">
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
		
		<div class="body-wrap">
			<div class="contents">
				
				<div class="con-wrap">
					
					<th:block th:replace="thymeleaf/myPageLeft :: myPageLeftFragment"></th:block>
					
					<div class="con-right m-max1300">
					
						<div class="me-left me-move">
							<div class="me-sech">
								<div class="is-bos">
									<div class="is-sum">
										<input type="text" id="inp_cuponNum" class="" placeholder="쿠폰입력" />
										<button type="button" onclick="myRegCoupon();" class="">등록</button>
									</div>
								</div>
							</div>
						
							<div class="">
								<ul class="nav nav-pills nav-coupon" id="pills-tab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" onclick="myCouponList(1);">사용 가능</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="myCouponList(2);">사용함 / 기간만료</button>
									</li>
								</ul>
								
								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
										<ul class="coupon-ul" id="myCouponList"></ul>
									</div>
									<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
								</div>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>

<!-- 모달검색 -->
<script type="text/javascript">      
      
 $(document).ready(function () {
  $(".elm").hover(
	function(){ $(this).addClass('hover') },
    function(){ $(this).removeClass('hover') }
  )
  $(".cn-b").hover(
	function(){ $(this).addClass('gis') },
    function(){ $(this).removeClass('gis') }
  )
 });
 
 $(function() {                      
  $(".bab-bo").click(function() { 
    $(this).toggleClass("bashow");     
  });
  
  $(".lg-my").click(function() { 
 	    $('.bg-sh').toggleClass('bg-show');     
 	 	 $('.s-hov').toggleClass('s-hov-show');     
 	  });
  
});
 
 /* 메뉴바 FIXED */
 if (jQuery(window).width() > 0) {
     jQuery(window).on("scroll",function(ev){
         if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
             jQuery('.head-wrap').addClass('fixed');
         }
         else{
             jQuery('.head-wrap').removeClass('fixed');
         }
         return false;
     });
 }
 
 
 /* jQuery(function($) {

    window.onresize = function(){
      document.location.reload();
    };

}); */
 
  
 var delay = 300;
 var timer = null;

 //Javascript
 window.addEventListener('resize', function(){
 	clearTimeout(timer);
 	timer = setTimeout(function(){
 		document.location.reload();
 	}, delay);
 });

 //jQuery
 $(window).on('resize', function(){
 	clearTimeout(timer);
 	timer = setTimeout(function(){
 		document.location.reload();
 	}, delay);
 });
 
 $('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
    // The event won't be propagated up to the document NODE and 
    // therefore delegated events won't be fired
    event.stopPropagation();
});
      
jQuery(document).ready(function() {
	if(sAuthSqVal == 2){
		document.getElementById("portfolio").style.display="";
	}
	$("#conTitle").empty();
	const conBtn = document.getElementById("conBtn");
	conBtn.remove();
	var conTitleHtml = "";
	conTitleHtml += '<h3>My Deal</h3>';
	$("#conTitle").append(conTitleHtml).trigger("create");
	$("#coupon").addClass("active");
	
	myCouponList(1);
});

/* searchCondition
 * 1 : 사용가능
 * 2 : 사용불가
 */
var searchCondition = 1;
function myCouponList(searchCondition){
	
	if(searchCondition == 1){
		$('#pills-home-tab').addClass('active');
		$('#pills-profile-tab').removeClass('active');
	}else if(searchCondition == 2){
		$('#pills-profile-tab').addClass('active');
		$('#pills-home-tab').removeClass('active');
	}

	searchCondition = searchCondition;
	
	$.ajax({
        type: "post",
        url: "/myCouponList",
        data:{
			mbrSq : sMbrSqVal
		},
        success: function(data) {
        	var myCouponList = null;
        	var myCouponListHtml = "";
        	
        	if(data.result != null && data.result.length > 0){
        		myCouponList = data.result;	
        		console.log(data);
        		
        		for(var i=0; i<myCouponList.length; i++){
        			
        			if(searchCondition == 1){
        				if(myCouponList[i].cuponUseYn == 'N' && myCouponList[i].diffDay <= 0){
            				myCouponListHtml += '<li>';
        					myCouponListHtml += '	<div class="coupon-div">';
        					myCouponListHtml += '		<div class="cou-left">';
        					myCouponListHtml += '			<h3>'+ myCouponList[i].cuponNm+'</h3>';
        					myCouponListHtml += '			<h4>'+ myCouponList[i].cuponCntnt+'</h4>';
        					myCouponListHtml += '			<div class="cou-lis">';
        					myCouponListHtml += '				<span class="">'+ myCouponList[i].useStrtDate+' ~ '+ myCouponList[i].useEndDate+'</span>';
        					myCouponListHtml += '				<span class="cou-red">사용기간 '+ Math.abs(myCouponList[i].diffDay) + '일 남음.</span>';
        					myCouponListHtml += '			</div>';
        					myCouponListHtml += '		</div>';
        					myCouponListHtml += '		<div class="cou-right">';
        					myCouponListHtml += '			<p>';
        					myCouponListHtml += '				'+ myCouponList[i].cuponTypNm +'';
        					if(myCouponList[i].discTypCd == "DR"){
        						myCouponListHtml += '				<span>'+ myCouponList[i].cuponDr +'% 할인</span>';
        					}else if(myCouponList[i].discTypCd == "AD"){
        						myCouponListHtml += '				<span>'+ myCouponList[i].cuponDiscAmt.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") +'원 할인</span>';
        					}
        					myCouponListHtml += '			</p>';
        					myCouponListHtml += '		</div>';
        					myCouponListHtml += '	</div>';
        					myCouponListHtml += '</li>';
            			}
        			}else if(searchCondition == 2){
        				if(myCouponList[i].cuponUseYn == 'Y' || myCouponList[i].diffDay > 0){
            				myCouponListHtml += '<li>';
        					myCouponListHtml += '	<div class="coupon-div">';
        					myCouponListHtml += '		<div class="cou-left">';
        					myCouponListHtml += '			<h3>'+ myCouponList[i].cuponNm+'</h3>';
        					myCouponListHtml += '			<h4>'+ myCouponList[i].cuponCntnt+'</h4>';
        					myCouponListHtml += '			<div class="cou-lis">';
        					myCouponListHtml += '				<span class="">'+ myCouponList[i].useStrtDate+' ~ '+ myCouponList[i].useEndDate+'</span>';
        					if(myCouponList[i].cuponUseYn == 'Y'){
        						myCouponListHtml += '				<span class="cou-red">사용완료.</span>';
        					}else{
        						myCouponListHtml += '				<span class="cou-red">사용기간 '+ Math.abs(myCouponList[i].diffDay) + '일 지남.</span>';
        					}
        					myCouponListHtml += '			</div>';
        					myCouponListHtml += '		</div>';
        					myCouponListHtml += '		<div class="cou-right">';
        					myCouponListHtml += '			<p>';
        					myCouponListHtml += '				'+ myCouponList[i].cuponTypNm +'';
        					if(myCouponList[i].discTypCd == "DR"){
        						myCouponListHtml += '				<span>'+ myCouponList[i].cuponDr +'% 할인</span>';
        					}else if(myCouponList[i].discTypCd == "AD"){
        						myCouponListHtml += '				<span>'+ myCouponList[i].cuponDiscAmt.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") +'원 할인</span>';
        					}
        					myCouponListHtml += '			</p>';
        					myCouponListHtml += '		</div>';
        					myCouponListHtml += '	</div>';
        					myCouponListHtml += '</li>';
            			}
        			}
        			
            	}
        		
            	$("#myCouponList").empty();
            	$("#myCouponList").append(myCouponListHtml).trigger("create");
        	}else{
        		modalAlertShow("검색 결과가 없습니다."); 
        		$("#myCouponList").empty();
        	}
        },           
        error: function(error) {
            alert("오류 발생" + error);
        }
	});
}


function myRegCoupon(){
	$.ajax({
        type: "post",
        url: "/myRegCoupon",
        data:{
			mbrSq : sMbrSqVal,
			cuponIdntfctnNum : $("#inp_cuponNum").val()
		},
        success: function(data) {
        	console.log(data);
        	modalAlertShow(data.result.msg);
        	myCouponList(1);
        },           
        error: function(error) {
            alert("오류 발생" + error);
        }
	});
}
</script>
    
	
	
	
	
</body>

</html>
