<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>딜링아트</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta name="description" content="개인간 미술품 거래 마켓플레이스">
	<meta property="og:description" content="개인간 미술품 거래 마켓플레이스">
	<meta property="og:type" content="website">
	<meta property="og:title" content="DeailngArt">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/DA_logo_og.png">
	<meta property="og:url" content="https://www.dealing-art.com">
	
	<!-- google -->
    <meta name="google-site-verification" content="EKiW_Lm3Qw-DYnLT9qokEpZT2Sa8tSQuVWhVEvs4kPk" />
    <!-- faceBook -->
    <meta name="facebook-domain-verification" content="bgotqya9tcsrgrmspnq0uywh85kjzh" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- HTML의 <head> 섹션에 전체 사이트 태그를 복사합니다. -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRJBSR52MT"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WRJBSR52MT');
	</script>
	
	<!-- Google Tag Manager -->
	<!-- 페이지의 <head>에서 가능한 한 높은 위치에 코드를 붙여넣으세요. -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBP5CQ9');</script>
	<!-- End Google Tag Manager -->
			
	<!-- Google Tag Manager (noscript) -->
	<!-- 또한 여는 <body> 태그 바로 뒤에 코드를 붙여넣으세요. -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBP5CQ9"height="0" width="0" style="display:none; visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	
	<!-- 페이스북 Meta Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '5995234030505207');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=5995234030505207&ev=PageView&noscript=1"/></noscript>
    
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	.swi-box::before{background-color:#f9f9f9;}
    	.footer-wrap{margin-top:0;}
    	.hd-div{background-color:#fff;}
    	.swiper-slide{background-color:rgb(255 255 255 / 0%);}
    	@media screen and (min-width: 1px) and (max-width: 1536px){
    	.con-left{display:none}
    	}
    </style>
    
    <link rel="icon" type="image/png" href="resources/img/favicon.png">
    
</head>

<body>
	<div class="wrap">
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
		
		<div class="body-wrap">
			<div class="contents">
				
				<div class="con-wrap">
					
					<th:block th:replace="thymeleaf/myPageLeft :: myPageLeftFragment"></th:block>
					
					<div class="con-right m-max1300">
					
						<div class="me-left me-move">
							<div class="me-sech">
								<div class="is-bos">
									<div class="is-sum">
										<input type="text" id="inp_cuponNum" class="" placeholder="쿠폰입력" />
										<button type="button" onclick="myRegCoupon();" class="">등록</button>
									</div>
								</div>
							</div>
						
							<div class="">
								<ul class="nav nav-pills nav-coupon" id="pills-tab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" onclick="myCouponList(1);">사용 가능</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="myCouponList(2);">사용함 / 기간만료</button>
									</li>
								</ul>
								
								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
										<ul class="coupon-ul" id="myCouponList"></ul>
									</div>
									<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
								</div>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>

<!-- 모달검색 -->
<script type="text/javascript">      
      
 $(document).ready(function () {
  $(".elm").hover(
	function(){ $(this).addClass('hover') },
    function(){ $(this).removeClass('hover') }
  )
  $(".cn-b").hover(
	function(){ $(this).addClass('gis') },
    function(){ $(this).removeClass('gis') }
  )
 });
 
 /* 메뉴바 FIXED */
 if (jQuery(window).width() > 0) {
     jQuery(window).on("scroll",function(ev){
         if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
             jQuery('.head-wrap').addClass('fixed');
         }
         else{
             jQuery('.head-wrap').removeClass('fixed');
         }
         return false;
     });
 }
 
 
 /* jQuery(function($) {

    window.onresize = function(){
      document.location.reload();
    };

}); */
 
  
 var delay = 300;
 var timer = null;

 //Javascript
//  window.addEventListener('resize', function(){
//  	clearTimeout(timer);
//  	timer = setTimeout(function(){
//  		document.location.reload();
//  	}, delay);
//  });

 //jQuery
//  $(window).on('resize', function(){
//  	clearTimeout(timer);
//  	timer = setTimeout(function(){
//  		document.location.reload();
//  	}, delay);
//  });
 
 $('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
    // The event won't be propagated up to the document NODE and 
    // therefore delegated events won't be fired
    event.stopPropagation();
});
      
jQuery(document).ready(function() {
	if(sAuthSqVal == 2){
		document.getElementById("portfolio").style.display="";
	}
	$("#conTitle").empty();
	const conBtn = document.getElementById("conBtn");
	conBtn.remove();
	var conTitleHtml = "";
	conTitleHtml += '<h3>My Deal</h3>';
	$("#conTitle").append(conTitleHtml).trigger("create");
	$("#coupon").addClass("active");
	
	myCouponList(1);
});

/* searchCondition
 * 1 : 사용가능
 * 2 : 사용불가
 */
var searchCondition = 1;
function myCouponList(searchCondition){
	
	//var sMbrSqVal = '330'
	
	if(searchCondition == 1){
		$('#pills-home-tab').addClass('active');
		$('#pills-profile-tab').removeClass('active');
	}else if(searchCondition == 2){
		$('#pills-profile-tab').addClass('active');
		$('#pills-home-tab').removeClass('active');
	}

	searchCondition = searchCondition;
	
	$.ajax({
        type: "post",
        url: "/myCouponList",
        data:{
			mbrSq : sMbrSqVal
		},
        success: function(data) {
        	var myCouponList = null;
        	var myCouponListHtml = "";
        	
        	if(data.result != null && data.result.length > 0){
        		myCouponList = data.result;	
        		console.log(data);
        		
        		for(var i=0; i<myCouponList.length; i++){
        			
        			if(searchCondition == 1){
        				if(myCouponList[i].cuponUseYn == 'N' && myCouponList[i].diffDay <= 0){
            				myCouponListHtml += '<li>';
        					myCouponListHtml += '	<div class="coupon-div">';
        					myCouponListHtml += '		<div class="cou-left">';
        					myCouponListHtml += '			<h3>'+ myCouponList[i].cuponNm+'</h3>';
        					myCouponListHtml += '			<h4>'+ myCouponList[i].cuponCntnt+'</h4>';
        					myCouponListHtml += '			<div class="cou-lis">';
        					myCouponListHtml += '				<span class="">'+ myCouponList[i].useStrtDt+' ~ '+ myCouponList[i].useEndDt+'</span>';
        					myCouponListHtml += '				<span class="cou-red">사용기간 '+ Math.abs(myCouponList[i].diffDay) + '일 남음.</span>';
        					myCouponListHtml += '			</div>';
        					myCouponListHtml += '		</div>';
        					myCouponListHtml += '		<div class="cou-right">';
        					myCouponListHtml += '			<p>';
        					myCouponListHtml += '				'+ myCouponList[i].cuponTypNm +'';
        					if(myCouponList[i].cuponDetailNm != null){
        						myCouponListHtml += '				<br/>('+ myCouponList[i].cuponDetailNm +')';
        					}
        					if(myCouponList[i].discTypCd == "DR"){
        						myCouponListHtml += '				<span>'+ myCouponList[i].cuponDr +'% 할인</span>';
        					}else if(myCouponList[i].discTypCd == "AD"){
        						myCouponListHtml += '				<span>'+ comma(myCouponList[i].cuponDiscAmt) +'원 할인</span>';
        					}
        					myCouponListHtml += '			</p>';
        					myCouponListHtml += '		</div>';
        					myCouponListHtml += '	</div>';
        					myCouponListHtml += '</li>';
            			}
        			}else if(searchCondition == 2){
        				if(myCouponList[i].cuponUseYn == 'Y' || myCouponList[i].diffDay > 0){
            				myCouponListHtml += '<li>';
        					myCouponListHtml += '	<div class="coupon-div">';
        					myCouponListHtml += '		<div class="cou-left">';
        					myCouponListHtml += '			<h3>'+ myCouponList[i].cuponNm+'</h3>';
        					myCouponListHtml += '			<h4>'+ myCouponList[i].cuponCntnt+'</h4>';
        					myCouponListHtml += '			<div class="cou-lis">';
        					myCouponListHtml += '				<span class="">'+ myCouponList[i].useStrtDt+' ~ '+ myCouponList[i].useEndDt+'</span>';
        					if(myCouponList[i].cuponUseYn == 'Y'){
        						myCouponListHtml += '				<span class="cou-red">사용완료.</span>';
        					}else{
        						myCouponListHtml += '				<span class="cou-red">사용기간 '+ Math.abs(myCouponList[i].diffDay) + '일 지남.</span>';
        					}
        					myCouponListHtml += '			</div>';
        					myCouponListHtml += '		</div>';
        					myCouponListHtml += '		<div class="cou-right">';
        					myCouponListHtml += '			<p>';
        					myCouponListHtml += '				'+ myCouponList[i].cuponTypNm +'';
        					if(myCouponList[i].cuponDetailNm != null){
        						myCouponListHtml += '				<br/>('+ myCouponList[i].cuponDetailNm +')';
        					}
        					if(myCouponList[i].discTypCd == "DR"){
        						myCouponListHtml += '				<span>'+ myCouponList[i].cuponDr +'% 할인</span>';
        					}else if(myCouponList[i].discTypCd == "AD"){
        						myCouponListHtml += '				<span>'+ comma(myCouponList[i].cuponDiscAmt) +'원 할인</span>';
        					}
        					myCouponListHtml += '			</p>';
        					myCouponListHtml += '		</div>';
        					myCouponListHtml += '	</div>';
        					myCouponListHtml += '</li>';
            			}
        			}
        			
            	}
        		
            	$("#myCouponList").empty();
            	$("#myCouponList").append(myCouponListHtml).trigger("create");
        	}else{
        		modalAlertShow("검색 결과가 없습니다."); 
        		$("#myCouponList").empty();
        	}
        },           
        error: function(error) {
            alert("오류 발생" + error);
        }
	});
}


function myRegCoupon(){
	var cuponNum = $("#inp_cuponNum").val();
	if(cuponNum == "" || cuponNum == null){
		modalAlertShow("쿠폰 번호가 입력되지 않았습니다.", "inp_cuponNum");
		return;
	}else{
		$.ajax({
	        type: "post",
	        url: "/myRegCoupon",
	        data:{
				mbrSq : sMbrSqVal,
				cuponIdntfctnNum : $("#inp_cuponNum").val()
			},
	        success: function(data) {
	        	console.log(data);
	        	modalAlertShow(data.result.msg);
	        	myCouponList(1);
	        },           
	        error: function(error) {
	            alert("오류 발생" + error);
	        }
		});
	}
}

function comma(str) {
    str = String(str);
    return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
}


</script>
    
	
	
	
	
</body>

</html>
