<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    </style>
</head>

<body>
	<div class="wrap">
	<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
		<div class="body-wrap">
			<div class="contents">
				
				<div class="con-wrap2">
					<div class="con-left2">
						<div class="cont-title4">
							<h3>회원정보 수정</h3>
						</div>
					
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading1">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
											My Deal
										</a>
									</h4>
								</div>
								<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
									<div class="panel-body">
										<ul class="mypage-ul">
											<li><a href="#">거래 내역</a></li>
											<li><a href="#">등급 / 쿠폰 / 포인트</a></li>
											<li><a href="#">문의 내역</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading2">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
											포트폴리오
										</a>
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
									<div class="panel-body">
										<ul class="mypage-ul">
											<li><a href="#">작가 정보</a></li>
											<li><a href="#">나의작품</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading3">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion3" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
											My Gallery
										</a>
									</h4>
								</div>
								<div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
									<div class="panel-body">
										<ul class="mypage-ul">
											<li><a href="#">소장품</a></li>
											<li><a href="#">스크랩</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading3">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion4" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
											설정
										</a>
									</h4>
								</div>
								<div id="collapse4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading4">
									<div class="panel-body">
										<ul class="mypage-ul">
											<li class="active"><a href="#">회원 정보 수정</a></li>
											<li><a href="#">알림 설정</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="con-right2">
					
						<div class="me-center">
							<div class="member-box">
								<div class="input-box input-group">
									<input type="text" class="input-3" placeholder="아이디/이메일" />
									<button type="button" class="group-btn">인증하기</button>
								</div>
								<p class="inp-p">주로 사용하는 이메일을 입력해 주세요. 경매/판매 내역을 발송해 드립니다.</p>
								
								<div class="input-box">
									<input type="text" class="input-3" placeholder="비밀번호" />
									<p class="inp-p">
										영문/숫자/특수문자 2가지 이상 조합 (8~20자)<br/>
										3개 이상 연속되거나 동일한 문자/숫자 제외, 아이디(이메일) 제외
									</p>
								</div>
								<div class="input-box">
									<input type="text" class="input-3" placeholder="비밀번호 확인" />
									<p class="inp-p">확인을 위해 새 비밀번호를 다시 입력해주세요.</p>
								</div>					
								<div class="input-box">
									<input type="text" class="input-3" placeholder="이름" />
								</div>
								<div class="input-box input-group">
									<input type="text" class="input-3" placeholder="휴대폰 번호" />
									<button type="button" class="group-btn">인증하기</button>
								</div>
					
								<div class="bat-box3 mg_t65">
									<button type="button" class="ba-btn1"><span>회원 정보 수정하기</span></button>
								</div>
								
								<div class="mypage-btn">
									<a href="#" class="my-btn">회원탈퇴</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>

<script type="text/javascript">      
$(window).on("resize", function () {
    if(window.matchMedia('(min-width: 1537px)').matches){
  	    document.querySelectorAll(".item").forEach((item) => {
      	     item.style.gridRowEnd = `span ${item.clientHeight + 0}`;
      	  });
  	    
    }else if(window.matchMedia('(min-width: 751px)').matches) {
    	
  	      document.querySelectorAll(".item").forEach((item) => {
      	     item.style.gridRowEnd = `span ${item.clientHeight + 280}`;
      	  });
    	
    }else{
    	var swiper = new Swiper(".mySwiper2", {
          slidesPerView: 1,
          slidesPerGroup: 1,
          loop: true,
          loopFillGroupWithBlank: true,
          pagination: {
            el: ".swiper-pagination",
            clickable: true
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
          }
     });
    	
    	document.querySelectorAll(".item").forEach((item) => {
      	     item.style.gridRowEnd = `span ${item.clientHeight + 150}`;
      	  });
  	  
     }
}).resize();



$(function () {
  $(".elm").hover(
	function(){ $(this).addClass('hover') },
	    function(){ $(this).removeClass('hover') }
	  )
	  $(".cn-b").hover(
	function(){ $(this).addClass('gis') },
	    function(){ $(this).removeClass('gis') }
	  )
});

$(function() {                      
  $(".bab-bo").click(function() { 
    $(this).toggleClass("bashow");     
  });
  
  $(".lg-my").click(function() { 
	    $('.bg-sh').toggleClass('bg-show');     
	 	$('.s-hov').toggleClass('s-hov-show');     
	  });
  
});

$(function() {
	/* 메뉴바 FIXED */
	if (jQuery(window).width() > 0) {
	  jQuery(window).on("scroll",function(ev){
	      if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
	          jQuery('.head-wrap').addClass('fixed');
	      }else{
	          jQuery('.head-wrap').removeClass('fixed');
	      }
	      return false;
	  });
	}
});

/* jQuery(function($) {

    window.onresize = function(){
      document.location.reload();
    };

}); */



var delay = 300;
var timer = null;

//Javascript
window.addEventListener('resize', function(){
	clearTimeout(timer);
	timer = setTimeout(function(){
		document.location.reload();
	}, delay);
});

//jQuery
$(window).on('resize', function(){
	clearTimeout(timer);
	timer = setTimeout(function(){
		document.location.reload();
	}, delay);
});

$('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
    // The event won't be propagated up to the document NODE and 
    // therefore delegated events won't be fired
    event.stopPropagation();
});
</script>
    
	
	
	
	
</body>

</html>
