<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	@media screen and (min-width: 1px) and (max-width: 1536px){
    		.con-left{display:none}
    	}
    </style>
</head>

<body>
	<div class="wrap">
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
		
		<div class="body-wrap">
			<div class="contents">
				
				<div class="con-wrap">
					<th:block th:replace="thymeleaf/myPageLeft :: myPageLeftFragment"></th:block>
					<div class="con-right m-max1300">
					
						<div class="me-left me-move">
							<div class="me-sech">
								<div class="is-bos">
									<div class="is-sum">
										<input type="text" class="" placeholder="작품명, 작가명으로 거래 내역을 검색해 보세요." />
										<button type="button" class="">검색</button>
									</div>
									<button type="button" class="sech-btn">전체</button>
									<button type="button" class="sech-btn">최근 6개월</button>
									<button type="button" class="sech-btn">최근 1년</button>
									<button type="button" class="sech-btn">최근 2년</button>
									<button type="button" class="sech-btn">최근 3년</button>
								</div>
								<div class="is-la">
									<div class="is-label">
										<label>기간선택</label>
										<div class="input-cand"><input type="text" class="" /></div>
										<span class="is-span">~</span> 
										<div class="input-cand"><input type="text" class="" /></div>
										<button type="button" class="sech-btn">조회</button>
									</div>
									
									<div class="selec-box select-s1">
										<select class="selectpicker">
											<option>Mustard</option>
											<option>Ketchup</option>
											<option>Relish</option>
										</select>
									</div>
								</div>
							</div>
						
							<div class="myd-box myd-mobile">
								<div class="myd-img">
									<img src="resources/img/mypage/img_bg.png"  class="" />
									<button type="button" class="btns-4">응찰 히스토리</button>
									<button type="button" class="btns-4">거래 계약 안내 및 상세</button>
								</div>
								<div class="myd-2">
									<div class="myd-te1">
										<h4>작가명</h4>
										<h5>작품명 입니다작품명입니다작품명입니다(2021)</h5>
									</div>
									<div class="myd-te2">
										<dl class="myd-dl3">
											<dt>경매기간</dt>
											<dd>2021.10.31 – 2021.11.31</dd>
											<dt>시작가</dt>
											<dd>1,700,000 원</dd>
											<dt>현재입찰가</dt>
											<dd>2,300,000 원</dd>
											<dt>응찰가</dt>
											<dd>
												<div class="is-sum2">
													<div class="is-won"><input type="text" class="" placeholder="" /></div>
													<button type="button" class="">응찰하기</button>
												</div>
											</dd>
											<dt>남은시간</dt>
											<dd>21:27:35</dd>
											<dt>응찰수</dt>
											<dd>12</dd>
											<dt>예상수수료</dt>
											<dd>250,000원</dd>
											<dt>예상배송비</dt>
											<dd></dd>
										</dl>
									</div>
								</div>
								<div class="myd-te3">
									<div class="myd-table">
										<div class="myd-won">
											<p class="won-p">
												현재 가장 높은 입찰가로  입찰 중 입니다.
												<span>경매 진행 중</span>
											</p>
											<button type="button" class="btns-2">구매확정</button>
										</div>
									</div>
								</div>
							</div>
							
							<div class="myd-box myd-mobile">
								<div class="myd-img">
									<img src="resources/img/mypage/img_bg.png"  class="" />
									<button type="button" class="btns-4">응찰 히스토리</button>
									<button type="button" class="btns-4">거래 계약 안내 및 상세</button>
								</div>
								<div class="myd-2">
									<div class="myd-te1">
										<h4>작가명</h4>
										<h5>작품명 입니다작품명입니다작품명입니다(2021)</h5>
									</div>
									<div class="myd-te2">
										<dl class="myd-dl3">
											<dt>경매기간</dt>
											<dd>2021.10.31 – 2021.11.31</dd>
											<dt>시작가</dt>
											<dd>1,700,000 원</dd>
											<dt>현재입찰가</dt>
											<dd>2,300,000 원</dd>
											<dt>응찰가</dt>
											<dd>
												<div class="is-sum2">
													<div class="is-won"><input type="text" class="" placeholder="" /></div>
													<button type="button" class="">응찰하기</button>
												</div>
											</dd>
											<dt>남은시간</dt>
											<dd>21:27:35</dd>
											<dt>응찰수</dt>
											<dd>12</dd>
											<dt>예상수수료</dt>
											<dd>250,000원</dd>
											<dt>예상배송비</dt>
											<dd></dd>
										</dl>
									</div>
								</div>
								<div class="myd-te3">
									<div class="myd-table">
										<div class="myd-won">
											<p class="won-p">
												현재 가장 높은 입찰가로  입찰 중 입니다.
												<span>경매 진행 중</span>
											</p>
											<button type="button" class="btns-2">구매확정</button>
										</div>
									</div>
								</div>
							</div>
							
							
							
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>




<script type="text/javascript">      
      
      
      
      $(document).ready(function () {
	      $(".elm").hover(
	    	function(){ $(this).addClass('hover') },
	   	    function(){ $(this).removeClass('hover') }
	   	  )
	   	  $(".cn-b").hover(
	    	function(){ $(this).addClass('gis') },
	   	    function(){ $(this).removeClass('gis') }
	   	  )
      });
      
      $(function() {                      
    	  $(".bab-bo").click(function() { 
    	    $(this).toggleClass("bashow");     
    	  });
    	  
    	  $(".lg-my").click(function() { 
      	    $('.bg-sh').toggleClass('bg-show');     
      	 	 $('.s-hov').toggleClass('s-hov-show');     
      	  });
    	  
    	});
      
      
      
      
      /* 메뉴바 FIXED */
      if (jQuery(window).width() > 0) {
          jQuery(window).on("scroll",function(ev){
              if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
                  jQuery('.head-wrap').addClass('fixed');
              }
              else{
                  jQuery('.head-wrap').removeClass('fixed');
              }
              return false;
          });
      }
      
      
      /* jQuery(function($) {

    	    window.onresize = function(){
    	      document.location.reload();
    	    };

    	}); */
      
      
      
      var delay = 300;
      var timer = null;

      //Javascript
      window.addEventListener('resize', function(){
      	clearTimeout(timer);
      	timer = setTimeout(function(){
      		document.location.reload();
      	}, delay);
      });

      //jQuery
      $(window).on('resize', function(){
      	clearTimeout(timer);
      	timer = setTimeout(function(){
      		document.location.reload();
      	}, delay);
      });
      
      $('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
    	    // The event won't be propagated up to the document NODE and 
    	    // therefore delegated events won't be fired
    	    event.stopPropagation();
    	});
      
      //$('.selectpicker').selectpicker();
      
jQuery(document).ready(function() {
	if(sAuthSqVal == 2){
		document.getElementById("portfolio").style.display="";
	}
	$("#conTitle").empty();
	const conBtn = document.getElementById("conBtn");
	conBtn.remove();
	var conTitleHtml = "";
	conTitleHtml += '<h3>My Deal</h3>';
	$("#conTitle").append(conTitleHtml).trigger("create");
});   
    </script>
    
	
	
	
	
</body>

</html>
