<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	@media screen and (min-width: 1px) and (max-width: 1536px){
    		.con-left{display:none}
    	}
    </style>
</head>

<body>
	<div class="wrap">
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
		
		<div class="body-wrap">
			<div class="contents">
				
				<div class="con-wrap">
					<th:block th:replace="thymeleaf/myPageLeft :: myPageLeftFragment"></th:block>
					<div class="con-right m-max1300">
						<div class="me-left me-move">
							<div class="me-sech">
								<div class="is-bos">
		                           <div class="is-sum">
		                           	  <div class="is-label1">
		                           	  	<label>거래 구분</label>
			                              <select class="selectpicker" id="buyOrSell" data-width="fit">
			                                 <option value="ALL">전체</option>
			                                 <option value="BUY">구매 내역</option>
			                                 <option value="SELL">판매 내역</option>
			                              </select>
				                      </div>
				                      <div class="is-label">
		                           	  	<label>거래 유형</label>
			                              <select class="selectpicker" id="saleOrAuction" data-width="fit">
			                                 <option value="ALL">전체</option>
			                                 <option value="AUCTN">경매</option>
			                                 <option value="SALE">정찰가</option>
			                              </select>
				                      </div>
		                              <!-- <input type="radio" id="w1" name="buyOrSell" value="BUY" checked>
		                              <label for="w1"><span></span>구매내역</label>
		                              <input type="radio" id="w2" name="buyOrSell" value="SELL">
		                              <label for="w2"><span></span>판매내역</label>
		                              <input type="radio" id="w3" name="saleOrAuction" value="auction" checked>
		                              <label for="w3"><span></span>경매</label>
		                              <input type="radio" id="w4" name="saleOrAuction" value="sale">
		                              <label for="w4"><span></span>정찰가</label> -->
		                              <div class="is-label">
		                              	<label>거래 상태</label>
			                              <select class="selectpicker" id="dealSttsCd" data-width="fit">
			                                 <option value="ALL">전체</option>
			                                 <option value="TP">판매중</option>
			                                 <option value="TC">판매완료</option>
			                              </select>
				                      </div>
				                      <div class="is-label">
		                              	<label></label>
		                              	<button type="button" class="sech-btn" id="searchOption_ALL" onclick="searchOption_onclick(this.id)">전체(기간선택)</button>
				                        <button type="button" class="sech-btn" id="searchOption_6M" onclick="searchOption_onclick(this.id)">최근 6개월</button>
				                        <button type="button" class="sech-btn" id="searchOption_1Y" onclick="searchOption_onclick(this.id)">최근 1년</button>
				                        <button type="button" class="sech-btn" id="searchOption_2Y" onclick="searchOption_onclick(this.id)">최근 2년</button>
				                        <button type="button" class="sech-btn" id="searchOption_3Y" onclick="searchOption_onclick(this.id)">최근 3년</button>
		                              </div>
		                              <!-- <button type="button" class="" onclick="myDealSearchList()">검색</button> -->
		                           </div>
		                           <div class="is-sum">
			                           <div class="is-la">
				                       		<div class="is-label1">
				                              <label>기간 선택</label>
				                              <div class="input-cand"><input type="text" class="datepicker" id="searchStrtDate"/></div>
				                              <span class="is-span">~</span> 
				                              <div class="input-cand"><input type="text" class="datepicker" id="searchEndngDate"></div>
				                           </div>
				                           <div class="is-label">
				                           	<label>검색 키워드</label>
				                           	<input type="text" class="" id="searchKeyword" onkeydown="javascript: if (event.keyCode == 13) {myDealSearchList();}" placeholder="작품명, 작가명으로 거래 내역을 검색해 보세요." />
				                           </div>
				                           <button type="button" class="sech-btn" onclick="myDealSearchList()">조회</button>
				                        </div>
				                    </div>
		                        </div>
							</div>
							<div id="myDealList">
								<!-- <div class="myd-box myd-mobile">
									<div class="myd-img">
										<img src="resources/img/mypage/img_bg.png"  class="" />
										<button type="button" class="btns-4">응찰 히스토리</button>
										<button type="button" class="btns-4">거래 계약 안내 및 상세</button>
									</div>
									<div class="myd-2">
										<div class="myd-te1">
											<h4>작가명</h4>
											<h5>작품명 입니다작품명입니다작품명입니다(2021)</h5>
										</div>
										<div class="myd-te2">
											<dl class="myd-dl3">
												<dt>경매기간</dt>
												<dd>2021.10.31 – 2021.11.31</dd>
												<dt>시작가</dt>
												<dd>1,700,000 원</dd>
												<dt>현재입찰가</dt>
												<dd>2,300,000 원</dd>
												<dt>응찰가</dt>
												<dd>
													<div class="is-sum2">
														<div class="is-won"><input type="text" class="" placeholder="" /></div>
														<button type="button" class="">응찰하기</button>
													</div>
												</dd>
												<dt>남은시간</dt>
												<dd>21:27:35</dd>
												<dt>응찰수</dt>
												<dd>12</dd>
												<dt>예상수수료</dt>
												<dd>250,000원</dd>
												<dt>예상배송비</dt>
												<dd></dd>
											</dl>
										</div>
									</div>
									<div class="myd-te3">
										<div class="myd-table">
											<div class="myd-won">
												<p class="won-p">
													현재 가장 높은 입찰가로  입찰 중 입니다.
													<span>경매 진행 중</span>
												</p>
												<button type="button" class="btns-2">구매확정</button>
											</div>
										</div>
									</div>
								</div> -->
							</div>
						
					</div>
				</div>
				
			</div>
		</div>
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>
</div>
<!-- 차트 -->
<div class="modal fade modal-s" id="bidHistory" tabindex="-1" role="dialog" aria-labelledby="bidHistoryLabel" aria-hidden="true">
	<div class="modal-dialog modal-baeg max-w1023">
		<div class="modal-content">
			<div class="modal-header">
				<div class="baegs">
					<h2>응찰 히스토리</h2>
				    <img src="resources/img/ba/icon-1.png" class="con-img" />
				    <div class="close" data-dismiss="modal" aria-label="Close"><img src="resources/img/ba/icon-end.png" /></div>
				</div>

			</div>
			<div class="modal-body">
				<div class="text-right mg_t25">
					<!-- <input type="checkbox" id="a1" name="cc">
					<label for="a1"><span></span>내 응찰만 보기</label> -->
				</div>
				<!-- <img src="resources/img/ba/chart-img.png" class="mdimg" /> -->
				<canvas id="canvas"></canvas>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">      
 $(document).ready(function () {
  $(".elm").hover(
	function(){ $(this).addClass('hover') },
    function(){ $(this).removeClass('hover') }
  )
  $(".cn-b").hover(
	function(){ $(this).addClass('gis') },
    function(){ $(this).removeClass('gis') }
  )
 });
 
 $(function() {                      
  $(".bab-bo").click(function() { 
    $(this).toggleClass("bashow");     
  });
  
  $(".lg-my").click(function() { 
 	    $('.bg-sh').toggleClass('bg-show');     
 	 	 $('.s-hov').toggleClass('s-hov-show');     
 	  });
  
});
 
 
 
 
 /* 메뉴바 FIXED */
 if (jQuery(window).width() > 0) {
     jQuery(window).on("scroll",function(ev){
         if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
             jQuery('.head-wrap').addClass('fixed');
         }
         else{
             jQuery('.head-wrap').removeClass('fixed');
         }
         return false;
     });
 }
 
 
 /* jQuery(function($) {

    window.onresize = function(){
      document.location.reload();
    };

}); */
 
 
 
 var delay = 300;
 var timer = null;

 //Javascript
 window.addEventListener('resize', function(){
 	clearTimeout(timer);
 	timer = setTimeout(function(){
 		document.location.reload();
 	}, delay);
 });

 //jQuery
 $(window).on('resize', function(){
 	clearTimeout(timer);
 	timer = setTimeout(function(){
 		document.location.reload();
 	}, delay);
 });
 
 $('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
    // The event won't be propagated up to the document NODE and 
    // therefore delegated events won't be fired
    event.stopPropagation();
});
 
$.datepicker.setDefaults({
	dateFormat: 'yy.mm.dd',
	prevText: '이전 달',
	nextText: '다음 달',
	monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
	monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
	dayNames: ['일', '월', '화', '수', '목', '금', '토'],
	dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
	dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
	showMonthAfterYear: true,
	yearSuffix: '년'
});

/* 응찰 히스토리 */
function bidHistory(dealSq) {
	$(".modal-body").empty();
	var canvas = document.createElement("canvas");
	canvas.id = canvas;
	$(".modal-body").append(canvas);
	
	var bidDate = [];
	var bidPrc = [];
	$.ajax({
        type: "post",
        url: "/myDealList/bidHistory",
        data: {
        	dealSq : dealSq
        },
        success: function(data) {
        	for(var i=0; i<data.result.length; i++){
        		bidDate.push(data.result[i].bidDate);
        		bidPrc.push(data.result[i].bidPrc);
        	}
        },
        error: function(error) {
            alert("오류 발생" + error);
        }
	});
	
	
	const bidHistory = new Chart(canvas, {
	    type: 'line',
	    data: {
	        labels: bidDate,
	        datasets: [{
	            label: '응찰가',
	            data: bidPrc,
	            borderColor: "rgba(50, 50, 50, 50)",
	            backgroundColor: "rgba(50, 50, 50, 50)",
	            borderWidth: 3,
	            pointRadius: 5,
	            fill: false,
	            lineTension: 0
	        }]
	    },
	    options: {
	    	plugins: {
	            tooltip: {
	            	titleFont: {
	            		weight: 'normal',
	            		size: 13
	            	},
	            	bodyFont: {
	            		weight: 'normal',
	            		size: 13
	            	},
	            	callbacks: {
	                    title: function(context) {
	                    	var title = "응찰시간: " + context[0].label;
	                    	return title;
	                    }
	                }
	            },
	            legend: {
	        		display: false
	        	}
			}
		}
	});
	$("#bidHistory").modal("show");
};


jQuery(document).ready(function() {
	$('.datepicker').datepicker();
	$("#searchStrtDate").calendar( $("#searchEndngDate") );
	if(sAuthSqVal == 2){
		document.getElementById("portfolio").style.display="";
	}
	$("#conTitle").empty();
	const conBtn = document.getElementById("conBtn");
	conBtn.remove();
	var conTitleHtml = "";
	conTitleHtml += '<h3>My Deal</h3>';
	$("#conTitle").append(conTitleHtml).trigger("create");
	
	$("#myDeal").addClass("active");
	
	myDealSearchList();
});   

var searchOptions = new Object();

$("#buyOrSell").change(function(){
	myDealSearchList();
});

$("#saleOrAuction").change(function(){
	myDealSearchList();
});

$("#dealSttsCd").change(function(){
	myDealSearchList();
});

function myDealSearchList(){
	searchOptions.mbrSq = sMbrSqVal;
	if($("#searchKeyword").val() != "" && $("#searchKeyword").val() != null){
		searchOptions.searchKeyword = $("#searchKeyword").val();
	}
	if(searchDateCheck()){
		searchOptions.searchStrtDate = $("#searchStrtDate").val();
		searchOptions.searchEndngDate = $("#searchEndngDate").val();
	}
	searchOptions.buyOrSell = $("#buyOrSell").val();
	searchOptions.saleOrAuction = $("#saleOrAuction").val();
	searchOptions.dealSttsCd = $("#dealSttsCd").val();
	$.ajax({
        type: "post",
        url: "/myDealSearchList",
        data: searchOptions,
        success: function(data) {
        	var myDealList = null;
        	var myDealListHtml = "";
        	if(data.result != null && data.result.length > 0){
        		myDealList = data.result;	
        		for(var i=0; i<myDealList.length; i++){
    	        	myDealListHtml += '<div class="myd-box myd-mobile">';
    				myDealListHtml += '	<div class="myd-img">';
    				myDealListHtml += '		<img src="'+ myDealList[i].workMainImgUrl+'" dealSq="'+ myDealList[i].dealSq+'" onclick="myDealDetail(this)"/>';
    				if(myDealList[i].dealTypCd == "A"){ //경매면 응찰 히스토리 버튼 추가
    					myDealListHtml += '		<button type="button" class="btns-4" onclick="bidHistory('+myDealList[i].dealSq+')">응찰 히스토리</button>';
    				}
    				if(myDealList[i].dealSttsCd == "TP" && myDealList[i].sellMbrSq == sMbrSqVal){ //거래중 이면서 판매자 본인 일 경우 거래 수정 버튼 추가
						myDealListHtml += '		<button type="button" class="btns-4" dealTypCd="'+myDealList[i].dealTypCd+'" dealSq="'+myDealList[i].dealSq+'" dealAuctnPrc="'+myDealList[i].dealAuctnPrc+'" onclick="dealMod(this)">거래 중단 및 수정하기</button>';
					}
    				myDealListHtml += '		<button type="button" class="btns-4" dealSq="'+ myDealList[i].dealSq+'" onclick="myDealDetail(this)">거래 계약 안내 및 상세</button>';
    				myDealListHtml += '	</div>';
    				myDealListHtml += '	<div class="myd-2">';
    				myDealListHtml += '		<div class="myd-te1">';
    				myDealListHtml += '			<h4>'+ myDealList[i].artstActvtyNm +'</h4>';
    				myDealListHtml += '			<h5>'+ myDealList[i].workNm +'('+ myDealList[i].workProdcYear +')</h5>';
    				myDealListHtml += '		</div>';
    				if(myDealList[i].dealTypCd == "A"){ //경매면
	    				myDealListHtml += '		<div class="myd-te2">';
	    				myDealListHtml += '			<dl class="myd-dl3">';
	    				myDealListHtml += '				<dt>경매 기간</dt>';
	    				myDealListHtml += '				<dd>'+ myDealList[i].dealStrtDate +' – '+ myDealList[i].dealEndngDate +'</dd>';
	    				myDealListHtml += '				<dt>시작가</dt>';
	    				myDealListHtml += '				<dd>'+ myDealList[i].dealStrtPrc +' KRW</dd>';
	    				if(myDealList[i].dealSttsCd == "TP" && myDealList[i].sellMbrSq != sMbrSqVal){ //경매 진행중이면
	    					myDealListHtml += '			<dt>현재 입찰가</dt>';
	    					if(myDealList[i].maxBidPrc != null && myDealList[i].maxBidPrc != ""){
	    						myDealListHtml += '			<dd>'+ myDealList[i].maxBidPrc +' KRW</dd>';
	    					}else{
	    						myDealListHtml += '			<dd>0 원</dd>';
	    					}
		    				myDealListHtml += '			<dt>응찰가</dt>';
		    				myDealListHtml += '			<dd>';
		    				myDealListHtml += '				<div class="is-sum2">';
		    				myDealListHtml += '					<select class="selectpicker" name="askingPrice" maxBidPrc="'+myDealList[i].maxBidPrc+'" id="sbx_bidPrc'+myDealList[i].dealSq+'" data-width="fit">';
		    				myDealListHtml += '						<option value="null" style="font-size:18px;">-선택-</option>';
		    				myDealListHtml += '					</select>';
		    				myDealListHtml += '					<button type="button" dealSq="'+myDealList[i].dealSq+'"bidMbrSq="'+myDealList[i].bidMbrSq+'" onclick="bidReg(this)">응찰하기</button>';
		    				myDealListHtml += '				</div>';
		    				myDealListHtml += '			</dd>';
		    				myDealListHtml += '			<dt>남은 시간</dt>';
		    				myDealListHtml += '			<dd class="dealCount" date="'+myDealList[i].dealEndngDateTime+'"></dd>';
	    				}
	    				if(myDealList[i].dealSttsCd == "TP" && myDealList[i].sellMbrSq == sMbrSqVal){ //경매 진행중이며 판매자면
	    					myDealListHtml += '			<dt>현재 입찰가</dt>';
	    					if(myDealList[i].maxBidPrc != null && myDealList[i].maxBidPrc != ""){
	    						myDealListHtml += '			<dd>'+ myDealList[i].maxBidPrc +' KRW</dd>';
	    					}else{
	    						myDealListHtml += '			<dd>0 KRW</dd>';
	    					}
		    				myDealListHtml += '			<dt>남은 시간</dt>';
		    				myDealListHtml += '			<dd class="dealCount" date="'+myDealList[i].dealEndngDateTime+'"></dd>';
	    				}
	    				if(myDealList[i].dealSttsCd == "TC"){ //경매 종료면
	    					myDealListHtml += '			<dt>낙찰가</dt>';
	    					myDealListHtml += '			<dd>'+ myDealList[i].dealSbidPrc +' KRW</dd>';
	    				}
	    				myDealListHtml += '				<dt>응찰수</dt>';
	    				myDealListHtml += '				<dd>'+ myDealList[i].bidCnt +'</dd>';
	    				if(myDealList[i].maxBidPrc != null && myDealList[i].maxBidPrc != ""){
		    				myDealListHtml += '				<dt>예상 수수료</dt>';
		    				myDealListHtml += '				<dd>'+formatComma(Math.round(parseInt(myDealList[i].maxBidPrc.replaceAll(/,/g, ''))*0.15))+' 원</dd>';
		    				//myDealListHtml += '				<dt>예상배송비</dt>';
		    				//myDealListHtml += '				<dd></dd>';
	    				}
	    				myDealListHtml += '			</dl>';
	    				myDealListHtml += '		</div>';
    				}
    				if(myDealList[i].dealTypCd == "S"){
        				myDealListHtml += '		<div class="myd-te2">';
        				myDealListHtml += '			<dl class="myd-dl3">';
        				myDealListHtml += '				<dt>판매 기간</dt>';
        				myDealListHtml += '				<dd>'+ myDealList[i].dealStrtDate +' – '+ myDealList[i].dealEndngDate +'</dd>';
        				myDealListHtml += '				<dt>판매가</dt>';
        				myDealListHtml += '				<dd>'+ myDealList[i].dealFinalPrc +' KRW</dd>';
        				if(myDealList[i].dealSttsCd == "TP"){
	        				myDealListHtml += '			<dt>남은 시간</dt>';
	        				myDealListHtml += '			<dd class="dealCount" date="'+myDealList[i].dealEndngDateTime+'"></dd>';
        				}
        				if(myDealList[i].maxBidPrc != null && myDealList[i].maxBidPrc != ""){
		    				myDealListHtml += '				<dt>예상 수수료</dt>';
		    				myDealListHtml += '				<dd>'+formatComma(Math.round(parseInt(myDealList[i].maxBidPrc.replaceAll(/,/g, ''))*0.15))+' 원</dd>';
		    				//myDealListHtml += '				<dt>예상배송비</dt>';
		    				//myDealListHtml += '				<dd></dd>';
	    				}
        				myDealListHtml += '			</dl>';
        				myDealListHtml += '		</div>';
        			}
    				myDealListHtml += '	</div>';
    				myDealListHtml += '	<div class="myd-te3">';
    				myDealListHtml += '		<div class="myd-table">';
    				myDealListHtml += '			<div class="myd-won">';
    				if(myDealList[i].dealTypCd == "A"){ //경매면
    					myDealListHtml += '				<p class="won-p">';
    					if(myDealList[i].bidMbrSq == sMbrSqVal && myDealList[i].dealSttsCd == "TP" && myDealList[i].sellMbrSq != sMbrSqVal){ //가장 높은 입찰자면서 거래중이면
	    					myDealListHtml += '					현재 가장 높은 입찰가로 입찰 중 입니다.';
	    					myDealListHtml += '					<span>경매 진행 중</span>';
    					}
    					if(myDealList[i].bidMbrSq != sMbrSqVal && myDealList[i].dealSttsCd == "TP" && myDealList[i].sellMbrSq != sMbrSqVal){//거래중이며 가장 높은 입찰가가 아니면
    						myDealListHtml += '					현재 회원님보다 높은 입찰가가 있습니다.';
    						myDealListHtml += '					<span>경매 진행 중</span>';
    					}
    					if(myDealList[i].dealSttsCd == "TP" && myDealList[i].sellMbrSq == sMbrSqVal){//경매 거래중이며 판매자면
    						myDealListHtml += '					현재 회원님의 작품이 경매 진행중입니다.';
    						myDealListHtml += '					<span>경매 진행 중</span>';
    					}
    					
	    				if(myDealList[i].buyMbrSq == sMbrSqVal && myDealList[i].buyPaymntSttsCd == "1PW" && myDealList[i].dealSttsCd == "TC"){ //낙찰자이면서 1차 결제 대기 상태면
	    					myDealListHtml += '					낙찰 되었습니다!!!<br>1차 결제를 진행해 주세요.';
	    					myDealListHtml += '					<span>1차 결제 대기</span>';
	    					myDealListHtml += '				<button type="button" class="btns-2" dealSq="'+ myDealList[i].dealSq+'" onclick="myDealDetail(this)">결제하기</button>';
	    				}
	    				if(myDealList[i].buyMbrSq == sMbrSqVal && myDealList[i].buyPaymntSttsCd == "2PW" && myDealList[i].dealSttsCd == "TC"){ //낙찰자이면서 2차 결제 대기 상태면
	    					myDealListHtml += '					낙찰 되었습니다!!!<br>2차 결제를 진행해 주세요.';
	    					myDealListHtml += '					<span>2차 결제 대기</span>';
	    					myDealListHtml += '				<button type="button" class="btns-2" dealSq="'+ myDealList[i].dealSq+'" onclick="myDealDetail(this)">결제하기</button>';
	    				}
	    				if(myDealList[i].buyMbrSq == sMbrSqVal && myDealList[i].buyPaymntSttsCd == "2PC" && myDealList[i].dealSttsCd == "TC"){ //낙찰자이면서 2차 결제 완료 상태면
	    					myDealListHtml += '					낙찰 되었습니다!!!<br>2차 결제가 완료되었습니다.';
	    					myDealListHtml += '					<span>2차 결제 완료</span>';
	    				}
	    				if(myDealList[i].sellMbrSq == sMbrSqVal && myDealList[i].sellPaymntSttsCd == "2PW" && myDealList[i].dealSttsCd == "TC"){ //판매자이면서 2차 결제 완료 상태면
	    					myDealListHtml += '					낙찰 되었습니다!!!<br>판매자 결제를 진행해주세요.';
	    					myDealListHtml += '					<span>결제 대기</span>';
	    					myDealListHtml += '				<button type="button" class="btns-2" dealSq="'+ myDealList[i].dealSq+'" onclick="myDealDetail(this)">결제하기</button>';
	    				}
	    				if(myDealList[i].sellMbrSq == sMbrSqVal && myDealList[i].sellPaymntSttsCd == "2PC" && myDealList[i].dealSttsCd == "TC"){ //판매자이면서 2차 결제 완료 상태면
	    					myDealListHtml += '					낙찰 되었습니다!!!<br>판매자 결제가 완료되었습니다.';
	    					myDealListHtml += '					<span>결제 완료</span>';
	    				}
	    				myDealListHtml += '				</p>';
    				}
    				if(myDealList[i].dealTypCd == "S"){
	    				myDealListHtml += '				<p class="won-p">';
	    				if(myDealList[i].sellMbrSq != sMbrSqVal && myDealList[i].dealSttsCd == "TP"){//정찰가 거래중이며 판매자면
    						myDealListHtml += '					현재 회원님의 작품이 판매중입니다.';
    						myDealListHtml += '					<span>판매 중</span>';
    					}
	    				if(myDealList[i].buyMbrSq == sMbrSqVal && myDealList[i].buyPaymntSttsCd == "1PC" && myDealList[i].dealSttsCd == "TC"){
	    					myDealListHtml += '					현재 구매자 1차 결제가 완료되었습니다.';
		    				myDealListHtml += '					<span>1차 결제 완료</span>';
	    				}
	    				if(myDealList[i].buyMbrSq == sMbrSqVal &&myDealList[i].buyPaymntSttsCd == "2PW" && myDealList[i].dealSttsCd == "TC"){
	    					myDealListHtml += '					구매자 2차 결제 대기중입니다.';
		    				myDealListHtml += '					<span>2차 결제 대기</span>';
		    				myDealListHtml += '				<button type="button" class="btns-2" dealSq="'+ myDealList[i].dealSq+'" onclick="myDealDetail(this)">결제하기</button>';
	    				}
	    				if(myDealList[i].buyMbrSq == sMbrSqVal && myDealList[i].buyPaymntSttsCd == "2PC" && myDealList[i].dealSttsCd == "TC"){
	    					myDealListHtml += '					구매자 2차 결제가 완료되었습니다.';
		    				myDealListHtml += '					<span>2차 결제 완료</span>';
	    				}
	    				if(myDealList[i].sellMbrSq == sMbrSqVal && myDealList[i].sellPaymntSttsCd == "2PW" && myDealList[i].dealSttsCd == "TC"){
	    					myDealListHtml += '					판매자 결제를 대기중입니다.';
		    				myDealListHtml += '					<span>결제 대기</span>';
		    				myDealListHtml += '				<button type="button" class="btns-2" dealSq="'+ myDealList[i].dealSq+'" onclick="myDealDetail(this)">결제하기</button>';
	    				}
	    				if(myDealList[i].sellMbrSq == sMbrSqVal && myDealList[i].sellPaymntSttsCd == "2PC" && myDealList[i].dealSttsCd == "TC"){
	    					myDealListHtml += '					판매자 결제가 완료되었습니다.';
		    				myDealListHtml += '					<span>결제 완료</span>';
	    				}
	    				myDealListHtml += '				</p>';
    				}
    				myDealListHtml += '			</div>';
    				myDealListHtml += '		</div>';
    				myDealListHtml += '	</div>';
    				myDealListHtml += '</div>';
            	}
            	$("#myDealList").empty();
            	$("#myDealList").append(myDealListHtml).trigger("create");
        	}else{
        		modalAlertShow("검색 결과가 없습니다."); 
        		$("#myDealList").empty();
        	}
        	if(document.querySelectorAll("select[name='askingPrice']").length > 0){
        		var elements = document.querySelectorAll("select[name='askingPrice']");
        		selectBoxWriteAskingPrice(elements)
        		$('.selectpicker').selectpicker('refresh');
        	}
        },           
        error: function(error) {
            alert("오류 발생" + error);
        }
	});
}
//거래 남은 시간 1초마다 계산해서 표현하기
setInterval(function() {
	var elements = document.querySelectorAll(".dealCount");
	for(var i=0; i<elements.length; i++){
		var dday = new Date(parseInt(elements[i].attributes[1].value)).getTime();
		var today = new Date().getTime();
		if(today >= dday){
			myDealSearchList();
		}
	  	var gap = dday - today;
		var day = Math.ceil(gap / (1000 * 60 * 60 * 24));
		var hour = Math.ceil((gap % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60) - 1);
		var min = Math.ceil((gap % (1000 * 60 * 60)) / (1000 * 60));
		var sec = Math.ceil((gap % (1000 * 60)) / 1000);
		elements[i].textContent = day + " 일 " + hour + " : " + min + " : " + sec;
	  	//document.getElementById("dealCount").innerHTML = day + " 일 " + hour + " : " + min + " : " + sec;
	}
}, 1000);

//거래 계약 안내 및 상세 페이지로 이동
function myDealDetail(obj){
	var dealSq = obj.getAttribute("dealSq");
	var checked = $("input:radio[name='buyOrSell']:checked").val();
	if(checked == "BUY"){
		location.href="/myDealDetailBuy?dealSq="+dealSq+"&&mbrSq="+sMbrSqVal;
	}else{
		location.href="/myDealDetailSell?dealSq="+dealSq+"&&mbrSq="+sMbrSqVal;
	}
}

//날짜 선택 버튼 클릭 시 날짜 자동 셋팅
function searchOption_onclick(clickId){
	var today = new Date();
	var searchEndngDate = document.getElementById('searchEndngDate');
	var searchStrtDate = document.getElementById('searchStrtDate');
	switch(clickId.replace("searchOption_", "")){
		case "ALL" :
			searchEndngDate.value = "";
			searchStrtDate.value = "";
			searchEndngDate.disabled = false;
			searchStrtDate.disabled = false;
			break;
		case "6M" :
			searchEndngDate.value = dateFormat(today, ".");
			searchStrtDate.value = dateFormat(getNextDate(-180), ".");
			searchEndngDate.disabled = true;
			searchStrtDate.disabled = true;
			break;
		case "1Y" :
			searchEndngDate.value = dateFormat(today, ".");
			searchStrtDate.value = dateFormat(getNextDate(-365), ".");
			searchEndngDate.disabled = true;
			searchStrtDate.disabled = true;
			break;
		case "2Y" :
			searchEndngDate.value = dateFormat(today, ".");
			searchStrtDate.value = dateFormat(getNextDate(-730), ".");
			searchEndngDate.disabled = true;
			searchStrtDate.disabled = true;
			break;
		case "3Y" :
			searchEndngDate.value = dateFormat(today, ".");
			searchStrtDate.value = dateFormat(getNextDate(-1095), ".");
			searchEndngDate.disabled = true;
			searchStrtDate.disabled = true;
			break;
	}
}
//검색 날짜 입력되었는지 확인
function searchDateCheck(){
	var strtDate = document.getElementById('searchStrtDate');
	var endngDate = document.getElementById('searchEndngDate');
	if(endngDate.disabled == false && strtDate.disabled == false){
		if(strtDate.value == "" && endngDate.value != ""){
			modalAlertShow("검색 시작 날짜가 입력되지 않았습니다.", "searchStrtDate");
			return false;
		}
		if(endngDate.value == "" && strtDate.value != ""){
			modalAlertShow("검색 종료 날짜가 입력되지 않았습니다.", "searchEndngDate");
			return false;
		}
	}
	return true;
}

//경매일 경우 호가 단위를 자동으로 리턴해준다.
function askingPrice(prc){
	var returnVal;
	if (prc > 0 && prc < 300000) {
		returnVal = 20000;
	}
	if (prc >= 300000 && prc < 1000000) {
		returnVal = 50000;
	}
	if (prc >= 1000000 && prc < 3000000) {
		returnVal = 100000;
	}
	if (prc >= 3000000 && prc < 5000000) {
		returnVal = 200000;
	}
	if (prc >= 5000000 && prc < 10000000) {
		returnVal = 500000;
	}
	if (prc >= 10000000 && prc < 30000000) {
		returnVal = 1000000;
	}
	if (prc >= 30000000 && prc < 50000000) {
		returnVal = 2000000;
	}
	if (prc >= 50000000 && prc < 200000000) {
		returnVal = 5000000;
	}
	if (prc >= 200000000 && prc < 500000000) {
		returnVal = 10000000;
	}
	if (prc >= 500000000) {
		returnVal = 20000000;
	}
	return returnVal;
}

function selectBoxWriteAskingPrice(objs){
	for(var i=0; i<objs.length; i++){
		var	bidPrc = parseInt(objs[i].attributes.maxBidPrc.value.replaceAll(/,/g, '')); //입찰가
		var	askingPrc = askingPrice(bidPrc); //호가단위
		for(var j=0; j<9; j++){
			askingPrc = askingPrice(bidPrc); //호가 단위를 자동으로 계산해준다.
			objs[i].options[j] = new Option(formatComma(bidPrc+=askingPrc));
			$(".selectpicker").selectpicker("refresh");
		}
	}
}

//경매인 거래는 응찰하기 버튼 누르면 응찰되게
function bidReg(obj){
	var dealSq = obj.attributes.dealSq.value;
	var bidMbrSq = obj.attributes.bidMbrSq.value;
	var bidPrc = parseInt($("#sbx_bidPrc"+dealSq+" option:selected").val().replaceAll(/,/g, ''));
	if(bidMbrSq == sMbrSqVal){
		modalAlertShow("가장 높은 입찰자인 경우 중복 응찰이 불가합니다.");
		return;
	}
	if(bidPrc != null && bidPrc != ""){
		$.ajax({
	        type: "post",
	        url: "/bidReg",
	        data : {
	        	dealSq : dealSq,
	        	mbrSq : sMbrSqVal,
	        	bidPrc : bidPrc
	        }, 
	        success: function(data) {
	        	if(data.result == -1){
		        	modalAlertShow("실시간 응찰가보다 낮습니다. 응찰 금액을 다시 입력해주세요.", "reload");
	        	}
	        	if(data.result == 2){
	        		modalAlertShow("응찰이 완료되었습니다.", "reload");
	        	}
	        },
	        error: function(error) {
	            alert("오류 발생" + error);
	        }
		});	
	}else{
		modalAlertShow("응찰가가 입력되지 않았습니다.", "bidPrc"+dealSq);
	}
}

function dealMod(obj){
	var dealTypCd = obj.attributes.dealTypCd.value;
	var dealSq = obj.attributes.dealSq.value;
	var dealAuctnPrc = obj.attributes.dealAuctnPrc.value;
	if(dealTypCd == "A" && dealAuctnPrc != "undefined"){
		modalAlertShow("응찰이 된 거래는 수정할 수 없습니다.");
		return;
	}
	location.href="/dealMod?dealSq="+dealSq;
}
</script>
    
	
	
	
	
</body>

</html>
