<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	@media screen and (min-width: 1px) and (max-width: 1536px){
    		.con-left{display:none}
    	}
    </style>
</head>

<body>
	<div class="wrap">
	<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>  				
		<div class="body-wrap">
			<div class="contents">
				
				<div class="con-wrap">
					<div class="con-left">
						<div class="cont-title4">
							<h3>회원정보 수정</h3>
						</div>
					
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading1">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
											My Deal
										</a>
									</h4>
								</div>
								<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
									<div class="panel-body">
										<ul class="mypage-ul">
											<li class="active"><a href="#">거래 내역</a></li>
											<li><a href="#">등급 / 쿠폰 / 포인트</a></li>
											<li><a href="#">문의 내역</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading2">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
											포트폴리오
										</a>
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
									<div class="panel-body">
										<ul class="mypage-ul">
											<li><a href="#">작가 정보</a></li>
											<li><a href="#">나의작품</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading3">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion3" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
											My Gallery
										</a>
									</h4>
								</div>
								<div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
									<div class="panel-body">
										<ul class="mypage-ul">
											<li><a href="#">소장품</a></li>
											<li><a href="#">스크랩</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading3">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion4" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
											설정
										</a>
									</h4>
								</div>
								<div id="collapse4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading4">
									<div class="panel-body">
										<ul class="mypage-ul">
											<li><a href="#">회원 정보 수정</a></li>
											<li><a href="#">알림 설정</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="con-right m-max1300">
					
						<div class="me-left">
						
							
							<div class="med">
								<h2 class="">받는사람 정보</h2>
							</div>
							<div class="myd-box">
								<div class="myd-box-1">
									<div class="mtext">
										<p>회원의 주소와 배송지의 주소가 동일해야 합니다. 본 거래의 주소를 수정하시면 회원정보도 함께 변경됩니다.</p>
										<button type="button" class="btns-1">받는사람 정보 수정하기</button>
									</div>
									
									<div class="mg_t40">
										<table class="mstyle-1">
											<tr>
												<th>받는 사람</th>
												<td>성명</td>
											</tr>
											<tr>
												<th>연락처</th>
												<td>010-0000-0000</td>
											</tr>
											<tr>
												<th>주소</th>
												<td>(06172) 서울특별시 OO구 OOO로OO길 OO 상세주소</td>
											</tr>
											<tr>
												<th>배송 요청 사항</th>
												<td>배송 요청 사항</td>
											</tr>
											<tr>
												<th>배송예정일</th>
												<td>2021. 10. 31</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							
							<div class="med">
								<h2 class="h2-con">결제 정보</h2>
							</div>
							<div class="myd-box">
								<div class="myd-box-1">
									<div>
										<table class="mstyle-1">
											<tr>
												<th>작품</th>
												<td>2,300,000원</td>
											</tr>
											<tr>
												<th>거래 수수료</th>
												<td>2,300,000원</td>
											</tr>
											<tr>
												<th>배송비</th>
												<td>2,300,000원</td>
											</tr>
											<tr>
												<th>총 결제금액</th>
												<td>2,300,000원</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							
							<div class="med">
								<h2 class="h2-con">결제 수단</h2>
							</div>
							<div class="myd-box">
								<div class="myd-box-1">
								
									<div class="mbox-1">
										<div class="pay-link">
											<a href="#" class="pay-1"><img src="resources/img/mypage/icon-2.png" /><span class="">신용카드</span></a>
											<a href="#" class="pay-2"><img src="resources/img/mypage/icon-3.png" /><span class="">무통장입금</span></a>
											<a href="#" class="pay-3"><img src="resources/img/mypage/icon-6.png" /><span class="">실시간계좌이체</span></a>
											<a href="#" class="pay-4"><img src="resources/img/mypage/icon-4.png" /><span class="">가상계좌</span></a>
											<a href="#" class="pay-5"><img src="resources/img/mypage/icon-5.png" /><span class="">카카오페이</span></a>
										</div>
										<div class="pay-check">
											<input type="checkbox" id="a1" name="cc" />
											<label for="a1"><span></span>결재수단과입력정보를 다음에도 사용</label>
										</div>
									</div>
								</div>
							</div>
							
							
					
							<div class="bat-box5">
								<a href="#" class="ba-btn1"><span>결제하기</span></a>
								<a href="#" class="ba-btn2"><span>거래 내역 돌아가기</span></a>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>

<script type="text/javascript">      
$(document).ready(function () {
 	$(".elm").hover(
		function(){ $(this).addClass('hover') },
    	function(){ $(this).removeClass('hover') })
  	$(".cn-b").hover(
		function(){ $(this).addClass('gis') },
    	function(){ $(this).removeClass('gis') })
});
 
$(function() {                      
  	$(".bab-bo").click(function() { 
    	$(this).toggleClass("bashow");     
  	});
  
  	$(".lg-my").click(function() { 
 		$('.bg-sh').toggleClass('bg-show');     
 	 	$('.s-hov').toggleClass('s-hov-show');     
 	});
  
});
 
 /* 메뉴바 FIXED */
if (jQuery(window).width() > 0) {
	jQuery(window).on("scroll",function(ev){
    	if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
        	jQuery('.head-wrap').addClass('fixed');
        }else{
            jQuery('.head-wrap').removeClass('fixed');
        }
        return false;
	});
}
 
 
 /* jQuery(function($) {

    window.onresize = function(){
      document.location.reload();
    };

}); */
 
 var delay = 300;
 var timer = null;

//Javascript
window.addEventListener('resize', function(){
	clearTimeout(timer);
 	timer = setTimeout(function(){
 		document.location.reload();
 	}, delay);
});

//jQuery
$(window).on('resize', function(){
	clearTimeout(timer);
 	timer = setTimeout(function(){
 		document.location.reload();
 	}, delay);
});
 
$('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
	// The event won't be propagated up to the document NODE and 
    // therefore delegated events won't be fired
    event.stopPropagation();
});
      
</script>
    
	
	
	
	
</body>

</html>
