<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    </style>
</head>

<body>
	<div class="wrap">
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
		
		<div class="body-wrap">
			<div class="contents">
				
				<div class="con-wrap pop-wrap">
					<th:block th:replace="thymeleaf/myPageLeft :: myPageLeftFragment"></th:block>
					
					<div class="con-right">
					
						<div class="reds-box mg_t150 por">
							<ul class="pc-on">
								<li>
									<a href="#" class="up-on">
										최신 순
									</a>
								</li>
								<li>
									<a href="#" class="down-on">
										제작년도
									</a>
								</li>
								<li>
									<a href="#" class="">
										작가명 <span>ㄱ</span> - <span>ㅎ</span>
									</a>
								</li>
								<li>
									<a href="#" class="">
										작가명 <span>A</span> - <span>Z</span>
									</a>
								</li>
							</ul>
							<div class="med-ic">
								<div class="por">
<!-- 									<div class="tootip-5">설정/공유</div> -->
<!-- 									<img src="resources/img/mypage/icon-8.png" class="med-me"> -->
								</div>
							</div>
						</div>
						
						<div>
							<div class="columns-wrap2" id="columns2">
							</div>
						</div>
						
						<div class="text-center mg_t50">
							<button type="button" class="btn-more"><span>more</span></button>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>

<!-- 모달검색 -->



<script th:inline="javascript">
var result = /*[[${result}]]*/ 'default';
jQuery(document).ready(function() {
	if(sAuthSqVal == 2){
		document.getElementById("portfolio").style.display="";
	}
	$("#conTitle").empty();
	$("#conBtn").empty();
	var conBtn = document.getElementById("conBtn");
	conBtn.style.display = "";
	var conTitleHtml = "";
	conTitleHtml += '<h3>My Gallery</h3>';
	$("#conTitle").append(conTitleHtml).trigger("create");
	conBtn.innerHTML += '<a href="/collection_reg"><img src="resources/img/mypage/mycon-3.png" /></a>';
	$("#myCollection").addClass("active");
	myCollectionList();
});   

function myCollectionList(){
	var myCollectionHtml = '';
	$("#columns2").empty();
	for(var i=0; i<result.length; i++){
		
		myCollectionHtml += '<figure class="item">';
		if(result[i].dealTypCd == "AUCT" && result[i].dealSttsCd == "IP"){
			myCollectionHtml += '	<div class="item-div-img active-on" onclick="workDetail('+ result[i].workSq +')">';
			myCollectionHtml += '		<img src="'+ result[i].workMainImgUrl +'">';
			myCollectionHtml += '		<div class="item-ho">';
			myCollectionHtml += '			<p>'+ result[i].dealStrtDate +' - '+ result[i].dealEndngDate +'</p>';
			myCollectionHtml += '			<p> 응찰수 : '+ result[i].bidCnt +'</p>';
			myCollectionHtml += '				<ul><li>'+ result[i].dealRemainingDay +'<span>day</span></li>';
			myCollectionHtml += '				<li>'+ result[i].dealRemainingHour +'<span>hrs</span></li>';
			myCollectionHtml += '				<li>'+ result[i].dealRemainingMin +'<span>min</span></li>';
			myCollectionHtml += '				<li>'+ result[i].dealRemainingSec +'<span>sec</span></li></ul>';
			myCollectionHtml += '				<h4>시작가 : '+ formatComma(result[i].dealStrtPrc) +'</h4>';
			myCollectionHtml += '		</div>';
			myCollectionHtml += '	</div>';
		}
		if(result[i].dealTypCd == "SALE" && result[i].dealTypCd == "IP"){
			myCollectionHtml += '	<div class="item-div-img sale-on">';
			myCollectionHtml += '		<img src="'+ result[i].workMainImgUrl +'">';
			myCollectionHtml += '		<div class="item-ho2 sale-div">';
			myCollectionHtml += '			<h3>판매중</h3>';
			myCollectionHtml += '				<ul><li>'+ result[i].dealRemainingDay +'<span>day</span></li>';
			myCollectionHtml += '				<li>'+ result[i].dealRemainingHour +'<span>hrs</span></li>';
			myCollectionHtml += '				<li>'+ result[i].dealRemainingMin +'<span>min</span></li>';
			myCollectionHtml += '				<li>'+ result[i].dealRemainingSec +'<span>sec</span></li></ul>';
			myCollectionHtml += '		</div>';
			myCollectionHtml += '	</div>';
		}
		if(result[i].dealTypCd == "EN"){
			myCollectionHtml += '	<div class="item-div-img sold-3">';
			myCollectionHtml += '		<img src="'+ result[i].workMainImgUrl +'">';
			myCollectionHtml += '	</div>';
		}
		if(result[i].dealTypCd == null){
			myCollectionHtml += '<div class="item-div-img reg">';
			myCollectionHtml += '	<img src="'+ result[i].workMainImgUrl +'">';
			myCollectionHtml += '	<div class="item-ho3 reg-div">';
			myCollectionHtml += '		<div class="regs">';
			myCollectionHtml += '			<a href="#" class="reg-a" workSq="'+ result[i].workSq +'"><span>거래 등록</span></a>';
			myCollectionHtml += '			<a href="#" class="cor-a" workSq="'+ result[i].workSq +'"><span>소장품 수정</span></a>';
			myCollectionHtml += '		</div>';
			myCollectionHtml += '	</div>';
			myCollectionHtml += '</div>';
			
		}
		myCollectionHtml += '	<div class="item-body">';
		myCollectionHtml += '		<div class="heart off" workSq="'+ result[i].workSq +'" style="cursor:pointer;"></div>';
		myCollectionHtml += '		<div class="uesr-s">';
		//if(result[i].artstProfileImgUrl == null || result[i].artstProfileImgUrl == ""){
			myCollectionHtml += '		<img src="resources/img/de/ues-icon.png"/>';
		//}else{
			//myCollectionHtml += '		<img src="'+ result[i].artstProfileImgUrl +'"/>';
		//}
		myCollectionHtml += '		</div>';
		myCollectionHtml += '		<div class="text-s">';
		myCollectionHtml += '			<h3>'+ result[i].artstActvtyNm +' ('+ result[i].artstBirthYear +')</h3>';
		myCollectionHtml += '			<p class="ts-1">'+ result[i].workNm +' ('+ result[i].workProdcYear +')</p>';
		myCollectionHtml += '			<p>'+ result[i].workMatrl +'</p>';
		myCollectionHtml += '			<p>'+ result[i].workSizeDepth +'x'+ result[i].workSizeWidth +'</p>';
		if(result[i].dealTypCd == "AUCT"){
			myCollectionHtml += '			<h4>입찰가 '+ formatComma(result[i].maxBidPrc) +'</h4>';
			myCollectionHtml += '			<p class="ts-2">';
			myCollectionHtml += '			'+ result[i].dealStrtDate +' – '+ result[i].dealEndngDate +'<br/>';
			myCollectionHtml += '			응찰수 : '+ result[i].bidCnt +'<br/>';
			myCollectionHtml += '			'+ result[i].dealRemainingDay +'일 '+ result[i].dealRemainingHour +'시 '+ result[i].dealRemainingMin +'분 '+ result[i].dealRemainingSec +'초';
			myCollectionHtml += '			</p>';
		}
		if(result[i].dealTypCd == "SALE"){
			myCollectionHtml += '			<h4>판매가 '+ formatComma(result[i].maxBidPrc) +'</h4>';
		}
		if(result[i].dealTypCd == null){
			myCollectionHtml += '			<h4>가격 '+ formatComma(result[i].workPrc) +'</h4>';
		}
		myCollectionHtml += '		</div>';
		if(result[i].authSq == 2){
			myCollectionHtml += '	<div class="artist active"><span>Artist</span></div>';
		}
		if(result[i].authSq == 1){
			myCollectionHtml += '	<div class="artist"><span>Artist</span></div>';
		}
		myCollectionHtml += '	</div>';
		myCollectionHtml += '</figure>';
	}
	$("#columns2").append(myCollectionHtml).trigger("create");
}

$(document).on("click", ".cor-a", function(){
	var workSq= $(this).attr("workSq");
    pageGoPost({
		url:"/myCollectionMod",
		target:"_self",
		vals:[
			["workSq", workSq]
		]
	});
});

$(document).on("click", ".reg-a", function(){
	var workSq= $(this).attr("workSq");
	modalAlertShow("서비스 준비중 입니다.","");
});

$(document).on("click", ".heart", function(){
	var param = new Object();
	var element = $(this);
	param.workSq= element.attr("workSq");
	param.mbrSq = sMbrSqVal;
	if($(this).hasClass("on")){
		$.ajax({
	        type: "post",
	        url: "/scrapDel",
	        data: param,
	        success: function(data) {
	        	element.removeClass("on");
	        	element.addClass("off");
	        },
	        error: function(error) {
	            alert("오류 발생" + error);
	        }
		});
	}else{
		$.ajax({
	        type: "post",
	        url: "/scrapAdd",
	        data: param,
	        success: function(data) {
	        	if(data == 1){
	        		element.addClass("on");
	        	}else{
	        		modalAlertShow("스크랩 등록에 실패했습니다. 관리자에게 문의하세요.");
	        	}
	        },
	        error: function(error) {
	            alert("오류 발생" + error);
	        }
		});
	}
});
      
      $(window).on("resize", function () {
	   	    if(window.matchMedia('(min-width: 1537px)').matches)
	   	    {
		   	    document.querySelectorAll(".item").forEach((item) => {
		       	     item.style.gridRowEnd = `span ${item.clientHeight + 0}`;
		       	  });
		       	  const wrap = document.querySelector(".columns-wrap2");
		       	  wrap.style.display = "grid";
		       	  wrap.style.gridTemplateColumns = "repeat(auto-fill, 353px)";
		       	  wrap.style.gridAutoRows = "1px";
		       	  
		       	  
	   	    	
	   	    	
	   	    }  else if(window.matchMedia('(min-width: 751px)').matches) {
	   	    	
		   	      document.querySelectorAll(".item").forEach((item) => {
		       	     item.style.gridRowEnd = `span ${item.clientHeight + 280}`;
		       	  });
		       	  const wrap = document.querySelector(".columns-wrap2");
		       	  wrap.style.display = "grid";
		       	  wrap.style.gridTemplateColumns = "repeat(auto-fill, 65rem)";
		       	  wrap.style.gridAutoRows = "1px";
		       	
	   	    	
	   	     } else {
	   	    	var swiper = new Swiper(".mySwiper2", {
	   	          slidesPerView: 1,
	   	          slidesPerGroup: 1,
	   	          loop: true,
	   	          loopFillGroupWithBlank: true,
	   	          pagination: {
	   	            el: ".swiper-pagination",
	   	            clickable: true,
	   	          },
	   	          navigation: {
	   	            nextEl: ".swiper-button-next",
	   	            prevEl: ".swiper-button-prev",
	   	          },
	   	     });
	   	    	
	   	    	document.querySelectorAll(".item").forEach((item) => {
		       	     item.style.gridRowEnd = `span ${item.clientHeight + 150}`;
		       	  });
		       	  const wrap = document.querySelector(".columns-wrap2");
		       	  wrap.style.display = "grid";
		       	  wrap.style.gridTemplateColumns = "repeat(auto-fill, )";
		       	  wrap.style.gridAutoRows = "1px";
	   	    	
	       	  
	   	     };
	   	}).resize();
      
      
      
      $(document).ready(function () {
	      $(".elm").hover(
	    	function(){ $(this).addClass('hover') },
	   	    function(){ $(this).removeClass('hover') }
	   	  )
	   	  $(".cn-b").hover(
	    	function(){ $(this).addClass('gis') },
	   	    function(){ $(this).removeClass('gis') }
	   	  )
      });
      
      $(function() {                      
    	  $(".bab-bo").click(function() { 
    	    $(this).toggleClass("bashow");     
    	  });
    	  
    	  $(".lg-my").click(function() { 
      	    $('.bg-sh').toggleClass('bg-show');     
      	 	 $('.s-hov').toggleClass('s-hov-show');     
      	  });
    	  
    	});
      
      
      
      
      /* 메뉴바 FIXED */
      if (jQuery(window).width() > 0) {
          jQuery(window).on("scroll",function(ev){
              if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
                  jQuery('.head-wrap').addClass('fixed');
              }
              else{
                  jQuery('.head-wrap').removeClass('fixed');
              }
              return false;
          });
      }
      
      
      /* jQuery(function($) {

    	    window.onresize = function(){
    	      document.location.reload();
    	    };

    	}); */
      
      
      
      var delay = 300;
      var timer = null;

      //Javascript
      window.addEventListener('resize', function(){
      	clearTimeout(timer);
      	timer = setTimeout(function(){
      		document.location.reload();
      	}, delay);
      });

      //jQuery
      $(window).on('resize', function(){
      	clearTimeout(timer);
      	timer = setTimeout(function(){
      		document.location.reload();
      	}, delay);
      });
      
      $('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
    	    // The event won't be propagated up to the document NODE and 
    	    // therefore delegated events won't be fired
    	    event.stopPropagation();
    	});
</script>
    
	
	
	
	
</body>

</html>
