<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>딜링아트</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	
	<meta name="author" content="">
	<meta name="keywords" content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta name="description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:type" content="website">
	<meta property="og:title" content="딜링아트">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/DA_logo_og.png">
	<meta property="og:url" content="https://www.dealing-art.com">
	
	<meta name="robots"content="noindex">
	
	<!-- google -->
    <meta name="google-site-verification" content="EKiW_Lm3Qw-DYnLT9qokEpZT2Sa8tSQuVWhVEvs4kPk" />
    <!-- faceBook -->
    <meta name="facebook-domain-verification" content="bgotqya9tcsrgrmspnq0uywh85kjzh" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- HTML의 <head> 섹션에 전체 사이트 태그를 복사합니다. -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRJBSR52MT"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WRJBSR52MT');
	</script>
	
	<!-- Google Tag Manager -->
	<!-- 페이지의 <head>에서 가능한 한 높은 위치에 코드를 붙여넣으세요. -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBP5CQ9');</script>
	<!-- End Google Tag Manager -->
			
	<!-- Google Tag Manager (noscript) -->
	<!-- 또한 여는 <body> 태그 바로 뒤에 코드를 붙여넣으세요. -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBP5CQ9"height="0" width="0" style="display:none; visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	
	<!-- 페이스북 Meta Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '5995234030505207');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=5995234030505207&ev=PageView&noscript=1"/></noscript>
    
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	.swi-box::before{background-color:#f9f9f9;}
    	.footer-wrap{margin-top:0;}
    	.hd-div{background-color:#fff;}
    	[name=COLLworkClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		[name=WORKworkClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
		/* Firefox */
		input[type=number] {
		  -moz-appearance: textfield;
		}
    </style>
    
    <link rel="icon" type="image/png" href="/resources/img/favicon.png">
    <link type="text/css" rel="stylesheet" href="/resources/css/common_new.css"/>
    
</head>
<body>
	<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
    <div id="container">
        <div class="mypage_wrap">
            <h2>마이페이지</h2>
            <div class="mypage_contents">
            	<div id ="left_menu"></div>
                <div class="contents_right">
                  <!-- 모바일 레프트 메뉴 시작 -->
                  <div class="left_nav" style="display: inherit;">
                   <!--  <h2 class="mb30">마이페이지</h2> -->
                    <ul>
                      <li class="on" data-id="1" style="cursor: pointer;" onclick="listToggle(this);"><a>마이페이지</a>
                      </li>
                      <li id="mypage_list_ui">
	                      <ul>
	                          <li><a href="/myPage/myPageMobile">모두보기</a></li>
	                          <li><a href="/myPage/myWorkListMobile">나의 작품</a></li>
	                          <li><a href="/myPage/show_off">자랑하기</a></li>
	                          <li><a href="/myPage/exhint">전시후기&amp;소개</a></li>
	                          <li><a href="/myPage/issue">이슈</a></li>
	                          <li><a href="/myPage/notis">알림함</a></li>
	                          <li><a href="/myPage/scrap">스크랩</a></li>
	                          <li><a href="/myPage/following">팔로잉</a></li>
	                        </ul>
                       </li>
                      <li class="on" data-id="2" style="cursor: pointer;" onclick="listToggle(this);"><a>거래</a>
                      </li>
                      <li id="mypage_deal_list_ui">
                       	  <ul>
 	                     	<li><a href="/myPage/myDeal">거래 내역</a></li>
 	                      	<li><a href="/myPage/coupon">쿠폰</a></li>
 	                     </ul>
                      </li>
                      <li class="on" data-id="3" style="cursor: pointer;" onclick="listToggle(this);"><a>작가</a>
                      </li>
                      <li id="mypage_artist_list_ui">
                       	  <ul>
 	                     	<li><a href="/myPage/information">작가 정보</a></li>
 	                     </ul>
                      </li>
                      <li class="on" data-id="4" style="cursor: pointer;" onclick="listToggle(this);"><a>나의 정보</a>
                      </li>
                      <li id="mypage_user_list_ui">
                       	  <ul>
 	                     	<li><a href="/myPage/memberEdit">회원 정보 수정</a></li>
 	                      	<li><a href="/myPage/withdrawal">회원탈퇴</a></li>
 	                      	<li><a href="/myPage/alarm">알림 설정</a></li>
 	                     </ul>
                      </li>
                    </ul>
                  </div>
                  <!-- 모바일 레프트 메뉴 끝 -->
                 <!--  <div class="mypage_works_wrap">
                    <div class="tit_wrap">
                        <h2>나의 작품 <span id="myWorksTotal">99</span></h2>
                        <a href="/myPage/myWorkList" class="btn_more">더보기</a>
                    </div>
                    <ul id="myWorks">
                        <li>
                          <a href="#"><img src="/resources/img/img_new/sample_works01.jpg" alt=""></a>
                        </li>
                        <li>
                          <a href="#"><img src="/resources/img/img_new/sample_works02.jpg" alt=""></a>
                        </li>
                        <li class="pic_more">
                          <a href="#"><span>+ 99</span><img src="/resources/img/img_new/sample_works03.jpg" alt=""></a>
                        </li>     
                      </ul>
                  </div>
                  <div class="mypage_showingoff_wrap">
                    <div class="tit_wrap">
                        <h2>자랑하기 <span id="myBoastTotal">99</span></h2>
                        <a href="/temp/mypage_showingoff" class="btn_more">더보기</a>
                    </div>
                    <ul id="myBoast">
                        <li>
                          <a href="#"><img src="/resources/img/img_new/sample_works05.jpg" alt=""></a>
                        </li>
                        <li>
                          <a href="#"><img src="/resources/img/img_new/sample_works06.jpg" alt=""></a>
                        </li>
                        <li class="pic_more">
                          <a href="#"><span>+ 99</span><img src="/resources/img/img_new/sample_works07.jpg" alt=""></a>
                        </li>                        
                      </ul>
                  </div>
                  <div class="mypage_posts_warp">
                    <div class="intro_posts">
                        <div class="tit_wrap">
                            <h2><img src="/resources/img/img_new/ico_intro.png" alt=""><span>전시후기 / 소개</span><em id="myExhbnTotal">+99</em></h2>
                            <a href="/temp/mypage_exhint" class="btn_more">더보기</a>
                        </div>
                        <ol id="myExhbn">
                            <li><a href="#">희망을 주는 그림</a><em>[7]</em></li>
                            <li><a href="#">희망을 주는 그림</a><em></em></li>
                            <li><a href="#">희망을 주는 그림</a><em>[7]</em></li>
                            <li><a href="#">희망을 주는 그림</a><em></em></li>
                        </ol>
                    </div>                    
                  </div>
                  <div id = "myIssue_warp" class="mypage_posts_warp mt10">
                    <div class="issue_posts">
                        <div class="tit_wrap">
                            <h2><img src="/resources/img/img_new/ico_issue.png" alt=""><span>이슈</span><em id="myIssueTotal">+99</em></h2>
                            <a href="/temp/mypage_issue" class="btn_more">더보기</a>
                        </div>
                        <ol id="myIssue">
                            <li><a href="#">도자기 보관 방법</a><em>[7]</em></li>
                            <li><a href="#">도자기 보관 방법</a><em></em></li>
                            <li><a href="#">도자기 보관 방법</a><em>[7]</em></li>
                            <li><a href="#">도자기 보관 방법</a><em></em></li>
                        </ol>
                    </div>                    
                  </div>
                  <div class="mypage_scrap_wrap">
                    <div class="tit_wrap">
                        <h2>스크랩 <span>99</span></h2>
                        <button class="btn_more">더보기</button>
                    </div>
                    <ul>
                        <li>
                          <a href="#"><img src="/resources/img/img_new/sample_master01.jpg" alt=""></a>
                        </li>
                        <li>
                          <a href="#"><img src="/resources/img/img_new/sample_master02.jpg" alt=""></a>
                        </li>
                        <li class="pic_more">
                          <a href="#"><span>+ 99</span><img src="/resources/img/img_new/sample_master03.jpg" alt=""></a>
                        </li>                        
                      </ul>
                  </div>
                  <div class="mypage_following_wrap">
                    <div class="tit_wrap">
                        <h2>팔로잉 <span>99</span></h2>
                        <button class="btn_more">더보기</button>
                    </div>
                    <ul>
                        <li>
                          <a href="#"><img src="/resources/img/img_new/sample_master01.jpg" alt=""></a>
                        </li>
                        <li>
                          <a href="#"><img src="/resources/img/img_new/sample_master02.jpg" alt=""></a>
                        </li>
                        <li class="pic_more">
                          <a href="#"><span>+ 99</span><img src="/resources/img/img_new/sample_master03.jpg" alt=""></a>
                        </li>                        
                      </ul>
                  </div>
                  <div class="mypage_posts_warp">
                    <div class="noticebox_posts">
                        <div class="tit_wrap">
                            <h2><img src="/resources/img/img_new/ico_notice.png" alt=""><span>알림함</span><em>+99</em></h2>
                            <button class="btn_more">더보기</button>
                        </div>
                        <ol>
                            <li><a href="#">[판매제안] 작품이 너무 맘에 듭니다. 판매로 올려주세요 ♥</a></li>
                            <li><a href="#">[가격제안] 10% 낮춰서 1,000,000원에 구매 희망합니다!</a></li>
                            <li><a href="#">[상세사진요청]후면 사진 요청 드려요.</a></li>
                        </ol>
                    </div>                    
                  </div> -->
              </div>
            </div>
        </div>
    </div>
    <th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
    <script type="text/javascript">
    
    $("document").ready(function(){
    	
    	//$("#left_menu").load("/myPage/mypage_common_left");  // 레프트 메뉴 삽입
    	
    	$.ajax({
			type: "POST"
			, url: "/myPage/main/MyInfoAction"
			, success: function(data){
				setMyWorks(data.myWorks, data.myWorksTotal);
				setMyBoast(data.myBoast, data.myBoastTotal);
				setMyExhbn(data.myExhbn, data.myExhbnTotal);
				setMyIssue(data.myIssue, data.myIssueTotal);
			}
			, error: function(data){
				alert("오류 발생" + error);
			}
		});
    });
    
    function setMyWorks(data, total){
    	var html = '';
    	if(total > 0){
        	for(i=0; i<data.length; i++){
                if(i == 2){
                	html += '<li class="pic_more">';
                    html += '  	<a href="/deal/workDetail?SqNumber='+data[i].workSq+'">';
                    html += '		<span>+ '+total+'</span>';
                    html += '		<img src="'+data[i].workMainImgUrl+'">';
                    html += '	</a>';
                    html += '</li>';
                }else{
                	html += '<li>';
                    html += '	<a href="/deal/workDetail?SqNumber='+data[i].workSq+'">';
                    html += '		<img src="'+data[i].workMainImgUrl+'">';
                    html += '	</a>';
                    html += '</li>';
                }
        	}
        	$("#myWorks").empty();
            $("#myWorks").append(html).trigger("create");
            $("#myWorksTotal").text(total);
    	}else{
    		$(".mypage_works_wrap").hide();
    	}
    }
    
    function setMyBoast(data, total){
    	var html = '';
    	if(total > 0){
        	for(i=0; i<data.length; i++){
                if(i == 2){
                	html += '<li class="pic_more">';
                    html += '  	<a href="/deal/workDetail?SqNumber='+data[i].comtSq+'">';
                    html += '		<span>+ '+total+'</span>';
                    html += '		<img src="'+data[i].comtImgUrl+'">';
                    html += '	</a>';
                    html += '</li>';
                }else{
                	html += '<li>';
                    html += '	<a href="/deal/workDetail?SqNumber='+data[i].comtSq+'">';
                    html += '		<img src="'+data[i].comtImgUrl+'">';
                    html += '	</a>';
                    html += '</li>';
                }
        	}
        	$("#myBoast").empty();
            $("#myBoast").append(html).trigger("create");
            $("#myBoastTotal").text(total);
    	}else{
    		$(".mypage_showingoff_wrap").hide();
    	}
    }
    
    function setMyExhbn(data, total){
    	var html = '';
    	if(total > 0){
        	for(i=0; i<data.length; i++){
                if(data[i].cmtTotal > 0){
                    html += '<li>';
    				html += "	<a href='/community/exhibitDetail?SqNumber="+data[i].comtSq +"' data-mbrSq="+ data[i].mbrSq +" data-comtsq="+ data[i].comtSq +" data-artstsq="+ data[i].artstSq +" data-worksq="+ data[i].workSq +" onclick='openComtDetail(this, \"EXH\");'>"+data[i].comtTitle+"</a>";
                    html += '	<em>['+data[i].totalCmt+']</em>';
                    html += '</li>';
                }else{
                	html += '<li>';
    				html += "	<a href='/community/exhibitDetail?SqNumber="+data[i].comtSq +"' data-mbrSq="+ data[i].mbrSq +" data-comtsq="+ data[i].comtSq +" data-artstsq="+ data[i].artstSq +" data-worksq="+ data[i].workSq +" onclick='openComtDetail(this, \"EXH\");'>"+data[i].comtTitle+"</a>";
                    html += '</li>';
                }
        	}
        	$("#myExhbn").empty();
            $("#myExhbn").append(html).trigger("create");
            $("#myExhbnTotal").text(total);

    	}else{
    		$(".mypage_posts_warp").hide();
    	}
    }
    
    function setMyIssue(data, total){
    	var html = '';
    	if(total > 0){
        	for(i=0; i<data.length; i++){
                if(data[i].cmtTotal > 0){
                    html += '<li>';
    				html += "	<a href='/community/exhibitDetail?SqNumber="+data[i].comtSq +"' data-mbrSq="+ data[i].mbrSq +" data-comtsq="+ data[i].comtSq +" data-artstsq="+ data[i].artstSq +" data-worksq="+ data[i].workSq +" onclick='openComtDetail(this, \"KNO\");'>"+data[i].comtTitle+"</a>";
                    html += '	<em>['+data[i].totalCmt+']</em>';
                    html += '</li>';
                }else{
                	html += '<li>';
    				html += "	<a href='/community/exhibitDetail?SqNumber="+data[i].comtSq +"' data-mbrSq="+ data[i].mbrSq +" data-comtsq="+ data[i].comtSq +" data-artstsq="+ data[i].artstSq +" data-worksq="+ data[i].workSq +" onclick='openComtDetail(this, \"KNO\");'>"+data[i].comtTitle+"</a>";
                    html += '</li>';
                }
        	}
        	$("#myIssue").empty();
            $("#myIssue").append(html).trigger("create");
            $("#myIssueTotal").text(total);

    	}else{
    		$("#myIssue_warp").hide();
    	}
    }
    
	// 커뮤니티 상세 페이지 이동
	function openComtDetail(obj, type) {
		var url = "";
		
		switch(type) {
		case "EXH":
			url = "/community/exhibitDetail";
			break;
		case "KNO":
			url = "/community/knowhowDetail";
			break;
		}
		
		pageGoPost({
			url: url,
			target:"_self",
			vals:[
				["mbrSq", $(obj).data("mbrsq")],
				["comtSq", $(obj).data("comtsq")],
				["artstSq", $(obj).data("artstsq")],
				["workSq", $(obj).data("worksq")],
				["comtTypCd", type]
			]
		});
	}
	//메뉴 리스트 펼치기
	function listToggle(obj){
		var listid = $(obj).data('id');
		console.log(listid);
		var showchk = false;
		
		if($(obj).hasClass("on")){
			$(obj).removeClass('on');
			$(obj).addClass('off');
			showchk = false;

		}else if($(obj).hasClass("off")){
			$(obj).removeClass('off');
			$(obj).addClass('on');		
			showchk = true;
		}
		
		switch (listid){
		case 1:
			if(showchk){
				$("#mypage_list_ui").show();
			}else{
				$("#mypage_list_ui").hide();
			}
			
			break;
		case 2:
			
			if(showchk){
				$("#mypage_deal_list_ui").show();
			}else{
				$("#mypage_deal_list_ui").hide();
			}
			
			break;
		case 3:
			if(showchk){
				$("#mypage_artist_list_ui").show();
			}else{
				$("#mypage_artist_list_ui").hide();
			}
			break;
		case 4:
			if(showchk){
				$("#mypage_user_list_ui").show();
			}else{
				$("#mypage_user_list_ui").hide();
			}
			break;
		}	

	}

    </script>
</body>
</html>