<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
				<input type="hidden" id="pageLinkCopy" value="">
                <div class="contents_left">
                  <div class="myinfo_wrap">
                    <div class="myinfo_pic"></div>
                    <div class="myinfo_con">
                      <ul>
                        <li class="name"><span></span></li>
                        <li class="email"></li>
                        <li class="mem_type"></li>
                        <li class="line"></li>
                        <li class="profile_modify"></li>
                      </ul>
                    </div>
                    <div class="icon_box">
                      <ul>
                          <li><p class="ico_scrap"></p>스크랩<br><span>99</span></li>
                          <li><p class="ico_good"></p>좋아요<br><span>99</span></li>
                          <li><p class="ico_alarm"></p>알림<br><span>99</span></li>
                      </ul>
                    </div>
                    <div class="icon_sns_box">
                      <ul>
                        <li><a href="#"><p class="ico_facebook"></p></a></li>
                        <li><a href="#"><p class="ico_instagram"></p></a></li>
                        <li><a href="#"><p class="ico_youtube"></p></a></li>
                        <li> <a href="#"><p class="ico_twitter"></p></a></li>
                      </ul>
                    </div>                    
                  </div>
                  <div class="left_nav">
                    <ul>
                      <li th:if="${#strings.isEmpty(mbrSq)}" class="on" data-id= "1" style ="cursor: pointer;" onclick = listToggle(this);>
                      	<a>마이페이지</a>
                      </li>
                      <li th:unless="${#strings.isEmpty(mbrSq)}" class="on" data-id= "1" style ="cursor: pointer;" onclick = listToggle(this);>
                      	<a>페이지</a>
                      </li>
                      
                      <li id ="mypage_list_ui" th:if="${#strings.isEmpty(mbrSq)}">
	                  	<ul>
	                    	<li><a href="/myPage/main">모두보기</a></li>
	                        <li><a href="/myPage/workList">나의 작품</a></li>
	                        <li><a href="/myPage/show_off">자랑하기</a></li>
	                        <li><a href="/myPage/exhint">전시소개&후기</a></li>
	                        <li><a href="/myPage/issue">이슈</a></li>
	                        <li><a href="/myPage/notis">알림함</a></li>
	                        <li><a href="/myPage/scrap">스크랩</a></li>
	                        <li><a href="/myPage/following">팔로잉</a></li>
	                      </ul>
                      </li>
                      
                      <li id ="mypage_list_ui" th:unless="${#strings.isEmpty(mbrSq)}">
	                  	<ul>
	                    	<li><a th:href="@{/otherPage/main(mbrSq=${mbrSq})}">모두보기</a></li> 
	                        <li><a th:href="@{/otherPage/workList(mbrSq=${mbrSq})}">나의 작품</a></li> 
	                        <li><a th:href="@{/otherPage/show_off(mbrSq=${mbrSq})}">자랑하기</a></li> 
	                        <li><a th:href="@{/otherPage/exhint(mbrSq=${mbrSq})}">전시소개&후기</a></li> 
	                        <li><a th:href="@{/otherPage/issue(mbrSq=${mbrSq})}">이슈</a></li>
	                        <li><a th:href="@{/otherPage/following(mbrSq=${mbrSq})}">팔로잉</a></li> 
	                   	</ul>
                      </li>
                      
                      <th:block th:if="${#strings.isEmpty(mbrSq)}">
                      <li class="on" data-id= "2" style ="cursor: pointer;" onclick = listToggle(this);><a>거래</a>
                      </li>
                      <li id ="mypage_deal_list_ui">
                       	  <ul>
 	                     	<li><a href="/myPage/myDeal">거래 내역</a></li>
 	                      	<li><a href="/myPage/coupon">쿠폰</a></li>
 	                     </ul>
                      </li>
                      <li class="on" data-id= "3" style ="cursor: pointer;" onclick = listToggle(this);><a>작가</a>
                      </li>
                      <li id ="mypage_artist_list_ui">
                       	  <ul>
 	                     	<li><a href="/myPage/information">작가 정보</a></li>
 	                     </ul>
                      </li>
                      <li class="on" data-id= "4" style ="cursor: pointer;" onclick = listToggle(this);><a>나의 정보</a>
                      </li>
                      <li id ="mypage_user_list_ui">
                       	  <ul>
 	                     	<li><a href="/myPage/memberEdit">회원 정보 수정</a></li>
 	                      	<li><a href="/myPage/withdrawal">회원탈퇴</a></li>
 	                      	<li><a href="/myPage/alarm">알림 설정</a></li>
 	                     </ul>
                      </li>
                      </th:block>
                    </ul>
                  </div>
                </div>

</body>
<script th:inline="javascript">
var mbrSq = /*[[${mbrSq}]]*/ 'default';
//내정보 불러오기
$("document").ready(function(){

	if(mbrSq != null && mbrSq != "" && mbrSq != undefined){
		$.ajax({
			type: "POST"
			, url: "/myPage/main/myInfo"
			, data : {
				mbrSq : mbrSq
			}
			, success: function(data){
				setMyInfo(data.myInfo);
			}
			, error: function(data){
				alert("오류 발생" + error);
			}
		});
	}else{
		$.ajax({
			type: "POST"
			, url: "/myPage/main/myInfo"
			, success: function(data){
				setMyInfo(data.myInfo);
			}
			, error: function(data){
				alert("오류 발생" + error);
			}
		});
	}
	
});

function setMyInfo(data){
	var html = '';
	
	//회원 프로필 사진 유무
	//프로필이미지 백그라운드에서 이미지 태그로 바꿔줘야함
	if(data.mbrProfileImgUrl != null && data.mbrProfileImgUrl != ""){
		html += '<div class="myinfo_pic" ><a onclick="copy_to_clipboard()"><img src="'+data.mbrProfileImgUrl+'" alt=""></a></div>';
	}else{
		html += '<div class="myinfo_pic"><a onclick="copy_to_clipboard()"><img src="/resources/img/mypage/icon-u.png"></a></div>';
	}
    html += '<div class="myinfo_con">';
    html += '  <ul>';
    html += '    <li class="name">'+data.mbrNcknm+'<span></span></li>';
    html += '    <li class="email">'+data.mbrId+'</li>';
    html += '    <li class="mem_type">회원유형<span>'+data.mbrTypNm+'</span></li>';
    html += '    <li class="line"></li>';
    if(mbrSq == null || mbrSq == ""){ //타인페이지가 아니면
    	html += '    <li class="profile_modify"><a href="/myPage/memberEdit"><span></span>프로필 수정</a></li>';
    }
    html += '  </ul>';
    html += '</div>';
    html += '<div class="icon_box">';
    html += '  <ul>';
    html += '      <li><p class="ico_scrap"></p>스크랩<br><span>'+data.mbrScraps+'</span></li>';
    html += '      <li><p class="ico_good"></p>좋아요<br><span>'+data.mbrLikes+'</span></li>';
    html += '      <li><p class="ico_alarm"></p>알림<br><span>'+data.mbrNotis+'</span></li>';
    html += '  </ul>';
    html += '</div>';
    html += '<div class="icon_sns_box">';
    html += '  <ul>';
    //회원 페이스북 url 유무
    if(data.mbrFacebookUrl != null && data.mbrFacebookUrl != ""){
    	html += '    <li><a href="'+data.mbrFacebookUrl+'" target="_blank"><p class="ico_facebook"></p></a></li>';
    }else{
    	html += '    <li><a href="javascript:void(0);" onclick="modalAlertShow(\'페이스북 주소가 연결되어 있지 않습니다.\', \'\');"><p class="ico_facebook"></p></a></li>';
    }
    //회원 인스타그램 url 유무
    if(data.mbrInstarUrl != null && data.mbrInstarUrl != ""){
    	html += '    <li><a href="'+data.mbrInstarUrl+'" target="_blank"><p class="ico_instagram"></p></a></li>';
    }else{
    	html += '    <li><a href="javascript:void(0);" onclick="modalAlertShow(\'인스타그램 주소가 연결되어 있지 않습니다.\', \'\');"><p class="ico_instagram"></p></a></li>';
    }
    //회원 유투브 url 유무
    if(data.mbrYoutubeUrl != null && data.mbrYoutubeUrl != ""){
    	html += '    <li><a href="'+data.mbrYoutubeUrl+'" target="_blank"><p class="ico_youtube"></p></a></li>';
    }else{
    	html += '    <li><a href="javascript:void(0);" onclick="modalAlertShow(\'유튜브 주소가 연결되어 있지 않습니다.\', \'\');"><p class="ico_youtube"></p></a></li>';
    }
    //회원 트위터 url 유무
    if(data.mbrTwitterUrl != null && data.mbrTwitterUrl != ""){
    	html += '    <li> <a href="'+data.mbrTwitterUrl+'" target="_blank"><p class="ico_twitter"></p></a></li>';
    }else{
    	html += '    <li><a href="javascript:void(0);" onclick="modalAlertShow(\'트위터 주소가 연결되어 있지 않습니다.\', \'\');"><p class="ico_twitter"></p></a></li>';
    }
    html += '  </ul>';
    html += '</div>';
    $(".myinfo_wrap").empty();
    $(".myinfo_wrap").append(html).trigger("create");
    
    var host = window.location.origin;
    var url = "/otherPage/main?mbrSq="+data.mbrSq;
    var location = host+url;
    
    $("#pageLinkCopy").val(location);
    
}

//메뉴 리스트 펼치기
function listToggle(obj){
	var listid = $(obj).data('id');
	console.log(listid);
	var showchk = false;
	
	if($(obj).hasClass("on")){
		$(obj).removeClass('on');
		$(obj).addClass('off');
		showchk = false;

	}else if($(obj).hasClass("off")){
		$(obj).removeClass('off');
		$(obj).addClass('on');		
		showchk = true;
	}
	
	switch (listid){
	case 1:
		if(showchk){
			$("#mypage_list_ui").show();
		}else{
			$("#mypage_list_ui").hide();
		}
		
		break;
	case 2:
		
		if(showchk){
			$("#mypage_deal_list_ui").show();
		}else{
			$("#mypage_deal_list_ui").hide();
		}
		
		break;
	case 3:
		if(showchk){
			$("#mypage_artist_list_ui").show();
		}else{
			$("#mypage_artist_list_ui").hide();
		}
		break;
	case 4:
		if(showchk){
			$("#mypage_user_list_ui").show();
		}else{
			$("#mypage_user_list_ui").hide();
		}
		break;
	}	

}

//자바슼릡트 프로필링크 복사하기 (타인페이지로 지정)
function copy_to_clipboard() {
	//복사할 타인페이지 ID엘리먼트 저장
	var copyText = document.getElementById("pageLinkCopy");
	
	modalConfirm("프로필링크를 복사하시겠습니까? 타인에게 프로필 링크 공유 시 타인페이지로 호출됩니다.", 
   		function(confirm){
   			if(confirm){
   				window.navigator.clipboard.writeText(copyText.value).then(() => { // writeText()의 인자로 넣은 텍스트가 복사된다.
   				  // 복사가 완료되면 이 부분이 호출된다.
   					modalAlertShow("프로필링크가 복사되었습니다.", "");
   				});
   			}
		}
	);
	
	
	

}

</script>
</html>