<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>딜링아트</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	
	<meta name="author" content="">
	<meta name="keywords" content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta name="description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:type" content="website">
	<meta property="og:title" content="딜링아트">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/DA_logo_og.png">
	<meta property="og:url" content="https://www.dealing-art.com">
	
	<meta name="robots"content="noindex">
	
	<!-- google -->
    <meta name="google-site-verification" content="EKiW_Lm3Qw-DYnLT9qokEpZT2Sa8tSQuVWhVEvs4kPk" />
    <!-- faceBook -->
    <meta name="facebook-domain-verification" content="bgotqya9tcsrgrmspnq0uywh85kjzh" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- HTML의 <head> 섹션에 전체 사이트 태그를 복사합니다. -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRJBSR52MT"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WRJBSR52MT');
	</script>
	
	<!-- Google Tag Manager -->
	<!-- 페이지의 <head>에서 가능한 한 높은 위치에 코드를 붙여넣으세요. -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBP5CQ9');</script>
	<!-- End Google Tag Manager -->
			
	<!-- Google Tag Manager (noscript) -->
	<!-- 또한 여는 <body> 태그 바로 뒤에 코드를 붙여넣으세요. -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBP5CQ9"height="0" width="0" style="display:none; visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	
	<!-- 페이스북 Meta Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '5995234030505207');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=5995234030505207&ev=PageView&noscript=1"/></noscript>
    
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	.swi-box::before{background-color:#f9f9f9;}
    	.footer-wrap{margin-top:0;}
    	.hd-div{background-color:#fff;}
    	[name=exhibitClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		[name=exhibitexhibitClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
		/* Firefox */
		input[type=number] {
		  -moz-appearance: textfield;
		}
    </style>
    <style type="text/css">
    	/* .ck.ck-editor {
    		min-width: 1200px;
    	} */
  		.ck-editor__editable {
  			min-height: 500px;
  		}
    </style>
    <link rel="icon" type="image/png" href="/resources/img/favicon.png">
    <link type="text/css" rel="stylesheet" href="/resources/css/common_new.css"/>
</head>
<body>
	<div class="wrap">
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
		
		<div class="body-wrap -mobile">
			
			<div class="contents max-1500">
				<div class="sub-title">
					<h3 class="mo-no">전시 후기 / 소개 등록</h3>
				</div>
				
				<div class="baeg-wrap">
					<div class="mypage_collectcreate_wrap" style="border: none; margin: 0;">
						<div class="second" style="margin: 0; width: auto;">
							<div class="myd-box">
								<div class="myd-box-2">
									<table class="mstyle-2">
										<tr>
											<th><span class="my-red">지역</span></th>
											<td>
												<div class="sel_sortation">
								                    <select name="exhibitRegionCd" id="exhibitRegionCd">
								                        <option value="">지역</option>
								                        <option value="SEO">서울</option>
								                        <option value="INC">인천</option>
								                        <option value="GYE">경기</option>
								                        <option value="GAN">강원</option>
								                        <option value="CGN">충남</option>
								                        <option value="CGB">충북</option>
								                        <option value="SEA">세종</option>
								                        <option value="DAJ">대전</option>
								                        <option value="JNB">전북</option>
								                        <option value="JNN">전남</option>
								                        <option value="GWA">광주</option>
								                        <option value="GGB">경북</option>
								                        <option value="GGN">경남</option>
								                        <option value="DAG">대구</option>
								                        <option value="ULS">울산</option>
								                        <option value="BUS">부산</option>
								                        <option value="JEA">제주</option>
								                    </select>
								                </div>
											</td>
										</tr>
										<tr>
											<th><span class="my-red">구분</span></th>
											<td>
												<div class="sel_sortation">
								                    <select name="exhibitTypCd" id="exhibitTypCd">
								                        <option value="">구분</option>
								                        <option value="GAL">갤러리</option>
								                        <option value="ART">미술관</option>
								                        <option value="POP">팝업전시</option>
								                        <option value="FAI">페어</option>
								                        <option value="ETC">기타</option>
								                    </select>
								                </div>
											</td>
										</tr>
										<tr>
											<th><span class="my-red">공개 여부</span></th>
											<td>
												<div class="radio-2">
													<!-- 오픈 기본 값 -->
													<input type="radio" id="openY" name="openYn" value="Y" checked>
													<label for="openY" class="width_15-25rem"><span></span>공개</label>
													<input type="radio" id="openN" name="openYn" value="N" >
													<label for="openN"><span></span>비공개</label>
												</div>
											</td>
										</tr>
										<tr>
											<th><span>SNS 공유허용</span></th>
											<td>
												<div class="getting_sale_offer" style="padding: 0;">
													<div class="toggle-switch">
			                                            <input type="checkbox" id="chkTog1" name="snsYn" value="Y">
			                                            <label for="chkTog1">
			                                                <span class="toggle-track"></span>
			                                            </label>
			                                        </div>
		                                        </div>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="showing_off" style="padding: 0;">
						                            <div class="showingoff_file_area" id="imgArea">
						                                <p>드래그 앤 드롭이나 추가하기 버튼으로<br>
						                                    대표 사진을 업로드 해주세요.<br>
						                                    <span>
						                                        * 권장 사이즈<br> 
						                                        모바일 : 390 x 844<br>
						                                        PC : 1440 x 1024
						                                    </span>
						                                </p>
							                            <img id="imgUrl1" height="100%" style="cursor:pointer; display: none; margin: auto;"/>
														<label for="imgUrl" class="btn_reprepic_add">대표사진 추가하기</label> 
														<input type="file" id="imgUrl" class="upload-hidden" accept=".jpeg, .jpg, .png, .pdf" onchange="previewImg(this);" style="display: none;">
						                            </div>
						                        </div>
											</td>
										</tr>
										<tr>
											<th><span class="my-red">제목</span></th>
											<td><input type="text" class="input-4" name="title" placeholder="제목"/></td>
										</tr>
										<tr>
											<td colspan="2">
												<div id="toolbar-container"></div>
		                        				<div id="editor" style="border: 1px solid #efefef; background-color: #ffffff;"></div>
											</td>
										</tr>
										<tr>
										<th><span>키워드</span></th>
										<td>
											<input type="text" class="input-4" id="keywrd" placeholder="키워드를 쉼표로 구분해 주세요." onblur="keywrdSet(this)"/>
											<div class="key-box">
											</div>
										</td>
									</tr>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="btn_regi_area">
	                    <ul>
	                        <li><button type="button" class="registration" onclick="myWorkReg()">등록</button></li>
	                        <li><button type="button" onclick="myWorkStorage()">임시저장</button></li>
	                        <li><button type="button">미리보기</button></li>
	                        <li><button type="button" onclick="javascript:history.back();">취소</button></li>
	                    </ul>
	                </div>				
					
				</div>
			</div>

		</div>
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>
	<script>
	
	var exhibitEditor;
	var exhibit = new Object();
	var storage = new Object();
	
	$(document).ready(function(){
		initCKEditor("editor", "toolbar-container");
		previewImg("imgUrl");
	});
	
	$(document).on("change", ".upload-hidden", function(e){
		console.log(e.target.id);
		readImg(e.target, e.target.id);
	});
	
	//나의 작품 등록
	function myexhibitReg(){

		if(checkValid()){
			exhibit.artstSq = artstSq; //작가 순번
			exhibit.mbrSq = sMbrSqVal; //회원 순번
			exhibit.comtOpenYn = $('input[name=openYn]:checked').val(); // 공개여부
			exhibit.comtSnsYn = $("input[name=snsYn]").is(":checked") ? "Y" : "N"; // SNS 공유하기 여부
			exhibit.comtTitle = $("input[name=title]").val(); // 제목
			exhibit.comtContent = $("#editor").html(); // 내용
			exhibit.exhibitRegionCd = $("select[name=exhibitRegionCd]").val(); // 지역
			exhibit.exhibitTypCd = $("select[name=exhibitTypCd]").val(); // 구분
			exhibit.comtKeywrd = $("#keywrd").val(); // 키워드
			exhibit.comtTypCd = "EXH"; // 키워드
			
			const formData = new FormData();

			// 전시후기 대표 사진
			const imgUrl = document.getElementById("imgUrl");
			if(imgUrl.files[0] == null && $("#imgUrl1").attr("src") != null){
				exhibit.comtImgUrl = $("#imgUrl1").attr("src");
			}else{
				if(imgUrl.files[0] != null){
					formData.append("comtImgUrl", imgUrl.files[0]);
				}
			}

		    formData.append("exhibit", new Blob([JSON.stringify(exhibit)], {type: "application/json"}));
		
			modalConfirm("딜링아트 내 검색/노출 될 수 있지만 소유자의 계정 또는 콜렉터명이 노출되지 않습니다. \n등록하시겠습니까?", 
	    		function(confirm){
	    			if(confirm){
	    				$.ajax({
	    			        type: "post",
	    			        url: "/myPage/myexhibitReg",
	    			        data: formData,
	    			        contentType : false,
	    			        processData : false,
	    			        success: function(data) {
	    			        	if(data == 1){
	    			        		modalAlertShow("전시후기/소개 등록되었습니다.");
	    			        		location.href = "/community/exhintList";
	    			        	}else{
	    			        		modalAlertShow("전시후기/소개 등록에 실패했습니다. 다시 시도해주세요.");
	    			        	}
	    			        },
	    			        error: function(error) {
	    			            alert("오류 발생" + error);
	    			        }
	    				});
	    			}
	    	});
		}

	}
	
	//키워드 입력시 공백제거하고 키워드 값을 가져온다
	function keywrdSet(obj){
		var str_space = /\s/;           
	    if(str_space.exec(obj.value) || obj.value == null || obj.value == "") {   
	        obj.value = obj.value.replaceAll(' ',''); // 공백제거
	    }
		var keywrdList = obj.value.split(',');
		var keywrdHtml = '';
		for(var i=0; i<keywrdList.length; i++){
			keywrdHtml += '<div id="keywrd'+i+'"><span>'+keywrdList[i]+'</span><img src="/resources/img/mypage/icon-x.png" class="keywrdList" keywrdSq="'+i+'" value="'+keywrdList[i]+'"/></div>';
		}
		$(".key-box").empty();
		$(".key-box").append(keywrdHtml).trigger("create");
	}
	//키워드 옆에 X 버튼 누르면 해당 키워드가 지워진다
	$(document).on("click", ".keywrdList", function(){
		var keywrdId = document.getElementById("keywrd"+$(this).attr("keywrdSq"));
		keywrdId.remove();
		var keywrdValue = $(this).attr("value");
		var keywrd = $("#keywrd").val().replaceAll(keywrdValue, '');
		$("#keywrd").val(keywrd.substring(0, keywrd.length - 1));
	});      
	
	//필수 입력값 체크
	function checkValid(){
		
		// exhibitRegionCd
		var exhibitRegionCd = $("select[name=exhibitRegionCd]").val();
		if(!exhibitRegionCd) {
			modalAlertShow("지역이 선택되지 않았습니다!", "exhibitRegionCd");
			return false;
		}
		var exhibitTypCd = $("select[name=exhibitTypCd]").val();
		if(!exhibitTypCd) {
			modalAlertShow("구분이 선택되지 않았습니다!", "exhibitTypCd");
			return false;
		}
		console.log(exhibitRegionCd);
		
		//이미지 용량 확인 체크 시작
		if($("#imgUrl1").val() != ""){	
			var maxSize = 5 * 1024 * 1024; // 5MB
			var fileSize = $("#imgUrl")[0].files[0].size;

			if(fileSize > maxSize){
				modalAlertShow("작품 대표 사진의 용량이 5MB가 넘습니다. 5MB이상은 첨부파일을 올릴 수 없습니다.", "imgUrl");
				return false;
			}
		}
		//이미지 용량 확인 체크 끝

		//대표 사진
		if(!$("#imgUrl1").attr("src")){
			modalAlertShow("자랑하기 대표사진이 업로드되지 않았습니다!", "imgUrl");
			return false;
		}
		
		//제목
		if(!$("input[name=title]").val()) {
			modalAlertShow("자랑하기 제목명이 입력되지 않았습니다!", "title");
			return false;
		}
		
		//내용
		if(!exhibitEditor.getData()) {
			modalAlertShow("자랑하기 내용이 입력되지 않았습니다!", "editor");
			return false;
		}

		
		return true;
	}
	
	//임시저장한 내역이 있으면 불러온다
	$(function() {   
		if(sessionStorage.getItem("") != null){
			modalConfirm("임시저장된 작품 정보가 있습니다. <br/> 임시저장된 작품 정보를 불러오시겠습니까?", 
			function(confirm){
				if(confirm){
					storage = JSON.parse(sessionStorage.getItem(""));
					// 지역 
					$("select[name=exhibitRegionCd] option").each(function(){
						if($(this).val() == storage.exhibitRegionCd){
							$(this).prop('selected', true);
						}
					});
					// 구분
					$("select[name=exhibitTypCd] option").each(function(){
						if($(this).val() == storage.exhibitTypCd){
							$(this).prop('selected', true);
						}
					});
					$("input[name=title]").val(storage.comtTitle);
					exhibitEditor.setData(storage.comtContent);
					$("#keywrd").val(storage.comtKeywrd);
					$("input[name=snsYn]").prop('checked', storage.comtSnsYn === 'Y' ? true : false);
					$("input[name=openYn]").prop('checked', storage.comtOpenYn === 'Y' ? true : false);
				}
			});
		}
		//autoLake();
	});
	
	//임시저장 버튼 클릭시
	function myexhibitStorage(){
		modalConfirm("임시저장시 파일은 저장되지 않습니다. 임시저장하시겠습니까?", 
			function(confirm){
				if(confirm){
					sessionStorage.setItem("", JSON.stringify({
						exhibitRegionCd : $("select[name=exhibitRegionCd]").val(),
						exhibitTypCd : $("select[name=exhibitTypCd]").val(),
						comtTitle : $("input[name=title]").val(),
						comtContent : exhibitEditor.getData(),
						comtKeywrd : $("#keywrd").val(),
						comtSnsYn : $("input[name=snsYn]:checked").val(),
						comtOpenYn : $("input[name=openYn]:checked").val()
					}));
					modalAlertShow("임시 저장 되었습니다.", "reload");
							
				}
		});
	}
	
	// 자랑하기 대표사진 드래그 앤 드롭 이벤트
	$(".showingoff_file_area").on("drop", function(e) {
	    e.preventDefault();
	    var files = e.originalEvent.dataTransfer.files;
	    $(this).children("input[type=file]")[0].files = files;
	    $(this).children("input[type=file]").trigger("change");
	    removeCss(this);
	});

	$(".showingoff_file_area").on("dragover", function(e) {
	    e.preventDefault();
	    $(this).css({
	    	"background-color" : "gray",
	    	"opacity" : "0.2"
	    });
	});

	$(".showingoff_file_area").on("dragleave", function(e) {
	    e.preventDefault();
	    removeCss(this);
	});

	// 드래그 or 드래그 벗어났을 때 css 제거
	function removeCss(obj) {
		$(obj).css({
	    	"background-color" : "",
	    	"opacity" : ""
	    });
	}
	
	function readImg(input, imgId){
	    // 인풋 태그에 파일이 있는 경우
	    if(input.files && input.files[0]) {
	        // 이미지 파일인지 검사 (생략)
	        const reader = new FileReader()
	        // 이미지가 로드가 된 경우
	        reader.onload = function (e){
	            const previewImage = document.getElementById(imgId+1);
	            previewImage.src = e.target.result;
	        }
	        // reader가 이미지 읽도록 하기
	        reader.readAsDataURL(input.files[0]);
	    }
	}
	
	// 자랑하기 대표사진 추가 미리보기
	function previewImg(obj){
		$(obj).siblings("p").remove();
		$(obj).siblings("label").remove();
		$(obj).siblings("img").css("display", "");
		$(obj).parent("div").prepend($(obj).siblings("img"));
		$(obj).parent("div").css("padding", "0");
    }
	
    /* CK에디터 초기화 */
	function initCKEditor(id, toolbar) {
		DecoupledDocumentEditor.create( document.querySelector( "#" + id ), {
			licenseKey: 'ExsHmoBFE5WDCOKFluh5/uyuEY1LuvUHcEq99SadAptme2Af1zXKgJX2wA==',
			extraPlugins: [MyCustomUploadAdapterPlugin],
		} )
		.then( editor => {
		 const toolbarContainer = document.querySelector( "#" + toolbar );
		  toolbarContainer.appendChild( editor.ui.view.toolbar.element );
		  exhibitEditor = editor;
	      //document.querySelector( '.editable-container' ).appendChild( editor.ui.view.editable.element );
		} )
		.catch( error => {
			console.error( 'Oops, something went wrong!' );
			console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
			console.warn( 'Build id: ebx524mxzl84-u9490jx48w7r' );
			console.error( error );
		} );
    }
    
    function MyCustomUploadAdapterPlugin(editor) {
	    editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
	        return new UploadAdapter(loader)
	    }
	}
    
    class UploadAdapter {
        constructor(loader) {
            this.loader = loader;
        }

        upload() {
            return this.loader.file.then( file => new Promise(((resolve, reject) => {
                this._initRequest();
                this._initListeners( resolve, reject, file );
                this._sendRequest( file );
            })))
            
            // 파일 업로드가 성공했을때 resolved될 promise를 리턴하자.(server.upload(file) 메서드에서 promise를 리턴 시키라는 뜻)
            return loader.file.then( file => server.upload( file ) );
        }

        _initRequest() {
            const xhr = this.xhr = new XMLHttpRequest();
            xhr.open('POST', '/file/ckUpload', true);
            xhr.responseType = 'json';
        }

        _initListeners(resolve, reject, file) {
            const xhr = this.xhr;
            const loader = this.loader;
            const genericErrorText = '파일을 업로드 할 수 없습니다.'

            xhr.addEventListener('error', () => {reject(genericErrorText)})
            xhr.addEventListener('abort', () => reject())
            xhr.addEventListener('load', () => {
                const response = xhr.response
                if(!response || response.error) {
                    return reject( response && response.error ? response.error.message : genericErrorText );
                }
                resolve({
                	default: response.fileUrl //업로드된 파일 주소
                })
            })
        }

        _sendRequest(file) {
            const data = new FormData()
            data.append('upload',file)
            this.xhr.send(data)
        }
    }
	</script>
</body>
</html>