<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>딜링아트</title>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	<meta name="description" content="">
	
	<meta name="author" content="">
	<meta name="keywords" content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta name="description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:type" content="website">
	<meta property="og:title" content="딜링아트">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/DA_logo_og.png">
	<meta property="og:url" content="https://www.dealing-art.com">
	
	<!-- google -->
    <meta name="google-site-verification" content="EKiW_Lm3Qw-DYnLT9qokEpZT2Sa8tSQuVWhVEvs4kPk" />
    <!-- faceBook -->
    <meta name="facebook-domain-verification" content="bgotqya9tcsrgrmspnq0uywh85kjzh" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- HTML의 <head> 섹션에 전체 사이트 태그를 복사합니다. -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRJBSR52MT"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WRJBSR52MT');
	</script>
	
	<!-- Google Tag Manager -->
	<!-- 페이지의 <head>에서 가능한 한 높은 위치에 코드를 붙여넣으세요. -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBP5CQ9');</script>
	<!-- End Google Tag Manager -->
			
	<!-- Google Tag Manager (noscript) -->
	<!-- 또한 여는 <body> 태그 바로 뒤에 코드를 붙여넣으세요. -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBP5CQ9"height="0" width="0" style="display:none; visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	
	<!-- 페이스북 Meta Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '5995234030505207');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=5995234030505207&ev=PageView&noscript=1"/></noscript>
    
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    </style>
    
    <link rel="icon" type="image/png" href="resources/img/favicon.png">
    
</head>

<body>
	<div class="wrap">
	
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
		
		<div class="body-wrap">
			<div class="contents">
				
				<div class="con-wrap pop-wrap">
				
					<div class="con-left">
					
						<div class="cont-title4">
							<h3>My Page</h3>
						</div>
						
						<div class="con-btn">
							<a href="#"><img src="resources/img/mypage/mycon-3.png" /></a>
						</div>
					
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="display: block;">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading1">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
											My Deal
										</a>
									</h4>
								</div>
								<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
									<div class="panel-body">
										<ul class="mypage-ul">
											<li><a href="/myDeal">거래 내역</a></li>
											<li><a href="/coupon">쿠폰</a></li>
											<!-- <li><a href="#">문의 내역</a></li> -->
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading3">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion3" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
											 My Collection
										</a>
									</h4>
								</div>
								<div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
									<div class="panel-body">
										<ul class="mypage-ul">
											<!-- <li class="myCollection" id="myCollection"><a href="#">소장품</a></li> -->
											<li class="myWorkList" id="myWorkList"><a href="#">나의 작품</a></li>
											<li class="scrap" id="scrap"><a href="#">스크랩</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default" id="portfolio" style="display:none;">
								<div class="panel-heading" role="tab" id="heading2">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
											Artist
										</a>
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
									<div class="panel-body">
										<ul class="mypage-ul">
											<li><a href="/information">작가 정보</a></li>
											<!-- <li class="myWork" id="myWork"><a href="#">나의작품</a></li> -->
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading3">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion4" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
											My Information
										</a>
									</h4>
								</div>
								<div id="collapse4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading4">
									<div class="panel-body">
										<ul class="mypage-ul">
											<li><a href="/memberEdit">회원 정보 수정</a></li>
											<li class="" id="withdrawal"><a href="/withdrawal">회원탈퇴</a></li>
											<li><a href="/alarm">알림 설정</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="con-right" style="display: none;"></div>
				</div>
				
			</div>
		</div>
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>
<!-- 모달검색 -->



<script th:inline="javascript">

	$(function() {
		
		if(sMbrSqVal == null || sMbrSqVal == ""){
		
			modalAlertShow("로그인 후 이용하실 수 있습니다.", "main");
		}else if(sAuthSqVal == 2){ //작가권한이 있다면 portfolio 활성화
			
			document.getElementById("portfolio").style.display="";
		}
	});
	
	$(document).on("click", ".myCollection", function(){
		pageGoPost({
			url:"/myCollection",
			target:"_self",
			vals:[
				["mbrSq", sMbrSqVal]
			]
		});
	});
	$(document).on("click", ".scrap", function(){
		pageGoPost({
			url:"/scrap",
			target:"_self",
			vals:[
				["mbrSq", sMbrSqVal]
			]
		});
	});

	$(document).on("click", ".myWorkList", function(){
		location.href="/myWorkList"
	});

</script>	

<!-- 네이버 광고 로그분석 추적 코드 -->
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script> 
<script type="text/javascript">
if(!wcs_add) var wcs_add = {}; 
wcs_add["wa"] = "s_17cc71bb9b8f";
if (!_nasa) var _nasa={}; 
if (window.wcs) {
wcs.inflow("www.dealing-art.com"); 
wcs_do(_nasa);
}
</script>

</body>
</html>
