<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>딜링아트</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	
	<meta name="author" content="">
	<meta name="keywords" content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta name="description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:type" content="website">
	<meta property="og:title" content="딜링아트">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/DA_logo_og.png">
	<meta property="og:url" content="https://www.dealing-art.com">
	
	<meta name="robots"content="noindex">
	
	<!-- google -->
    <meta name="google-site-verification" content="EKiW_Lm3Qw-DYnLT9qokEpZT2Sa8tSQuVWhVEvs4kPk" />
    <!-- faceBook -->
    <meta name="facebook-domain-verification" content="bgotqya9tcsrgrmspnq0uywh85kjzh" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- HTML의 <head> 섹션에 전체 사이트 태그를 복사합니다. -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRJBSR52MT"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WRJBSR52MT');
	</script>
	
	<!-- Google Tag Manager -->
	<!-- 페이지의 <head>에서 가능한 한 높은 위치에 코드를 붙여넣으세요. -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBP5CQ9');</script>
	<!-- End Google Tag Manager -->
			
	<!-- Google Tag Manager (noscript) -->
	<!-- 또한 여는 <body> 태그 바로 뒤에 코드를 붙여넣으세요. -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBP5CQ9"height="0" width="0" style="display:none; visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	
	<!-- 페이스북 Meta Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '5995234030505207');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=5995234030505207&ev=PageView&noscript=1"/></noscript>
    
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	.swi-box::before{background-color:#f9f9f9;}
    	.footer-wrap{margin-top:0;}
    	.hd-div{background-color:#fff;}
    	[name=COLLworkClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		[name=WORKworkClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
		/* Firefox */
		input[type=number] {
		  -moz-appearance: textfield;
		}
    </style>
    
    <link rel="icon" type="image/png" href="/resources/img/favicon.png">
    <link type="text/css" rel="stylesheet" href="/resources/css/common_new.css"/>
</head>

<body>
	<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
	
    <div id="container">
        <div class="mypage_wrap_community">
            <div class="works_showingoff_detail_page_wrap mb0">
                <h2 class="mt50" style="font-size: 36px;font-weight: bold;letter-spacing: -1.5px;border-left: 8px solid #e9625c;padding-left: 24px;">전시 소개/후기</h2>
                
                <div id="comtFirstBox">
                
                </div>
                
            </div>
        </div>
        <div class="artist_contents">
			
        </div>
        <div class="comments_box_wrap max-1500 fs_2rem" id="commentBox">
			
        </div>
    </div>
    
    <th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
    
    <script th:inline="javascript">
 	// 커뮤니티 순번
	var comtSq = /*[[${param.SqNumber[0]}]]*/ 'default';
 	var mbr = /*[[${param.mbrSq}]]*/ 'default';
 	var comt = /*[[${exhibit}]]*/ 'default';
 	var otherComt = /*[[${otherComt}]]*/ 'default';
 	var showOff = null;
 	var message = /*[[${message}]]*/ 'default' //커뮤니티 순번
 	var boardAuth = /*[[${boardAuth}]]*/ 'default'; // 컴포넌트 권한 및 사용 유무
	if(message != "" && message != null){
		alert(message);
		location.href = "/main";
	}
 	
    $(document).ready(function(){
    	setComtDetailInfo();
    	ckClsHide();
    	followCheck(mbr);
    	
    	var otherComtHtml = setOtherComtHtml(comt.mbrNcknm, otherComt, "전시 소개/후기");
    	$(".artist_contents").append(otherComtHtml).trigger("create");
    	
    	otherComtWorkList(otherComt, "/community/exhibitDetail");
    	initOtherComtWorkListSwiper();
    	
    	setComment(comtSq, "EXH");
    	
    	setReportModal();
		setReportCompleteModal();
		setReportErrorModal();
		
    });
    
    // 커뮤니티 정보 셋팅
    function setComtDetailInfo(){
    	var strHtml = '';
    	
    	strHtml += '<div class="picture" style="display: none;">';
	    strHtml += '    <img src="'+ comt.comtImgUrl +'" alt="" style="height: 500px; object-fit: contain;">';
	    strHtml += '</div><br><br>';
	    strHtml += '<h3>'+ comt.comtTitle +'</h3>';
	    strHtml += '<div class="user_wrap">';
	    strHtml += '    <div class="user">';
	    strHtml += '        <ul>';
	    strHtml += '            <li class="pt5"><img src="'+ (comt.mbrProfileImgUrl || "/resources/img/mypage/ico_dauser.png") +'" alt=""></li>';
	    strHtml += '            <li class="user_name pr10"><a href="/otherPage/main?mbrSq='+ comt.mbrSq +'"><span>'+ comt.mbrNcknm +'</span></a></li>';
	    
	    // 작성자가 아티스트인지 컬렉터인지 
	    if(null != comt.artstSq){
		    strHtml += '        <li class="mem_type">회원유형<span>아티스트</span></li>';
	    } else {
	    	strHtml += '        <li class="mem_type">회원유형<span>컬렉터</span></li>';
	    }
		
	    strHtml += '            <li class="following"><button type="button" onclick="clickFollow('+ comt.mbrSq +')">팔로잉</button></li>';
	    strHtml += '        </ul>';
	    strHtml += '    </div>';
	    strHtml += '    <div class="icon_box">';
	    strHtml += '        <ul>';
	    strHtml += '            <li class="day">'+ (comt.dateDiff >= 24 ? comt.comtRegDt.substring(0, comt.comtRegDt.length-3) : setTimeFormat(comt.comtRegDt)) +'</li>';
	    strHtml += '            <li class="like"><p class="ico_good"   onclick="likeCheckYn(' + comt.comtSq + ');" style="cursor: pointer;"></p><span>'+ comt.comtLikes +'</span></li>';
	    strHtml += '            <li class="scrap" onclick="scrapCheck('+comtSq+');" style="cursor: pointer;"><p class="ico_scrap"></p><span>'+ comt.comtScraps +'</span></li>';
	    strHtml += '            <li class="view"><p class="ico_hits"></p><span>'+ comt.comtViews +'</span></li>';
	    strHtml += '            <li class="cmt"><p class="ico_comments"></p><span>'+ comt.comtCmts +'</span></li>';
	    strHtml += '            <li onclick="openComtRprtModal();" style="cursor: pointer;"><p class="ico_report"></p><span>'+ comt.rpptCount +'</span></li>';
	    strHtml += '        </ul>';
	    strHtml += '    </div>';
	    strHtml += '</div>';
	    strHtml += '<div class="gallery_keyword_wrap">';
	    strHtml += '    <p>';
	    strHtml += '    	<span>'+ comt.comtExhibitRegionCdNm +'</span>';
	    strHtml += '    	<span>'+ comt.comtExhibitTypCdNm +'</span>';
	    strHtml += '    </p>';
	   	strHtml += '    <p class="fs_2rem">';
	    
	   	if(null != comt.comtKeywrd){
		   	// 키워드 for문 돌리기
		   	var keywords = comt.comtKeywrd.split(',');
		   	
		   	keywords.forEach( function ( keyword ){
			    strHtml += '    <a href="#"># '+ keyword +'</a>';
		   	});
	   	}

	   	strHtml += '    </p>';
	    strHtml += '</div>';
	    strHtml += '<div class="picture_detail">';
	    strHtml += '    ' + comt.comtContent;
	    strHtml += '</div>';
	    
	    $("#comtFirstBox").append(strHtml);
	    $("#commentCount").text(comt.comtViews);
		// 컴포넌트 권한 및 사용 유무
		fn_chkComponetUseYn(boardAuth);
    }
    
  	//스크랩 체크
	function scrapCheck(sqNumber){
		$.ajax({
	        type: "post",
	        url: "/member/myPage/scrapCheck",
	        data: {
	        	mbrSq : sMbrSqVal,
	        	comtSq : sqNumber
	        },
	        success: function(data) {
	        	if(data > 0){
	        		if(confirm("스크랩 목록에서 '제거'하시겠습니까?")){
	        			scrapDel(sqNumber);
	        	    }
	        	}else{
	        		if(confirm("스크랩 목록에 '추가'하시겠습니까?")){
	        			scrapAdd(sqNumber);
	        	    }
	        	}
	        },
	        error: function(error) {
	            alert("오류 발생" + error);
	        }
		});
	}
	
	//스크랩 추가
	function scrapAdd(sqNumber){
		$.ajax({
	        type: "post",
	        url: "/member/myPage/scrapAdd",
	        data: {
	        	mbrSq : sMbrSqVal,
	        	comtSq : sqNumber
	        },
	        success: function(data) {
	        	if(data > 0){
	        		alert("스크랩 목록에 '추가'되었습니다.");
	        		location.reload();
	        	}else{
	        		alert("스크랩 목록 등록에 실패했습니다. 관리자에게 문의하세요.");
	        		location.reload();
	        	}
	        },
	        error: function(error) {
	            alert("오류 발생" + error);
	        }
		});
	}
	
	//스크랩 제거
	function scrapDel(sqNumber){
		$.ajax({
	        type: "post",
	        url: "/member/myPage/scrapDel",
	        data: {
	        	mbrSq : sMbrSqVal,
	        	comtSq : sqNumber
	        },
	        success: function(data) {
	        	if(data > 0){
	        		alert("스크랩 목록에서 '제거'되었습니다.");
	        		location.reload();
	        	}else{
	        		alert("스크랩 목록 제거에 실패했습니다. 관리자에게 문의하세요.");
	        		location.reload();
	        	}
	        },
	        error: function(error) {
	            alert("오류 발생" + error);
	        }
		});
	}
	
	// 좋아요 체크 여부 조회
	function likeCheckYn(sqNumber) {
		$.ajax({
			type : "post",
			url : "/member/myPage/likeCheck",
			data : {
				mbrSq : sMbrSqVal,
				comtSq : sqNumber,
			},
			success : function(data) {
				if (data > 0) {
					if (confirm("해당 게시물에 좋아요를 취소하시겠습니까?")) {
						likeDel(sqNumber);
					}
				} else {
					if (confirm("해당 게시물에 좋아요를 추가하시겠습니까?")) {
						likeAdd(sqNumber);
					}
				}
			},
			error : function(error) {
				alert("오류 발생" + error);
			}
		});
	}

	// 좋아요 추가
	function likeAdd(sqNumber) {
		$.ajax({
			type : "post",
			url : "/member/myPage/likeAdd",
			data : {
				mbrSq : sMbrSqVal,
				comtSq : sqNumber
			},
			success : function(data) {
				if (data > 0 || data == null) {
					alert("해당 게시물에 좋아요를 추가했습니다.");
					location.reload();
				} else {
					alert("좋아요 추가 실패했습니다.");
					location.reload();
				}
			},
			error : function(error) {
				alert("오류 발생" + error);
			}
		});
	}

	// 좋아요 취소
	function likeDel(sqNumber) {
		$.ajax({
			type : "post",
			url : "/member/myPage/likeDel",
			data : {
				mbrSq : sMbrSqVal,
				comtSq : sqNumber
			},
			success : function(data) {
				if (data > 0) {
					alert("좋아요를 취소했습니다.");
					location.reload();
				} else {
					alert("좋아요 취소 실패했습니다.");
					location.reload();
				}
			},
			error : function(error) {
				alert("오류 발생" + error);
			}
		});
	}
	
	// 컴포넌트 사용 및 권한 여부 확인
	function fn_chkComponetUseYn(data){
		
		if(data != null && data.length > 0){

			// 좋아요 사용 여부
			if(data[0].likeYn == "Y"){
				$(".like").css("display","block");
			}else if(data[0].likeYn == "N"){
				$(".like").css("display","none");
			}
			
			// 스크랩 사용 여부
			if(data[0].scrapYn == "Y"){
				$(".scrap").css("display","block");
			}else if(data[0].scrapYn == "N"){
				$(".scrap").css("display","none");
			}
			
			// 조회수 사용 여부
			if(data[0].viewsYn == "Y"){
				$(".view").css("display","block");
			}else if(data[0].viewsYn == "N"){
				$(".view").css("display","none");
			}
			
			// 댓글 사용 여부
			if(data[0].cmtYn == "Y"){
				$(".cmt").css("display","block");
				$(".cmt_reg_btn ba-btn1").attr("disabled",false);
			}else if(data[0].cmtYn == "N"){
				$(".cmt").css("display","none");
				$(".cmt_reg_btn ba-btn1").css("disabled",true);
			}
			
		}
	}
    </script>
</body>
</html>