<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script src="https://api-std.mainpay.co.kr/js/mainpay.pc-1.1.js"></script>
<head>
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	@media screen and (min-width: 1px) and (max-width: 1536px){
    		.con-left{display:none}
    	}
    	
    </style>
</head>

<body>
	<div class="wrap">
	<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>  				
		<div class="body-wrap coll-mobile">
				
			<div class="contents max-1500">
				<div class="sub-title">
					<h3 class="mo-no">주문/결제</h3>
				</div>
					<div class="baeg-wrap">
							
						<div class="med">
							<h2 class="">구매자 정보</h2>
						</div>
						<div class="myd-box">
							<div class="myd-box-1">
								<div class="mtext">
									<p>회원의 주소와 배송지의 주소가 동일해야 합니다. 본 거래의 주소를 수정하시면 회원정보도 함께 변경됩니다.</p>
									<button type="button" class="btns-1">받는사람 정보 수정하기</button>
								</div>
								
								<div class="mg_t40">
									<table class="mstyle-1">
										<tr>
											<th>이름</th>
											<td th:text="${result.mbrInfo.mbrNm}">성명</td>
										</tr>
										<tr>
											<th>이메일</th>
											<td th:text="${result.mbrInfo.mbrEmail}"></td>
										</tr>
										<tr>
											<th>휴대폰 번호</th>
											<td th:text="${result.mbrInfo.mbrCpNum}"></td>
										</tr>
										<tr>
											<th>주소</th>
											<td th:text="${result.mbrInfo.mbrDelivryAddr}"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						
						<div class="med">
							<h2 class="h2-con">결제 정보</h2>
						</div>
							<div class="myd-box">
								<div class="myd-box-1">
									<div>
										<table class="mstyle-1">
											<tr>
												<th>작품가</th>
												<td th:text="${result.deal.dealFinalPrc} + '원'"></td>
											</tr>
											<tr>
												<th>거래 수수료</th>
												<td id="fee"></td>
											</tr>
										</table>
										<table class="mstyle-3">
											<tr>
												<th>총금액</th>
												<td id="amount"></td>
											</tr>
										</table>
										<p class="msy-p">※ 작품 결제가 완료되면 운송 일정과 부가서비스(설치, 포장 등)확인을 위해 고객센터에서 연락 드립니다.</p>
									</div>
								</div>
							</div>
						
						<div class="med">
							<h2 class="h2-con">결제 수단</h2>
						</div>
						<div class="myd-box">
							<div class="myd-box-1">
							
								<div class="mbox-1">
									<div class="pay-link">
										<a href="javascript:void(0);" class="pay-1" value="CARD" onclick="btn_paymethod_onclick(this)"><img src="resources/img/mypage/icon-2.png" /><span>신용카드</span></a>
										<!-- <a href="#" class="pay-2" value="CARD" onclick="btn_paymethod_onclick(this)"><img src="resources/img/mypage/icon-3.png" /><span>무통장입금</span></a> -->
										<a href="javascript:void(0);" class="pay-3" value="ACCT" onclick="btn_paymethod_onclick(this)"><img src="resources/img/mypage/icon-6.png" /><span>실시간계좌이체</span></a>
										<a href="javascript:void(0);" class="pay-4" value="VACCT" onclick="btn_paymethod_onclick(this)"><img src="resources/img/mypage/icon-4.png" /><span>가상계좌</span></a>
										<!-- <a href="#" class="pay-5" value="CARD" onclick="btn_paymethod_onclick(this)"><img src="resources/img/mypage/icon-5.png" /><span>카카오페이</span></a> -->
									</div>
									<!-- <div class="pay-check">
										<input type="checkbox" id="a1" name="cc" />
										<label for="a1"><span></span>결재수단과 입력정보를 다음에도 사용</label>
									</div> -->
								</div>
							</div>
						</div>
						
						
				
						<div class="bat-box5">
							<a href="#" class="ba-btn1" onclick="btn_payment()"><span>결제하기</span></a>
							<a href="javascript:window.history.back();" class="ba-btn2" ><span>거래 내역 돌아가기</span></a>
						</div>
					</div>
						
			</div>
		</div>
	<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>

<script th:inline="javascript"> 
var result = /*[[${result}]]*/ 'default';
var fee = 0;
var amount = 0;
$(function() { 
	fee = Math.round(parseInt(result.deal.dealFinalPrc.replaceAll(/,/g, '')) * 0.15);
	$("#fee").text(formatComma(fee) + '원');
	amount = parseInt($("#fee").text()) + parseInt(result.deal.dealFinalPrc.replaceAll(/,/g, ''));
	$("#amount").text('￦' + formatComma(amount) + '원');
});

function btn_paymethod_onclick(obj){
	result.deal.paymethod = obj.attributes.value.value;
}

function btn_payment(){
	if(result.deal.paymethod == null || result.deal.paymethod == ""){
		modalAlertShow("결제 수단이 선택되지 않았습니다.")
	}else{
		var data = {
				paymethod : result.deal.paymethod, //지불수단
				amount : parseInt(amount), //총 결제 금액
				mbrRefNo : result.deal.mbrRefNo, //주문번호
				goodsName : result.deal.workNm, //상품명
				buyMbrSq : result.mbrInfo.buyMbrSq, //결제 회원 순번
				sellMbrSq : result.deal.sellMbrSq, //판매 회원 순번
				dealSq : result.deal.dealSq, //거래 순번
				paymntTypCd : "1", //결제 유형 코드 (1차 결제/2차결제)
				paymntDivCd : "B", //결제 구분 코드 (B 구매자/S 판매자)
				paymntAmt : parseInt(result.deal.dealFinalPrc.replaceAll(/,/g, '')), //결제 금액
				paymntFeeAmt : fee, //결제 수수료
				workSq : result.deal.workSq //작품 순번
				}
		$.ajax({
			type: "POST",
			contentType: 'application/json',
	           url: "/payment/readyApi",
	           dataType: 'json',
	           data: JSON.stringify(data),
	           async: false,
			success:function(response){
				console.log(response);
				if (response.resultCode == '200') {
					/* 결제창 호출 */
					Mainpay.open(response.data.nextPcUrl); //PC와 Mobile은 URL이 상이합니다.
					return false;
				}
			}
		}); 
	}
}

$(document).ready(function () {
 	$(".elm").hover(
		function(){ $(this).addClass('hover') },
    	function(){ $(this).removeClass('hover') })
  	$(".cn-b").hover(
		function(){ $(this).addClass('gis') },
    	function(){ $(this).removeClass('gis') })
});
 
$(function() {                      
  	$(".bab-bo").click(function() { 
    	$(this).toggleClass("bashow");     
  	});
  
  	$(".lg-my").click(function() { 
 		$('.bg-sh').toggleClass('bg-show');     
 	 	$('.s-hov').toggleClass('s-hov-show');     
 	});
  
});
 
 /* 메뉴바 FIXED */
if (jQuery(window).width() > 0) {
	jQuery(window).on("scroll",function(ev){
    	if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
        	jQuery('.head-wrap').addClass('fixed');
        }else{
            jQuery('.head-wrap').removeClass('fixed');
        }
        return false;
	});
}
 
 
 /* jQuery(function($) {

    window.onresize = function(){
      document.location.reload();
    };

}); */
 
 var delay = 300;
 var timer = null;

//Javascript
window.addEventListener('resize', function(){
	clearTimeout(timer);
 	timer = setTimeout(function(){
 		document.location.reload();
 	}, delay);
});

//jQuery
$(window).on('resize', function(){
	clearTimeout(timer);
 	timer = setTimeout(function(){
 		document.location.reload();
 	}, delay);
});
 
$('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
	// The event won't be propagated up to the document NODE and 
    // therefore delegated events won't be fired
    event.stopPropagation();
});
</script>
    
	
	
	
	
</body>

</html>
