<!DOCTYPE HTML>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>딜링아트</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	
	<meta name="author" content="">
	<meta name="keywords" content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta name="description" content="개인간 미술품 거래 마켓플레이스">
	<meta property="og:description" content="개인간 미술품 거래 마켓플레이스">
	<meta property="og:type" content="website">
	<meta property="og:title" content="DeailngArt">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/DA_logo_og.png">
	<meta property="og:url" content="https://www.dealing-art.com">
	
	<!-- google -->
    <meta name="google-site-verification" content="EKiW_Lm3Qw-DYnLT9qokEpZT2Sa8tSQuVWhVEvs4kPk" />
    <!-- faceBook -->
    <meta name="facebook-domain-verification" content="bgotqya9tcsrgrmspnq0uywh85kjzh" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- HTML의 <head> 섹션에 전체 사이트 태그를 복사합니다. -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRJBSR52MT"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WRJBSR52MT');
	</script>
	
	<!-- Google Tag Manager -->
	<!-- 페이지의 <head>에서 가능한 한 높은 위치에 코드를 붙여넣으세요. -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBP5CQ9');</script>
	<!-- End Google Tag Manager -->
			
	<!-- Google Tag Manager (noscript) -->
	<!-- 또한 여는 <body> 태그 바로 뒤에 코드를 붙여넣으세요. -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBP5CQ9"height="0" width="0" style="display:none; visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	
	<!-- 페이스북 Meta Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '5995234030505207');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=5995234030505207&ev=PageView&noscript=1"/></noscript>
    
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	@media screen and (min-width: 1px) and (max-width: 1536px){
    		.con-left{display:none}
    	}
    </style>
    
    <link rel="icon" type="image/png" href="resources/img/favicon.png">
</head>

<body>
	<div class="wrap">
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
		
		<div class="body-wrap coll-mobile">
			<form id="memberInput" name="memberInput" method="post">
			<div class="contents max-1500">
				<div class="sub-title-1">
					<h3>회원가입</h3>
				</div>
				<div class="join_box" style="padding:50px;">
					<div  style="text-align:center;padding-bottom:20px;">
						<img src="resources/img/bigLogo.png"  class="login-logo" style="max-width:250px;"/>
					</div>
					<div class="me-text" style="text-align:center;color:#7F7F7F;padding:8px;">
						개인간 미술품 거래 마켓플레이스
					</div>
					<div  style="text-align:center;">
						<div style="color:#A5A5A5;padding:3px;font-size:15px;">
							✔&nbsp;&nbsp;간편한 &nbsp;&nbsp;거래
						</div>
						<div style="color:#A5A5A5;padding:3px;font-size:15px;">
							✔&nbsp;&nbsp;투명한 &nbsp;&nbsp;거래
						</div>
						<div style="color:#A5A5A5;padding:3px;font-size:15px;">
							✔&nbsp;&nbsp;안전한 &nbsp;&nbsp;거래
						</div>
						<div style="color:#A5A5A5;padding-top:3px;padding-bottom:40px;font-size:15px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✔ &nbsp;저렴한&nbsp;&nbsp;&nbsp;수수료
						</div>
					</div>
					
					<div class="bat-box3">
						<button type="button" class="ba-btn1" id="mbrCpNumBtn"><span>인증 후 가입하기</span></button>
					</div>
					<!--
					<div class="login-lk">
						<p>소셜아이디로 간편하게 로그인할 수 있습니다.</p>
						<div class="ll-img">
							<a href="#"><img src="../common/img/icon-naver.png" /></a>
							<a href="#"><img src="../common/img/icon-kaka.png" /></a>
							<a href="#"><img src="../common/img/icon-google.png" /></a>
						</div>
					</div>
					-->
				</div>
			</div>
			<input type="hidden" name="m" value="checkplusSerivce">	<!--필수 데이타로, 누락하시면 안됩니다.-->
			<input type="hidden" name="EncodeData">					<!--위에서 업체정보를 암호화 한 데이타입니다.-->
			
			</form>
		</div>
		
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
</div>


<script type="text/javascript">   
	
	    $(document).ready(function () {
			$.ajax({
				method: "POST",
				url: "/main/auth/phone"
			}).done(function(data) {
				document.memberInput.EncodeData.value = data;
			});
		});
		
		//본인인증
		$('#mbrCpNumBtn').click(function() {
			
			
			
			fn_NiceIdOpen();
			
		});
		
		
	  function fn_NiceIdOpen(){
		 
		    
 		    var isMobilechk = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
 			jQuery(document).ready(function($){
 			     if(!isMobilechk) {
			    	
 			    	window.name = "join1"  	
 			     	window.open('', 'pcWin', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
 			     	document.memberInput.target = 'pcWin';  
 			     	document.memberInput.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
 					document.memberInput.submit();
 			     } else {
 			    	 window.name = "join1"
			    	 window.open('', '_self', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
			    	 document.memberInput.target = '_self';
			    	 document.memberInput.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
					 document.memberInput.submit();
 			     }
 			});
		}
      
      
      
      $(document).ready(function () {
	      $(".elm").hover(
	    	function(){ $(this).addClass('hover') },
	   	    function(){ $(this).removeClass('hover') }
	   	  )
	   	  $(".cn-b").hover(
	    	function(){ $(this).addClass('gis') },
	   	    function(){ $(this).removeClass('gis') }
	   	  )
      });
      
      /* 메뉴바 FIXED */
      if (jQuery(window).width() > 0) {
          jQuery(window).on("scroll",function(ev){
              if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
                  jQuery('.head-wrap').addClass('fixed');
              }
              else{
                  jQuery('.head-wrap').removeClass('fixed');
              }
              return false;
          });
      }
      
      $('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
    	    // The event won't be propagated up to the document NODE and 
    	    // therefore delegated events won't be fired
    	    event.stopPropagation();
    	});
      
    </script>
    
	
	
	
	
</body>

</html>
