@charset "utf-8";



html, body{font-size: calc(100vw / 75);}



.wrap{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.head-wrap{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background: #fff;
}
.head{
    position: relative;
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    height: 9.7rem;
    padding: 0;
}
.h-logo{
    /* position: absolute; */
    /* left: 0; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    padding: 2.3rem 0 1.9rem 6.3rem;
    display: inline-block;
}
.h-logo a{
    display: block;
}
.h-logo a img{
    width: 14.9rem;
}

.h-gnb{
    clear: both;
    width: auto;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.h-gnb nav{
    width: auto;
    vertical-align: middle;
    display: none;
}
.h-gnb nav li{
    display: inline-block;
}
.h-gnb nav li a{
    font-size: 3.4rem;
    color: #333333;
    margin-right: 16.4rem;
    font-weight: 600;
}


.login-hide{}
.login-show{}

.max-1500{max-width: 62.8rem;width:100%;margin:0 auto;}
.cont-title{
    margin-top: 7.9rem;
    position: relative;
}
.cont-title h3{
    font-size: 3rem;
    padding-left: 3.4rem;
    display: inline-block;
    position: relative;
    margin-bottom: 4rem;
    font-weight: 600;
}
.cont-title h3:after{content:'';position: absolute;left: 0;width: 1rem;height: 4.1rem;background-color: #e9625c;top: 50%;transform: translateY(-50%);}

.ct-more{}
.ct-more img{
    margin-right: 1.4rem;
    vertical-align: middle;
    width: 1.8rem;
}
.ct-more span{
    display: inline-block;
    vertical-align: middle;
}
.ct-more:after{content:"";}
.ct-more:before{content:"";}

.h-text{
    display: inline-block;
    vertical-align: middle;
}
.h-text span{font-size: 3rem;position: relative;margin-right: 4.8rem;opacity: 0.5;color: #333;}
.h-text span:after{content:'';position: absolute;width: 0.2rem;height: 1.6rem;top: 50%;right: -2.8rem;background-color: #e7e7e7;transform: translateY(-50%);}
.h-text span:last-child:after{display:none;}
.h-text span:last-child{margin-right:0;}
.h-img{
    display: inline-block;
    vertical-align: middle;
}
.s-hov{}
.s-hov ul{}
.s-hov ul li{}
.s-hov ul li a{}

.search-show{}
.sea-box{
    text-align: center;
    margin-top: 6rem;
    padding-bottom: 8.8rem;
}

.sea-box .sea-img{
    width: 26rem;
}
.sea-box .sea-won{
    width: 100%;
    max-width: 53.5rem;
    margin: 6rem auto 0 auto;
    background: #fff;
    border-radius: 5rem;
    height: 8rem;
}
.sea-box .sea-won select{
    height: 75px;
    width: 174px;
}
.sea-box .sea-won select{font-size: 3rem;font-weight:600;color:#e9625c;text-align: center;border: none;background: none;padding: 0 2.5rem 0 0;display: none;}
.select-box{display:inline-block;position:relative;display: none;}
.select-box:after{content:'';background-image: url(../img/icon-1.jpg);width: 3.3rem;height: 1.7rem;position: absolute;top: 52%;right: -0.3rem;background-size: 3.3rem 1.7rem;transform: translateY(-50%);}
.select-box:before{content:'';position: absolute;background-color: #fff;width: 3rem;height: 4rem;right: 0;top: 50%;z-index: 0;transform: translateY(-50%);}
.sea-box .sea-won input{
    width: 100%;
    max-width: 43rem;
    height: 7.9rem;
    border: none;
    font-size: 2.8rem;
    padding-left: 5rem;
    color: #444444;
    background: rgb(255 255 255 / 0%);
}
.sea-box .sea-won a{
    width: 10rem;
    display: inline-block;
}
.sea-box .sea-won a img{width:4.7rem;}

.sea-text{}
.sea-text li{}
.sea-text li a{}

.btn-1{}
.btn-2{}
.btn-3{}
.btn-4{}

.icon-search{
    vertical-align: middle;
    display: inline-block;
    margin-left: 4.6rem;
    margin-right: 2.7rem;
    position: relative;
}
.icon-search img{
    width: 4.1rem;
    height: 4.3rem;
}


.body-wrap{
    padding-top: 9.7rem;
}
.contents{}

.main-banner{
    height: 45.3rem;
}
.mab-text{
    position: absolute;
    width: 100%;
    height: 100%;
}
.mab-text .mab-title{
    font-size: 1.9rem;
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 0 1.5rem;
    position: relative;
    height: 2.8rem;
    width: 6.5rem;
}
.mab-text .mab-title:after{content:'';position: absolute;bottom: 0.4rem;right: -1rem;content: " ";height: 0;z-index: 0;border-top: 2rem solid;border-left: 0px solid rgba(0, 0, 0, 0);border-right: 2rem solid rgba(0, 0, 0, 0);color: #333333;transform: rotate(224deg);-webkit-transform: rotate(135deg);-moz-transform: rotate(90deg);-moz-transform: rotate(90deg);ransform: rotate(-90deg);-ms-transform: rotate(-90deg);}
.mab-text h2{
    font-size: 7.8rem;
    font-weight: 300;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #373737;
}
.mab-text .mab-p1{
    font-size: 4.4rem;
    font-weight: 300;
    color: #373737;
}
.mab-text .mab-p2{
    font-size: 3.1rem;
    font-weight: 300;
    color: #373737;
}
.mb-box{
    width: 100%;
    max-width: 150rem;
    margin: 0 auto 0 auto;
    text-align: left;
    padding-top: 8.5rem;
    padding-left: 15rem;
    /* padding-right: 11rem; */
}

.mab-rb{
    /* display: none; */
}
.mab-rb .mab-a{
    width: 50px;
    height: 50px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    padding: 16px 0px;
    margin: 48px 0 90px 0;
    display: none;
}
.mab-rb .mab-a span{
    font-size: 13px;
    color: #e9625c;
    font-weight: 600;
}
.mab-rb{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 59rem;
    background-color: #323232;
    width: 16rem;
    text-align: center;
}
.mab-rb li{
}
.mab-rb li a{
    display: inline-block;
    margin: 6.4rem 0 1.6rem 0;
}
.mab-rb li a img{
    display: block;
    margin: 0 auto;
    width: 4.8rem;
}
.mab-rb li a span{
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
    padding-top: 1rem;
    display: block;
}


.da-snm{
    max-width: 150rem;
    width: 100%;
    margin: 0 auto;
    height: 36rem;
}
.da-snm ul{
    padding-top: 5.9rem;
}
.da-snm ul li{
    display: inline-block;
    text-align: center;
    margin-left: 4.3rem;
    margin-right: 3.4rem;
}
.da-snm ul li:last-child{
    margin-right: 0;
}
.da-snm ul li img{
    width: 7.8rem;
}
.da-snm ul li p{}
.da-snm ul li p.da-p1{
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
    padding-left: 4.5rem;
}
.da-snm ul li p.da-p1:after{content:'';background-image: url(../img/icon-7.png);width: 3.3rem;height: 3.3rem;position: absolute;left: 0;background-size: cover;top: 56%;transform: translateY(-50%);}
.da-snm ul li p.da-p2{
    font-size: 2.4rem;
    color: #fff;
    opacity: 0.64;
    text-align: left;
}

.footer-wrap{
    background-color: #e9625c;
    margin-top: 15rem;
}
.footer-box{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 33rem;
    position: relative;
}
.footer-box .footer-nav{}
.footer-nav ul{
    /* display: flex; */
    /* height: 9.6rem; */
}
.footer-nav ul li{
    text-align: center;
    border-bottom: #ff7972 1px solid;
    border-right: #ff7972 1px solid;
    display: table;
    width: 100%;
    padding: 0 6rem;
    text-align: left;
    height: 9.5rem;
    background-color: #f16a64;
}
.footer-nav ul li a{
    color: #ffffff;
    font-size: 2.6rem;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
}
.footer-nav ul li:last-child{border-right:none;}
.footer-nav ul li:nth-child(4){display:none;}

.footer-icon{
    position: absolute;
    left: 6rem;
    top: 67.5rem;
}
.footer-icon a{padding: 0 0.2rem;margin-left: 0.9rem;}
.footer-icon a img{width: 7.3rem;height: 7.3rem;}

.footer-text{
    font-size: 2.4rem;
    color: #ffffff;
    opacity: 0.5;
    /* padding-bottom: 9px; */
    font-weight: 600;
    line-height: 1.63;
}
.footer-text ol{}
.footer-text ol li{
    display: inline-block;
    margin-right: 64px;
    position: relative;
}
.footer-text ol li:after{content:'';position: absolute;right: -35px;height: 25px;width: 4px;background: #fff;top: 50%;opacity: 0.2;transform: translateY(-50%);}
.footer-text ol li:last-child:after{content:'';display: none;}


.flip-box {
    width: 300px;
    height: 400px;
    perspective: 1000px;
}
.flip {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
    line-height: 400px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .5s;
}
.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.front {
    background: skyblue;
}
.back {
    background: orange;
    transform: rotateY(180deg);
}
.flip-box:hover .flip {
    transform: rotateY(-180deg);
}

.bg-1{
    background-color: #e9625c;
    display: none;
}
.btn-more{
    /* margin-top: 5.4rem; */
    width: auto;
    /* height: 6.5rem; */
    /* max-width: 35.6rem; */
    /* border: #f1f1f1 2px solid; */
    font-size: 2.8rem;
    font-weight: 600;
    color: #c4c4c4;
    line-height: 1;
    /* padding: 0.5rem 0 1.5rem 0; */
}
.btn-more span{position: relative;vertical-align: middle;height: auto;background-image: url(../img/m-icon1.jpg);width: 6.6rem;height: 3.4rem;background-size: 6.6rem 3.4rem;display: block;font-size: 0;}
.btn-more span:after{content:'';position: absolute;top: 1.4rem;left: 0.7rem;width: 0.4rem;height: 1.8rem;background-color: #c4c4c4;display: none;}
.btn-more span:before{content:'';position: absolute;left: 0;top: 2.1rem;width: 1.8rem;height: 0.4rem;background-color: #c4c4c4;display: none;}

.ct-more{
    position: absolute;
    right: 0;
    font-size: 3rem;
    font-weight: 600;
    color: #c4c4c4;
    padding-right: 1.4rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.hd-div{
    width: 100%;
    background-color: #f5f5f5;
    border: #e9e9e9 1px solid;
    height: 61.4rem;
    cursor: pointer;
}
.hd-div:hover .hd-text{display:none;}
.hd-div .hd-img{
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hd-div .hd-text{
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5rem;
}
.hd-div .hd-text:before{content:'';position: absolute;left: 0;top: 0;background-color: rgb(0 0 0 / 80%);width: 100%;height: 100%;z-index: 1;}
.hd-div .hd-text h4{
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    z-index: 4;
    position: absolute;
    text-align: center;
    width: 100%;
    /* height: 100%; */
    left: 0;
    top: 49%;
    transform: translateY(-50%);
}
.hd-div .hd-text .hd-d1{
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
    color: #fff;
    position: relative;
    z-index: 1;
    padding-top: 26.2rem;
}
.hd-div .hd-text .hd-d2{
    font-size: 2.6rem;
    color: #fff300;
    text-align: left;
    position: relative;
    z-index: 1;
    padding-top: 0.4rem;
}

.cns-div{}
.cns-div ul{
    display: flex;
}
.cns-div ul li{
    margin-right: 3rem;
    vertical-align: top;
    flex: 1;
}
.cns-div ul li:nth-child(3){margin-right: 0;}
.cns-div ul li:nth-child(4){display:none;}
.cns-div ul li:nth-child(5){display:none;}
.cns-div ul li a{
    display: block;
    width: 100%;
    max-width: 44.5rem;
}

.cns-div ul li:last-child{padding-right:0;}
.cns-box{
    width: 100%;
    height: 100%;
    border: #ececec 2px solid;
}
.cns-box > img{
    width: 100%;
    height: 100%;
    max-height: 38.5rem;
}
.cns-box .cns-sb{
    padding: 3rem 0 6.8rem 2.4rem;
}
.cns-box .cns-sb .cns-p1{
    font-size: 2.4rem;
    font-weight: 600;
    color: #333333;
    text-align:left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    white-space: nowrap;
}
.cns-box .cns-sb .cns-p2{
    font-size: 2rem;
    color: #333333;
    padding-top: 1.2rem;
/* 한 줄 자르기 */
    display: inline-block;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */
    white-space: normal;
    line-height: 1.5;
    height: 3.3em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.mySwiper2{/* overflow: inherit !important; */padding-bottom: 8rem !important;}
.mySwiper2:after{content:"";/* width: 100%; *//* height: 408px; *//* background-color: #fff; *//* position: absolute; *//* left: -164px; *//* top: 0; *//* z-index: 1; */}
.mySwiper2.before{content:''}
.mySwiper2 .swiper-wrapper{}
.mySwiper2 .swiper-wrapper .swiper-slide{}
.mySwiper2 .swiper-button-next{}
.mySwiper2 .swiper-button-next span{}
.mySwiper2 .swiper-button-next span img{}
.mySwiper2 .swiper-button-prev{}
.mySwiper2 .swiper-button-prev span{}
.mySwiper2 .swiper-button-prev span img{}
.mySwiper2 .swiper-pagination{
    bottom: 0 !important;
}

.swi-box{
    position: relative;
}
.swi-box::after{ccontent:'';position: absolute;top: 0;width: 100%;height: 100%;background-color: #fff;right: -150rem;z-index: 2;}
.swi-box::before{content:'';position: absolute;top: 0;width: 100%;height: 100%;background-color: #fff;left: -150rem;z-index: 2;}



.sbn{
    right: -5.6rem !important;
    width: 5.6rem !important;
    height: 5.6rem !important;
    background: #f5f5f5;
}
.sbn span{
    position: absolute;
}
.sbn:after{content:''; display:none !important;}
.sbn span img{}
.sbp{
	left: -5.6rem !important;
    width: 5.6rem !important;
    height: 5.6rem !important;
    background: #f5f5f5;}
.sbp span{ position: absolute;}
.sbp:after{content:''; display:none !important;}
.sbp span img{}


.search-show{}
.search-show > img{}
.sea-won{}
.sea-won select{}
.sea-won input{}
.sea-won button{}
.sea-text{
    width: auto;
    margin: 0 6rem 1.7rem 6rem;
    padding: 3rem 0 1rem 0;
    border-bottom: rgb(255 255 255 / 13%) 1px solid;
}
.sea-text li{
    text-align: left;
    padding-left: 3.3rem;
    padding-bottom: 2.5rem;
}
.sea-text li a{
    font-size: 2.2rem;
    color: #ffffff;
}


.modal-sech{
    width: 62.4rem;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: #e9625c;
    right: 0;
}
.modal-sech .modal-content{
    background: #e9625c;
    box-shadow: none;
}
.modal-sech .modal-content .modal-header{
    border: none;
    position: relative;
    min-height: 0;
    padding: 0;
}
.modal-sech .modal-content .modal-header button{}

.modal-sech .modal-content .modal-body{
    padding: 0;
}
.modal-s{padding:0 !important;}

#columns{
      }
      #columns figure{
        display: inline-block;
        /* border:1px solid rgba(0,0,0,0.2); */
        margin:0;
        margin-bottom: 3.3rem;
        /* padding:10px; */
        /* box-shadow: 2px 2px 5px rgba(0,0,0,0.5); */
        width: 100%;
      }
      #columns figure img{
        width:100%;
      }
      #columns figure figcaption{
        border-top:1px solid rgba(0,0,0,0.2);
        padding:1rem;
        margin-top:1.1rem;
      }




.conts {
    width: 3.4rem;
    height: 3.4rem;
    position: absolute;
    box-sizing: border-box;
    right: 2.5rem;
    top: 5.3rem;
    z-index: 2;
}
.close {
    width: 7.3rem;
    height: 7.3rem;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.close::before,
.close::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.5rem;
    background: #fff;
    transition: .3s ease-in;
}
.close::before {
    top: 50%;
    transform: rotate(45deg);
}
.close::after {
    top: 50%;
    transform: rotate(-45deg);
}
.close:hover::before{
    transform: rotate(225deg);
}
.close:hover::after{
    transform: rotate(-225deg);
}
.close div {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: .3s;
    color: white;
    text-decoration: none;
}
.close:hover div {
    opacity: 1;
}
.max-100{
    padding: 6rem;
}

.swpa-1{
    bottom: 2.7rem !important;
}
.swpa-1 .swiper-pagination-bullet{
    width: 1.5rem;
    height: 1.5rem;
    background: #ffffff;
    margin: 0 0.5rem !important;
    opacity: 1;
    font-size:0;
}
.swpa-1 .swiper-pagination-bullet-active{
    width: 1.5rem;
    height: 1.5rem;
    background: #e9625c;
}

.swpa-2{}
.swpa-2 .swiper-pagination-bullet{
    width: 2.1rem;
    height: 2.1rem;
    background: #dfdfdf;
    margin: 0 8px !important;
    opacity: 1;
}
.swpa-2 .swiper-pagination-bullet-active{
    width: 2.1rem;
    height: 2.1rem;
    background: #e9625c;
}

.bab-bo{position: fixed;top: 9.7rem;right: -16.2rem;z-index: 2;width: auto;height: auto;}
.ta-sho{
    position: absolute;
    top: 0;
    right: 16rem;
    width: 6.7rem;
    height: 23.8rem;
    background-color: #000;
}
.ta-sho a{
    color: #fff;
    font-size: 2.8rem;
    writing-mode: vertical-rl;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1.2rem;
}
.ta-sho a span{
    position: relative;
    margin-top: 2rem;
    display: inline-block;
}
.ta-sho a span:after{content:'';position: absolute;top: -2.4rem;background-color: #fff;width: 1.7rem;height: 0.3rem;left: 49%;transform: translateX(-50%);}
.ta-sho a span:before{content:'';width: 0.3rem;height: 1.7rem;position: absolute;top: -3.1rem;background-color: #fff;left: 49%;transform: translateX(-50%);}

.ta-h3{
    width: 100%;
    max-width: 103rem;
    margin: 5rem auto 0 auto;
    text-align: left;
    padding-left: 9.3rem;
    position: relative;
}
.ta-h3 .sea-h3{
    font-size: 2.6rem;
    font-weight: 600;
    color: #fff;
}
.ta-h3 a{
    position: absolute;
    left: 15rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: rgb(255 255 255 / 50%);
}
.ta-h3 a span{
    position: relative;
    display: block;
}
.ta-h3 a span:after{content:'';position: absolute;left: -20px;top: 54%;width: 1.2rem;height: 0.4rem;background: rgb(255 255 255 / 50%);transform: translateY(-50%);}
.ta-h3 a span:before{content:'';position: absolute;left: -16px;top: 52%;width: 0.4rem;height: 1.2rem;background: rgb(255 255 255 / 50%);transform: translateY(-50%);}

.mo-nav{}
.mo-nav nav{}
.mo-nav nav li{
    display: table;
    width: 100%;
}
.mo-nav nav li a{
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    background-color: #e9625c;
    border-bottom: #f56a64 2px solid;
    height: 10.3rem;
    display: table-cell;
    vertical-align: middle;
    padding-left: 6rem;
}


.hd-div2 .hd-text {
    display: table;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.hd-div2 .hd-text h4 {
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    z-index: 4;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0px;
    top: 49%;
    transform: translateY(-50%);
}
.hd-div2 .hd-text:before{content:'';position: absolute;left: 0;top: 0;background-color: rgb(0 0 0 / 70%);width: 100%;height: 100%;z-index: 1;}

.hd-div2 {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(233, 233, 233);
    border-image: initial;
    display: none;
    position: absolute;
    top: 0;
    z-index: 15;
}
.hd-div2 .hd-text .hd-d1 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    /* padding-top: 262px; */
}

.hd-div2 .hd-text .hd-d2 {
    font-size: 26px;
    color: rgb(255, 243, 0);
    text-align: left;
    position: relative;
    z-index: 1;
    padding-top: 4px;
}




#columns figure:nth-child(1){display:block;}
#columns figure{display:none;}







.bashow{right:0 !important;}
.dib{display:block !important;}
.ta-t60{margin-top:6rem;}

.af-dn:after{display:none;}

.pc-on{display:none;}
.tb-on{display:none;}

.ta-no{display:none !important;}
.mo-on{display:block;}
.mo-no{display:none;}

.fixed{
    border-bottom: #e9e9e9 1px solid;
}




.login-show{
    position: relative;
    margin-top: -26px;
}
.login-show:after{content:'';/* position: absolute; */width: 100%;height: 100%;background-color: #000;top: 0;left: 0;}
.login-show span{
    position: relative;
    /* width: 4.1rem; */
}
.login-show span a{
    display: inline-block;
    margin: 0 0 0 4.8rem;
    width: 3.2rem;
    vertical-align: middle;
}
.login-show span a img{
    display: none;
}
.login-show .s-hov{
	display:none;
	position: absolute;
	top: 7.2rem;
	left: 70%;
	width: 26rem;
	background-color: #e9625c;
	text-align: left;
	padding: 2.7rem 2rem 2.5rem 2rem;
	z-index: 14;
	transform: translateX(-50%);
}
.login-show .s-hov ul{}
.login-show .s-hov ul li{
    padding-left: 64px;
    padding: 0 0 3rem 4.4rem;
}
.login-show .s-hov ul li a{}
.login-show .s-hov ul li a img{
    vertical-align: middle;
    width: 1.6rem;
}
.login-show .s-hov ul li a span{
    display: inline-block;
    vertical-align: middle;
    padding-left: 1.2rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.8rem;
}
.btn-1{
    width: 100%;
    color: #e9625c;
    font-weight: 600;
    font-size: 1.6rem;
    background-color: #fff;
    height: 4.3rem;
}

.bg-sh{
    position: absolute;
    width: 100%;
    height: 45.3rem;
    background-color: rgb(0 0 0 / 60%);
    top: 9.7rem;
    left: 0;
    z-index: -1;
    display: none;
}
.bg-show{display:block;}
.s-hov-show{display: block !important;}
.sog-1{}
.sog-1:after{
    content:'';
    width: 4.2rem;
    height: 3.5rem;
    background-image: url('../img/tablet/icon-1.png');
    background-size: 4.2rem 3.5rem;
    z-index: 9;
    position: absolute;
    left: 50%;
    top: 5px;
    display: block;
    cursor: pointer;
    }
.sog-2{}
.sog-2:after{
    content:'';
    width: 4.1rem;
    height: 4.1rem;
    background-image: url('../img/tablet/icon-2.png');
    background-size: 4.1rem 4.1rem;
    z-index: 9;
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    }
.icon-search:after{
    content:'';
    width: 4.2rem;
    height: 4.3rem;
    background-image: url('../img/tablet/icon-3.png');
    background-size: 4.2rem 4.3rem;
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    }

    
.mySwiper3{overflow:inherit;}    
.mySwiper3 .swiper-slide{width: 29.2rem !important;} 