<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	.swi-box::before{background-color:#f9f9f9;}
    	.footer-wrap{margin-top:0;}
    	.hd-div{background-color:#fff;}
    </style>
</head>

<body>
	<div class="wrap">
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
		<div class="body-wrap coll-mobile">
			
			<div class="contents">
				<div class="mgz-wrap">
					<div class="mgz-top mgz-bg-3">
						<div class="mgz-title">
							<img src="resources/img/mgz/title.png" />
							<div class="mgz-text"><span>최신 전시 소식부터 가장 HOT한 전시 추천까지</span></div>
						</div>
					</div>
					<div class="mgz-body max-1500">
						<div class="mgz-link">
							<ul class="mgz-ul">
								<li><a href="/insights">Insights</a></li>
								<li><a href="/media">Media</a></li>
								<li class="active"><a href="/exhibition">Exhibition</a></li>
							</ul>
						</div>
						
						<ul class="mgz-list" id="mgz9List"></ul>
						
						
						<div class="text-center">
							<button type="button" class="btn-more mg_t0"><span>more</span></button>
						</div>
						
					</div>
				</div>
			</div>
			
			
		</div>
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>

<!-- 모달검색 -->
<!-- Modal -->
<div class="modal fade modal-s" id="lp_mgz9Dtl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-baeg max-w1200">
		<div class="modal-content">
			<div class="modal-header" style="padding: 0;min-height: 0;">
				<div class="baegs">
				    <div class="close" data-dismiss="modal" aria-label="Close"><img src="resources/img/ba/icon-end.png" /></div>
				</div>
			</div>
			
			<!-- 상세내용 -->
			<div class="modal-body pd60 h850-o" id="lp_mgz9Dtl_cntnt"></div>
			
		</div>
	</div>
</div>

<script type="text/javascript">      




	/* 파일업로드 */
	$(document).ready(function(){
	  var fileTarget = $('.filebox .upload-hidden');
	
	    fileTarget.on('change', function(){
	        if(window.FileReader){
	            var filename = $(this)[0].files[0].name;
	        } else {
	            var filename = $(this).val().split('/').pop().split('\\').pop();
	        }
	
	        $(this).siblings('.upload-name').val(filename);
	    });
	}); 


      
      $(window).on("resize", function () {
	   	    if(window.matchMedia('(min-width: 1537px)').matches)
	   	    {
	   	    	
	   	    	var swiper = new Swiper(".mySwiper2", {
		   	          slidesPerView: 4,
		   	          spaceBetween: 30,
		   	          slidesPerGroup: 1,
		   	          loop: true,
		   	          loopFillGroupWithBlank: true,
		   	       	  /* autoplay: {
		               delay: 3000,
		               disableOnInteraction: false,
		             }, */
		   	          pagination: {
		   	            el: ".swiper-pagination",
		   	            clickable: true,
		   	          },
		   	          navigation: {
		   	            nextEl: ".swiper-button-next",
		   	            prevEl: ".swiper-button-prev",
		   	          },
		   	        });
	   	    	
		       	  
		       	  
	   	    	
	   	    	
	   	    }  else if(window.matchMedia('(min-width: 751px)').matches) {
	   	    	
	   	    	var swiper = new Swiper(".mySwiper2", {
		   	          slidesPerView: 3,
		   	          spaceBetween: 30,
		   	          slidesPerGroup: 1,
		   	          loop: true,
		   	          loopFillGroupWithBlank: true,
		   	       /* autoplay: {
		               delay: 3000,
		               disableOnInteraction: false,
		             }, */
		   	          pagination: {
		   	            el: ".swiper-pagination",
		   	            clickable: true,
		   	          },
		   	          navigation: {
		   	            nextEl: ".swiper-button-next",
		   	            prevEl: ".swiper-button-prev",
		   	          },
		   	     });
	   	    	
		       	
	   	    	
	   	     } else {
	   	    	var swiper = new Swiper(".mySwiper2", {
		   	          slidesPerView: 2,
		   	       	  spaceBetween: 30,
		   	          slidesPerGroup: 1,
		   	          loop: true,
		   	          loopFillGroupWithBlank: true,
		   	       /* autoplay: {
		               delay: 3000,
		               disableOnInteraction: false,
		             }, */
		   	          pagination: {
		   	            el: ".swiper-pagination",
		   	            clickable: true,
		   	          },
		   	          navigation: {
		   	            nextEl: ".swiper-button-next",
		   	            prevEl: ".swiper-button-prev",
		   	          },
		   	     });
	   	    	
	   	     };
	   	}).resize();
      
      
      
      $(document).ready(function () {
	      $(".elm").hover(
	    	function(){ $(this).addClass('hover') },
	   	    function(){ $(this).removeClass('hover') }
	   	  )
	   	  $(".cn-b").hover(
	    	function(){ $(this).addClass('gis') },
	   	    function(){ $(this).removeClass('gis') }
	   	  )
	   	  
	   	selectMgz9List("EBI");
      });
      
      $(function() {                      
    	  $(".bab-bo").click(function() { 
    	    $(this).toggleClass("bashow");     
    	  });
    	  
    	  $(".lg-my").click(function() { 
      	    $('.bg-sh').toggleClass('bg-show');     
      	 	 $('.s-hov').toggleClass('s-hov-show');     
      	  });
    	  
    	});
      
      
      
      
      /* 메뉴바 FIXED */
      if (jQuery(window).width() > 0) {
          jQuery(window).on("scroll",function(ev){
              if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
                  jQuery('.head-wrap').addClass('fixed');
              }
              else{
                  jQuery('.head-wrap').removeClass('fixed');
              }
              return false;
          });
      }
      
      
      /* jQuery(function($) {

    	    window.onresize = function(){
    	      document.location.reload();
    	    };

    	}); */
      
      
      
      var delay = 300;
      var timer = null;

      //Javascript
      window.addEventListener('resize', function(){
      	clearTimeout(timer);
      	timer = setTimeout(function(){
      		document.location.reload();
      	}, delay);
      });

      //jQuery
      $(window).on('resize', function(){
      	clearTimeout(timer);
      	timer = setTimeout(function(){
      		document.location.reload();
      	}, delay);
      });
      
      $('ul.dropdown-menu.mega-dropdown-menu').on('click', function(event){
    	    // The event won't be propagated up to the document NODE and 
    	    // therefore delegated events won't be fired
    	    event.stopPropagation();
    	});
      
      $('.selectpicker').selectpicker();
      
      
      /*
       * MGZ9 목록 조회
       * PARAM : 
      	#MGZ_TYP_CD
      		IST - INSIGHTS
      		MDA - MEDIA
      		EBI - EXHIBITION
       * RETURN : MGZ9 목록
       */
       function selectMgz9List(mgzTypCd){
       	
       	$.ajax({
               type: "post",
               url: "/selectMgz9List",
               data:{
              	 mgzTypCd : mgzTypCd
       		},
               success: function(data) {
               	var mgz9List = null;
               	var mgz9ListHtml = "";
               	
               	if(data.result != null && data.result.length > 0){
               		mgz9List = data.result;	
               		console.log(data);
               		
               		for(var i=0; i<mgz9List.length; i++){
               			mgz9ListHtml += '<li>';
      	         		mgz9ListHtml += '	<a href="" data-toggle="modal" data-target="#lp_mgz9Dtl" onclick="selectMgz9Dtl('+ mgz9List[i].mgzSq +');">';
      	         		mgz9ListHtml += '		<div class="ml-img"><img src="'+ mgz9List[i].mgzMainImgUrl +'" /></div>';
      	         		mgz9ListHtml += '		<div class="ml-div">';
      	         		mgz9ListHtml += '			<h3 class="ml-h3">'+ mgz9List[i].mgzTitle +'</h3>';
      	         		mgz9ListHtml += '			<div class="ml-p">';
      	         		mgz9ListHtml += '				'+ mgz9List[i].mgzDescrptn +'';
      	         		mgz9ListHtml += '			</div>';
      	         		mgz9ListHtml += '			<span class="ml-time">'+ mgz9List[i].regDate +'</span>';
      	         		mgz9ListHtml += '		</div>';
      	         		mgz9ListHtml += '	</a>';
      	         		mgz9ListHtml += '</li>';
                   	}
               		
                   	$("#mgz9List").empty();
                   	$("#mgz9List").append(mgz9ListHtml).trigger("create");
               	}else{
               		modalAlertShow("검색 결과가 없습니다."); 
               		$("#mgz9List").empty();
               	}
               },           
               error: function(error) {
                   alert("오류 발생" + error);
               }
       	});
       }
       
       
       /*
        * MGZ9 상세 조회
        * PARAM : #MGZ_SQ
        * RETURN : MGZ9 상세
        */
        function selectMgz9Dtl(mgzSq){
        	
        	$.ajax({
                type: "post",
                url: "/selectMgz9Dtl",
                data:{
               	 mgzSq : mgzSq
        		},
                success: function(data) {
                	var mgzDtl = null;
                	console.log(data);
                	if(data.result != null){
                    	$("#lp_mgz9Dtl_cntnt").empty();
                    	$("#lp_mgz9Dtl_cntnt").append(data.result.mgzContent).trigger("create");
                	}else{
                		modalAlertShow("검색 결과가 없습니다."); 
                		$("#lp_mgz9Dtl_cntnt").empty();
                	}
                },           
                error: function(error) {
                    alert("오류 발생" + error);
                }
        	});
        }
      
    </script>
    
	
	
	
	
</body>

</html>
