<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>딜링아트</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	
	<meta name="author" content="">
	<meta name="keywords" content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta name="description" content="개인간 미술품 거래 마켓플레이스">
	<meta property="og:description" content="개인간 미술품 거래 마켓플레이스">
	<meta property="og:type" content="website">
	<meta property="og:title" content="DeailngArt">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/DA_logo_og.png">
	<meta property="og:url" content="https://www.dealing-art.com">
	
	<!-- google -->
    <meta name="google-site-verification" content="EKiW_Lm3Qw-DYnLT9qokEpZT2Sa8tSQuVWhVEvs4kPk" />
    <!-- faceBook -->
    <meta name="facebook-domain-verification" content="bgotqya9tcsrgrmspnq0uywh85kjzh" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- HTML의 <head> 섹션에 전체 사이트 태그를 복사합니다. -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRJBSR52MT"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WRJBSR52MT');
	</script>
	
	<!-- Google Tag Manager -->
	<!-- 페이지의 <head>에서 가능한 한 높은 위치에 코드를 붙여넣으세요. -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBP5CQ9');</script>
	<!-- End Google Tag Manager -->
			
	<!-- Google Tag Manager (noscript) -->
	<!-- 또한 여는 <body> 태그 바로 뒤에 코드를 붙여넣으세요. -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBP5CQ9"height="0" width="0" style="display:none; visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	
	<!-- 페이스북 Meta Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '5995234030505207');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=5995234030505207&ev=PageView&noscript=1"/></noscript>
    
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	.swi-box::before{background-color:#f9f9f9;}
    	.footer-wrap{margin-top:0;}
    	.hd-div{background-color:#fff;}
    	.swiper-slide{background-color:rgb(255 255 255 / 0%);}
    </style>
    
    <link rel="icon" type="image/png" href="resources/img/favicon.png">
</head>
<body>
	<div class="wrap">
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
		<div class="body-wrap">
		
		<input type="hidden" id="artstSq" >
		
			<!--
			<ul class="nav nav-pills ait-nav" id="pills-tab" role="tablist">
				<li class="nav-item ">
					<a class="nav-link" id="pills-home-tab" data-toggle="pill"  role="tab" aria-controls="pills-home" aria-selected="false">작가프로필보기</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" id="pills-profile-tab" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="true">작품보기</a>
				</li>
			</ul>
			  -->
			  
			<ul class="nav nav-pills ait-nav" id="pills-tab" role="tablist">
				<li class="nav-item ">
					<a href="javascript:workDetailGo();" >작가프로필보기</a>
				</li>
				<li class="nav-item active">
					<a href="#">작품보기</a>
				</li>
			</ul>
			
			<div class="tab-content ait-tab" id="pills-tabContent">
				<div class="tab-pane fade tab-pane1" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				
					<div class="contents max-1500" id="artstInfo">
						
					</div>
				
				</div>
				<div class="tab-pane fade  active in tab-pane2" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
					
					<div class="reds-box ati-reds">
						<ul class="pc-on">
							<li>
								<a href="javascript:fnModalAlert();" class="down-on">
									제작년도
								</a>
							</li>
							<li>
								<a href="javascript:fnModalAlert();" class="">
									가격
								</a>
							</li>
						</ul>
					</div>
					
						<div>
					
							<style type="text/css">
								
								.pseudo-img {
								  border-radius: 7px;-moz-border-radius: 7px;-khtml-border-radius: 7px;-webkit-border-radius: 7px
								}
								
								.grid{border:0px solid #222;text-align:center;margin: 0 auto;}
 								.griditem{ margin-bottom:30px;}

							</style>
							
							
						    
						    <!-- 작품 리스트  -->
						  	<div class="grid" >
								 
							</div>
					
						
						</div>
					
<!-- 					<div class="text-center mg_t50" id="moreButton"> -->
<!-- 					</div> -->
					
				</div>
			</div>
			
		</div>
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
	</div>


<!-- 모달검색 -->
<!-- Modal -->
<!-- 거래 등록 전 꼭! 확인하세요 -->
<div class="modal fade modal-s" id="artstInfoMore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-baeg max-w1200">
		<div class="modal-content">
			<div class="modal-header" style="padding: 0;min-height: 0;">
				<div class="baegs">
				    <div class="close" data-dismiss="modal" aria-label="Close"><img src="resources/img/ba/icon-end_1.png" /></div>
				</div>

			</div>
			<div class="modal-body pd60 h850-o" id="artstInfoModal">
				
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
      
      $(document).ready(function () {
	      
    	  
    	  $(".elm").hover(
	    	function(){ $(this).addClass('hover') },
	   	    function(){ $(this).removeClass('hover') }
	   	  )
	   	  $(".cn-b").hover(
	    	function(){ $(this).addClass('gis') },
	   	    function(){ $(this).removeClass('gis') }
	   	  )
      });
      
      /* 메뉴바 FIXED */
      if (jQuery(window).width() > 0) {
          jQuery(window).on("scroll",function(ev){
              if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
                  jQuery('.head-wrap').addClass('fixed');
              }
              else{
                  jQuery('.head-wrap').removeClass('fixed');
              }
              return false;
          });
      }
      
      
var artstInfo = /*[[${result}]]*/ 'default';

$(function() {    
	var result = artstInfo.workList;
	
	$("#artstSq").val(result[0].artstSq);
	
	var career = artstInfo.career;
	var eductn = artstInfo.eductn;
	var exhbtn = artstInfo.exhbtn;
	var exhbtnAword = artstInfo.exhbtnAword;
	var html = "";
	var artstInfoHtml = "";
	var artstInfoHtml2 = "";
	if(artstInfo == null){
		alert("검색 결과가 없습니다.");
	}else{
		
		$(".grid").empty();
	
		for(var i=0; i<result.length; i++){
			
			if(i != 0) {
				var z = i+1
				var gtText = "gt"+z;
			}
			
			    //경매 - 겨래진행중
				if(result[i].dealTypCd == "A" && result[i].dealSttsCd == "TP"){
					
					html += '<div class="griditem '+gtText+'" style="border:0px solid #222;">';
					html += '<div  >';
					html += '<div class="item-div-img active-on" onclick="dealDetail('+ result[i].dealSq +')">';
					//작품 이미지
					html += '<img src="'+ result[i].workMainImgUrl +'" class="pseudo-img" style="max-width:360px; max-height:600px; width:100%; height:100%;" >';
					//마우스 호버 부분
					html += '<div class="item-ho">';
					html += '	<p>'+ result[i].dealStrtDate +' - '+ result[i].dealEndngDate +'</p>';
	 				html += '	<p> 응찰수 : '+ result[i].bidCnt +'</p>';
	 				html += '	<ul class="dealCount" dday="'+result[i].dealEndngDateTime+'"></ul>';
	 				html += '	<h4>시작가 '+ result[i].dealStrtPrc +' KRW</h4>';
					html += '	</div>';
					html += '</div>'
					//작품 이미지 하단 영역
					html += '<div class="item-body">';
					html += '<div class="heart" workSq="'+ result[i].workSq +'" style="cursor:pointer;"></div>';
					html += '<div>';
					html += '<div class="uesr-s">';
					if(result[i].artstProfileImgUrl == null || result[i].artstProfileImgUrl == ""){
	 				html += '<img src="resources/img/de/ues-icon.png"/>';
	     			}else{
	     			html += '<img src="'+ result[i].artstProfileImgUrl +'" style="width:42px;border-radius: 7px;-moz-border-radius: 7px;-khtml-border-radius: 7px;-webkit-border-radius: 7px"/>';
	     			}
					html += '</div>';
					
					
					html += '<div class="text-s" style="padding-left:5px;text-align:left">';
					
					html += '<h3>'+ result[i].artstActvtyNm +' ('+ result[i].artstBirthYear +')</h3>';
					html += '<p class="ts-1">'+ result[i].workNm +' ('+ result[i].workProdcYear +')</p>';
					html += '<p>'+ result[i].workMatrl +'</p>';
					html += '<p>'+ result[i].workSizeDepth +'x'+ result[i].workSizeWidth +'</p>';
					
					if(result[i].maxBidPrc == null) {
	 					html += '<h4>입찰가 0 KRW</h4>';
	 				} else {
	 					html += '<h4>입찰가 '+ formatComma(result[i].maxBidPrc) +' KRW</h4>';	
	 				}
					
					html += '</div>'
					
					html += '</div>';
					
					if(result[i].workTpyCd == "WORK"){
	 				html += '<div class="artist active"><span>Artist</span></div>';
	     			}
	     			if(result[i].workTpyCd == "COLL"){
	     				html += '<div class="artist"><span>Artist</span></div>';
	     			}
					
					html += '</div>';
					html += '</div>';
					html += '</div>';
					
				}
				
				//판매 - 거래진행중
				if(result[i].dealTypCd == "S" && result[i].dealSttsCd == "TP"){
					
					html += '<div class="griditem '+gtText+'" style="border:0px solid #222;">';
					html += '<div>';
					//작품 이미지
					html += '<div class="item-div-img sale" onclick="dealDetail('+ result[i].dealSq +')">';
					html += '<img src="'+ result[i].workMainImgUrl +'" class="pseudo-img" style="max-width:360px; max-height:600px; width:100%; height:100%;">';
					html += '		<div class="item-ho2 sale-div">';
	     			html += '			<h3>판매중</h3>';
	     			html += '			<ul class="dealCount" dday="'+result[i].dealEndngDateTime+'"></ul>';
	     			html += '		</div>';
					html += '</div>';
					html += '<div class="item-body">';
					html += '<div class="heart" workSq="'+ result[i].workSq +'" style="cursor:pointer;"></div>';
					html += '<div>';
					html += '<div class="uesr-s">';
					if(result[i].artstProfileImgUrl == null || result[i].artstProfileImgUrl == ""){
	 				html += '<img src="resources/img/de/ues-icon.png"/>';
	 				}else{
	 				html += '<img src="'+ result[i].artstProfileImgUrl +'" style="width:42px;border-radius: 7px;-moz-border-radius: 7px;-khtml-border-radius: 7px;-webkit-border-radius: 7px"/>';
	 				}
					html += '</div>';
					
					
					html += '<div class="text-s" style="padding-left:5px;text-align:left">';
					
					html += '<h3>'+ result[i].artstActvtyNm +' ('+ result[i].artstBirthYear +')</h3>';
					html += '<p class="ts-1">'+ result[i].workNm +' ('+ result[i].workProdcYear +')</p>';
					html += '<p>'+ result[i].workMatrl +'</p>';
					html += '<p>'+ result[i].workSizeDepth +'x'+ result[i].workSizeWidth +'</p>';
					html += '<h4>판매가 '+ formatComma(result[i].dealStrtPrc) +' KRW</h4>';
					html += '</div>'
					
					html += '</div>';
					
					if(result[i].workTypCd == "WORK"){
	 				html += '<div class="artist active" onclick="dealDetail('+ result[i].dealSq +')"><span>Artist</span></div>';
	 				}
	 				if(result[i].workTypCd == "COLL"){
	 				html += '<div class="artist"><span>Artist</span></div>';
	 				}
	 				
					html += '</div>';
					html += '</div>';
					html += '</div>';
						
		    
				}
				
				//거래종료
				if(result[i].dealSttsCd == "TC"){
					
					html += '<div class="griditem '+gtText+'" style="border:0px solid #222;">';
					html += '<div >';
					html += '<div class="item-div-img sold-3">';
					//작품 이미지
					html += '<img src="'+ result[i].workMainImgUrl +'" class="pseudo-img" style="max-width:360px; max-height:600px; width:100%; height:100%;">';
					html += '</div>';
					html += '<div class="item-body">';
					html += '<div class="heart" workSq="'+ result[i].workSq +'" style="cursor:pointer;"></div>';
					html += '<div>';
					html += '<div class="uesr-s">';
					if(result[i].artstProfileImgUrl == null || result[i].artstProfileImgUrl == ""){
	 				html += '<img src="resources/img/de/ues-icon.png"/>';
	 				}else{
	 				html += '<img src="'+ result[i].artstProfileImgUrl +'" style="width:42px;border-radius: 7px;-moz-border-radius: 7px;-khtml-border-radius: 7px;-webkit-border-radius: 7px"/>';
	 				}
					html += '</div>';
					
					
					html += '<div class="text-s" style="padding-left:5px;text-align:left">';
					
					html += '<h3>'+ result[i].artstActvtyNm +' ('+ result[i].artstBirthYear +')</h3>';
					html += '<p class="ts-1">'+ result[i].workNm +' ('+ result[i].workProdcYear +')</p>';
					html += '<p>'+ result[i].workMatrl +'</p>';
					html += '<p>'+ result[i].workSizeDepth +'x'+ result[i].workSizeWidth +'</p>';
					html += '</div>'
					html += '</div>';
					
					if(result[i].workTypCd == "WORK"){
	 				html += '<div class="artist active"><span>Artist</span></div>';
	 				}
	 				if(result[i].workTypCd == "COLL"){
	 				html += '<div class="artist"><span>Artist</span></div>';
	 				}
					html += '</div>';
					html += '</div>';
					html += '</div>';
		    
				}
		   
				
			 	if(result[i].dealTypCd == null){
					
					html += '<div class="griditem '+gtText+'" style="border:0px solid #222;">';
					html += '<div >';
					html += '<div class="item-div-img" onclick="workDetail('+ result[i].workSq +')">';
					//작품 이미지
					html += '<img src="'+ result[i].workMainImgUrl +'" class="pseudo-img" style="max-width:360px; max-height:600px; width:100%; height:100%;">';
					
					html += '</div>';
					html += '<div class="item-body">';
					html += '<div class="heart" workSq="'+ result[i].workSq +'" style="cursor:pointer;"></div>';
					html += '<div>';
					html += '<div class="uesr-s">';
					if(result[i].artstProfileImgUrl == null || result[i].artstProfileImgUrl == ""){
	 				html += '<img src="resources/img/de/ues-icon.png"/>';
	     			}else{
	     				html += '<img src="'+ result[i].artstProfileImgUrl +'" style="width:42px;border-radius: 7px;-moz-border-radius: 7px;-khtml-border-radius: 7px;-webkit-border-radius: 7px"/>';
	     			}
					html += '</div>';
					
					html += '<div class="text-s" style="padding-left:5px;text-align:left">';
					html += '<h3>'+ result[i].artstActvtyNm +' ('+ result[i].artstBirthYear +')</h3>';
					html += '<p class="ts-1">'+ result[i].workNm +' ('+ result[i].workProdcYear +')</p>';
					html += '<p>'+ result[i].workMatrl +'</p>';
					html += '<p>'+ result[i].workSizeDepth +'x'+ result[i].workSizeWidth +'</p>';
					html += '</div>'
					
					html += '</div>';
					
					if(result[i].workTypCd == "WORK"){
	 				html += '<div class="artist active"><span>Artist</span></div>';
	 				}
	 				if(result[i].workTypCd == "COLL"){
	 				html += '<div class="artist"><span>Artist</span></div>';
	 				}
					html += '</div>';
					html += '</div>';
					html += '</div>';
		    
				}
			
		}
				
		$(".grid").append(html).trigger("create");
		
		masonryLayout();
		
		
		$("#artstInfo").empty();
		$("#artstInfoModal").empty();
		artstInfoHtml2 += '<div class="cont-title3 mg-at">';
		artstInfoHtml2 += '<h3>Artist library</h3>';
		artstInfoHtml2 += '</div>';
		artstInfoHtml2 += '<div class="ad-sty">';
		//artstInfoHtml2 += '<div class="ad-user"><img src="resources/img/icon/user-2.png" /></div>';
		artstInfoHtml2 += '<div class="ad-user"><img src="'+ artstInfo.artistInfo.artstProfileImgUrl +'" /></div>';
		artstInfoHtml += '<div class="ad-text">';
		artstInfoHtml += '	<h3>'+ artstInfo.artistInfo.artstActvtyNm +'</h3>';
		artstInfoHtml += '	<h4>'+ artstInfo.artistInfo.artstEnglsNm +'</h4>';
		artstInfoHtml += '	<p>'+ artstInfo.artistInfo.artstSelfIntro +'</p>';
		artstInfoHtml += '</div>';
		artstInfoHtml += '<dl class="ad-dl">';
		artstInfoHtml += '<dt>SNS</dt>';
		artstInfoHtml += '<dd>';
		if(artstInfo.artistInfo.artstInstagramUrl != null && artstInfo.artistInfo.artstInstagramUrl != ""){
			artstInfoHtml += '	<a href="'+ artstInfo.artistInfo.artstInstagramUrl +'" target="_blank" class="if-img"><img src="resources/img/icon/i-1.png" /></a>';
		}
		if(artstInfo.artistInfo.artstfacebookUrl != null && artstInfo.artistInfo.artstfacebookUrl != ""){
			artstInfoHtml += '	<a href="'+ artstInfo.artistInfo.artstfacebookUrl +'" target="_blank" class="if-img"><img src="resources/img/icon/i-2.png" /></a>';
		}
		/* artstInfoHtml += '	<a href="#" class="if-img"><img src="resources/img/icon/i-3.png" /></a>';
		artstInfoHtml += '	<a href="#" class="if-img"><img src="resources/img/icon/i-4.png" /></a>';
		artstInfoHtml += '	<a href="#" class="if-img"><img src="resources/img/icon/i-5.png" /></a>';
		artstInfoHtml += '	<a href="#" class="if-img"><img src="resources/img/icon/i-6.png" /></a>'; */
		artstInfoHtml += '</dd>';
		artstInfoHtml += '</dl>';
		
		if(artstInfo.artistInfo.artstHmpgUrl != null && artstInfo.artistInfo.artstHmpgUrl != ""){
		artstInfoHtml += '<dl class="ad-dl">';
		artstInfoHtml += '	<dt>홈페이지</dt>';
		artstInfoHtml += '	<dd>';
		artstInfoHtml += '		<p>https://'+ artstInfo.artistInfo.artstHmpgUrl +'/</p>';
		artstInfoHtml += '	</dd>';
		artstInfoHtml += '</dl>';
		}
		artstInfoHtml += '	<dl class="ad-dl">';
		artstInfoHtml += '	<dt>학력</dt>';
		artstInfoHtml += '	<dd>';
		for(var i=0; i<eductn.length; i++){
			artstInfoHtml += '		<p>'+ eductn[i].eductnNm +'</p>';
		}
		artstInfoHtml += '	</dd>';
		artstInfoHtml += '</dl>';
		artstInfoHtml += '<dl class="ad-dl">';
		artstInfoHtml += '	<dt>경력</dt>';
		artstInfoHtml += '	<dd>';
		for(var i=0; i<career.length; i++){
			artstInfoHtml += '		<p>'+ career[i].careerNm +'</p>';
		}
		artstInfoHtml += '	</dd>';
		artstInfoHtml += '</dl>';
		artstInfoHtml += '<dl class="ad-dl">';
		artstInfoHtml += '	<dt>전시 정보</dt>';
		artstInfoHtml += '	<dd>';
		for(var i=0; i<exhbtn.length; i++){
			artstInfoHtml += '		<p>'+ exhbtn[i].exhbtnNm +'</p>';
		}
		artstInfoHtml += '	</dd>';
		artstInfoHtml += '</dl>';
		artstInfoHtml += '<dl class="ad-dl">';
		artstInfoHtml += '	<dt>수상</dt>';
		artstInfoHtml += '	<dd>';
		for(var i=0; i<exhbtnAword.length; i++){
			artstInfoHtml += '		<p>'+ exhbtnAword[i].exhbtnNm +'</p>';
		}
		artstInfoHtml += '	</dd>';
		artstInfoHtml += '</dl>';
		artstInfoHtml += '<dl class="ad-dl">';
		artstInfoHtml += '	<dt>인터뷰영상</dt>';
		artstInfoHtml += '	<dd>';
		if(artstInfo.artistInfo.artstPromtnVideoUrl != null && artstInfo.artistInfo.artstPromtnVideoUrl != ""){
			artstInfoHtml += '		<p>https://'+ artstInfo.artistInfo.artstPromtnVideoUrl +'</p>';
		}
		artstInfoHtml += '	</dd>';
		artstInfoHtml += '</dl>';
		/*
		artstInfoHtml += '<dl class="ad-dl">';
		artstInfoHtml += '	<dt>논문, 평론, 기사</dt>';
		artstInfoHtml += '	<dd>';
		artstInfoHtml += '		<p>2014 동심을 깨우는 강한 숨결 전, 전북대학교 국립 박물관</p>';
		artstInfoHtml += '		<p>2013 50만원 전, 경민미술관</p>';
		artstInfoHtml += '		<p>2013 가미갤러리 초대작가전, 가미갤러리</p>';
		artstInfoHtml += '		<p>2013 블라블라, 인사토포하우스</p>';
		artstInfoHtml += '	</dd>';
		artstInfoHtml += '</dl>';
		*/
		$("#artstInfo").append(artstInfoHtml2).trigger("create");
		$("#artstInfo").append(artstInfoHtml).trigger("create");
		var artstInfoButton = '<button type="button" class="the-more2 mg_t60" data-toggle="modal" data-target="#artstInfoMore">더보기</button>';
		$("#artstInfo").append(artstInfoButton).trigger("create");
		$("#artstInfoModal").append(artstInfoHtml).trigger("create");
		var moreButton = '<button type="button" class="btn-more"><span>more</span></button>';
		$("#moreButton").append(moreButton).trigger("create");
	}
});
//거래 남은 시간 1초마다 계산해서 표현하기
setInterval(function() {
	var elements = document.querySelectorAll(".dealCount");
	for(var i=0; i<elements.length; i++){
		var html = '';
		var dday = new Date(elements[i].attributes.dday.value).getTime();
		var today = new Date().getTime();
		if(today >= dday){
			onload();
		}
	  	var gap = dday - today;
		var day = Math.floor(gap / (1000 * 60 * 60 * 24));
		var hour = Math.floor((gap % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var min = Math.floor((gap % (1000 * 60 * 60)) / (1000 * 60));
		var sec = Math.floor((gap % (1000 * 60)) / 1000);
		html += '<li>'+ day +'<span>day</span></li>';
		html += '<li>'+ hour +'<span>hrs</span></li>';
		html += '<li>'+ min +'<span>min</span></li>';
		html += '<li>'+ sec +'<span>sec</span></li>';
		elements[i].innerHTML = html;
	  	//document.getElementById("dealCount").innerHTML = day + " 일 " + hour + " : " + min + " : " + sec;
	}
}, 1000);


	 
if(window.matchMedia('(min-width: 1537px)').matches) {
		$(".grid").width( '1200px' );
 }

// 2022-08-26 : 박상현 : 주석
// function dealDetail(workSq){
//  	location.href="/bidding?workSq="+workSq;
// }

function dealDetail(dealSq){
 	location.href="/bidding?dealSq="+dealSq;
}

function workDetail(workSq){
 	location.href="/workDetail?workSq="+workSq;
}

$(document).on("click", ".heart", function(){
	var param = new Object();
	var element = $(this);
	param.workSq= element.attr("workSq");
	param.mbrSq = sMbrSqVal;
	if($(this).hasClass("on")){
		$.ajax({
	        type: "post",
	        url: "/scrapDel",
	        data: param,
	        success: function(data) {
	        	element.removeClass("on");
	        },
	        error: function(error) {
	            alert("오류 발생" + error);
	        }
		});
	}else{
		$.ajax({
	        type: "post",
	        url: "/scrapAdd",
	        data: param,
	        success: function(data) {
	        	if(data == 1){
	        		element.addClass("on");
	        	}else{
	        		modalAlertShow("스크랩 등록에 실패했습니다. 관리자에게 문의하세요.");
	        	}
	        },
	        error: function(error) {
	            alert("오류 발생" + error);
	        }
		});
	}
});

      
//화면 레이아웃 추가
function masonryLayout() {
	
	var msnry = new Masonry( '.grid', {

			
	  	  itemSelector: '.griditem',
	  	  columnWidth: 360,
	  	  gutter: 10,
	  	  horizontalOrder: true,
	  	  // originLeft: false //왼쪽부터 정렬 
	  	  // originTop: false //바닥부터
	  	  //transitionDuration: '0.2s' //위치 전환 시간
	});
	
	imagesLoaded( '.grid' ).on( 'progress', function() {
		msnry.layout();
	});
		
}

function workDetailGo(){
	var artstSq= $("#artstSq").val();
	 
	  pageGoPost({
			url:"/artistDetail",
			target:"_self",
			vals:[
				["artstSq", artstSq]
			]
		});
	
}

$( document ).ready(function() {
	
	
	
	 /* 
	  $("#pills-home-tab").unbind("click").bind("click",function(){
		  var artstSq= $("#artstSq").val();
		  
		     
		  pageGoPost({
				url:"/artistDetail",
				target:"_self",
				vals:[
					["artstSq", artstSq]
				]
			});
			 
		});
		*/ 
	 
	  if(isMobile == true) {
			$("#footerAl").css("padding-top","1000px")
		} 
		 	
	});
</script>
    
	
	
	
	
</body>

</html>
