<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>딜링아트</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	
	<meta name="author" content="">
	<meta name="keywords" content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta name="description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:type" content="website">
	<meta property="og:title" content="딜링아트">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/DA_logo_og.png">
	<meta property="og:url" content="https://www.dealing-art.com">
	
	<!-- google -->
    <meta name="google-site-verification" content="EKiW_Lm3Qw-DYnLT9qokEpZT2Sa8tSQuVWhVEvs4kPk" />
    <!-- faceBook -->
    <meta name="facebook-domain-verification" content="bgotqya9tcsrgrmspnq0uywh85kjzh" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- HTML의 <head> 섹션에 전체 사이트 태그를 복사합니다. -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRJBSR52MT"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WRJBSR52MT');
	</script>
	
	<!-- Google Tag Manager -->
	<!-- 페이지의 <head>에서 가능한 한 높은 위치에 코드를 붙여넣으세요. -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBP5CQ9');</script>
	<!-- End Google Tag Manager -->
			
	<!-- Google Tag Manager (noscript) -->
	<!-- 또한 여는 <body> 태그 바로 뒤에 코드를 붙여넣으세요. -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBP5CQ9"height="0" width="0" style="display:none; visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	
	<!-- 페이스북 Meta Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '5995234030505207');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=5995234030505207&ev=PageView&noscript=1"/></noscript>
    
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	.mySwiper4{height:auto;}
    	.mySwiper3{height:auto;}
    	.ellipsis{
			overflow:hidden;
			text-overflow: ellipsis;
			width:100%;
			height:32px;
			display: -webkit-box;
            -webkit-line-clamp: 2; 
            -webkit-box-orient: vertical;
    	};
    </style>
    
    <link rel="icon" type="image/png" href="resources/img/favicon.png">
</head>

<body>
	
	<div class="wrap">
		<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
		<div class="body-wrap">
		
			<!-- 대가 작가 -->
			<div class="contents max-1500" id="div_masterArtist">
				<div class="cont-title3">
					<h3>대가<span>~ b.1950</span></h3>
					<!-- <a href="#" class="ct-more"><img src="resources/img/icon-p.jpg" /><span>more</span></a> -->
				</div>
				<div class="swi-box swi-show-4">
					<div class="swiper mySwiper4">
						<div class="swiper-wrapper" id="masterArtist">
							<div class="swiper-slide"></div>
						</div>
						<!-- <div class="swiper-pagination swpa-2 pc-no"></div> -->
					</div>
					<div class="swiper-button-next ait-r ta-no swl-4"><span><img src="resources/img/icon/ait-r.png"></span></div>
					<div class="swiper-button-prev ait-l ta-no swr-4"><span><img src="resources/img/icon/ait-l.png"></span></div>
				</div>
				<!-- <div class="text-center">
					<button type="button" class="btn-more ta-no"><span>more</span></button>
				</div> -->
			</div>
			
			<!-- 원로 작가 -->
			<div class="contents max-1500" id="div_seniorArtist">
				<div class="cont-title3">
					<h3>원로<span>b.1951 ~ 1965</span></h3>
					<!-- <a href="#" class="ct-more"><img src="resources/img/icon-p.jpg" /><span>more</span></a> -->
				</div>
				<div class="swi-box swi-show-3">
					<div class="swiper mySwiper3">
						<div class="swiper-wrapper" id="seniorArtist">
							<div class="swiper-slide"></div>
						</div>
						<!-- <div class="swiper-pagination swpa-2 pc-no"></div> -->
					</div>
					<div class="swiper-button-next ait-r ta-no swl-3"><span><img src="resources/img/icon/ait-r.png"></span></div>
					<div class="swiper-button-prev ait-l ta-no swr-3"><span><img src="resources/img/icon/ait-l.png"></span></div>
				</div>
				<!-- <div class="text-center">
					<button type="button" class="btn-more ta-no"><span>more</span></button>
				</div> -->
			</div>
			
			<!-- 중견 작가 -->
			<div class="contents max-1500" id="div_middleAgedArtist">
				<div class="cont-title3">
					<h3>중견<span>b.1966 ~ 1980</span></h3>
					<!-- <a href="#" class="ct-more"><img src="resources/img/icon-p.jpg" /><span>more</span></a> -->
				</div>
				<div class="swi-box swi-show-2">
					<div class="swiper mySwiper2">
						<div class="swiper-wrapper" id="middleAgedArtist">
							<div class="swiper-slide"></div>
						</div>
						<!-- <div class="swiper-pagination swpa-2 pc-no"></div> -->
					</div>
					<div class="swiper-button-next ait-r ta-no swl-2"><span><img src="resources/img/icon/ait-r.png"></span></div>
					<div class="swiper-button-prev ait-l ta-no swr-2"><span><img src="resources/img/icon/ait-l.png"></span></div>
				</div>
				<!-- <div class="text-center">
					<button type="button" class="btn-more ta-no"><span>more</span></button>
				</div> -->
			</div>
			
			<!-- 신진 작가 -->
			<div class="contents max-1500" id="div_upAndComingArtist">
				<div class="cont-title3">
					<h3>신진<span>b.1981 ~ </span></h3>
					<!-- <a href="#" class="ct-more"><img src="resources/img/icon-p.jpg" /><span>more</span></a> -->
				</div>
				<div class="swi-box swi-show-1">
					<div class="swiper mySwiper1">
						<div class="swiper-wrapper" id="upAndComingArtist">
							<div class="swiper-slide"></div>
						</div>
						<!-- <div class="swiper-pagination swpa-2 pc-no"></div> -->
					</div>
					<div class="swiper-button-next ait-r ta-no swl-1"><span><img src="resources/img/icon/ait-r.png"></span></div>
					<div class="swiper-button-prev ait-l ta-no swr-1"><span><img src="resources/img/icon/ait-l.png"></span></div>
				</div>
				<!-- <div class="text-center">
					<button type="button" class="btn-more ta-no"><span>more</span></button>
				</div> -->
			</div>
			
		</div>
		
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
		
	</div>


<script type="text/javascript">
      
      $(window).on("resize", function () {
	   	    if(window.matchMedia('(min-width: 1537px)').matches)
	   	    {
	   	    	var swiper = new Swiper(".mySwiper1", {
	   	          slidesPerView: 4,
	   	          spaceBetween: 20,
	   	          slidesPerGroup: 1,
	   	          loop: true,
	   	          loopFillGroupWithBlank: true,
	   	       	  autoplay: {
	               delay: 500000,
	               disableOnInteraction: false,
	             },
	   	          pagination: {
	   	            el: ".swiper-pagination",
	   	            clickable: true,
	   	          },
	   	          navigation: {
	   	            nextEl: ".swl-1",
	   	            prevEl: ".swr-1",
	   	          },
	   	        });  
		       	  
	   	    	var swiper = new Swiper(".mySwiper2", {
		   	          slidesPerView: 4,
		   	          spaceBetween: 20,
		   	          slidesPerGroup: 1,
		   	          loop: true,
		   	          loopFillGroupWithBlank: true,
		   	       	  autoplay: {
		               delay: 500000,
		               disableOnInteraction: false,
		             },
		   	          pagination: {
		   	            el: ".swiper-pagination",
		   	            clickable: true,
		   	          },
		   	          navigation: {
		   	            nextEl: ".swl-2",
		   	            prevEl: ".swr-2",
		   	          },
		   	        });
	   	    	
	   	    	var swiper = new Swiper(".mySwiper3", {
		   	          slidesPerView: 4,
		   	          spaceBetween: 20,
		   	          slidesPerGroup: 1,
		   	          loop: true,
		   	          loopFillGroupWithBlank: true,
		   	       	  autoplay: {
		               delay: 500000,
		               disableOnInteraction: false,
		             },
		   	          pagination: {
		   	            el: ".swiper-pagination",
		   	            clickable: true,
		   	          },
		   	          navigation: {
		   	            nextEl: ".swl-3",
		   	            prevEl: ".swr-3",
		   	          },
		   	        });  
	   	    	
	   	    	var swiper = new Swiper(".mySwiper4", {
		   	          slidesPerView: 4,
		   	          spaceBetween: 20,
		   	          slidesPerGroup: 1,
		   	          loop: true,
		   	          loopFillGroupWithBlank: true,
		   	       	  autoplay: {
		               delay: 500000,
		               disableOnInteraction: false,
		             },
		   	          pagination: {
		   	            el: ".swiper-pagination",
		   	            clickable: true,
		   	          },
		   	          navigation: {
		   	            nextEl: ".swl-4",
		   	            prevEl: ".swr-4",
		   	          },
		   	        });  
	   	    	
	   	    	
	   	    }  else if(window.matchMedia('(min-width: 751px)').matches) {
	   	    	var swiper = new Swiper(".mySwiper1", {
	   	          slidesPerView: 3,
	   	          spaceBetween: 30,
	   	          slidesPerGroup: 1,
	   	          loop: true,
	   	          loopFillGroupWithBlank: true,
	   	          autoplay: {
	               delay: 500000,
	               disableOnInteraction: false,
	             },
	   	          pagination: {
	   	            el: ".swiper-pagination",
	   	            clickable: true,
	   	          },
	   	          navigation: {
	   	            nextEl: ".swl-1",
	   	            prevEl: ".swr-1",
	   	          },
	   	     });
	   	    	
	   	    	var swiper = new Swiper(".mySwiper2", {
		   	          slidesPerView: 3,
		   	          spaceBetween: 30,
		   	          slidesPerGroup: 1,
		   	          loop: true,
		   	          loopFillGroupWithBlank: true,
		   	          autoplay: {
		               delay: 500000,
		               disableOnInteraction: false,
		             },
		   	          pagination: {
		   	            el: ".swiper-pagination",
		   	            clickable: true,
		   	          },
		   	          navigation: {
		   	            nextEl: ".swl-2",
		   	            prevEl: ".swr-2",
		   	          },
		   	     });
	   	    	
	   	    	var swiper = new Swiper(".mySwiper3", {
		   	          slidesPerView: 3,
		   	          spaceBetween: 30,
		   	          slidesPerGroup: 1,
		   	          loop: true,
		   	          loopFillGroupWithBlank: true,
		   	          autoplay: {
		               delay: 500000,
		               disableOnInteraction: false,
		             },
		   	          pagination: {
		   	            el: ".swiper-pagination",
		   	            clickable: true,
		   	          },
		   	          navigation: {
		   	            nextEl: ".swl-3",
		   	            prevEl: ".swr-3",
		   	          },
		   	     });
	   	    	
	   	    	var swiper = new Swiper(".mySwiper4", {
		   	          slidesPerView: 3,
		   	          spaceBetween: 30,
		   	          slidesPerGroup: 1,
		   	          loop: true,
		   	          loopFillGroupWithBlank: true,
		   	          autoplay: {
		               delay: 500000,
		               disableOnInteraction: false,
		             },
		   	          pagination: {
		   	            el: ".swiper-pagination",
		   	            clickable: true,
		   	          },
		   	          navigation: {
		   	            nextEl: ".swl-4",
		   	            prevEl: ".swr-4",
		   	          },
		   	     });
		       	
		       	
	   	    	
	   	     } else {
	   	    	var swiper = new Swiper(".mySwiper1", {
	   	          slidesPerView: 1,
	   	          slidesPerGroup: 1,
	   	          loop: true,
	   	          loopFillGroupWithBlank: true,
	   	      	  autoplay: {
	              delay: 500000,
	              disableOnInteraction: false,
	             },
	   	          pagination: {
	   	            el: ".swiper-pagination",
	   	            clickable: true,
	   	          },
	   	          navigation: {
	   	            nextEl: ".swl-1",
	   	            prevEl: ".swr-1",
	   	          },
	   	     });
	   	    	
	       	  
	   	    	var swiper = new Swiper(".mySwiper2", {
		   	          slidesPerView: 1,
		   	          slidesPerGroup: 1,
		   	          loop: true,
		   	          loopAdditionalSlides : 1,
		   	          autoplay: {
		              delay: 50000,
		              disableOnInteraction: false,
		             },
		   	          pagination: {
		   	            el: ".swiper-pagination",
		   	            clickable: true,
		   	          },
		   	          navigation: {
		   	            nextEl: ".swl-2",
		   	            prevEl: ".swr-2",
		   	          },
		   	     });
	   	    	
	   	    	var swiper = new Swiper(".mySwiper3", {
		   	          slidesPerView: 1,
		   	          slidesPerGroup: 1,
		   	          loop: true,
		   	          loopAdditionalSlides : 1,
		   	          autoplay: {
		              delay: 50000,
		              disableOnInteraction: false,
		             },
		   	          pagination: {
		   	            el: ".swiper-pagination",
		   	            clickable: true,
		   	          },
		   	          navigation: {
		   	            nextEl: ".swl-3",
		   	            prevEl: ".swr-3",
		   	          },
		   	     });
	   	    	
	   	    	var swiper = new Swiper(".mySwiper4", {
		   	          slidesPerView: 1,
		   	          slidesPerGroup: 1,
		   	          loop: true,
		   	          loopAdditionalSlides : 1,
		   	          autoplay: {
		              delay: 50000,
		              disableOnInteraction: false,
		             },
		   	          pagination: {
		   	            el: ".swiper-pagination",
		   	            clickable: true,
		   	          },
		   	          navigation: {
		   	            nextEl: ".swl-4",
		   	            prevEl: ".swr-4",
		   	          },
		   	     });
	   	     };
	   	}).resize();
      
      
      
      $(document).ready(function () {
	      $(".elm").hover(
	    	function(){ $(this).addClass('hover') },
	   	    function(){ $(this).removeClass('hover') }
	   	  )
	   	  $(".cn-b").hover(
	    	function(){ $(this).addClass('gis') },
	   	    function(){ $(this).removeClass('gis') }
	   	  )
      });
      /* 메뉴바 FIXED */
      if (jQuery(window).width() > 0) {
          jQuery(window).on("scroll",function(ev){
              if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
                  jQuery('.head-wrap').addClass('fixed');
              }
              else{
                  jQuery('.head-wrap').removeClass('fixed');
              }
              return false;
          });
      }
      
      
      var delay = 300;
      var timer = null;

      //Javascript
//       window.addEventListener('resize', function(){
//       	clearTimeout(timer);
//       	timer = setTimeout(function(){
//       		document.location.reload();
//       	}, delay);
//       });

      //jQuery
//       $(window).on('resize', function(){
//       	clearTimeout(timer);
//       	timer = setTimeout(function(){
//       		document.location.reload();
//       	}, delay);
//       });
      
$(function() {                      
	artistLibraryList();
});
      
function artistLibraryList(){
	$.ajax({
        type: "post",
        url: "/openArtistLibrary",
        dataType:"json",
        success: function(data) {
        	var upAndComingArtist = "";
        	var middleAgedArtist = "";
        	var seniorArtist = "";
        	var upAndComingArtistHtml = "";
        	var middleAgedArtistHtml = "";
        	var seniorArtistHtml = "";
        	var masterArtistHtml = "";
        	if(data != null && data != ""){
        		upAndComingArtist = data.result.upAndComingArtist;
        		middleAgedArtist = data.result.middleAgedArtist;
        		seniorArtist = data.result.seniorArtist;
        		masterArtist = data.result.masterArtist;
        		
        		if(upAndComingArtist.length > 0){
	        		for(var i=0; i<upAndComingArtist.length; i++){
	        			upAndComingArtistHtml += '<div class="swiper-slide" style="cursor:pointer;" artstSq="'+ upAndComingArtist[i].artstSq +'" artistBirthYear="'+upAndComingArtist[i].artistBirthYear+'">';
		        		upAndComingArtistHtml += '	<a class="hd-div3">';
		        		if(upAndComingArtist[i].artstWorkImgUrl != null && upAndComingArtist[i].artstWorkImgUrl != ""){
		        			upAndComingArtistHtml += '		<div class="hd-bg3"><img src="'+ upAndComingArtist[i].artstWorkImgUrl +'" /></div>';
		        		}else{
		        			upAndComingArtistHtml += '		<div class="hd-bg3"><img src="resources/img/icon/bg-1.png"/></div>';
		        		}
		        		if(upAndComingArtist[i].artstProfileImgUrl != null && upAndComingArtist[i].artstProfileImgUrl != ""){
		        			upAndComingArtistHtml += '		<div class="user-1"><img src="'+ upAndComingArtist[i].artstProfileImgUrl +'" style="border-radius:40%;"></div>';
		        		}else{
		        			upAndComingArtistHtml += '		<div class="user-1"><img src="resources/img/icon/user-1.png"></div>';
		        		}
		        		upAndComingArtistHtml += '		<div class="hd-text">';
		        		upAndComingArtistHtml += '			<h4>'+ upAndComingArtist[i].artstActvtyNm +'('+ upAndComingArtist[i].artistBirthYear +')</h4>';
		        		upAndComingArtistHtml += '			<div class="ellipsis"><div class="hd-d1">'+ upAndComingArtist[i].artstSelfIntro +'</div></div>';
		        		upAndComingArtistHtml += '		</div>';
		        		upAndComingArtistHtml += '	</a>';
	        			upAndComingArtistHtml += '</div>';
	        		}
	        		$("#upAndComingArtist").empty();
	        		$("#upAndComingArtist").append(upAndComingArtistHtml).trigger("create");
        		}else{
        			$("#div_upAndComingArtist").css("display", "none");
        		}
        		if(middleAgedArtist.length > 0){
	        		for(var i=0; i<middleAgedArtist.length; i++){
	        			middleAgedArtistHtml += '<div class="swiper-slide" style="cursor:pointer;" artstSq="'+ middleAgedArtist[i].artstSq +'" artistBirthYear="'+middleAgedArtist[i].artistBirthYear+'">';
		        		middleAgedArtistHtml += '	<a class="hd-div3">';
		        		if(middleAgedArtist[i].artstWorkImgUrl != null && middleAgedArtist[i].artstWorkImgUrl != ""){
		        			middleAgedArtistHtml += '		<div class="hd-bg3"><img src="'+ middleAgedArtist[i].artstWorkImgUrl +'" /></div>';
		        		}else{
		        			middleAgedArtistHtml += '		<div class="hd-bg3"><img src="resources/img/icon/bg-1.png" /></div>';
		        		}
		        		if(middleAgedArtist[i].artstProfileImgUrl != null && middleAgedArtist[i].artstProfileImgUrl != ""){
		        			middleAgedArtistHtml += '		<div class="user-1"><img src="'+ middleAgedArtist[i].artstProfileImgUrl +'" style="border-radius:40%;"></div>';
		        		}else{
		        			middleAgedArtistHtml += '		<div class="user-1"><img src="resources/img/icon/user-1.png"></div>';
		        		}
		        		middleAgedArtistHtml += '		<div class="hd-text">';
		        		middleAgedArtistHtml += '			<h4>'+ middleAgedArtist[i].artstActvtyNm +'('+ middleAgedArtist[i].artistBirthYear +')</h4>';
		        		middleAgedArtistHtml += '			<div class="ellipsis"><div class="hd-d1">'+ middleAgedArtist[i].artstSelfIntro +'</div></div>';
		        		middleAgedArtistHtml += '		</div>';
		        		middleAgedArtistHtml += '	</a>';
	        			middleAgedArtistHtml += '</div>';
	        		}
	        		$("#middleAgedArtist").empty();
	        		$("#middleAgedArtist").append(middleAgedArtistHtml).trigger("create");
        		}else{
        			$("#div_middleAgedArtist").css("display", "none");
        		}
        		if(seniorArtist.length > 0){
	        		for(var i=0; i<seniorArtist.length; i++){
	        			seniorArtistHtml += '<div class="swiper-slide" style="cursor:pointer;" artstSq="'+ seniorArtist[i].artstSq +'" artistBirthYear="'+seniorArtist[i].artistBirthYear+'">';
		        		seniorArtistHtml += '	<a class="hd-div3">';
		        		if(seniorArtist[i].artstWorkImgUrl != null && seniorArtist[i].artstWorkImgUrl != ""){
		        			seniorArtistHtml += '		<div class="hd-bg3"><img src="'+ seniorArtist[i].artstWorkImgUrl +'" /></div>';
		        		}else{
		        			seniorArtistHtml += '		<div class="hd-bg3"><img src="resources/img/icon/bg-1.png" /></div>';
		        		}
		        		if(seniorArtist[i].artstProfileImgUrl != null && seniorArtist[i].artstProfileImgUrl != ""){
		        			seniorArtistHtml += '		<div class="user-1"><img src="'+ seniorArtist[i].artstProfileImgUrl +'" style="border-radius:40%;"></div>';
		        		}else{
		        			seniorArtistHtml += '		<div class="user-1"><img src="resources/img/icon/user-1.png"></div>';
		        		}
		        		seniorArtistHtml += '		<div class="hd-text">';
		        		seniorArtistHtml += '			<h4>'+ seniorArtist[i].artstActvtyNm +'('+ seniorArtist[i].artistBirthYear +')</h4>';
		        		seniorArtistHtml += '			<div class="ellipsis"><div class="hd-d1">'+ seniorArtist[i].artstSelfIntro +'</div></div>';
		        		seniorArtistHtml += '		</div>';
		        		seniorArtistHtml += '	</a>';
	        			seniorArtistHtml += '</div>';
	        		}
	        		$("#seniorArtist").empty();
	        		$("#seniorArtist").append(seniorArtistHtml).trigger("create");
        		}else{
        			$("#div_seniorArtist").css("display", "none");
        		}
        		//대가작가
        		if(masterArtist.length > 0){
	        		for(var i=0; i<masterArtist.length; i++){
	        			masterArtistHtml += '<div class="swiper-slide" style="cursor:pointer;" artstSq="'+ masterArtist[i].artstSq +'" >';
		        		masterArtistHtml += '	<a class="hd-div3">';
		        		if(masterArtist[i].artstWorkImgUrl != null && masterArtist[i].artstWorkImgUrl != ""){
		        			masterArtistHtml += '		<div class="hd-bg3"><img src="'+ masterArtist[i].artstWorkImgUrl +'" /></div>';
		        		}else{
		        			masterArtistHtml += '		<div class="hd-bg3"><img src="resources/img/icon/bg-1.png" /></div>';
		        		}
		        		if(masterArtist[i].artstProfileImgUrl != null && masterArtist[i].artstProfileImgUrl != ""){
		        			masterArtistHtml += '		<div class="user-1"><img src="'+ masterArtist[i].artstProfileImgUrl +'" style="border-radius:40%;"></div>';
		        		}else{
		        			masterArtistHtml += '		<div class="user-1"><img src="resources/img/icon/user-1.png"></div>';
		        		}
		        		masterArtistHtml += '		<div class="hd-text">';
		        		masterArtistHtml += '			<h4>'+ masterArtist[i].artstActvtyNm +'('+ masterArtist[i].artistBirthYear +')</h4>';
		        		masterArtistHtml += '			<div class="ellipsis"><div class="hd-d1">'+ masterArtist[i].artstSelfIntro +'</div></div>';
		        		masterArtistHtml += '		</div>';
		        		masterArtistHtml += '	</a>';
	        			masterArtistHtml += '</div>';
	        		}
	        		$("#masterArtist").empty();
	        		$("#masterArtist").append(masterArtistHtml).trigger("create");
        		}else{
        			$("#div_masterArtist").css("display", "none");
        		}
        	}
        	
        },
        error: function(error) {
            alert("오류 발생" + error);
        }
	})
}
      
$(document).on("click", ".swiper-slide", function(){
	var artstSq= $(this).attr("artstSq");
	
    
	location.href = "/artistDetail?artstSq="+artstSq;
	
	
	/* pageGoPost({
		url:"/artistDetail",
		target:"_self",
		vals:[
			["artstSq", artstSq],
			["artistBirthYear", artistBirthYear]
		]
	}); */
    
});
      
</script>
    
	
	
	
	
</body>

</html>
