<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.ArtistWorkMapper">

	<select id="artistWorkList" resultType="hashMap">
		/*작가 작품*/
		 SELECT 
			A.MBR_NM,
			B.MBR_SQ,
			B.ARTST_SQ,
			B.ARTST_WORK_IMG_URL 
 		FROM TBL_DA_MBR_M A
 		INNER JOIN TBL_DA_ARTST_M B ON A.MBR_SQ = B.MBR_SQ 
 		WHERE 1=1
 			AND A.AUTH_SQ = '2'
 			AND A.USE_YN = 'Y'
        	AND A.DEL_YN = 'N'
 		ORDER BY A.MBR_NM ASC
	</select>
	
	

</mapper>