<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.ArtistMapper">
	<select id="upAndComingArtist" resultType="hashMap" parameterType="hashMap">
		/*아티스트 라이브러리 신진 작가 조회*/
		SELECT 
				A.ARTST_SQ AS artstSq, 
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가 이름*/
				A.ARTST_ENGLS_NM AS artstEnglsNm, /*작가 영어 이름*/
				A.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가 프로필 사진*/
				A.ARTST_SELF_INTRO AS artstSelfIntro, /*작가 소개*/
				A.ARTST_WORK_IMG_URL AS artstWorkImgUrl, /*작가 작품 대표 사진*/
				/*YEAR (B.MBR_BIRTH) AS artistBirthYear 작가 생년*/
				(
				   CASE
					WHEN 
					 A.ARTST_YOD IS NULL THEN YEAR(B.MBR_BIRTH)
					WHEN 
					 A.ARTST_YOD = '' THEN YEAR(B.MBR_BIRTH)
					ELSE
					 CONCAT(YEAR(B.MBR_BIRTH), "~", A.ARTST_YOD)
				    END
				) AS artistBirthYear
				
		FROM
				TBL_DA_ARTST_M AS A
		INNER JOIN 
				TBL_DA_MBR_M AS B 
			ON 	A.MBR_SQ = B.MBR_SQ  
		WHERE
				YEAR (B.MBR_BIRTH) <![CDATA[>=]]> '1980' 
				AND B.USE_YN = 'Y'
				limit 20 
	</select>
	
	<select id="middleAgedArtist" resultType="hashMap" parameterType="hashMap">
		/*아티스트 라이브러리 중견 작가 조회*/
		SELECT 
				A.ARTST_SQ AS artstSq, 
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가 이름*/
				A.ARTST_ENGLS_NM AS artstEnglsNm, /*작가 영어 이름*/
				A.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가 프로필 사진*/
				A.ARTST_SELF_INTRO AS artstSelfIntro, /*작가 소개*/
				A.ARTST_WORK_IMG_URL AS artstWorkImgUrl, /*작가 작품 대표 사진*/
				/*YEAR (B.MBR_BIRTH) AS artistBirthYear 작가 생년*/
				(
				   CASE
					WHEN 
					 A.ARTST_YOD IS NULL THEN YEAR(B.MBR_BIRTH)
					WHEN 
					 A.ARTST_YOD = '' THEN YEAR(B.MBR_BIRTH)
					ELSE
					 CONCAT(YEAR(B.MBR_BIRTH), "~", A.ARTST_YOD)
				    END
				) AS artistBirthYear
		FROM
				TBL_DA_ARTST_M AS A
		INNER JOIN 
				TBL_DA_MBR_M AS B 
			ON 	A.MBR_SQ = B.MBR_SQ  
		WHERE
				YEAR (B.MBR_BIRTH) BETWEEN '1966' AND '1979'
				AND B.USE_YN = 'Y'
				limit 20
	</select>
	
	<select id="seniorArtist" resultType="hashMap" parameterType="hashMap">
		/*아티스트 라이브러리 원로 작가 조회*/
		SELECT 
				A.ARTST_SQ AS artstSq, 
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가 이름*/
				A.ARTST_ENGLS_NM AS artstEnglsNm, /*작가 영어 이름*/
				A.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가 프로필 사진*/
				A.ARTST_SELF_INTRO AS artstSelfIntro, /*작가 소개*/
				A.ARTST_WORK_IMG_URL AS artstWorkImgUrl, /*작가 작품 대표 사진*/
				/*YEAR (B.MBR_BIRTH) AS artistBirthYear 작가 생년*/
				(
				   CASE
					WHEN 
					 A.ARTST_YOD IS NULL THEN YEAR(B.MBR_BIRTH)
					WHEN 
					 A.ARTST_YOD = '' THEN YEAR(B.MBR_BIRTH)
					ELSE
					 CONCAT(YEAR(B.MBR_BIRTH), "~", A.ARTST_YOD)
				    END
				) AS artistBirthYear
		FROM
				TBL_DA_ARTST_M AS A
		INNER JOIN 
				TBL_DA_MBR_M AS B 
			ON 	A.MBR_SQ = B.MBR_SQ  
		WHERE
				YEAR (B.MBR_BIRTH) BETWEEN '1951' AND '1965'
				AND B.USE_YN = 'Y'
				limit 20
	</select>
	
	<select id="masterArtist" resultType="hashMap" parameterType="hashMap">
		/*아티스트 라이브러리 대가 작가 조회*/
		SELECT 
				A.ARTST_SQ AS artstSq, 
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가 이름*/
				A.ARTST_ENGLS_NM AS artstEnglsNm, /*작가 영어 이름*/
				A.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가 프로필 사진*/
				A.ARTST_SELF_INTRO AS artstSelfIntro, /*작가 소개*/
				A.ARTST_WORK_IMG_URL AS artstWorkImgUrl, /*작가 작품 대표 사진*/
				/*YEAR (B.MBR_BIRTH) AS artistBirthYear 작가 생년*/
				(
				   CASE
					WHEN 
					 A.ARTST_YOD IS NULL THEN YEAR(B.MBR_BIRTH)
					WHEN 
					 A.ARTST_YOD = '' THEN YEAR(B.MBR_BIRTH)
					ELSE
					 CONCAT(YEAR(B.MBR_BIRTH), "~", A.ARTST_YOD)
				    END
				) AS artistBirthYear
				
		FROM
				TBL_DA_ARTST_M AS A
		INNER JOIN 
				TBL_DA_MBR_M AS B 
			ON 	A.MBR_SQ = B.MBR_SQ  
		WHERE
				YEAR (B.MBR_BIRTH) <![CDATA[<=]]> '1950'
				AND B.USE_YN = 'Y'
				limit 20
	</select>
	
	<select id="artistInfo" resultType="hashMap" parameterType="String">
	/*작가 정보*/
		SELECT 
				ARTST_SQ  AS artstSq, /*작가 순번*/
				ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가 프로필 사진*/
				ARTST_ACTVTY_NM AS artstActvtyNm, /*작가 활동명*/
				ARTST_ENGLS_NM AS artstEnglsNm, /*작가 영문명*/
				ARTST_SELF_INTRO AS artstSelfIntro, /*작가 자기소개*/
				ARTST_FACEBOOK_URL AS artstfacebookUrl, /*작가 페이스북 주소*/
				ARTST_INSTAGRAM_URL AS artstInstagramUrl, /*작가 인스타그램 주소*/
				ARTST_HMPG_URL AS artstHmpgUrl, /*작가 홈페이지 주소*/
				ARTST_PROMTN_VIDEO_URL AS artstPromtnVideoUrl /*작가 홍보 비디오 주소*/
		FROM 
				TBL_DA_ARTST_M
		WHERE 
				ARTST_SQ = #{artstSq}
	</select>
	
	<select id="artistInfoEductn" resultType="hashMap" parameterType="String">
	/*작가 학력 리스트*/
		SELECT 
				A.EDUCTN_SQ AS eductnSq, /*작가 학력 순번*/
				A.EDUCTN_NM AS eductnNm, /*작가 학력 명*/
				YEAR (A.EDUCTN_ENDNG_DATE) AS eductnEndngDate /*작가 학력 종료 일자*/
		FROM 
				TBL_DA_ARTST_EDUCTN_S AS A
		INNER JOIN 
				TBL_DA_ARTST_M AS B
			ON 	A.ARTST_SQ = B.ARTST_SQ
		WHERE 
				B.ARTST_SQ = #{artstSq}
		ORDER BY 
				A.EDUCTN_ENDNG_DATE DESC 
	</select>
	
	<select id="artistInfoCareer" resultType="hashMap" parameterType="String">
	/*작가 경력 리스트*/
		SELECT 
				A.CAREER_SQ AS careerSq, /*경력 순번*/
				A.CAREER_NM AS careerNm, /*경력 명*/
				YEAR (A.CAREER_ENDNG_DATE) AS careerEndngDate /*경력 종료 일자*/
		FROM 
				TBL_DA_ARTST_CAREER_S AS A
		INNER JOIN 
				TBL_DA_ARTST_M AS B
			ON 	A.ARTST_SQ = B.ARTST_SQ 
		WHERE 
				A.ARTST_SQ = #{artstSq}
		ORDER BY 
				A.CAREER_ENDNG_DATE DESC
	</select>
	
	<select id="artistInfoExhbtn" resultType="hashMap" parameterType="String">
	/*작가 전시 리스트*/
		SELECT 
				A.EXHBTN_SQ AS exhbtnSq, /*전시 순번*/
				A.EXHBTN_NM AS exhbtnNm, /*전시 명*/
				YEAR (A.EXHBTN_ENDNG_DATE) AS exhbtnEndngDate /*전시 종료 일자*/
		FROM 	
				TBL_DA_ARTST_EXHBTN_S AS A
		INNER JOIN 
				TBL_DA_ARTST_M AS B
			ON 	A.ARTST_SQ = B.ARTST_SQ
		WHERE 
				A.ARTST_SQ = #{artstSq}
				AND A.EXHBTN_TYP_CD != 'AWRDS'
		ORDER BY A.EXHBTN_NM DESC
				/*A.EXHBTN_ENDNG_DATE DESC*/
	</select>
	
	
	<select id="artistInfoExhbtnAword" resultType="hashMap" parameterType="String">
	/*작가 전시 리스트*/
		SELECT 
				A.EXHBTN_SQ AS exhbtnSq, /*전시 순번*/
				A.EXHBTN_NM AS exhbtnNm, /*전시 명*/
				YEAR (A.EXHBTN_ENDNG_DATE) AS exhbtnEndngDate /*전시 종료 일자*/
		FROM 	
				TBL_DA_ARTST_EXHBTN_S AS A
		INNER JOIN 
				TBL_DA_ARTST_M AS B
			ON 	A.ARTST_SQ = B.ARTST_SQ
		WHERE 
				A.ARTST_SQ = #{artstSq}
				AND A.EXHBTN_TYP_CD = 'AWRDS'
		ORDER BY 
				A.EXHBTN_ENDNG_DATE DESC
	</select>
	
	<select id="artistWorkListSale" resultType="hashMap" parameterType="hashMap">
		/*작가 작품 판매중 리스트*/
		SELECT 
				D.DEAL_SQ AS dealSq, /*거래 번호*/
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				/*YEAR (B.MBR_BIRTH) AS artstBirthYear, 작가생년월일*/
				(
				   CASE
					WHEN 
					 C.ARTST_YOD IS NULL THEN YEAR(B.MBR_BIRTH)
					WHEN 
					 C.ARTST_YOD = '' THEN YEAR(B.MBR_BIRTH)
					ELSE
					 CONCAT(YEAR(B.MBR_BIRTH), "~", C.ARTST_YOD)
				    END
				) AS artstBirthYear,
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				D.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				D.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				FORMAT(A.WORK_PRC, 0) AS workPrc, /*소장가*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				IF(A.WORK_MAIN_IMG_URL IS NULL, A.WORK_IMG_FRT_URL, A.WORK_MAIN_IMG_URL) AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_HEIGHT AS workSizeHeight, /*작품사이즈높이*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				(SELECT MAX(FORMAT(BID_PRC, 0))
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(D.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(D.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				FORMAT(D.DEAL_FINAL_PRC, 0) AS dealFinalPrc, /*거래낙찰가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE D.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				DATE_FORMAT(D.DEAL_STRT_DT, '%Y.%m.%d %H:%i') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(D.DEAL_ENDNG_DT, '%Y.%m.%d %H:%i') AS dealEndngDate, /*거래종료일시*/
				D.DEAL_ENDNG_DT AS dealEndngDateTime /*거래종료날짜시간*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		INNER JOIN 
				TBL_DA_DEAL_M AS D
			ON 	A.WORK_SQ = D.WORK_SQ 
		WHERE
				A.ARTST_SQ = #{artstSq}
			AND D.DEAL_STTS_CD = 'TP'
			AND A.WORK_OPEN_YN = 'Y' /*작품 공개 여부*/
			AND	A.DEL_YN = 'N' /*작품 삭제 여부 확인 */
		<if test="sort != null and sort != ''">
        	<if test='sort == "PY"'>
        		ORDER BY A.WORK_PRODC_YEAR
        	</if>
        	<if test='sort == "PC"'>
        		ORDER BY maxBidPrc, dealFinalPrc, workPrc
        	</if>
        	<if test='type == "DOWN"'>
        		DESC
        	</if>
        	<if test='type == "UP"'>
        		ASC 
        	</if>
		</if>
	</select>
	<select id="artistWorkListNonSale" resultType="hashMap" parameterType="hashMap">
		/*작가 작품 판매전 리스트*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				/*YEAR (B.MBR_BIRTH) AS artstBirthYear, 작가생년월일*/
				(
				   CASE
					WHEN 
					 C.ARTST_YOD IS NULL THEN YEAR(B.MBR_BIRTH)
					WHEN 
					 C.ARTST_YOD = '' THEN YEAR(B.MBR_BIRTH)
					ELSE
					 CONCAT(YEAR(B.MBR_BIRTH), "~", C.ARTST_YOD)
				    END
				) AS artstBirthYear,
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				A.WORK_NM AS workNm, /*작품명*/
				FORMAT(A.WORK_PRC, 0) AS workPrc, /*작품가격*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				IF(A.WORK_MAIN_IMG_URL IS NULL, A.WORK_IMG_FRT_URL, A.WORK_MAIN_IMG_URL) AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear /*작품제작년도*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		WHERE 
				A.WORK_SALE_YN = 'N'
				AND A.WORK_OPEN_YN = 'Y' /*작품 공개 여부*/
				AND A.DEL_YN = 'N' /*작품 삭제 여부 확인 */
				<if test="workSq.size != 0 and workSq != null">
					AND A.WORK_SQ NOT IN
					<foreach collection="workSq" item="item" index="idex"  open="(" close=")" separator=",">
			        	#{item}
			        </foreach>
        		</if>
				AND A.ARTST_SQ = #{artstSq}
		<if test="sort != null and sort != ''">
        	<if test='sort == "PY"'>
        		ORDER BY A.WORK_PRODC_YEAR
        	</if>
        	<if test='sort == "PC"'>
        		ORDER BY workPrc
        	</if>
        	<if test='type == "DOWN"'>
        		DESC
        	</if>
        	<if test='type == "UP"'>
        		ASC 
        	</if>
		</if>
	</select>
	
	<select id="artistWorkListAll" resultType="hashMap" parameterType="String">
		/*작가 작품 전체 리스트*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				/*YEAR (B.MBR_BIRTH) AS artstBirthYear, 작가생년월일*/
				(
				   CASE
					WHEN 
					 C.ARTST_YOD IS NULL THEN YEAR(B.MBR_BIRTH)
					WHEN 
					 C.ARTST_YOD = '' THEN YEAR(B.MBR_BIRTH)
					ELSE
					 CONCAT(YEAR(B.MBR_BIRTH), "~", C.ARTST_YOD)
				    END
				) AS artstBirthYear,
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				A.WORK_NM AS workNm, /*작품명*/
				FORMAT(A.WORK_PRC, 0) AS workPrc, /*작품가격*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_LAKE AS workLake, /*작품 호수*/
				IF(A.WORK_MAIN_IMG_URL IS NULL, A.WORK_IMG_FRT_URL, A.WORK_MAIN_IMG_URL) AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear /*작품제작년도*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		WHERE 
				A.WORK_TYP_CD = 'WORK'
			AND A.WORK_OPEN_YN = 'Y' /*작품 공개 여부*/
			AND A.ARTST_SQ = #{artstSq}
			AND A.DEL_YN = 'N' /*작품 삭제 여부 확인 */
	</select>

</mapper>