<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.artistMemberMapper">

	<!-- 작가 회원 정보 -->
	<select id="artistMemberInfo" resultType="hashMap">
        SELECT
          	 MBR_SQ					AS mbrSq              
			,ARTST_SQ				AS artstSq           
			,ARTST_ACTVTY_NM		AS artstActvtyNm      
			,ARTST_ENGLS_NM			AS artstEnglsNm       
			,ARTST_ACTVTY_PART_CD	AS artstActvtyPartCd  
			,ARTST_ACTVTY_CD		AS artstActvtyCd      
			,ARTST_SELF_INTRO		AS artstSelfIntro     
			,ARTST_PROFILE_IMG_URL	AS artstProfileImgUrl 
			,ARTST_HMPG_URL			AS artstHmpgUrl       
			,ARTST_PROMTN_VIDEO_URL	AS artstPromtnVideoUrl
			,ARTST_FACEBOOK_ID		AS artstFacebookId    
			,ARTST_INSTAGRAM_ID		AS artstInstagramId   
			,REG_MBR_SQ				AS regMbrSq           
			,REG_DT					AS regDt              
			,UPDT_MBR_SQ			AS updtMbrSq          
			,UPDT_DT				AS updtDt             
			,USE_YN					AS useYn              
			,DEL_YN					AS delYn  

        FROM TBL_DA_ARTST_M
        WHERE MBR_SQ = #{mbrSq}
     </select>
     
   <!-- 작가 회원 정보 카운터 -->
	<select id="artistMemberInfoCount" resultType="Int">
        SELECT
          COUNT(*) AS CNT
        FROM TBL_DA_ARTST_M
        WHERE MBR_SQ = #{mbrSq}
     </select>
  
   
   <!-- 작가 회원등록 -->
   <insert id="artistMemberInsert" parameterType="hashMap">
    	INSERT INTO TBL_DA_ARTST_M
        (
        	MBR_SQ
			,ARTST_SQ
			,ARTST_ACTVTY_NM
			,ARTST_ENGLS_NM
			,ARTST_ACTVTY_PART_CD
			,ARTST_ACTVTY_CD
			,ARTST_SELF_INTRO
			,ARTST_PROFILE_IMG_URL
			,ARTST_HMPG_URL
			,ARTST_PROMTN_VIDEO_URL
			,ARTST_FACEBOOK_ID
			,ARTST_INSTAGRAM_ID
			,REG_MBR_SQ
			,REG_DT
			,UPDT_MBR_SQ
			,UPDT_DT
			,USE_YN
			,DEL_YN

       	) 
        VALUES
        (
        	#{mbrSq}
			,#{artstSq}
			,#{artstActvtyNm}
			,#{artstEnglsNm}
			,#{artstActvtyPartCd}
			,#{artstActvtyCd}
			,#{artstSelfIntro}
			,#{artstProfileImgUrl}
			,#{artstHmpgUrl}
			,#{artstPromtnVideoUrl}
			,#{artstFacebookId}
			,#{artstInstagramId}
			,'1'
			,NOW()
			,'1'
			,NOW()
			,'Y'
			,'N'

        )
    </insert>
    
    <!-- 작가회원 수정 -->
    <update id="artistMemberUpdate" parameterType="hashMap">
   		UPDATE TBL_DA_ARTST_M
   		<trim prefix="SET" suffixOverrides=",">
      		<if test="artstActvtyNm  	  != null">ARTST_ACTVTY_NM		= #{artstActvtyNm},</if>
			<if test="artstEnglsNm        != null">ARTST_ENGLS_NM		= #{artstEnglsNm},</if>
			<if test="artstActvtyPartCd   != null">ARTST_ACTVTY_PART_CD	= #{artstActvtyPartCd},</if>
			<if test="artstActvtyCd       != null">ARTST_ACTVTY_CD		= #{artstActvtyCd},</if>
			<if test="artstSelfIntro      != null">ARTST_SELF_INTRO		= #{artstSelfIntro},</if>
			<if test="artstProfileImgUrl  != null">ARTST_PROFILE_IMG_URL= #{artstProfileImgUrl},</if>
			<if test="artstHmpgUrl    	  != null">ARTST_HMPG_URL		= #{artstHmpgUrl},</if>
			<if test="artstPromtnVideoUrl != null">ARTST_PROMTN_VIDEO_URL= #{artstPromtnVideoUrl},</if>
			<if test="artstFacebookId     != null">ARTST_FACEBOOK_ID	= #{artstFacebookId},</if>
			<if test="artstInstagramId    != null">ARTST_INSTAGRAM_ID	= #{artstInstagramId},</if>
			UPDT_DT = NOW(),
		</trim>
   		WHERE MBR_SQ = #{mbrSq}
	</update>
   
</mapper>