<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.artistMemberMapper">

	<!-- 작가 회원 정보 -->
	<select id="artistMemberInfo" resultType="hashMap">
        SELECT
          	 MBR_SQ					AS mbrSq              
			,ARTST_SQ				AS artstSq           
			,ARTST_ACTVTY_NM		AS artstActvtyNm      
			,ARTST_ENGLS_NM			AS artstEnglsNm       
			,ARTST_ACTVTY_PART_CD	AS artstActvtyPartCd  
			,ARTST_ACTVTY_NATN_CD	AS artstActvtyNatnCd
			,ARTST_ACTVTY_CITY_CD	AS artstActvtyCityCd      
			,ARTST_SELF_INTRO		AS artstSelfIntro     
			,ARTST_PROFILE_IMG_URL	AS artstProfileImgUrl 
			,ARTST_HMPG_URL			AS artstHmpgUrl       
			,ARTST_PROMTN_VIDEO_URL	AS artstPromtnVideoUrl
			,ARTST_FACEBOOK_URL		AS artstFacebookUrl  
			,ARTST_INSTAGRAM_URL	AS artstInstagramUrl   
			,REG_MBR_SQ				AS regMbrSq           
			,REG_DT					AS regDt              
			,UPDT_MBR_SQ			AS updtMbrSq          
			,UPDT_DT				AS updtDt             
			,USE_YN					AS useYn              
			,DEL_YN					AS delYn  
			,(SELECT MBR_NM FROM TBL_DA_MBR_M WHERE MBR_SQ = TBL.MBR_SQ) AS mbrNm
        FROM TBL_DA_ARTST_M TBL
        WHERE 1=1
        	<if test="mbrSq != null">
        		AND MBR_SQ = #{mbrSq}
        	</if>
        	<if test="artstSq != null">
        		AND ARTST_SQ = #{artstSq}
        	</if>
     </select>
     
   <!-- 작가 회원 정보 카운터 -->
	<select id="artistMemberInfoCount" resultType="Int">
        SELECT
          COUNT(*) AS CNT
        FROM TBL_DA_ARTST_M
        WHERE MBR_SQ = #{mbrSq}
     </select>
  
   
   <!-- 작가 회원등록 -->
   <insert id="artistMemberInsert" parameterType="hashMap">
    	INSERT INTO TBL_DA_ARTST_M
        (
        	MBR_SQ
			,ARTST_SQ
			,ARTST_ACTVTY_NM
			,ARTST_ENGLS_NM
			,ARTST_ACTVTY_NATN_CD
			,ARTST_ACTVTY_CITY_CD
			,ARTST_ACTVTY_PART_CD
			,ARTST_SELF_INTRO
			,ARTST_PROFILE_IMG_URL
			,ARTST_HMPG_URL
			,ARTST_PROMTN_VIDEO_URL
			,ARTST_FACEBOOK_URL
			,ARTST_INSTAGRAM_URL
			,REG_MBR_SQ
			,REG_DT
			,UPDT_MBR_SQ
			,UPDT_DT
			,USE_YN
			,DEL_YN

       	) 
        VALUES
        (
        	#{mbrSq}
			,#{artstSq}
			,#{artstActvtyNm}
			,#{artstEnglsNm}
			,#{artstActvtyNatnCd}
			,#{artstActvtyCityCd}
			,#{artstActvtyPartCd}
			,#{artstSelfIntro}
			,#{artstProfileImgUrl}
			,#{artstHmpgUrl}
			,#{artstPromtnVideoUrl}
			,#{artstFacebookUrl}
			,#{artstInstagramUrl}
			,'1'
			,NOW()
			,'1'
			,NOW()
			,'Y'
			,'N'

        )
    </insert>
    
    <!-- 작가회원 수정 -->
    <update id="artistMemberUpdate" parameterType="hashMap">
   		UPDATE TBL_DA_ARTST_M
   		<trim prefix="SET" suffixOverrides=",">
      		<if test="artstActvtyNm  	  != null">ARTST_ACTVTY_NM		= #{artstActvtyNm},</if>
			<if test="artstEnglsNm        != null">ARTST_ENGLS_NM		= #{artstEnglsNm},</if>
			<if test="artstActvtyNatnCd   != null">ARTST_ACTVTY_NATN_CD	= #{artstActvtyNatnCd},</if>
			<if test="artstActvtyCityCd   != null">ARTST_ACTVTY_CITY_CD	= #{artstActvtyCityCd},</if>
			<if test="artstActvtyPartCd   != null">ARTST_ACTVTY_PART_CD	= #{artstActvtyPartCd},</if>
			<if test="artstActvtyCd       != null">ARTST_ACTVTY_CD		= #{artstActvtyCd},</if>
			<if test="artstSelfIntro      != null">ARTST_SELF_INTRO		= #{artstSelfIntro},</if>
			<if test="artstProfileImgUrl  != null">ARTST_PROFILE_IMG_URL= #{artstProfileImgUrl},</if>
			<if test="artstHmpgUrl    	  != null">ARTST_HMPG_URL		= #{artstHmpgUrl},</if>
			<if test="artstPromtnVideoUrl != null">ARTST_PROMTN_VIDEO_URL= #{artstPromtnVideoUrl},</if>
			<if test="artstFacebookUrl     != null">ARTST_FACEBOOK_URL	= #{artstFacebookUrl},</if>
			<if test="artstInstagramUrl    != null">ARTST_INSTAGRAM_URL	= #{artstInstagramUrl},</if>
			UPDT_DT = NOW(),
		</trim>
   		WHERE MBR_SQ = #{mbrSq}
	</update>
   
</mapper>