<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.da.mapper.bannerMapper">
	
	<!--배너 목록 -->
	<select id="bannerList" resultType="hashMap">
		SELECT 	
			BNN_SQ													<!--배너 순번  -->
			,BNN_DIV_CD												<!--배너 구분 코드  -->
			,BNN_TITLE												<!--배너 제목  -->
			,BNN_MP_IMG_URL											<!--배너 메인 피씨 이미지 URL  -->
			,BNN_EP_IMG_URL											<!--배너 이벤트 피씨 이미지 URL  -->
			,BNN_MM_IMG_URL											<!--배너 메인 모바일 이미지 URL  -->
			,BNN_EM_IMG_URL											<!--배너 이벤트 모바일 이미지 URL  -->
			,BNN_M_LND_URL											<!--배너 메인 랜딩 URL  -->
			,BNN_E_LND_URL											<!--배너 이벤트 랜딩 URL  -->
			,DATE_FORMAT(BNN_START_DT, "%Y-%m-%d")	as BNN_START_DT	<!--배너 시작 일시  -->			
			,DATE_FORMAT(BNN_END_DT, "%Y-%m-%d")	as BNN_END_DT	<!--배너 종료 일시  -->			
			,DATE_FORMAT(REG_DT, "%Y-%m-%d")		as REG_DT		<!--등록 일시  -->			
			,REG_MBR_SQ												<!--등록 회원 순번  -->
			,DATE_FORMAT(UPDT_DT, "%Y-%m-%d")		as UPDT_DT		<!--수정 일시  -->			
			,UPDT_MBR_SQ											<!--수정 회원 순번  -->
			,USE_YN													<!--사용 여부  -->
			,DEL_YN													<!--삭제 여부  -->			
		FROM TBL_DA_BNN_MGMT_M
		WHERE 1=1
			AND USE_YN = 'Y' AND DEL_YN = 'N'
        	<if test="searchGubun != null and searchGubun != ''">
        		AND BNN_DIV_CD = #{searchGubun}
        	</if>
        	<if test="searchCnt == 'rowCnt10'">
        		LIMIT 0, 10
        	</if>
        	<if test="searchCnt == 'rowCnt20'">
        		LIMIT 0, 20
        	</if>
        	<if test="searchCnt == 'rowCnt30'">
        		LIMIT 0, 30
        	</if>
        	<if test="searchCnt == 'rowCnt40'">
        		LIMIT 0, 50
        	</if>
        	<if test="searchCnt == 'rowCnt100'">
        		LIMIT 0, 100
        	</if>
        	
				
		</select>
		
	<!--배너 등록 -->	
	<insert id="bannerInsert" parameterType="hashMap">
		INSERT INTO TBL_DA_BNN_MGMT_M (										
				BNN_DIV_CD
				,BNN_TITLE
				,BNN_SHOW_SQ
				,BNN_MP_IMG_URL
				,BNN_EP_IMG_URL
				,BNN_MM_IMG_URL
				,BNN_EM_IMG_URL
				,BNN_M_LND_URL
				,BNN_E_LND_URL
				,BNN_START_DT
				,BNN_END_DT
				,REG_DT
				,REG_MBR_SQ
				,UPDT_DT
				,UPDT_MBR_SQ	
			)VALUES(		
				#{bnnDivCd}
				,#{bnnTitle}
				,#{bnnShowSq}
				,#{bnnMpImgUrl}
				,#{bnnEpImgUrl}
				,#{bnnMmImgUrl}
				,#{bnnEmImgUrl}
				,#{bnnMLndUrl}
				,#{bnnELndUrl}
				,#{bnnStrtDt}
				,#{bnnEndDt}
				,NOW()
				,'1'
				,NOW()
				,'1'		
			)		
	</insert>
	
	<select id="bannerSelect" resultType="int" parameterType="hashMap">
		    SELECT 
		    		COUNT(*) 
		    FROM 
		    		TBL_DA_BNN_MGMT_M
		    WHERE 
		    		BNN_DIV_CD = #{bnnDivCd}
		    	AND	BNN_SHOW_SQ = #{bnnShowSq}
		    	AND DEL_YN = 'N'
		    	AND BNN_START_DT <![CDATA[<=]]> NOW()
		    	AND BNN_END_DT <![CDATA[>=]]> NOW()
	</select>
	
	
	<update id="promoUpdate" parameterType="hashMap">
	/* 프로모션 영역 수정 */
		UPDATE
				TBL_DA_PROMO_MGMT_S
		SET
				BNN_DIV_CD = #{bnnDivCd}
				,PROMO_NM = #{promoNm}
				,PROMO_OD_DIV_CD = #{promoOdDivCd}
				,PROMO_OD_TYP_CD = #{promoOdTypCd}
		WHERE
				PROMO_SQ = #{promoSq}
	</update>
	
	<!-- 배너 삭제 -->
    <update id="bannerDelete" parameterType="String">
		   		UPDATE 
		   			TBL_DA_BNN_MGMT_M
				SET
					DEL_YN = 'Y'
		   		WHERE 1 = 1 
		   			AND BNN_SQ = #{bnnSq}     	
	</update>
	
	<select id="promoDataList" parameterType="String" resultType="hashMap">
	/*프로모션 영역 데이터 가져오기*/
		SELECT 
				PROMO_SQ AS promoSq
				, BNN_DIV_CD AS bnnDivCd
				, PROMO_NM AS promoNm
				, PROMO_OD_DIV_CD AS promoOdDivCd
				, PROMO_OD_TYP_CD AS promoOdTypCd
				, USE_YN AS useYn
				, DEL_YN AS delYn
		FROM 
				TBL_DA_PROMO_MGMT_S
		WHERE 
				BNN_DIV_CD = #{bnnDivCd}
			AND USE_YN = 'Y'
			AND DEL_YN = 'N'
	</select>
</mapper>
