<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.boardMapper">

    <!-- 게시판 목록 -->
    <select id="boardList" resultType="hashMap">
        SELECT
           	 BRD_SQ             			  AS brdSq
			,BRD_TITLE         				  AS brdTitle
			,BRD_CONTENT      				  AS brdContent
			,BRD_TYP_CD        				  AS brdTypCd
			,REG_MBR_SQ        				  AS regMbrSq
			,DATE_FORMAT(REG_DT, "%Y-%m-%d")  AS regDt
			,UPDT_MBR_SQ                      AS updtMbrSq
			,DATE_FORMAT(UPDT_DT, "%Y-%m-%d") AS updtDt
			,USE_YN			   				  AS useYn
			,DEL_YN			   				  AS delYn
			,( CASE
			   	WHEN BRD_CON_TYP_CD = "UP" THEN "이용정책"
			   	WHEN BRD_CON_TYP_CD = "CO" THEN "공통"
			   	WHEN BRD_CON_TYP_CD = "PU" THEN "구매"
			   	WHEN BRD_CON_TYP_CD = "SA" THEN "판매"
			   	WHEN BRD_CON_TYP_CD = "TR" THEN "운송"
			   	WHEN BRD_CON_TYP_CD = "DE" THEN "거래"
			   END
			) AS brdConTypCdTxt,
			BRD_CON_TYP_CD AS brdConTypCd,
			BRD_AN_TYP_CD AS brdAnTypCd,
			( CASE
			   	WHEN BRD_AN_TYP_CD = "GE" THEN "일반"
			   	WHEN BRD_AN_TYP_CD = "EM" THEN "긴급"
			   END
			) AS brdAnTypCdTxt
			
		FROM
            TBL_DA_BRD_M A 
        WHERE 1=1
        	AND A.DEL_YN = 'N'
        	<if test="brdTypCd != null">
         		AND A.BRD_TYP_CD = #{brdTypCd}
         	</if>
         	<if test="brdConTypCd != null">
         		AND A.BRD_CON_TYP_CD = #{brdConTypCd}
         	</if>
         	ORDER BY BRD_SQ DESC
    </select>
    
   <!-- 게시판 등록 -->
   <insert id="boardInsert" parameterType="hashMap">
    	INSERT INTO TBL_DA_BRD_M
        (
			BRD_TITLE
			,BRD_CONTENT
			,BRD_TYP_CD
			,REG_MBR_SQ
			,REG_DT
			,UPDT_MBR_SQ
			,UPDT_DT
			,USE_YN
			,DEL_YN
			,BRD_CON_TYP_CD
			,BRD_AN_TYP_CD
       	) 
        VALUES
        (
			#{brdTitle}
			,#{brdContent}
			,#{brdTypCd}
			,#{regMbrSq}
			,NOW()
			,#{regMbrSq}
			,NOW()
			,default
			,default
			,#{brdConTypCd}
			,#{brdAnTypCd}
        )
    </insert>
    
    <!-- 게시판 상세 -->
    <select id="boardDetail" resultType="hashMap">
        SELECT
           	 BRD_SQ             			  AS brdSq
			,BRD_TITLE         				  AS brdTitle
			,BRD_CONTENT      				  AS brdContent
			,BRD_CON_TYP_CD					  AS brdConTypCd
			,( CASE
			   	WHEN BRD_CON_TYP_CD = "UP" THEN "이용정책"
			   	WHEN BRD_CON_TYP_CD = "CO" THEN "공통"
			   	WHEN BRD_CON_TYP_CD = "PU" THEN "구매"
			   	WHEN BRD_CON_TYP_CD = "SA" THEN "판매"
			   	WHEN BRD_CON_TYP_CD = "TR" THEN "운송"
			   	WHEN BRD_CON_TYP_CD = "DE" THEN "거래"
			   END
			) AS brdConTypCdTxt
			,BRD_TYP_CD        				  AS brdTypCd
			,REG_MBR_SQ        				  AS regMbrSq
			,DATE_FORMAT(REG_DT, "%Y-%m-%d")  AS regDt
			,UPDT_MBR_SQ                      AS updtMbrSq
			,DATE_FORMAT(UPDT_DT, "%Y-%m-%d") AS updtDt
			,USE_YN			   				  AS useYn
			,DEL_YN			   				  AS delYn
			,BRD_AN_TYP_CD AS brdAnTypCd
			,( CASE
			   	WHEN BRD_AN_TYP_CD = "GE" THEN "일반"
			   	WHEN BRD_AN_TYP_CD = "EM" THEN "긴급"
			   END
			) AS brdAnTypCdTxt
			,( CASE
			   	WHEN USE_YN = "Y" THEN "사용"
			   	WHEN USE_YN = "N" THEN "미사용"
			   END
			) AS useYnTxt
		FROM
            TBL_DA_BRD_M A
        WHERE 1=1
         	AND A.BRD_TYP_CD = #{brdTypCd} AND A.BRD_SQ = #{brdSq}
    </select>
    
    <!-- 메인 긴급공지 -->
    <select id="emBoardDetail" resultType="hashMap">
        SELECT
           	 A.BRD_SQ  	   AS brdSq
			,A.BRD_TITLE   AS brdTitle
			,A.BRD_CONTENT AS brdContent
		FROM
            TBL_DA_BRD_M A
        WHERE 1=1
         	AND A.USE_YN = 'Y'
         	AND A.DEL_YN = 'N' 
         	AND A.BRD_AN_TYP_CD = 'EM'
         	ORDER BY A.BRD_SQ DESC
        LIMIT 1
    </select>
    
    <!-- 게시판 삭제 -->
    <update id="boardDelete" parameterType="hashMap">
   		UPDATE 
   			TBL_DA_BRD_M A
		SET
			DEL_YN	= 'Y'
   		WHERE 1=1
         	AND A.BRD_TYP_CD = #{brdTypCd} AND A.BRD_SQ = #{brdSq}
	</update>
    
    <!-- 게시판 수정 -->
    <update id="boardUpdate" parameterType="hashMap">
   		UPDATE 
   			TBL_DA_BRD_M A
		SET
			 BRD_TITLE   = 	#{brdTitle}
			,BRD_CONTENT = 	#{brdContent}
			,BRD_CON_TYP_CD = #{brdConTypCd}
			,BRD_AN_TYP_CD = #{brdAnTypCd}
			,UPDT_MBR_SQ = 	#{mbrSq}
			,USE_YN = 	#{useYn}
			,UPDT_DT     = 	NOW()
   		WHERE 1=1
         	AND A.BRD_TYP_CD = #{brdTypCd} AND A.BRD_SQ = #{brdSq}
	</update>
   
   	<!-- 메거진 Mapper -->
	   
    <!-- 메거진 목록 -->
    <select id="magazineList" resultType="hashMap">
        SELECT
           	 MGZ_SQ            			      AS mgzSq
			,MBR_SQ         				  AS mbrSq
			,MGZ_TITLE      				  AS mgzTitle
			,MGZ_DESCRPTN        			  AS mgzDescrptn
			,MGZ_CONTENT        			  AS mgzContent
			,MGZ_MAIN_IMG_URL				  AS mgzMainImgUrl
			,MGZ_TYP_CD						  AS mgzTypCd
			,REG_MBR_SQ                       AS regMbrSq
			,DATE_FORMAT(REG_DT, "%Y-%m-%d")  AS regDt
			,UPDT_MBR_SQ                      AS updtMbrSq
			,DATE_FORMAT(UPDT_DT, "%Y-%m-%d") AS updtDt
			,USE_YN                           AS useYn
			,DEL_YN			   				  AS delYn
		FROM
            TBL_DA_MGZ_M A 
        WHERE 1=1
        	AND A.DEL_YN = 'N'
         	AND A.MGZ_TYP_CD = #{mgzTypCd}
         	AND A.USE_YN = 'Y'
         	ORDER BY MGZ_SQ DESC
    </select>
    
    <!-- 메거진 등록 -->
   <insert id="magazineInsert" parameterType="hashMap">
    	INSERT INTO TBL_DA_MGZ_M
        (
			 MBR_SQ
			,MGZ_TITLE
			,MGZ_DESCRPTN
			,MGZ_CONTENT
			,MGZ_MAIN_IMG_URL
			,MGZ_TYP_CD
			,REG_MBR_SQ
			,REG_DT
			,USE_YN 
			,DEL_YN
       	) 
        VALUES
        (
			 #{mbrSq}
			,#{mgzTitle}
			,#{mgzDescrptn}
			,#{mgzContent}
			,#{mgzMainImgUrl}
			,#{mgzTypCd}
			,#{regMbrSq}
			,NOW()
			,default
			,default
        )
    </insert>
    
    <!-- 메거진 상세 -->
    <select id="magazineDetail" resultType="hashMap">
        SELECT
           	 MGZ_SQ            			      AS mgzSq
			,MBR_SQ         				  AS mbrSq
			,MGZ_TITLE      				  AS mgzTitle
			,MGZ_DESCRPTN        			  AS mgzDescrptn
			,MGZ_CONTENT        			  AS mgzContent
			,MGZ_MAIN_IMG_URL				  AS mgzMainImgUrl
			,MGZ_TYP_CD						  AS mgzTypCd
			,REG_MBR_SQ                       AS regMbrSq
			,DATE_FORMAT(REG_DT, "%Y-%m-%d")  AS regDt
			,UPDT_MBR_SQ                      AS updtMbrSq
			,DATE_FORMAT(UPDT_DT, "%Y-%m-%d") AS updtDt
			,USE_YN                           AS useYn
			,DEL_YN			   				  AS delYn
		FROM
            TBL_DA_MGZ_M A
        WHERE 1=1
         	AND A.MGZ_TYP_CD = #{mgzTypCd} AND A.MGZ_SQ = #{mgzSq}
    </select>
    
    <!-- 메거진 삭제 -->
    <update id="magazineDelete" parameterType="hashMap">
   		UPDATE 
   			TBL_DA_MGZ_M A
		SET
			 DEL_YN	= 'Y'
			,USE_YN	= 'N'
   		WHERE 1=1
         	AND A.MGZ_TYP_CD = #{mgzTypCd} AND A.MGZ_SQ = #{mgzSq}
	</update>
    
    <!-- 메거진 수정 -->
    <update id="magazineUpdate" parameterType="hashMap">
   		UPDATE 
   			TBL_DA_MGZ_M A
		SET
			 MGZ_TITLE        = 	#{mgzTitle}
			,MGZ_DESCRPTN     = 	#{mgzDescrptn}
			,MGZ_CONTENT      = 	#{mgzContent}
			,MGZ_MAIN_IMG_URL = 	#{mgzMainImgUrl}
			,UPDT_MBR_SQ      =     '78'
			,UPDT_DT          =		NOW()
   		WHERE 1=1
         	AND A.MGZ_TYP_CD = #{mgzTypCd} AND A.MGZ_SQ = #{mgzSq}
	</update>
	
   	<!-- CK에디터 통합 Mapper -->
	   
    <!-- CK에디터 통합 목록 -->
    <select id="ckeditorList" resultType="hashMap">
        SELECT
           	 CK_SQ            			      AS ckSq
			,MBR_SQ         				  AS mbrSq
			,CK_TITLE      				      AS ckTitle
			,CK_DESCRPTN        			  AS ckDescrptn
			,CK_CONTENT        			      AS ckContent
			,CK_MAIN_IMG_URL				  AS ckMainImgUrl
			,CK_TYP_CD				          AS ckTypCd
			,REG_MBR_SQ                       AS regMbrSq
			,DATE_FORMAT(REG_DT, "%Y-%m-%d")  AS regDt
			,UPDT_MBR_SQ                      AS updtMbrSq
			,DATE_FORMAT(UPDT_DT, "%Y-%m-%d") AS updtDt
			,USE_YN                           AS useYn
			,DEL_YN			   				  AS delYn
		FROM
            TBL_DA_CK_EDITOR_M A 
        WHERE 1=1
         	AND A.CK_TYP_CD = #{ckTypCd}
         	ORDER BY CK_SQ DESC
    </select>
    
    <!-- CK에디터 통합 등록 -->
   <insert id="ckeditorInsert" parameterType="hashMap">
    	INSERT INTO TBL_DA_CK_EDITOR_M
        (
			 MBR_SQ
			,CK_TITLE
			,CK_DESCRPTN
			,CK_CONTENT
			,CK_MAIN_IMG_URL
			,CK_TYP_CD
			,REG_MBR_SQ
			,REG_DT
			,USE_YN 
			,DEL_YN
       	) 
        VALUES
        (
			 #{mbrSq}
			,#{ckTitle}
			,#{ckDescrptn}
			,#{ckContent}
			,#{ckMainImgUrl}
			,#{ckTypCd}
			,#{regMbrSq}
			,NOW()
			,default
			,default
        )
    </insert>
    
    <!-- CK에디터 통합 상세 -->
    <select id="ckeditorDetail" resultType="hashMap">
        SELECT
           	 CK_SQ            			      AS ckSq
			,MBR_SQ         				  AS mbrSq
			,CK_TITLE      				      AS ckTitle
			,CK_DESCRPTN        			  AS ckDescrptn
			,CK_CONTENT        			      AS ckContent
			,CK_MAIN_IMG_URL				  AS ckMainImgUrl
			,CK_TYP_CD				          AS ckTypCd
			,REG_MBR_SQ                       AS regMbrSq
			,DATE_FORMAT(REG_DT, "%Y-%m-%d")  AS regDt
			,UPDT_MBR_SQ                      AS updtMbrSq
			,DATE_FORMAT(UPDT_DT, "%Y-%m-%d") AS updtDt
			,USE_YN                           AS useYn
			,DEL_YN			   				  AS delYn
		FROM
            TBL_DA_CK_EDITOR_M A
        WHERE 1=1
         	AND A.CK_TYP_CD = #{ckTypCd} AND A.CK_SQ = #{ckSq}
    </select>
    
    <!-- CK에디터 통합 삭제 -->
    <update id="ckeditorDelete" parameterType="hashMap">
   		UPDATE 
   			TBL_DA_CK_EDITOR_M A
		SET
			 DEL_YN	= 'Y'
			,USE_YN	= 'N'
   		WHERE 1=1
         	AND A.CK_TYP_CD = #{ckTypCd} AND A.CK_SQ = #{ckSq}
	</update>
    
    <!-- CK에디터 통합 수정 -->
    <update id="ckeditorUpdate" parameterType="hashMap">
   		UPDATE 
   			TBL_DA_CK_EDITOR_M A
		SET
			 CK_TITLE        = 	#{ckTitle}
			,CK_DESCRPTN     = 	#{ckDescrptn}
			,CK_CONTENT      = 	#{ckContent}
			,CK_MAIN_IMG_URL = 	#{ckMainImgUrl}
			,UPDT_MBR_SQ      =     '78'
			,UPDT_DT          =		NOW()
   		WHERE 1=1
         	AND A.CK_TYP_CD = #{ckTypCd} AND A.CK_SQ = #{ckSq}
	</update>
  
</mapper>