<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.boMemberMapper">
	<!-- 회원 목록 -->
	<select id="memberList" resultType="hashMap">
        SELECT
            AUTH_SQ               AS authSq
			,MBR_SQ               AS mbrSq
			,MBR_ID               AS mbrId
			,MBR_EMAIL            AS mbrEmail
			,MBR_PASSWRD          AS mbrPasswrd
			,MBR_NM               AS mbrNm
			,IFNULL(MBR_NCKNM,'-') AS mbrNcknm
			,MBR_NATN_CD          AS mbrNatnCd
			,MBR_BIRTH            AS mbrBirth
			,(
				CASE 
					WHEN MBR_SEX_CD = 'MALE' THEN '남'
					WHEN MBR_SEX_CD = 'FEMALE' THEN '여' 
					WHEN MBR_SEX_CD IS NULL THEN '-'
				END
			 ) AS mbrSexCd
			,MBR_HOME_ADDR        AS mbrHomeAddr
			,MBR_DELIVRY_ADDR     AS mbrDelivryAddr
			,MBR_CP_NUM           AS mbrCpNum
			,MBR_CP_CERT_YN       AS mbrCpCertYn
			,MBR_CP_CERT_DATE     AS mbrCpCertDate
			,REG_MBR_SQ           AS regMbrSq
			,DATE_FORMAT(REG_DT,'%Y-%m-%d')  AS regDt
			,UPDT_MBR_SQ          AS updtMbrSq
			,DATE_FORMAT(UPDT_DT,'%Y-%m-%d')  AS updtDt
			,USE_YN               AS useYn
			,DEL_YN				  AS delYn
			,(
				CASE 
				 WHEN MBR_SOCIAL_SORT = 'GEN' THEN '일반'
				 WHEN MBR_SOCIAL_SORT = 'KAO' THEN '카카오'
				 WHEN MBR_SOCIAL_SORT = 'GOG' THEN '구글'
				 WHEN MBR_SOCIAL_SORT = 'NAV' THEN '네이버'
				END
			 ) AS mbrSocialSort
			

        FROM
            TBL_DA_MBR_M A 
        WHERE 1=1
         
          <if test="memberGubun != '' and memberGubun != null">
          	AND A.AUTH_SQ = #{memberGubun}
          </if>
          <if test="searchWord != null and searchWord !=''">
	          <if test="searchGubun == 'mbrNm' and searchWord != null">
	          	AND A.MBR_NM LIKE CONCAT('%',#{searchWord},'%')
	          </if>
	          <if test="searchGubun == 'mbrId' and searchWord != null">
	          	AND A.MBR_ID LIKE CONCAT('%',#{searchWord},'%')
	          </if>
	          <if test="searchGubun == 'mbrNcknm' and searchWord != null">
	          	AND A.MBR_NCKNM LIKE CONCAT('%',#{searchWord},'%')
	          </if>
	       </if>
          <if test="mbrSq != null">
          	AND A.MBR_SQ = #{mbrSq}
          </if>
          <if test="useYn != null">
          	AND A.USE_YN = #{useYn}
          </if>
               
                   
      	ORDER BY MBR_SQ DESC
    </select>
    <!-- 회원 상세 -->
    <select id="memberContent" resultType="hashMap">
        SELECT
            AUTH_SQ               AS authSq
			,MBR_SQ               AS mbrSq
			,MBR_ID               AS mbrId
			,MBR_EMAIL            AS mbrEmail
			,MBR_PASSWRD          AS mbrPasswrd
			,MBR_NM               AS mbrNm
			,MBR_NCKNM            AS mbrNcknm
			,MBR_NATN_CD          AS mbrNatnCd
			,MBR_BIRTH            AS mbrBirth
			,(
				CASE 
					WHEN MBR_SEX_CD = 'MALE' THEN '남'
					WHEN MBR_SEX_CD = 'FEMALE' THEN '여' 
				END
			 ) AS mbrSexCd
			,MBR_SEX_CD AS mbrSexCdChk
			,MBR_HOME_ADDR        AS mbrHomeAddr
			,MBR_DELIVRY_ADDR     AS mbrDelivryAddr
			,MBR_CP_NUM           AS mbrCpNum
			,MBR_CP_CERT_YN       AS mbrCpCertYn
			,MBR_CP_CERT_DATE     AS mbrCpCertDate
			,REG_MBR_SQ           AS regMbrSq
			,DATE_FORMAT(REG_DT,'%Y-%m-%d')  AS regDt
			,UPDT_MBR_SQ          AS updtMbrSq
			,DATE_FORMAT(UPDT_DT,'%Y-%m-%d')  AS updtDt
			,USE_YN               AS useYn
			,(
				CASE
					WHEN USE_YN = 'Y' THEN '사용중'
					WHEN USE_YN = 'N' THEN '사용중지'
				END			
			) AS useYnRplc
			,DEL_YN				  AS delYn

        FROM
            TBL_DA_MBR_M A 
        WHERE 1=1
         AND A.MBR_SQ = #{mbrSq}
    </select>
  
  <!-- 회원 아이디중복 / 닉네임 종복 체크  -->
  <select id="memberCheck" resultType="int">
        SELECT
            count(*)
        FROM
            TBL_DA_MBR_M A
        WHERE 1=1
        <if test="mbrId != null">
           		AND MBR_ID = #{mbrId}
        </if>
        <if test="mbrNcknm != null">
           		AND MBR_NCKNM = #{mbrNcknm}
        </if>
   </select>
   
   <!-- 회원등록 -->
   <insert id="memberInsert" parameterType="hashMap">
    	INSERT INTO TBL_DA_MBR_M
        (
        	AUTH_SQ
			,MBR_SQ
			,MBR_ID
			,MBR_EMAIL
			,MBR_PASSWRD
			,MBR_NM
			,MBR_NCKNM
			,MBR_NATN_CD
			,MBR_BIRTH
			,MBR_SEX_CD
			,MBR_HOME_ADDR
			,MBR_DELIVRY_ADDR
			,MBR_CP_NUM
			,MBR_CP_CERT_YN
			,MBR_CP_CERT_DATE
			,REG_MBR_SQ
			,REG_DT
			,UPDT_MBR_SQ
			,UPDT_DT
			,USE_YN
			,DEL_YN
       	) 
        VALUES
        (
        	'1'
			,#{mbrSq}
			,#{mbrId}
			,#{mbrEmail}
			,#{mbrPasswrd}
			,#{mbrNm}
			,#{mbrNcknm}
			,'KR'
			,#{mbrBirth}
			,#{mbrSexCd}
			,#{mbrHomeAddr}
			,#{mbrDelivryAddr}
			,#{mbrCpNum}
			,#{mbrCpCertYn}
			,#{mbrCpCertDate}
			,'1'
			,NOW()
			,'1'
			,NOW()
			,#{useYn}
			,'N'
        )
    </insert>
    
    <update id="memberUpdate" parameterType="hashMap">
   		UPDATE TBL_DA_MBR_M
   		<trim prefix="SET" suffixOverrides=",">
      		<if test="authSq         != null">AUTH_SQ =#{authSq},</if>
			<if test="mbrEmail       != null">MBR_EMAIL =#{mbrEmail},</if>
			<if test="mbrPasswrd     != null">MBR_PASSWRD =#{mbrPasswrd},</if>
			<if test="mbrNatnCd      != null">MBR_NATN_CD = #{mbrNatnCd},</if>
			<if test="mbrBirth       != null">MBR_BIRTH = #{mbrBirth},</if>
			<if test="mbrSexCd       != null">MBR_SEX_CD = #{mbrSexCd},</if>
			<if test="mbrHomeAddr    != null">MBR_HOME_ADDR = #{mbrHomeAddr},</if>
			<if test="mbrDelivryAddr != null">MBR_DELIVRY_ADDR =#{mbrDelivryAddr},</if>
			<if test="mbrCpNum       != null">MBR_CP_NUM = #{mbrCpNum},</if>
			UPDT_DT = NOW(),
			<if test="useYn          != null">USE_YN = #{useYn},</if>
			<if test="delYn          != null">DEL_YN = #{delYn},</if>
   		</trim>
   		WHERE MBR_SQ = #{mbrSq}
	</update>
	
	<!-- 회원 비밀번호 초기화 -->
	<update id="memberPasswdClear" parameterType="hashMap">
   		UPDATE TBL_DA_MBR_M
   		<trim prefix="SET" suffixOverrides=",">
			MBR_PASSWRD =#{mbrPasswrd},
			UPDT_DT = NOW(),
   		</trim>
   		WHERE MBR_SQ = #{mbrSq}
	</update>
	
	<!-- 작가신청 -->
	<select id="artistApp" resultType="hashMap">
       SELECT 
       
       	A.AUTH_SQ               AS authSq
		,A.MBR_SQ               AS mbrSq
		,A.MBR_ID               AS mbrId
		,A.MBR_EMAIL            AS mbrEmail
		,A.MBR_PASSWRD          AS mbrPasswrd
		,MBR_NM               AS mbrNm
		,IFNULL(A.MBR_NCKNM,'-') AS mbrNcknm
		,A.MBR_NATN_CD          AS mbrNatnCd
		,A.MBR_BIRTH            AS mbrBirth
		,(
			CASE 
				WHEN A.MBR_SEX_CD = 'MALE' THEN '남'
				WHEN A.MBR_SEX_CD = 'FEMALE' THEN '여' 
				WHEN A.MBR_SEX_CD IS NULL THEN '-'
			END
		 ) AS mbrSexCd
		,A.MBR_HOME_ADDR        AS mbrHomeAddr
		,A.MBR_DELIVRY_ADDR     AS mbrDelivryAddr
		,A.MBR_CP_NUM           AS mbrCpNum
		,A.MBR_CP_CERT_YN       AS mbrCpCertYn
		,A.MBR_CP_CERT_DATE     AS mbrCpCertDate
		,A.REG_MBR_SQ           AS regMbrSq
		,DATE_FORMAT(A.REG_DT,'%Y-%m-%d')  AS regDt
		,A.UPDT_MBR_SQ          AS updtMbrSq
		,DATE_FORMAT(A.UPDT_DT,'%Y-%m-%d')  AS updtDt
		,A.USE_YN               AS useYn
		,A.DEL_YN				  AS delYn
		,(
			CASE 
			 WHEN A.MBR_SOCIAL_SORT = 'GEN' THEN '일반'
			 WHEN A.MBR_SOCIAL_SORT = 'KAO' THEN '카카오'
			 WHEN A.MBR_SOCIAL_SORT = 'GOG' THEN '구글'
			 WHEN A.MBR_SOCIAL_SORT = 'NAV' THEN '네이버'
			END
		 ) AS mbrSocialSort
       
       FROM TBL_DA_MBR_M A
	INNER JOIN TBL_DA_ARTST_M B ON A.MBR_SQ = B.MBR_SQ 
	WHERE A.AUTH_SQ = '1'
       <if test="mbrId != null">
          		AND A.MBR_ID = #{mbrId}
       </if>
       <if test="mbrNm != null">
          		AND A.MBR_NM = #{mbrNm}
       </if>
    </select>
   
    <select id="wthdrMemContent" resultType="hashMap">
    	SELECT
				AUTH_SQ               AS authSq
				,MBR_SQ               AS mbrSq
				,MBR_ID               AS mbrId
				,MBR_EMAIL            AS mbrEmail
				,MBR_PASSWRD          AS mbrPasswrd
				,MBR_NM               AS mbrNm
				,MBR_NCKNM            AS mbrNcknm
				,MBR_NATN_CD          AS mbrNatnCd
				,MBR_BIRTH            AS mbrBirth
				,(
					CASE 
						WHEN MBR_SEX_CD = 'MALE' THEN '남'
						WHEN MBR_SEX_CD = 'FEMALE' THEN '여' 
					END
			 	) AS mbrSexCd
				,MBR_SEX_CD AS mbrSexCdChk
				,MBR_HOME_ADDR        AS mbrHomeAddr
				,MBR_DELIVRY_ADDR     AS mbrDelivryAddr				
				,REG_MBR_SQ           AS regMbrSq
				,DATE_FORMAT(REG_DT,'%Y-%m-%d')  AS regDt
				,UPDT_MBR_SQ          AS updtMbrSq
				,DATE_FORMAT(UPDT_DT,'%Y-%m-%d')  AS updtDt
				,USE_YN               AS useYn
				,(
					CASE
						WHEN USE_YN = 'Y' THEN '사용중'
						WHEN USE_YN = 'N' THEN '사용중지'
					END			
				) AS useYnRplc
				,DEL_YN				  AS delYn

        FROM
            	TBL_DA_MBR_M
        WHERE 1=1
          AND MBR_SQ = #{mbrSq}
    </select>
    
</mapper>