<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.boMemberMapper">

	<select id="memberList" resultType="hashMap">
        SELECT
            AUTH_SQ               AS authSq
			,MBR_SQ               AS mbrSq
			,MBR_ID               AS mbrId
			,MBR_EMAIL            AS mbrEmail
			,MBR_PASSWRD          AS mbrPasswrd
			,MBR_NM               AS mbrNm
			,MBR_NCKNM            AS mbrNcknm
			,MBR_NATN_CD          AS mbrNatnCd
			,MBR_BIRTH            AS mbrBirth
			,(
				CASE 
					WHEN MBR_SEX_CD = 'MALE' THEN '남'
					WHEN MBR_SEX_CD = 'FEMALE' THEN '여' 
				END
			 ) AS mbrSexCd
			,MBR_HOME_ADDR        AS mbrHomeAddr
			,MBR_DELIVRY_ADDR     AS mbrDelivryAddr
			,MBR_CP_NUM           AS mbrCpNum
			,MBR_CP_CERT_YN       AS mbrCpCertYn
			,MBR_CP_CERT_DATE     AS mbrCpCertDate
			,REG_MBR_SQ           AS regMbrSq
			,DATE_FORMAT(REG_DT,'%Y-%m-%d')  AS regDt
			,UPDT_MBR_SQ          AS updtMbrSq
			,UPDT_DT              AS updtDt
			,USE_YN               AS useYn
			,DEL_YN				  AS delYn

        FROM
            TBL_DA_MBR_M A 
        WHERE 1=1
         
          <if test="searchGubun == 'mbrNm' and searchWord != null">
          	AND A.MBR_NM LIKE CONCAT('%',#{searchWord},'%')
          </if>
          <if test="searchGubun == 'mbrId' and searchWord != null">
          	AND A.MBR_ID LIKE CONCAT('%',#{searchWord},'%')
          </if>
          <if test="searchGubun == 'mbrNcknm' and searchWord != null">
          	AND A.MBR_NCKNM LIKE CONCAT('%',#{searchWord},'%')
          </if>
                   
      	ORDER BY MBR_SQ DESC
    </select>
    
    
</mapper>