<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.comCodeMapper">

	<!-- 공통코드 리스트 -->
	<select id="comCodeList" resultType="hashMap">
        SELECT
          	CD_SQ AS cdSq
          	,CD    AS cd
			,CD_NM AS cdNm
			
        FROM TBL_DA_COMN_CD_M
        <!-- where CD_SQ = #{cdSq} -->
        
    </select>
    
   <!-- 공통코드 등록 -->
   <insert id="comCodeInsert" parameterType="hashMap">
    	INSERT INTO TBL_DA_COMN_CD_M
        (
        	CD
			,CD_NM
			,CD_ORD
			,NOTE
			,REG_MBR_SQ
			,REG_DT
			,UPDT_MBR_SQ
			,UPDT_DT
			,USE_YN
			,DEL_YN
		) 
        VALUES
        (
        	#{cd}
			,#{cdNm}
			,#{cdOrd}
			,#{note}
			,'1'
			,NOW()
			,'1'
			,NOW()
			,'Y'
			,'N'
		)
    </insert>
    
    
    <!-- 코드 검색 -->
    <select id="comCodeSearchList" resultType="hashMap">
        SELECT 
        	B.DTL_CD,B.DTL_CD_NM 
        FROM 
        TBL_DA_COMN_CD_M A
		INNER JOIN TBL_DA_COMN_DTL_CD_S B 
			ON A.CD_SQ = B.CD_SQ
		WHERE A.CD = 'USR_NTNLT_TCD'
    </select>
    
    
</mapper>