<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.da.mapper.CommunityMapper">

	<select id="popularShowingOffThisWeek" resultType="hashMap">
		/* 이 주의 인기 작품자랑(아직 테스트 중) */
		SELECT *
		  FROM TBL_DA_COMT_M
	</select>

</mapper>