<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.da.mapper.CommunityMapper">

	
	
<select id="mainPop" resultType="hashMap">
	
	/* 커뮤니티 홈 리스트 조회 */
		SELECT CM.COMT_SQ		AS comtSq,		-- 커뮤니티 순번
			   CM.MBR_SQ		AS mbrSq,		-- 회원 순번
			   CM.COMT_IMG_URL	AS comtImgUrl,	-- 커뮤니티 이미지 URL
			   CM.COMT_TITLE	AS comtTitle,	-- 커뮤니티 제목
			   CM.WORK_SQ		AS workSq,		-- 작품 순번
			   AM.ARTST_SQ		AS artstSq,		-- 작가 순번
			   CM.DEAL_SQ		AS dealSq,		-- 거래 순번
			   DATE_FORMAT(CM.REG_DT, '%Y-%m-%d') AS regDt,		-- 등록 일시
			   CM.COMT_CMTS		AS comtCmts		-- 커뮤니티 댓글수
		  FROM TBL_DA_COMT_M CM
		  	   LEFT JOIN TBL_DA_ARTST_M AM ON CM.MBR_SQ = AM.MBR_SQ
		 WHERE CM.REG_DT >= STR_TO_DATE(#{cmMgstartDt}, '%Y-%m-%d %T')
		   AND CM.REG_DT <![CDATA[<=]]> STR_TO_DATE(#{cmMgEndDt}, '%Y-%m-%d %T')
		   AND CM.COMT_TYP_CD = #{comtTypCd}
		   AND CM.OPEN_YN = 'Y'
		   AND CM.USE_YN = 'Y'
		   AND CM.DEL_YN = 'N'
		   AND AM.USE_YN = 'Y'
		   AND AM.DEL_YN = 'N'
		ORDER BY 
		CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'REG' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'ASC' 
	        THEN CM.REG_DT
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'REG' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'DES' 
	        THEN CM.REG_DT
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'VIW' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'ASC' 
	        THEN CM.COMT_VIEWS
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'VIW' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'DES' 
	        THEN CM.COMT_VIEWS
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'LIK' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'ASC' 
	        THEN CM.COMT_LIKES
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'LIK' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'DES' 
	        THEN CM.COMT_LIKES
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'SCP' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'ASC' 
	        THEN CM.COMT_SCRAPS
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'SCP' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'DES' 
	        THEN CM.COMT_SCRAPS
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'CMT' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'ASC' 
	        THEN CM.COMT_CMTS
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'CMT' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 6) = 'DES' 
	        THEN CM.COMT_CMTS
	        END DESC 
		LIMIT
			${limitNum}
	
	</select>
	
	
	<select id="mainBoast" resultType="hashMap">
	
	/* 커뮤니티 홈 리스트 조회 */
		SELECT CM.COMT_SQ		AS comtSq,		-- 커뮤니티 순번
			   CM.MBR_SQ		AS mbrSq,		-- 회원 순번
			   CM.COMT_IMG_URL	AS comtImgUrl,	-- 커뮤니티 이미지 URL
			   CM.COMT_TITLE	AS comtTitle,	-- 커뮤니티 제목
			   CM.WORK_SQ		AS workSq,		-- 작품 순번
			   AM.ARTST_SQ		AS artstSq,		-- 작가 순번
			   CM.DEAL_SQ		AS dealSq,		-- 거래 순번
			   DATE_FORMAT(CM.REG_DT, '%Y-%m-%d') AS regDt,		-- 등록 일시
			   CM.COMT_CMTS		AS comtCmts		-- 커뮤니티 댓글수
		  FROM TBL_DA_COMT_M CM
		  	   LEFT JOIN TBL_DA_ARTST_M AM ON CM.MBR_SQ = AM.MBR_SQ
		 WHERE CM.REG_DT >= STR_TO_DATE(#{cmMgstartDt}, '%Y-%m-%d %T')
		   AND CM.REG_DT <![CDATA[<=]]> STR_TO_DATE(#{cmMgEndDt}, '%Y-%m-%d %T')
		   AND CM.COMT_TYP_CD = #{comtTypCd}
		   AND CM.OPEN_YN = 'Y'
		   AND CM.USE_YN = 'Y'
		   AND CM.DEL_YN = 'N'
		   AND AM.USE_YN = 'Y'
		   AND AM.DEL_YN = 'N'
		ORDER BY 
			CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'REG' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'ASC' 
	        THEN CM.REG_DT
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'REG' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'DES' 
	        THEN CM.REG_DT
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'VIW' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'ASC' 
	        THEN CM.COMT_VIEWS
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'VIW' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'DES' 
	        THEN CM.COMT_VIEWS
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'LIK' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'ASC' 
	        THEN CM.COMT_LIKES
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'LIK' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'DES' 
	        THEN CM.COMT_LIKES
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'SCP' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'ASC' 
	        THEN CM.COMT_SCRAPS
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'SCP' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'DES' 
	        THEN CM.COMT_SCRAPS
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'CMT' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'ASC' 
	        THEN CM.COMT_CMTS
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'CMT' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 7) = 'DES' 
	        THEN CM.COMT_CMTS
	        END DESC 
		LIMIT 
			${limitNum}
	
	</select>
	
	
	<select id="mainExhibit" resultType="hashMap">
	
	/* 커뮤니티 홈 리스트 조회 */
		SELECT CM.COMT_SQ		AS comtSq,		-- 커뮤니티 순번
			   CM.MBR_SQ		AS mbrSq,		-- 회원 순번
			   CM.COMT_IMG_URL	AS comtImgUrl,	-- 커뮤니티 이미지 URL
			   CM.COMT_TITLE	AS comtTitle,	-- 커뮤니티 제목
			   CM.WORK_SQ		AS workSq,		-- 작품 순번
			   CM.DEAL_SQ		AS dealSq,		-- 거래 순번
			   DATE_FORMAT(CM.REG_DT, '%Y-%m-%d') AS regDt,		-- 등록 일시
			   CM.COMT_CMTS		AS comtCmts		-- 커뮤니티 댓글수
		  FROM TBL_DA_COMT_M CM
		 WHERE CM.REG_DT >= STR_TO_DATE(#{cmMgstartDt}, '%Y-%m-%d %T')
		   AND CM.REG_DT <![CDATA[<=]]> STR_TO_DATE(#{cmMgEndDt}, '%Y-%m-%d %T')
		   AND CM.COMT_TYP_CD = #{comtTypCd}
		   AND CM.OPEN_YN = 'Y'
		   AND CM.USE_YN = 'Y'
		   AND CM.DEL_YN = 'N'
		ORDER BY 
		CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'REG' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'ASC' 
	        THEN CM.REG_DT
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'REG' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'DES' 
	        THEN CM.REG_DT
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'VIW' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'ASC' 
	        THEN CM.COMT_VIEWS
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'VIW' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'DES' 
	        THEN CM.COMT_VIEWS
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'LIK' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'ASC' 
	        THEN CM.COMT_LIKES
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'LIK' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'DES' 
	        THEN CM.COMT_LIKES
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'SCP' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'ASC' 
	        THEN CM.COMT_SCRAPS
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'SCP' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'DES' 
	        THEN CM.COMT_SCRAPS
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'CMT' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'ASC' 
	        THEN CM.COMT_CMTS
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'CMT' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 8) = 'DES' 
	        THEN CM.COMT_CMTS
	        END DESC 
		LIMIT 
			${limitNum}	
	
	</select>
	
	 <select id="mainIssue" resultType="hashMap">
	
	/* 커뮤니티 홈 리스트 조회 */
		SELECT CM.COMT_SQ		AS comtSq,		-- 커뮤니티 순번
			   CM.MBR_SQ		AS mbrSq,		-- 회원 순번
			   CM.COMT_IMG_URL	AS comtImgUrl,	-- 커뮤니티 이미지 URL
			   CM.COMT_TITLE	AS comtTitle,	-- 커뮤니티 제목
			   CM.WORK_SQ		AS workSq,		-- 작품 순번
			   CM.DEAL_SQ		AS dealSq,		-- 거래 순번
			   DATE_FORMAT(CM.REG_DT, '%Y-%m-%d') AS regDt,		-- 등록 일시
			   CM.COMT_CMTS		AS comtCmts		-- 커뮤니티 댓글수
		  FROM TBL_DA_COMT_M CM
		 WHERE CM.REG_DT >= STR_TO_DATE(#{cmMgstartDt}, '%Y-%m-%d %T')
		   AND CM.REG_DT <![CDATA[<=]]> STR_TO_DATE(#{cmMgEndDt}, '%Y-%m-%d %T')
		   AND CM.COMT_TYP_CD = #{comtTypCd}
		   AND CM.OPEN_YN = 'Y'
		   AND CM.USE_YN = 'Y'
		   AND CM.DEL_YN = 'N'
		ORDER BY 
			CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'REG' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'ASC' 
	        THEN CM.REG_DT
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'REG' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'DES' 
	        THEN CM.REG_DT
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'VIW' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'ASC' 
	        THEN CM.COMT_VIEWS
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'VIW' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'DES' 
	        THEN CM.COMT_VIEWS
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'LIK' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'ASC' 
	        THEN CM.COMT_LIKES
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'LIK' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'DES' 
	        THEN CM.COMT_LIKES
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'SCP' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'ASC' 
	        THEN CM.COMT_SCRAPS
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'SCP' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'DES' 
	        THEN CM.COMT_SCRAPS
	        END DESC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'CMT' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'ASC' 
	        THEN CM.COMT_CMTS
	        END ASC,
	    CASE 
	        WHEN (SELECT PROMO_OD_DIV_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'CMT' 
	        AND (SELECT PROMO_OD_TYP_CD FROM TBL_DA_PROMO_MGMT_S WHERE PROMO_SQ = 9) = 'DES' 
	        THEN CM.COMT_CMTS
	        END DESC 
		LIMIT 
			${limitNum}
	
	</select>
	
	<select id="boardManageDetail" resultType="hashMap">
    /* 게시판 관리 상세 조건 조회 */
    SELECT CASE WHEN CM_MG_OD_DIV_CD = 'LIK' THEN 'COMT_LIKES'
                WHEN CM_MG_OD_DIV_CD = 'VIW' THEN 'COMT_VIEWS'
                WHEN CM_MG_OD_DIV_CD = 'SCP' THEN 'COMT_CMTS'                
                WHEN CM_MG_OD_DIV_CD = 'SCP' THEN 'COMT_SCRAPS'
                WHEN CM_MG_OD_DIV_CD = 'SNS' THEN 4 -- 이건 아직 모르겠음
                WHEN CM_MG_OD_DIV_CD = 'REG' THEN 'REG_DT'
            END                                        AS ordCondition -- 정렬 구분
          , CM_MG_OD_TYP_CD                            AS ordSortBy        -- 정렬 유형
          , DATE_FORMAT(CM_MG_START_DT, '%Y-%m-%d %T') AS cmMgstartDt        -- 조회 시작 일시
          , DATE_FORMAT(CM_MG_END_DT, '%Y-%m-%d %T')   AS cmMgEndDt        -- 조회 종료 일시
          , COMT_TYP_CD                                AS comtTypCd        -- 커뮤니티 구분 코드
          , CASE WHEN COMT_TYP_CD = 'BOA' THEN 4
                 WHEN COMT_TYP_CD IN ('EXH', 'ISS') THEN 4
             END                                       AS limitNum            -- 조회 갯수
       FROM TBL_DA_COMT_MGMT_M
      WHERE COMT_TYP_CD = #{comtTypCd}
	</select>
	
	<select id="searchShowingOffDetail" resultType="hashMap">
		/* 자랑하기 상세 조회 */
		SELECT CM.WORK_SQ						AS workSq,			-- 작품 순번
			   CM.COMT_TYP_CD					AS comtTypCd,		-- 커뮤니티 구분 코드
			   CM.COMT_IMG_URL 					AS comtImgUrl,		-- 커뮤니티 이미지 URL
			   CM.COMT_TITLE 					AS comtTitle,		-- 커뮤니티 제목
			   CM.COMT_CONTENT 					AS comtContent,		-- 커뮤니티 내용
			   CM.COMT_LIKES 					AS comtLikes,		-- 커뮤니티 좋아요수
			   CM.COMT_VIEWS 					AS comtViews,		-- 커뮤니티 조회수
			   CM.COMT_CMTS 					AS comtCmts,		-- 커뮤니티 댓글수
			   CM.COMT_SCRAPS 					AS comtScraps,		-- 커뮤니티 스크랩수
			   DATE_FORMAT(CM.REG_DT, '%Y.%m.%d %T') AS regDt,		-- 커뮤니티 등록 일시
			   TIMESTAMPDIFF(HOUR, CM.REG_DT, NOW()) AS dateDiff,		-- 등록 시간 차이
			   (
			    SELECT COUNT(*)
			      FROM TBL_DA_RPRT_M RM
			     WHERE CM.RPRT_SQ = RM.RPRT_SQ
	   		   )								AS rprtCnt,		 	-- 신고 수
		   	   CM.COMT_SALES_YN 				AS comtSalesYn,		-- 커뮤니티 판매제안 여부
			   MM.MBR_NCKNM 					AS mbrNcknm,		-- 회원 닉네임
			   (CASE 
			   		WHEN MM.MBR_PROFILE_IMG_URL IS NOT NULL AND MM.MBR_PROFILE_IMG_URL != '' THEN MM.MBR_PROFILE_IMG_URL
			   		ELSE AM.ARTST_PROFILE_IMG_URL
			   END) 							AS mbrProfileImgUrl,-- 회원 프로필 이미지 URL
			   MM.MBR_SQ						AS mbrSq,			-- 회원 순번
			   CKR.COMT_KEYWRD					AS comtKeywrd,		-- 커뮤니티 키워드
			   AM.ARTST_SQ						AS artstSq			-- 작가 순번
		  FROM TBL_DA_COMT_M CM
		  	   INNER JOIN TBL_DA_MBR_M MM ON CM.MBR_SQ = MM.MBR_SQ
		  	   LEFT JOIN TBL_DA_COMT_KEYWRDS_R CKR ON CM.COMT_SQ = CKR.COMT_SQ
		  	   LEFT JOIN TBL_DA_ARTST_M AM ON CM.MBR_SQ = AM.MBR_SQ
		 WHERE CM.COMT_TYP_CD = 'BOA'
		   AND CM.OPEN_YN = 'Y'
		   AND CM.USE_YN = 'Y'
		   AND CM.DEL_YN = 'N'
		   AND CM.COMT_SQ = #{comtSq}
		   AND MM.USE_YN = 'Y'
		   AND MM.DEL_YN = 'N'
	</select>
	
	<select id="searchEventList" resultType="hashMap">
		/* 커뮤니티 이벤트 리스트 조회 */
		SELECT A.BNN_SQ AS bnnSq,
			   A.BNN_TITLE AS bnnTitle,
			   A.BNN_MP_IMG_URL AS bnnMpImgUrl,
			   A.BNN_EP_IMG_URL AS bnnEpImgUrl,
			   A.BNN_MM_IMG_URL AS bnnMmImgUrl,
			   A.BNN_EM_IMG_URL AS bnnEmImgUrl,
			   A.BNN_M_LND_URL AS bnnMLndUrl,
			   A.BNN_E_LND_URL AS bnnELndUrl,
			   DATE_FORMAT(A.BNN_START_DT, '%Y.%m.%d') AS bnnStartDt,
			   DATE_FORMAT(A.BNN_END_DT, '%Y.%m.%d') AS bnnEndDt,
			   IF(DATEDIFF(A.BNN_END_DT, NOW()) >= 0, 1, 0) AS isEventEnd
		  FROM TBL_DA_BNN_MGMT_M A
		 WHERE A.BNN_DIV_CD = 'EVH'
		   AND A.USE_YN = 'Y'
		   AND A.DEL_YN = 'N'
		   <if test="type != null and type != ''">
		       <choose>
		           <when test="type == 0">AND IF(DATEDIFF(A.BNN_END_DT, NOW()) >= 0, 1, 0) = 0</when>
		           <when test="type == 1">AND IF(DATEDIFF(A.BNN_END_DT, NOW()) >= 0, 1, 0) = 1</when>
		       </choose>
		   </if>
		 ORDER BY A.BNN_END_DT DESC
		 LIMIT #{pageStart} , #{pageSize}
	</select>
	
	<select id="searchHomeBnnList" resultType="hashMap">
		/* 커뮤니티 홈 배너 조회 */
		SELECT A.BNN_SQ AS bnnSq,
			   A.BNN_TITLE AS bnnTitle,
			   A.BNN_MP_IMG_URL AS bnnMpImgUrl,
			   A.BNN_EP_IMG_URL AS bnnEpImgUrl,
			   A.BNN_MM_IMG_URL AS bnnMmImgUrl,
			   A.BNN_EM_IMG_URL AS bnnEmImgUrl,
			   A.BNN_M_LND_URL AS bnnMLndUrl,
			   A.BNN_E_LND_URL AS bnnELndUrl,
			   DATE_FORMAT(A.BNN_START_DT, '%Y.%m.%d') AS bnnStartDt,
			   DATE_FORMAT(A.BNN_END_DT, '%Y.%m.%d') AS bnnEndDt
		  FROM TBL_DA_BNN_MGMT_M A		  	 
		 WHERE A.BNN_DIV_CD = #{bnnDivCd}
		   AND A.USE_YN = 'Y'
		   AND A.DEL_YN = 'N'
		 ORDER BY A.BNN_SQ DESC
		 LIMIT 1
	</select>
	
	<select id="communityListData" resultType="hashMap">
    /* 커뮤니티 리스트 */
    SELECT COMT.COMT_SQ             AS comtSq
         , COMT.WORK_SQ             AS workSq
         , COMT.COMT_IMG_URL        AS comtImgUrl
         , COMT.COMT_TITLE          AS comtTitle
         , COMT.COMT_CONTENT        AS comtContent
         , COMT.REG_DT				AS regDt
         , COMT.COMT_LIKES          AS comtLikes
         , COMT.COMT_VIEWS          AS comtViews
         , COMT.COMT_CMTS           AS comtCmts
         , COMT.COMT_SCRAPS         AS comtScraps
         , MBR.MBR_SQ               AS mbrSq
         , MBR.MBR_NCKNM            AS mbrNcknm
         , MBR.MBR_PROFILE_IMG_URL  AS mbrProfileImgUrl
         , MBR.MBR_INTRO            AS mbrIntro
      FROM 
           TBL_DA_COMT_M  AS COMT
 LEFT JOIN
           TBL_DA_MBR_M   AS MBR
        ON COMT.MBR_SQ  = MBR.MBR_SQ
 LEFT JOIN 
           TBL_DA_WORK_M  AS WORK
        ON COMT.WORK_SQ = WORK.WORK_SQ
     WHERE 1=1
       AND COMT.COMT_TYP_CD = #{comtTypCd}
       AND COMT.DEL_YN = 'N'
		<if test="startDate != '' and endDate != '' and startDate != null and endDate != null">
       AND COMT.REG_DT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d') AND STR_TO_DATE(#{endDate}, '%Y-%m-%d') + 1
		</if>
		<if test="exhibitRegionCd != '' and exhibitRegionCd != null">
       AND COMT.EXHIBIT_REGION_CD = #{exhibitRegionCd}
		</if>
		<if test="comtWorkShpCd != null and comtWorkShpCd != ''">
       AND WORK.WORK_SHP_CD = #{comtWorkShpCd}
		</if>
		<if test="exhibitTypCd != '' and exhibitTypCd != null">
       AND COMT.EXHIBIT_TYP_CD = #{exhibitTypCd}
		</if>
		<!-- 구분:공개여부 -->
		<if test="openYn != '' and openYn != null">
       AND COMT.OPEN_YN = #{openYn}
		</if>
		<!-- 최근인기순 -->
		<if test="comtSort == 'byRecentPopularity'">
       AND COMT.REG_DT >= DATE_ADD(NOW(), INTERVAL -1 YEAR) 
  ORDER BY COMT.COMT_LIKES DESC
		</if>
		<!-- 역대인기순 -->
		<if test="comtSort == 'allTimePopularity'">
  ORDER BY COMT.COMT_LIKES DESC
		</if>
		<!-- 최신순 -->
		<if test="comtSort == 'newest'">
  ORDER BY COMT.REG_DT DESC
		</if>
		<!-- 과거순 -->
		<if test="comtSort == 'pastOrder'">
  ORDER BY COMT.REG_DT ASC
		</if>
		<if test="comtSort == '' || comtSort == null">
  ORDER BY COMT.REG_DT DESC
		</if>
		<if test="offset != null">
     LIMIT #{limit} OFFSET #{offset}
		</if>		
	</select>
	
	<select id="getTotalCount" resultType="hashMap">
		/* 페이지네이션 만들기 위한 총 커뮤니티 게시글 수 */
		SELECT 
				COUNT(COMT.COMT_SQ) AS totalCount
		FROM 
				TBL_DA_COMT_M AS COMT
		LEFT JOIN
				TBL_DA_MBR_M AS MBR
			ON COMT.MBR_SQ = MBR.MBR_SQ 
		LEFT JOIN TBL_DA_WORK_M AS WORK
			ON COMT.WORK_SQ = WORK.WORK_SQ
		WHERE 
				COMT.COMT_TYP_CD = #{comtTypCd}
			AND COMT.DEL_YN = 'N'
		<if test="startDate != '' and endDate != '' and startDate != null and endDate != null">
			AND COMT.REG_DT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d') AND STR_TO_DATE(#{endDate}, '%Y-%m-%d') + 1
		</if>
		<if test="exhibitRegionCd != '' and exhibitRegionCd != null">
			AND COMT.EXHIBIT_REGION_CD = #{exhibitRegionCd}
		</if>
		<if test="exhibitTypCd != '' and exhibitTypCd != null">
			AND COMT.EXHIBIT_TYP_CD = #{exhibitTypCd}
		</if>
		<if test="comtWorkShpCd != null and comtWorkShpCd != ''">
			AND WORK.WORK_SHP_CD = #{comtWorkShpCd}
		</if>
		<!-- 구분:공개여부 -->
		<if test="openYn != '' and openYn != null">
			AND COMT.OPEN_YN = #{openYn}
		</if>
		<if test="comtSort == 'byRecentPopularity'">
			AND COMT.REG_DT >= DATE_ADD(NOW(), INTERVAL -1 YEAR) 
		ORDER BY 
				COMT.COMT_LIKES DESC
		</if>
		<if test="comtSort == 'allTimePopularity'">
		ORDER BY 
				COMT.COMT_LIKES DESC
		</if>
		<if test="comtSort == 'newest'">
		ORDER BY 
				COMT.REG_DT DESC
		</if>
		<if test="comtSort == 'pastOrder'">
		ORDER BY
				COMT.REG_DT ASC
		</if>		
	</select>
	
	<select id="getDtlCdNm" parameterType="String" resultType="hashMap">
		/* 커뮤니티 등록 페이지 selectBox 구분코드 들고오기 */
		SELECT
				B.DTL_CD AS dtlCd
				, B.DTL_CD_NM AS dtlCdNm
		FROM 
				TBL_DA_COMN_CD_M AS A
		LEFT JOIN
				TBL_DA_COMN_DTL_CD_S AS B 
			ON 	
				A.CD_SQ = B.CD_SQ
		WHERE 
				A.CD_SQ = #{cdSqS}
	</select>
	
	<select id="communityExhKnoDetail" resultType="hashMap">
		/* 커뮤니티 전시후기, 노하우 상세 페이지 */
		SELECT
				  COMT.COMT_SQ AS comtSq
				, COMT.WORK_SQ AS workSq
				, COMT.COMT_TITLE AS comtTitle
				, COMT.COMT_IMG_URL AS comtImgUrl
				, COMT.COMT_CONTENT AS comtContent
				, COMT.COMT_LIKES AS comtLikes
				, COMT.OPEN_YN AS openYn
				, COMT.COMT_SALES_YN AS comtSalesYn
				, COMT.COMT_SNS_YN AS comtSnsYn
				, COMT.COMT_VIEWS AS comtViews
				, COMT.COMT_CMTS AS comtCmts
				, COMT.COMT_SCRAPS AS comtScraps
				, COMT.EXHIBIT_REGION_CD AS comtExhibitRegionCd 
				, COMT.COMT_TYP_CD AS comtTypCd
				, DTLCD.DTL_CD_NM AS comtExhibitRegionCdNm
				, COMT.EXHIBIT_TYP_CD AS comtExhibitTypCd
				, DTLCD2.DTL_CD_NM AS comtExhibitTypCdNm
				, DATE_FORMAT(COMT.REG_DT, '%Y-%m-%d %T') AS comtRegDt
				, TIMESTAMPDIFF(HOUR, COMT.REG_DT, NOW()) AS dateDiff
				, MBR.MBR_SQ AS mbrSq
				, (CASE 
			   		WHEN MBR.MBR_PROFILE_IMG_URL IS NOT NULL AND MBR.MBR_PROFILE_IMG_URL != '' THEN MBR.MBR_PROFILE_IMG_URL
			   		ELSE ARTST.ARTST_PROFILE_IMG_URL
			   	  END) AS mbrProfileImgUrl 
				, MBR.MBR_NCKNM AS mbrNcknm
				, COUNT(RPRT.COMT_SQ) AS rpptCount
				, KEYWRDS.COMT_KEYWRD AS comtKeywrd
				, ARTST.ARTST_SQ AS artstSq
		FROM 
				TBL_DA_COMT_M AS COMT
		LEFT JOIN
				TBL_DA_MBR_M AS MBR
			ON COMT.MBR_SQ = MBR.MBR_SQ 
		LEFT JOIN 
				TBL_DA_RPRT_M AS RPRT
			ON COMT.COMT_SQ = RPRT.COMT_SQ
		LEFT JOIN 
				TBL_DA_COMN_DTL_CD_S AS DTLCD
			ON COMT.EXHIBIT_REGION_CD = DTLCD.DTL_CD
		LEFT JOIN 
				TBL_DA_COMN_DTL_CD_S AS DTLCD2
			ON COMT.EXHIBIT_TYP_CD = DTLCD2.DTL_CD
		LEFT JOIN 
				TBL_DA_COMT_KEYWRDS_R AS KEYWRDS
			ON COMT.COMT_SQ = KEYWRDS.COMT_SQ
		LEFT JOIN 
				TBL_DA_ARTST_M AS ARTST
			ON COMT.MBR_SQ = ARTST.MBR_SQ
		LEFT JOIN 
				TBL_DA_MBR_SCRAP_R AS SCRAP
			ON COMT.MBR_SQ = SCRAP.FW_MBR_SQ 
		WHERE 
				COMT.USE_YN = 'Y'
			AND COMT.DEL_YN = 'N'
			AND COMT.OPEN_YN = 'Y'
			AND COMT.COMT_SQ = #{comtSq}
	</select>
	
	<select id="writerOtherComt" resultType="hashMap">
		/* 작성자의 다른 커뮤니티 정보 */
		SELECT 
				  COMT.COMT_SQ AS comtSq
				, COMT.COMT_TITLE AS comtTitle
				, COMT.COMT_CONTENT AS comtContent
				, COMT.MBR_SQ AS mbrSq
				, COMT.COMT_IMG_URL AS comtImgUrl
				, COMT.WORK_SQ AS workSq
		FROM 
				TBL_DA_COMT_M AS COMT
		WHERE 
				COMT.USE_YN = 'Y'
			AND COMT.DEL_YN = 'N'
			AND COMT.OPEN_YN = 'Y'
			AND COMT.COMT_TYP_CD = #{comtTypCd}
			AND COMT.MBR_SQ = #{mbrSq}
			AND NOT COMT.COMT_SQ = #{comtSq}
		ORDER BY 
				COMT.COMT_SQ DESC
	</select>
	
	<select id="communityComment" resultType="hashMap">
		/* 커뮤니티 댓글 */
		SELECT
				CMTS.CMT_SQ AS cmtSq
				, CMTS.CMT_CONTENT AS cmtContent
				, CMTS.REG_MBR_SQ AS cmtMbrSq
				, DATE_FORMAT(CMTS.REG_DT, '%Y.%m.%d %T') AS cmtRegDt
				, TIMESTAMPDIFF(HOUR, CMTS.REG_DT, NOW()) AS dateDiff
				, MBR.MBR_SQ AS mbrSq
				, MBR.MBR_NCKNM AS mbrNcknm
				, MBR.MBR_PROFILE_IMG_URL AS mbrProfileImgUrl
		FROM 
				TBL_DA_COMT_CMTS_R AS CMTS
		LEFT JOIN
				TBL_DA_MBR_M AS MBR
			ON CMTS.REG_MBR_SQ = MBR.MBR_SQ 
		WHERE 
				CMTS.DEL_YN = 'N'
			AND CMTS.COMT_SQ = #{comtSq}
		ORDER BY
				CMTS.REG_DT DESC
	</select>
	
	<select id="communityReply" resultType="hashMap">
		/* 커뮤니티 대댓글 */
		SELECT
				REPLYS.CMT_SQ AS cmtSq
				, REPLYS.REPLY_SQ AS replySq
				, REPLYS.REPLY_CONTENT AS replyContent
				, REPLYS.REG_MBR_SQ AS replyMbrSq
				, DATE_FORMAT(REPLYS.REG_DT, '%Y.%m.%d %T') AS replyRegDt
				, TIMESTAMPDIFF(HOUR, REPLYS.REG_DT, NOW()) AS dateDiff
				, MBR.MBR_SQ AS mbrSq
				, MBR.MBR_NCKNM AS mbrNcknm
				, MBR.MBR_PROFILE_IMG_URL AS mbrProfileImgUrl
		FROM 
				TBL_DA_COMT_REPLYS_R AS REPLYS
		LEFT JOIN
				TBL_DA_MBR_M AS MBR
			ON REPLYS.REG_MBR_SQ = MBR.MBR_SQ 
		WHERE 
				REPLYS.DEL_YN = 'N'
			AND REPLYS.COMT_SQ = #{comtSq}
		ORDER BY
				REPLYS.REG_DT DESC
	</select>
	
	<update id="delCommentAndReply">
		/* 커뮤니티 댓글, 대댓글 삭제 */
		UPDATE 
				<if test="commentType == 'cmt'">
				TBL_DA_COMT_CMTS_R 
				</if>
				<if test="commentType == 'reply'">
				TBL_DA_COMT_REPLYS_R
				</if>
				<if test="commentType == 'autoDelReply'">
				TBL_DA_COMT_REPLYS_R
				</if>
			SET 
				DEL_YN = 'Y'
		WHERE 
				<if test="commentType == 'cmt'">
				CMT_SQ = #{commentSq}
				</if>
				<if test="commentType == 'reply'">
				REPLY_SQ = #{commentSq}
				</if>
				<if test="commentType == 'autoDelReply'">
				CMT_SQ = #{commentSq}
				</if>
	</update>
	
	  
	<select id="findFollow" resultType="int">
		/* 팔로우 버튼 클릭시 팔로우되어 있는지 확인 */
		SELECT 
				COUNT(SCRAP.MBR_SQ) AS isFollow
		FROM 
				TBL_DA_MBR_SCRAP_R AS SCRAP
		WHERE 
				SCRAP.FW_MBR_SQ = #{fwMbrSq}
			AND SCRAP.MBR_SQ = #{mbrSq}
	</select>
	
	<delete id="delFollow">
		/* 언팔로우 */
		DELETE 
		FROM 
				TBL_DA_MBR_SCRAP_R AS SCRAP
		WHERE
				SCRAP.FW_MBR_SQ = #{fwMbrSq}
			AND SCRAP.MBR_SQ = #{mbrSq}
	</delete>
	
	<insert id="insertFollow">
		/* 팔로우하기 */
		INSERT INTO 
				TBL_DA_MBR_SCRAP_R(MBR_SQ, FW_MBR_SQ)
		VALUES
				(#{mbrSq}, #{fwMbrSq})
	</insert>
	
	<select id="findNewFollow" resultType="int">
		/* 팔로우 버튼 클릭시 팔로우되어 있는지 확인 (새로운 데이터베이스 사용) */
		SELECT 
				COUNT(TDFM.MBR_SQ) AS isFollow
		FROM 
				TBL_DA_FOLLOWING_M AS TDFM
		WHERE 
				TDFM.FOLLOWING_SQ = #{fwMbrSq}
			AND TDFM.MBR_SQ = #{mbrSq}
	</select>
	
	<delete id="delNewFollow">
		/* 언팔로우 (새로운 데이터베이스 사용) */
		DELETE 
		FROM 
				TBL_DA_FOLLOWING_M AS TDFM
		WHERE
				TDFM.FOLLOWING_SQ = #{fwMbrSq}
			AND TDFM.MBR_SQ = #{mbrSq}
	</delete>
	
	<insert id="insertNewFollow">
		/* 팔로우하기 (새로운 데이터베이스 사용) */
		INSERT INTO 
				TBL_DA_FOLLOWING_M(MBR_SQ, FOLLOWING_SQ)
		VALUES
				(#{mbrSq}, #{fwMbrSq})
	</insert>
	
	<insert id="comtReg">
		/* 커뮤니티 댓글 등록 */
		INSERT INTO TBL_DA_COMT_CMTS_R (
			COMT_SQ,
			CMT_CONTENT,
			REG_DT,
			REG_MBR_SQ,
			UPDT_DT,
			UPDT_MBR_SQ
		) VALUES (
			#{comtSq},
			#{cmtContent},
			NOW(),
			#{mbrSq},
			NOW(),
			#{mbrSq}
		)
	</insert>
	
	<select id="searchDealStatus" resultType="hashMap">
		/* 해당 작품의 판매 상태 확인 */
		SELECT B.DEAL_SQ AS dealSq,
			   B.DEAL_STTS_CD AS dealSttsCd
		  FROM TBL_DA_WORK_M A
		  	   INNER JOIN TBL_DA_DEAL_M B ON A.WORK_SQ = B.WORK_SQ
		 WHERE B.DEAL_STRT_DT <![CDATA[<=]]> NOW()
		   AND A.WORK_OPEN_YN = 'Y' /*작품 공개 여부*/
		   AND A.DEL_YN = 'N' /*작품 삭제 여부 확인 */
		   AND B.DEAL_STTS_CD NOT IN ('ST', 'FB')
		   AND A.WORK_SQ = #{workSq}
	</select>
	
	<insert id="replyReg">
		/* 커뮤니티 대댓글 등록 */
		INSERT INTO TBL_DA_COMT_REPLYS_R (
			CMT_SQ,
			COMT_SQ,
			REPLY_CONTENT,
			REG_DT,
			REG_MBR_SQ,
			UPDT_DT,
			UPDT_MBR_SQ
		) VALUES (
			#{cmtSq},
			#{comtSq},
			#{replyContent},
			NOW(),
			#{mbrSq},
			NOW(),
			#{mbrSq}
		)
	</insert>
	
	<select id="searchWorkKeywrd" resultType="hashMap">
		/* 작품 키워드 조회 */
		SELECT B.KEYWRD AS keywrd
		  FROM TBL_DA_WORK_M AS A
		  	   INNER JOIN TBL_DA_KEYWRD_S AS B ON A.WORK_SQ = B.WORK_SQ
		 WHERE A.WORK_SQ = #{workSq}
		   AND A.DEL_YN = 'N'
	</select>
	
	<update id="modComment">
		/* 커뮤니티 댓글, 대댓글 수정 */
		<if test="cmtType == 'cmt'">
			UPDATE TBL_DA_COMT_CMTS_R
			   SET CMT_CONTENT = #{content}
			 WHERE CMT_SQ = #{sq}
		</if>
		<if test="cmtType == 'reply'">
			UPDATE TBL_DA_COMT_REPLYS_R
			   SET REPLY_CONTENT = #{content}
			 WHERE REPLY_SQ = #{sq}
		</if>
	</update>
	
	<update id="updateCmtCnt">
		/* 커뮤니티 댓글수 업데이트 */
		UPDATE TBL_DA_COMT_M
		   SET COMT_CMTS = COMT_CMTS + #{cnt}
		 WHERE COMT_SQ = #{comtSq}
	</update>
	
	<select id="comtOpenDelYnCheck" resultType="hashMap" parameterType="String">
	/* 커뮤니티 상세 오픈여부/삭제여부 확인 */
		SELECT 
				OPEN_YN AS openYn
				, DEL_YN As delYn
		FROM 
				TBL_DA_COMT_M
		WHERE 
				COMT_SQ  = #{comtSq}
	</select>
	<insert id="insertComtRequest" parameterType="hashMap">
	/*제안하기 등록*/
		INSERT INTO 
			TBL_DA_NOTI_M(
				NOTI_TYP_CD
				, NOTI_CAT_CD 
				, WORK_SQ 
				, ARTST_SQ 
				, DEAL_SQ 
				, QUESTION_CONTENT 
				, QUESTION_MBR_SQ 
				, MBR_SQ 
				, REG_MBR_SQ 
				, REG_DT 
				, UPDT_MBR_SQ 
				, UPDT_DT 
			)VALUES(
				#{notiTypCd}
				, #{notiCatCd}
				, #{workSq}
				, #{artstSq}
				, #{dealSq}
				, #{questionContent}
				, #{questionMbrSq}
				, #{mbrSq}
				, #{questionMbrSq}
				, NOW()
				, #{questionMbrSq}
				, NOW()
			)
	</insert>
	
	<update id="updateComtViews" parameterType="String">
	/*커뮤니티 게시물 조회수 증가*/
		UPDATE 
				TBL_DA_COMT_M
			SET
				COMT_VIEWS = COMT_VIEWS + 1
		WHERE 
				COMT_SQ = #{comtSq}
	</update>
	
	<!-- 좋아요 갯수 증가 -->
	<update id="updateComtLikes" parameterType="String">
		UPDATE 
				TBL_DA_COMT_M
			SET
				COMT_LIKES = COMT_LIKES + 1
		WHERE 
				COMT_SQ = #{comtSq}
	</update>
	
	<select id="selectBoardAuth" resultType="hashMap" parameterType="String">
    /* 게시판 관리 상세 조건 조회 */
    SELECT CASE WHEN CM_MG_OD_DIV_CD = 'LIK' THEN 'COMT_LIKES'
                WHEN CM_MG_OD_DIV_CD = 'VIW' THEN 'COMT_VIEWS'
                WHEN CM_MG_OD_DIV_CD = 'CMT' THEN 'COMT_CMTS'				
                WHEN CM_MG_OD_DIV_CD = 'SCP' THEN 'COMT_SCRAPS'
                WHEN CM_MG_OD_DIV_CD = 'SNS' THEN 4 -- 이건 아직 모르겠음
                WHEN CM_MG_OD_DIV_CD = 'REG' THEN 'REG_DT'
            END                                        AS ordCondition /* 정렬 구분 */
          , CM_MG_OD_TYP_CD                            AS ordSortBy    /* 정렬 유형 */
          , DATE_FORMAT(CM_MG_START_DT, '%Y-%m-%d %T') AS cmMgstartDt  /* 조회 시작 일시 */
          , DATE_FORMAT(CM_MG_END_DT, '%Y-%m-%d %T')   AS cmMgEndDt    /* 조회 종료 일시 */
          , COMT_TYP_CD                                AS comtTypCd    /* 커뮤니티 구분 코드 */
          , CASE WHEN COMT_TYP_CD = 'BOA' THEN 4
                 WHEN COMT_TYP_CD IN ('EXH', 'ISS') THEN 4
             END                                       AS limitNum     /* 조회 갯수 */
          , CM_MG_REGDT_YN                             AS regDtYn      /* 작성일 표시 여부 */
          , CM_MG_CMT_YN                               AS cmtYn        /* 댓글 표시 여부 */
          , CM_MG_VIEWS_YN                             AS viewsYn      /* 조회수 표시 여부 */
          , CM_MG_SCRAPS_YN                            AS scrapYn      /* 스크랩 표시 여부 */
          , CM_MG_LIKES_YN                             AS likeYn       /* 좋아요 표시 여부 */
          , CM_MG_SNS_YN                               AS snsYn        /* SNS공유 표시 여부*/
          , USE_YN                                     AS useYn        /* 게시판 표시 여부 */
          , READ_AUTH_SQ                               AS readAuth     /* 읽기 권한 */
          , WRITE_AUTH_SQ                              AS writeAuth    /* 쓰기 권한 */
          , CMT_AUTH_SQ                                AS cmtAuth      /* 댓글 권한 */
       FROM TBL_DA_COMT_MGMT_M
      WHERE 1=1
        <if test="comtTypCd != null and comtTypCd.length > 0">
        AND COMT_TYP_CD = #{comtTypCd}
        </if> 
	</select>
	
	<select id="selectnoti" parameterType="hashMap" resultType="hashMap">
	/* 공지 조회 */
	SELECT BRD_TITLE   AS noti,
		   BRD_CONTENT AS notiHref
      FROM TBL_DA_BRD_M
     WHERE 1=1
       AND DEL_YN         = 'N'
       AND BRD_TYP_CD     = 'NT'
       AND BRD_CON_TYP_CD = #{comtTypCd}
  ORDER BY BRD_SQ DESC
     LIMIT 1
	</select>
</mapper>