<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.da.mapper.DealMapper">
	<select id="dealSerach" resultType="hashMap" parameterType="hashMap">
		/*딜 검색*/
		SELECT 
				D.DEAL_SQ AS dealSq, /*거래번호*/
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				A.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				IF(C.ARTST_YOD IS NULL OR C.ARTST_YOD = '' ,A.ARTST_BIRTH_YEAR,CONCAT(A.ARTST_BIRTH_YEAR,'~',C.ARTST_YOD)) AS artstBirthYear, /*작가생년월일*//* 작가생년월일+작가사망연도*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				C.ARTST_SELF_INTRO AS artstSelfIntro, /*작가소개*/
				D.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				D.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_TYP_CD AS workTypCd, /*작품타입*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				IF(A.WORK_MAIN_IMG_URL IS NULL, A.WORK_IMG_FRT_URL, A.WORK_MAIN_IMG_URL) AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_HEIGHT AS workSizeHeight, /*작품사이즈높이*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				(SELECT FORMAT(MAX(BID_PRC), 0)
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(D.DEAL_FINAL_PRC, 0) AS dealFinalPrc, /*거래최종가격*/
				FORMAT(D.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(D.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE D.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				DATE_FORMAT(D.DEAL_STRT_DT, '%Y.%m.%d %H:%i') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(D.DEAL_ENDNG_DT, '%Y.%m.%d %H:%i') AS dealEndngDate, /*거래종료일시*/
				D.DEAL_ENDNG_DT AS dealEndngDateTime /*거래종료날짜시간*/
		FROM 
				TBL_DA_WORK_M AS A
		LEFT JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		INNER JOIN 
				TBL_DA_DEAL_M AS D
			ON 	A.WORK_SQ = D.WORK_SQ
		WHERE
				D.DEAL_STRT_DT <![CDATA[<=]]> NOW()
				AND A.WORK_OPEN_YN = 'Y' /*작품 공개 여부*/
				AND	A.DEL_YN = 'N' /*작품 삭제 여부 확인 */
				AND DEAL_STTS_CD NOT IN ('ST', 'FB')
			<if test="searchKeyword != null and searchKeyword != ''">
				AND 
				(	A.WORK_NM LIKE CONCAT('%',#{searchKeyword},'%')
				OR 	A.WORK_PRODC_YEAR LIKE CONCAT('%',#{searchKeyword},'%')
				OR 	A.WORK_MATRL LIKE CONCAT('%',#{searchKeyword},'%')
				OR 	A.ARTST_BIRTH_YEAR LIKE CONCAT('%',#{searchKeyword},'%'))
			</if>
			<choose>
			<when test="workTypCd != null and workTypCd != ''">
				AND A.WORK_TYP_CD = #{workTypCd}
        	</when>
        	
        	</choose>
			<if test="dealTypCds != null and dealTypCds != ''">
				AND D.DEAL_TYP_CD IN
				<foreach collection="dealTypCds" item="item" index="idex"  open="(" close=")" separator=",">
		        	#{item}
		        </foreach>
        	</if>
        	<if test="dealSttsCds != null and dealSttsCds != ''">
				AND D.DEAL_STTS_CD IN
				<foreach collection="dealSttsCds" item="item" index="idex"  open="(" close=")" separator=",">
		        	#{item}
		        </foreach>
        	</if>
			<if test="workShpCds != null and workShpCds != ''">
				AND A.WORK_SHP_CD IN
				<foreach collection="workShpCds" item="item" index="idex"  open="(" close=")" separator=",">
		        	#{item}
		        </foreach>
        	</if>
	        <if test="workClsfcCds != null and workClsfCds != ''">
				AND A.WORK_CLSFC_CD IN
				<foreach collection="workClsfcCds" item="item" index="idex"  open="(" close=")" separator=",">
		        	#{item}
		        </foreach>
	        </if>
	        <if test="workClrCds != null and workClrCds != ''">
				AND A.WORK_CLR_CD IN
				<foreach collection="workClrCds" item="item" index="idex"  open="(" close=")" separator=",">
		        	#{item}
		        </foreach>
	        </if>
	        <if test="sort != null and sort != ''">
	        	<if test='sort == "LT"'>
	        		ORDER BY D.DEAL_STRT_DT
	        	</if>
	        	<if test='sort == "PY"'>
	        		ORDER BY A.WORK_PRODC_YEAR
	        	</if>
	        	<if test='sort == "BC"'>
	        		ORDER BY bidCnt
	        	</if>
	        	<if test='sort == "PC"'>
	        		ORDER BY maxBidPrc, dealFinalPrc
	        	</if>
	        	<if test='sort == "RT"'>
	        		ORDER BY D.DEAL_ENDNG_DT
	        	</if>
	        	<if test='type == "DOWN"'>
	        		DESC
	        	</if>
	        	<if test='type == "UP"'>
	        		ASC 
	        	</if>
	        </if>
	        <if test='(sort == null or sort == "") and (type == null or type =="")'>
	        	ORDER BY D.DEAL_STRT_DT DESC
	        </if>
 	        <!-- LIMIT 6 OFFSET #{startRow} -->
	</select>
	<select id="dealDetail" parameterType="String" resultType="hashMap">
		/*거래상세*/
		SELECT 
				D.DEAL_SQ AS dealSq, /*거래순번*/
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				D.SELL_MBR_SQ AS sellMbrSq, /*판매자 순번*/
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				A.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				(SELECT SUB.MBR_NCKNM FROM TBL_DA_MBR_M SUB WHERE SUB.MBR_SQ = A.MBR_SQ) AS mbrNcknm, /*작가 닉네임*/
				A.ARTST_BIRTH_YEAR AS artstBirthYear, /*작가생년월일*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				D.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				D.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				IF(A.WORK_MAIN_IMG_URL IS NULL, A.WORK_IMG_FRT_URL, A.WORK_MAIN_IMG_URL) AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_IMG_FRT_URL AS workImgFrtUrl, /*전면이미지주소*/
	            A.WORK_IMG_RER_URL AS workImgRerUrl, /*후면이미지주소*/
	            A.WORK_IMG_TOP_URL AS workImgTopUrl, /*상 이미지주소*/
	            A.WORK_IMG_BOT_URL AS workImgBotUrl, /*히 이미지주소*/
	            A.WORK_IMG_LEF_URL AS workImgLefUrl, /*좌 이미지주소*/
	            A.WORK_IMG_RIT_URL AS workImgRitUrl, /*우 이미지주소*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_LAKE AS workLake, /*작품 호수*/
				A.WORK_CLR_CD AS workClrCd, /*작품 메인 컬러*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_GRT_URL AS workGrtUrl, /*작품보증서URL*/
				A.WORK_FRM_YN AS workFrmYn, /*작품액자유무*/
				D.MBR_REF_NO AS mbrRefNo, /*거래주문코드*/
				(SELECT FORMAT(MAX(BID_PRC), 0)
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(D.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(D.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE D.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				(SELECT MBR_SQ 
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ
				ORDER BY BID_PRC DESC LIMIT 1) AS bidMbrSq, /*마지막 응찰 회원 순번*/
				DATE_FORMAT(D.DEAL_STRT_DT, '%Y.%m.%d %H:%i') AS dealStrtDate, /*거래시작날짜*/
				DATE_FORMAT(D.DEAL_ENDNG_DT, '%Y.%m.%d %H:%i') AS dealEndngDate, /*거래종료날짜*/
				D.DEAL_ENDNG_DT AS dealEndngDateTime, /*거래종료날짜시간*/
				A.WORK_STATE AS workState
		FROM 
				TBL_DA_WORK_M AS A
		LEFT JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		INNER JOIN 
				TBL_DA_DEAL_M AS D
			ON 	A.WORK_SQ = D.WORK_SQ 
		WHERE 
				D.DEAL_SQ = #{dealSq}
			AND D.DEAL_STTS_CD != 'FB'
			AND	A.DEL_YN = 'N' /*작품 삭제 여부 확인 */
	</select>
	
	<insert id="dealReg">
		/*거래 등록*/
		INSERT INTO
					TBL_DA_DEAL_M (
						WORK_SQ,
						SELL_MBR_SQ,
						DEAL_TYP_CD,
						DEAL_STTS_CD,
						DEAL_STRT_PRC,
						DEAL_STRT_DT,
						DEAL_ENDNG_DT
						<if test="artstSq != null and artst != ''">
						,ARTST_SQ
						</if>
						<if test="dealFinalPrc != null and dealFinalPrc != ''">
						,DEAL_FINAL_PRC
						</if>
						<if test="dealSq != null and dealSq != ''">
						,DEAL_SQ
						</if>
					) VALUES (
						#{workSq},
						#{mbrSq},
						#{dealTypCd},
						#{dealSttsCd},
						#{dealStrtPrc},
						#{dealStrtDt}
						<if test="dealStrtDtAddDt != null and dealStrtDtAddDt != ''">
						<!-- ,DATE_ADD(#{dealStrtDt}, INTERVAL #{dealStrtDtAddDt} DAY) -->
						<![CDATA[
						,DATE_ADD(DATE_FORMAT(#{dealStrtDt},'%Y-%m-%d %H') + INTERVAL
					   	CASE
							WHEN TIME_FORMAT(#{dealStrtDt},'%i') <  10 THEN 10 
							WHEN TIME_FORMAT(#{dealStrtDt},'%i') <  20 THEN 20
							WHEN TIME_FORMAT(#{dealStrtDt},'%i') <  30 THEN 30
							WHEN TIME_FORMAT(#{dealStrtDt},'%i') <  40 THEN 40
							WHEN TIME_FORMAT(#{dealStrtDt},'%i') <  50 THEN 50
							WHEN TIME_FORMAT(#{dealStrtDt},'%i') <=  59 THEN 00
					   	END MINUTE, INTERVAL #{dealStrtDtAddDt} DAY)
   						]]>
						</if>
						<if test="dealEndngDt != null and dealEndngDt != ''">
						,#{dealEndngDt}
						</if>
						<if test="artstSq != null and artst != ''">
						,#{artstSq}
						</if>
						<if test="dealFinalPrc != null and dealFinalPrc != ''">
						,#{dealFinalPrc}
						</if>
						<if test="dealSq != null and dealSq != ''">
						,#{dealSq}
						</if>
					) 
					ON DUPLICATE KEY UPDATE
						WORK_SQ = #{workSq},
						SELL_MBR_SQ = #{mbrSq},
						DEAL_TYP_CD = #{dealTypCd},
						DEAL_STTS_CD = #{dealSttsCd},
						DEAL_STRT_PRC = #{dealStrtPrc},
						DEAL_STRT_DT = #{dealStrtDt}
						<if test="dealStrtDtAddDt != null and dealStrtDtAddDt != ''">
							<![CDATA[
							,DEAL_ENDNG_DT = DATE_ADD(DATE_FORMAT(#{dealStrtDt},'%Y-%m-%d %H') + INTERVAL
						   	CASE
								WHEN TIME_FORMAT(#{dealStrtDt},'%i') <  10 THEN 10 
								WHEN TIME_FORMAT(#{dealStrtDt},'%i') <  20 THEN 20
								WHEN TIME_FORMAT(#{dealStrtDt},'%i') <  30 THEN 30
								WHEN TIME_FORMAT(#{dealStrtDt},'%i') <  40 THEN 40
								WHEN TIME_FORMAT(#{dealStrtDt},'%i') <  50 THEN 50
								WHEN TIME_FORMAT(#{dealStrtDt},'%i') <=  59 THEN 00
						   	END MINUTE, INTERVAL #{dealStrtDtAddDt} DAY)
    						]]>
						</if>
						<if test="dealEndngDt != null and dealEndngDt != ''">
							,DEAL_ENDNG_DT = #{dealEndngDt}
						</if>
						<if test="artstSq != null and artst != ''">
							,ARTST_SQ = #{artstSq}
						</if>
						<if test="dealFinalPrc != null and dealFinalPrc != ''">
							,DEAL_FINAL_PRC = #{dealFinalPrc}
						</if>
	</insert>
	
	<update id="updateMbrRefNo">
		/*거래 등록 주문번호 등록*/
		UPDATE
				TBL_DA_DEAL_M
		SET
				MBR_REF_NO = CONCAT('D', LPAD(DEAL_SQ, 17, '0'))
		WHERE
				DEAL_SQ = LAST_INSERT_ID()
	</update>
	
	<select id="dealRegOverlapChk" resultType="int" parameterType="hashMap">
		/* 거래 등록 전 중복체크 */
		SELECT 
				COUNT(WORK_SQ)
		FROM
				TBL_DA_DEAL_M
		WHERE 
				WORK_SQ = #{workSq}
			AND DEAL_STTS_CD NOT IN ('FB', 'ST')
	</select>
	
	<select id="dealRegCount" resultType="int" parameterType="hashMap">
		/* 등록된 작품 개수 카운트 */
		SELECT 
				COUNT(SELL_MBR_SQ)
		FROM
				TBL_DA_DEAL_M
		WHERE 
				SELL_MBR_SQ = #{mbrSq}
			AND DEAL_STTS_CD = 'TP'
	</select>
	
	<select id="bidRegCheck1" resultType="int" parameterType="hashMap">
		/*화면에 입력된 응찰가와 실시간 응찰가를 비교한다.*/
		SELECT 
		    	COUNT(*) 
		FROM
			    (SELECT MAX(BID_PRC) AS MAX_BID_PRC FROM TBL_DA_AUCTN_BID_H WHERE DEAL_SQ = #{dealSq} GROUP BY DEAL_SQ) A
		WHERE 
				A.MAX_BID_PRC = ${bidPrc}
	</select>
	
	<select id="bidRegCheck2" resultType="int" parameterType="hashMap">
		/*요청한 응찰가와 실시간 응찰가를 비교한다.*/
		SELECT 
		    	COUNT(*) 
		FROM
			    (SELECT MAX(BID_PRC) AS MAX_BID_PRC FROM TBL_DA_AUCTN_BID_H WHERE DEAL_SQ = #{dealSq} GROUP BY DEAL_SQ) A
		WHERE 
				A.MAX_BID_PRC <![CDATA[>=]]> ${bidPrc}
	</select>
	
	<select id="checkDealEndngTime" parameterType="hashMap" resultType="int">
		/*응찰 시간과 거래 종료시간을 체크한다*/
		SELECT 
				COUNT(DEAL_SQ)
		FROM
				TBL_DA_DEAL_M
		WHERE
				DEAL_SQ = #{dealSq} 
			AND	DEAL_ENDNG_DT <![CDATA[<=]]> NOW() + INTERVAL 1 SECOND
	</select>
	
	<insert id="bidReg" parameterType="hashMap">
		/*응찰 테이블에 insert한다*/
		INSERT INTO 
		
		TBL_DA_AUCTN_BID_H(
		
			MBR_SQ,
			DEAL_SQ,
			BID_PRC,
			BID_DATE
			
		)VALUES(
		
			#{mbrSq},
			#{dealSq},
			#{bidPrc},
			NOW()
		)
	</insert>
	
	<update id="updateDealAuctnPrc" parameterType="hashMap">
		/* 딜 테이블에 응찰 가격 업데이트*/
		UPDATE
				TBL_DA_DEAL_M
		SET
				DEAL_AUCTN_PRC = #{bidPrc}
		WHERE
				DEAL_SQ = #{dealSq}
	</update>
	
	<select id="selectSuccessfulBidList" resultType="hashMap">
		/*경매 종료 시간 지난 경매 정보 가져오기*/
		SELECT 
				A.DEAL_SQ AS dealSq,
				A.WORK_SQ AS workSq,
				B.WORK_NM AS workNm,
				A.SELL_MBR_SQ AS sellMbrSq,
				A.DEAL_TYP_CD AS dealTypCd,
				A.DEAL_AUCTN_PRC AS dealAuctnPrc,
				DATE_FORMAT(A.DEAL_STRT_DT, '%Y.%m.%d %H:%i') AS dealStrtDt,
				DATE_FORMAT(A.DEAL_ENDNG_DT, '%Y.%m.%d %H:%i') AS dealEndngDt
		FROM
				TBL_DA_DEAL_M A
		INNER JOIN 
				TBL_DA_WORK_M B
			ON	A.WORK_SQ = B.WORK_SQ
		WHERE 
				A.DEAL_TYP_CD = 'A'
			AND A.DEAL_STTS_CD = 'TP'
			AND A.DEAL_ENDNG_DT <![CDATA[<=]]> NOW() + INTERVAL 5 SECOND
			AND	B.DEL_YN = 'N' /*작품 삭제 여부 확인 */
	</select>
	
	<select id="selectNotSoldSaleList" resultType="hashMap">
		/*판매 종료 시간 지났지만 판매 되지 않은 정찰가 거래 정보 가져오기*/
		SELECT 
				A.DEAL_SQ AS dealSq,
				A.WORK_SQ AS workSq,
				B.WORK_NM AS workNm,
				A.SELL_MBR_SQ AS sellMbrSq,
				A.BUY_MBR_SQ AS buyMbrSq,
				A.DEAL_TYP_CD AS dealTypCd,
				A.DEAL_AUCTN_PRC AS dealAuctnPrc,
				DATE_FORMAT(A.DEAL_STRT_DT, '%Y.%m.%d %H:%i') AS dealStrtDt,
				DATE_FORMAT(A.DEAL_ENDNG_DT, '%Y.%m.%d %H:%i') AS dealEndngDt
		FROM
				TBL_DA_DEAL_M A
		INNER JOIN 
				TBL_DA_WORK_M B
			ON	A.WORK_SQ = B.WORK_SQ
		WHERE 
				A.DEAL_TYP_CD = 'S'
			AND A.DEAL_STTS_CD = 'TP'
			AND A.DEAL_ENDNG_DT <![CDATA[<=]]> NOW() + INTERVAL 5 SECOND
			AND	B.DEL_YN = 'N' /*작품 삭제 여부 확인 */
	</select>
	
	<select id="selectSuccessfulBidBuyMbrSq" resultType="String">
		/*경매 종료된 거래 낙찰자 가져오기*/
		SELECT 
				MBR_SQ AS buyMbrSq
		FROM 
				TBL_DA_AUCTN_BID_H
		WHERE 
				 DEAL_SQ = #{dealSq}
		ORDER BY BID_PRC DESC
		LIMIT 1
	</select>
	
	<update id="updateSuccessfulBidDeal" parameterType="String">
		/*경매 종료된 거래 정보 업데이트*/
		UPDATE 
				TBL_DA_DEAL_M
		SET
				DEAL_STTS_CD = 'TC'
				<if test="buyMbrSq != null and buyMbrSq != ''">
					,BUY_MBR_SQ = #{buyMbrSq}
				</if>
				<if test="dealSbidPrc != null and dealSbidPrc != ''">
					,DEAL_SBID_PRC = #{dealSbidPrc}
				</if>
				<if test="dealFinalPrc != null and dealFinalPrc != ''">
					,DEAL_FINAL_PRC = #{dealFinalPrc}
				</if>
		WHERE 
				DEAL_SQ = #{dealSq}
	</update>
	
	<update id="updateFailedBidDeal" parameterType="String">
		/*유찰된 거래 거래 상태 유찰로 변경*/
		UPDATE
				TBL_DA_DEAL_M
		SET
				DEAL_STTS_CD = 'FB'
		WHERE
				DEAL_SQ = #{dealSq}
	</update>
	
	<select id="workDetail" resultType="hashMap" parameterType="String">
		/*작품 상세 정보 가져오기*/
		SELECT 
		       A.WORK_SQ                    AS workSq
		     , A.ARTST_SQ                   AS artstSq
		     , A.MBR_SQ                     AS mbrSq
		     , IF(A.WORK_MAIN_IMG_URL IS NULL, A.WORK_IMG_FRT_URL, A.WORK_MAIN_IMG_URL) AS workMainImgUrl /*작품대표이미지주소*/
		     , A.ARTST_ACTVTY_NM            AS artstActvtyNm
		     , A.WORK_NM                    AS workNm
		     , A.WORK_PRODC_YEAR            AS workProdcYear
		     , A.WORK_MATRL                 AS workMatrl
		     , A.WORK_FRM_YN                AS workFrmYn
		     , A.WORK_SIZE_WIDTH            AS workSizeWidth
		     , A.WORK_SIZE_DEPTH            AS workSizeDepth
		     , A.WORK_SALE_YN               AS workSaleYn
		     , A.WORK_CLR_CD                AS workClrCd
		     , A.ARTST_ENGLS_NM             AS artstEnglsNm
		     , A.WORK_IMG_FRT_URL           AS workImgFrtUrl /*전면이미지주소*/
		     , A.WORK_IMG_RER_URL           AS workImgRerUrl /*후면이미지주소*/
		     , A.WORK_IMG_TOP_URL           AS workImgTopUrl /*상 이미지주소*/
		     , A.WORK_IMG_BOT_URL           AS workImgBotUrl /*히 이미지주소*/
		     , A.WORK_IMG_LEF_URL           AS workImgLefUrl /*좌 이미지주소*/
		     , A.WORK_IMG_RIT_URL           AS workImgRitUrl /*우 이미지주소*/
		     , A.WORK_LAKE                  AS workLake
		     , FORMAT(A.WORK_PRC, 0)        AS workPrc
		     , B.MBR_NCKNM                  AS mbrNcknm
		     , A.WORK_STATE                 AS workState
		     <!-- , IFNULL(C.COMT_SALES_YN, 'N') AS salesYn       /* 작품 판매 가능 여부 2023.10.12일 홍충기 추가*/ -->
		  FROM TBL_DA_WORK_M  AS A
		 INNER JOIN
		       TBL_DA_MBR_M   AS B
		    ON A.MBR_SQ  = B.MBR_SQ
		  <!-- LEFT OUTER JOIN 
		       TBL_DA_COMT_M  AS C     /* 공통코드 2023.10.12일 홍충기 추가 - 작품 판매 가능 여부 확인 */
		    ON A.MBR_SQ  = B.MBR_SQ
		   AND A.WORK_SQ = C.WORK_SQ  -->
		 WHERE 1=1
		   AND A.WORK_SQ = #{workSq}
		   AND A.DEL_YN  = 'N' /*작품 삭제 여부 확인 */
	</select>
	
	<select id="soldoutDetail" resultType="hashMap" parameterType="String">
		/*작품 상세 정보 가져오기*/
		SELECT 
				A.WORK_SQ AS workSq,
				A.ARTST_SQ AS artstSq,
				C.DEAL_SQ AS dealSq,
				A.MBR_SQ AS mbrSq,
				IF(A.WORK_MAIN_IMG_URL IS NULL, A.WORK_IMG_FRT_URL, A.WORK_MAIN_IMG_URL) AS workMainImgUrl, /*작품대표이미지주소*/
				A.ARTST_ACTVTY_NM AS artstActvtyNm,
				A.WORK_NM AS workNm,
				A.WORK_PRODC_YEAR AS workProdcYear,
				A.WORK_MATRL AS workMatrl,
				A.WORK_FRM_YN AS workFrmYn,
				A.WORK_SIZE_WIDTH AS workSizeWidth,
				A.WORK_SIZE_DEPTH AS workSizeDepth,
				A.WORK_SALE_YN AS workSaleYn,
				A.WORK_CLR_CD AS workClrCd,
				A.ARTST_ENGLS_NM AS artstEnglsNm,
				A.WORK_IMG_FRT_URL AS workImgFrtUrl, /*전면이미지주소*/
	            A.WORK_IMG_RER_URL AS workImgRerUrl, /*후면이미지주소*/
	            A.WORK_IMG_TOP_URL AS workImgTopUrl, /*상 이미지주소*/
	            A.WORK_IMG_BOT_URL AS workImgBotUrl, /*히 이미지주소*/
	            A.WORK_IMG_LEF_URL AS workImgLefUrl, /*좌 이미지주소*/
	            A.WORK_IMG_RIT_URL AS workImgRitUrl, /*우 이미지주소*/
	            A.WORK_LAKE AS workLake,
				FORMAT(A.WORK_PRC, 0) AS workPrc,
				B.MBR_NCKNM AS mbrNcknm,
				A.WORK_STATE AS workState,
				C.DEAL_TYP_CD AS dealTypCd,
				FORMAT(C.DEAL_STRT_PRC, 0) AS dealStrtPrc,
				FORMAT(C.DEAL_SBID_PRC, 0) AS dealSbidPrc,
				FORMAT(C.DEAL_FINAL_PRC, 0) AS dealFinalPrc,
				DATE_FORMAT(C.DEAL_STRT_DT, '%Y.%m.%d %H:%i') AS dealStrtDt,
				DATE_FORMAT(C.DEAL_ENDNG_DT, '%Y.%m.%d %H:%i') AS dealEndngDt,
				(SELECT
						MBR_NCKNM
				FROM
						TBL_DA_MBR_M
				WHERE
						MBR_SQ = C.BUY_MBR_SQ) AS buyNcknm
		FROM
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_DEAL_M AS C
			ON	A.WORK_SQ = C.WORK_SQ
		WHERE 
				C.DEAL_SQ = #{dealSq}
		  AND	A.DEL_YN = 'N' /*작품 삭제 여부 확인 */
	</select>
	
	<select id="selectAutoBid" resultType="hashMap" parameterType="hashMap">
		/*자동응찰 내용 조회*/
		SELECT
				MBR_SQ AS mbrSq,
				DEAL_SQ AS dealSq,
				AUTO_BID_PRC AS autoBidPrc
		FROM 
				TBL_DA_AUTO_BID_H
		WHERE 
				DEAL_SQ = #{dealSq}
				<!-- AND AUTO_BID_PRC <![CDATA[>=]]> ${bidPrc} -->
		ORDER BY AUTO_BID_DT DESC, AUTO_BID_PRC DESC 
	</select>
	<select id="selectMaxAutoBidPrc" resultType="hashMap" parameterType="long">
		/*자동응찰 최고 금액 조회*/
		SELECT
				AUTO_BID_PRC
		FROM 
				TBL_DA_AUTO_BID_H
		WHERE 
				DEAL_SQ = #{dealSq}
				AND AUTO_BID_PRC <![CDATA[>]]> #{bidPrc}
		ORDER BY AUTO_BID_PRC DESC
		LIMIT 1
	</select>
	
	<select id="checkAutoBid" resultType="int" parameterType="hashMap">
		/*자동응찰 중복 체크*/
		SELECT 
		    	COUNT(*) 
		FROM
			    (SELECT MAX(AUTO_BID_PRC) AS MAX_AUTO_BID_PRC FROM TBL_DA_AUTO_BID_H WHERE DEAL_SQ = #{dealSq} GROUP BY DEAL_SQ) A
		WHERE 
				A.MAX_AUTO_BID_PRC <![CDATA[>=]]> ${autoBidPrc}
	</select>
	
	<insert id="insertAutoBid">
		/*자동응찰 등록*/
		INSERT INTO
					TBL_DA_AUTO_BID_H(
						MBR_SQ,
						DEAL_SQ,
						AUTO_BID_PRC,
						AUTO_BID_DT
					) VALUES (
						#{mbrSq},
						#{dealSq},
						${autoBidPrc},
						NOW()
					)
	</insert>
	<update id="updateLastBid">
		/*마지막 입찰자 자동응찰 빠른 순으로 변경*/
		UPDATE
				TBL_DA_AUCTN_BID_H
		SET
				MBR_SQ = #{mbrSq}
		WHERE
				DEAL_SQ = #{dealSq}
			AND BID_PRC = #{bidPrc}
	</update>
	<select id="selectAuctnBidList" resultType="hashMap" parameterType="String">
		/* 거래내역 리스트 가져오기 (응찰히스토리)*/
		SELECT 
				A.BID_PRC AS bidPrc,
				DATE_FORMAT(A.BID_DATE, '%Y.%m.%d %H:%i:%s') AS bidDate,
				B.MBR_NCKNM AS mbrNcknm,
				C.DEAL_STRT_PRC AS dealStrtPrc,
				DATE_FORMAT(C.DEAL_STRT_DT, '%Y.%m.%d %H:%i:%s') AS dealStrtDate,
				(SELECT MBR_NCKNM FROM TBL_DA_MBR_M WHERE MBR_SQ = C.SELL_MBR_SQ) AS sellMbrNcknm
		FROM 
				TBL_DA_AUCTN_BID_H AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_DEAL_M AS C
			ON	A.DEAL_SQ = C.DEAL_SQ
		WHERE 
				A.DEAL_SQ = #{dealSq}
		GROUP BY A.MBR_SQ, A.BID_PRC
	</select>
	
	<select id="selectDeal" resultType="hashMap" parameterType="String">
		/* 거래 등록된 정보 가져오기 */
		SELECT 
				DEAL_SQ AS dealSq,
				SELL_MBR_SQ AS sellMbrSq,
				WORK_SQ AS workSq,
				DEAL_TYP_CD AS dealTypCd,
				DEAL_STTS_CD AS dealSttsCd,
				FORMAT(DEAL_STRT_PRC, 0) AS dealStrtPrc,
				DATE_FORMAT(DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate,
				DATE_FORMAT(DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate,
				DATE_FORMAT(DEAL_STRT_DT, '%H:%i') AS dealStrtTime,
				DATE_FORMAT(DEAL_ENDNG_DT, '%H:%i') AS dealEndngTime,
				DEAL_AUCTN_PRC AS dealAuctnPrc
		FROM 
				TBL_DA_DEAL_M
		WHERE 
				DEAL_SQ = #{dealSq}
	</select>
	
	<select id="selectWork" resultType="hashMap" parameterType="String">
		/* 작품 정보 가져오기 */
		SELECT 
				A.WORK_SQ AS workSq,
				A.WORK_NM AS workNm,
				A.WORK_TYP_CD AS workTypCd,
				A.ARTST_SQ AS artstSq,
				A.ARTST_ACTVTY_NM AS artstActvtyNm,
				A.ARTST_BIRTH_YEAR AS artstBirthYear,
				A.WORK_LAKE AS workLake,
				A.WORK_SIZE_WIDTH AS workSizeWidth,
				A.WORK_SIZE_DEPTH AS workSizeDepth,
				A.WORK_MATRL AS workMatrl,
				A.WORK_PRODC_YEAR AS workProdcYear,
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_IMG_FRT_URL AS workImgFrtUrl,
				A.WORK_IMG_RER_URL AS workImgRerUrl,
				A.WORK_FRM_YN AS workFrmYn,
				A.WORK_SALE_YN AS workSaleYn,
				A.WORK_CLR_CD AS workClrCd,
				A.WORK_GRT_URL AS workGrtUrl,
				FORMAT(A.WORK_PRC, 0) AS workPrc,
				A.WORK_IMG_LEF_URL AS workImgLefUrl,
				A.WORK_IMG_RIT_URL AS workImgRitUrl,
				A.WORK_IMG_TOP_URL AS workImgTopUrl,
				A.WORK_IMG_BOT_URL AS workImgBotUrl,
				A.WORK_VIDEO_URL AS workVideoUrl,
				A.WORK_INTRDC AS workIntrdc,
				(SELECT B.KEYWRD_SQ  
				 FROM TBL_DA_KEYWRD_S AS B
				 WHERE A.WORK_SQ = B.WORK_SQ) AS keywrdSq,
				(SELECT B.KEYWRD
				 FROM TBL_DA_KEYWRD_S AS B
				 WHERE A.WORK_SQ = B.WORK_SQ) AS keywrd,
				 WORK_OPEN_YN AS workOpenYn,
				 A.WORK_STATE AS workState
		FROM 
				TBL_DA_WORK_M AS A
				
		WHERE 
				A.WORK_SQ = #{workSq}
			AND	A.DEL_YN = 'N' /*작품 삭제 여부 확인 */
	</select>
	
	<select id="selectDealSttsCd" resultType="int" parameterType="hashMap">
		/* 응찰 또는 판매됬는지 확인 */
		SELECT COUNT(*)
		FROM
				(
				SELECT 
						DEAL_SQ AS dealSq
				FROM
						TBL_DA_DEAL_M
				WHERE 
						DEAL_SQ = #{dealSq}
					AND (DEAL_STTS_CD != 'TP' OR DEAL_AUCTN_PRC IS NOT NULL)
				) A
	</select>
	
	<delete id="deleteDeal" parameterType="String">
		/* 거래 중단 */
		DELETE 
		FROM TBL_DA_DEAL_M 
		WHERE DEAL_SQ = #{dealSq}
	</delete>
	
	<select id="deleteDealFailedList" parameterType="String" resultType="hashMap">
		/*판매 중단 실패한 작품 리스트*/
		SELECT
				B.DEAL_SQ AS dealSq,
				A.WORK_SQ AS workSq,
				IF(A.WORK_PRODC_YEAR IS NULL OR A.WORK_PRODC_YEAR = '', A.WORK_NM, CONCAT(A.WORK_NM, ' (', A.WORK_PRODC_YEAR, ')')) AS workNm,
				A.ARTST_ACTVTY_NM AS artstActvtyNm,
				IF(A.ARTST_YOD IS NULL OR A.ARTST_YOD = '', A.ARTST_BIRTH_YEAR, CONCAT(A.ARTST_BIRTH_YEAR, '~' ,A.ARTST_YOD)) AS artstBirthYear
		FROM
				TBL_DA_WORK_M A
		INNER JOIN
				TBL_DA_DEAL_M B
			ON	A.WORK_SQ = B.WORK_SQ
			AND B.DEAL_STTS_CD != 'FB'
		WHERE
				B.DEAL_SQ = #{dealSq}
	</select>
	
	<select id="selectAuctioneerByMbrSq" resultType="hashMap" parameterType="String">
		/* 거래 종료된 경매 유찰자 조회*/
		SELECT 
				A.MBR_SQ AS mbrSq,
				A.BID_DATE AS bidDate
		FROM 
				(
				SELECT 
						*
				FROM 
						TBL_DA_AUCTN_BID_H
				WHERE 
						DEAL_SQ = #{bidDealSq}
					AND (BID_DATE) IN (
							SELECT MAX(BID_DATE) AS bidDate
							FROM TBL_DA_AUCTN_BID_H
							GROUP BY MBR_SQ
						)
				ORDER BY BID_DATE
				) A
		WHERE A.MBR_SQ != #{bidBuyMbrSq}
		GROUP BY A.MBR_SQ
	</select>
	
	<select id="selectWorkAll" resultType="hashMap" parameterType="String">
		/*구매확정 처리할 작품/거래 정보 전체 조회*/
		SELECT 
				A.WORK_SQ AS workSq,
				A.MBR_SQ AS mbrSq,
				A.ARTST_SQ AS artstSq,
				A.WORK_NM AS workNm,
				A.WORK_MATRL AS workMatrl,
				A.WORK_TYP_CD AS workTypCd,
				A.WORK_SHP_CD AS workShpCd,
				A.WORK_CLSFC_CD AS workClsfcCd,
				A.WORK_SIZE_WIDTH AS workSizeWidth,
				A.WORK_SIZE_DEPTH AS workSizeDepth,
				A.WORK_SIZE_HEIGHT AS workSizeHeight,
				A.WORK_SIZE_WEIGHT AS workSizeWeigth,
				A.WORK_LAKE AS workLake,
				A.WORK_MAIN_IMG_URL AS workMainImgUrl,
				A.WORK_FRM_IMG_URL AS workFrmImgUrl,
				A.WORK_MDIA AS workMdia,
				A.WORK_PRODC_YEAR AS workProdcYear,
				A.WORK_PRC AS workPrc,
				A.WORK_SALE_YN AS workSaleYn,
				A.WORK_INTRDC AS workIntrdc,
				A.WORK_CLR_CD AS workClrCd,
				A.WORK_THM_CD AS workThmCd,
				A.REG_MBR_SQ AS regMbrSq,
				A.REG_DT AS regDt,
				A.UPDT_MBR_SQ AS updtMbrSq,
				A.UPDT_DT AS updtDt,
				A.USE_YN AS UseYn,
				A.DEL_YN AS delYn,
				A.ARTST_ACTVTY_NM AS artstActvtNm,
				A.ARTST_ENGLS_NM AS artstEnglsNm,
				A.ARTST_BIRTH_YEAR AS artstBirthYear,
				A.WORK_IMG_FRT_URL AS workImgFrtUrl,
				A.WORK_IMG_RER_URL AS workImgRerUrl,
				A.WORK_IMG_TOP_URL AS workImgTopUrl,
				A.WORK_IMG_BOT_URL AS workImgBotUrl,
				A.WORK_IMG_LEF_URL AS workImgLefUrl,
				A.WORK_IMG_RIT_URL AS workImgRitUrl,
				A.WORK_FRM_YN AS workFrmYn,
				A.WORK_VIDEO_URL AS workVideoUrl,
				A.WORK_GRT_URL AS workGrtUrl,
				B.DEAL_SQ AS dealSq,
				B.SELL_MBR_SQ AS sellMbrSq,
				B.BUY_MBR_SQ AS buyMbrSq,
				B.DEAL_FINAL_PRC AS dealFinalPrc,
				<![CDATA[
				(CASE
					WHEN B.DEAL_ENDNG_DT >= '2022-09-01 00:00:00' AND B.DEAL_ENDNG_DT <= '2022-10-01 00:00:00' THEN 'Y'
				ELSE
					'N'
				END
				) AS eventYn
				]]>
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_DEAL_M AS B
			ON	A.WORK_SQ = B.WORK_SQ
		WHERE 
				B.DEAL_SQ = #{dealSq}
			AND	A.DEL_YN = 'N' /*작품 삭제 여부 확인 */
	</select>
	<insert id="insertCollectionAll" parameterType="hashMap">
		/*구매 확정 된 작품 소장품으로 등록*/
		INSERT INTO
				TBL_DA_WORK_M(
						MBR_SQ,
						WORK_NM,
						WORK_TYP_CD,
						WORK_SALE_YN,
						WORK_CLR_CD,
						USE_YN,
						DEL_YN,
						ARTST_ACTVTY_NM,
						WORK_IMG_FRT_URL,
						WORK_FRM_YN,
						REG_MBR_SQ,
						REG_DT
						<if test="artstSq != null and artstSq != ''">
						,ARTST_SQ
						</if>
						<if test="workMatrl != null and workMatrl != ''">
						,WORK_MATRL
						</if>
						<if test="workShpCd != null and workShpCd != ''">
						,WORK_SHP_CD
						</if>
						<if test="workClsfcCd != null and workClsfcCd != ''">
						,WORK_CLSFC_CD
						</if>
						<if test="workSizeWidth != null and workSizeWidth != ''">
						,WORK_SIZE_WIDTH
						</if>
						<if test="workSizeDepth != null and workSizeDepth != ''">
						,WORK_SIZE_DEPTH
						</if>
						<if test="workSizeHeight != null and workSizeHeight != ''">
						,WORK_SIZE_HEIGHT
						</if>
						<if test="workSizeWeigth != null and workSizeWeigth != ''">
						,WORK_SIZE_WEIGHT
						</if>
						<if test="workLake != null and workLake != ''">
						,WORK_LAKE
						</if>
						<if test="workMainImgUrl != null and workMainImgUrl != ''">
						,WORK_MAIN_IMG_URL
						</if>
						<if test="workFrmImgUrl != null and workFrmImgUrl != ''">
						,WORK_FRM_IMG_URL
						</if>
						<if test="workMdia != null and workMdia != ''">
						,WORK_MDIA
						</if>
						<if test="workProdcYear != null and workProdcYear != ''">
						,WORK_PRODC_YEAR
						</if>
						<if test="workPrc != null and workPrc != ''">
						,WORK_PRC
						</if>
						<if test="workIntrdc != null and workIntrdc != ''">
						,WORK_INTRDC
						</if>
						<if test="workThmCd != null and workThmCd != ''">
						,WORK_THM_CD
						</if>
						<if test="artstEnglsNm != null and artstEnglsNm != ''">
						,ARTST_ENGLS_NM
						</if>
						<if test="artstBirthYear != null and artstBirthYear != ''">
						,ARTST_BIRTH_YEAR
						</if>
						<if test="workImgRerUrl != null and workImgRerUrl != ''">
						,WORK_IMG_RER_URL
						</if>
						<if test="workImgTopUrl != null and workImgTopUrl != ''">
						,WORK_IMG_TOP_URL
						</if>
						<if test="workImgBotUrl != null and workImgBotUrl != ''">
						,WORK_IMG_BOT_URL
						</if>
						<if test="workImgLefUrl != null and workImgLefUrl != ''">
						,WORK_IMG_LEF_URL
						</if>
						<if test="workImgRitUrl != null and workImgRitUrl != ''">
						,WORK_IMG_RIT_URL
						</if>
						<if test="workVideoUrl != null and workVideoUrl != ''">
						,WORK_VIDEO_URL
						</if>
						<if test="workGrtUrl != null and workGrtUrl != ''">
						,WORK_GRT_URL
						</if>
				) VALUES (
						#{buyMbrSq},
						#{workNm},
						'COLL',
						'N',
						#{workClrCd},
						'Y',
						'N',
						#{artstActvtNm},
						#{workImgFrtUrl},
						#{workFrmYn},
						#{buyMbrSq},
						NOW()
						<if test="artstSq != null and artstSq != ''">
						,#{artstSq}
						</if>
						<if test="workMatrl != null and workMatrl != ''">
						,#{workMatrl}
						</if>
						<if test="workShpCd != null and workShpCd != ''">
						,#{workShpCd}
						</if>
						<if test="workClsfcCd != null and workClsfcCd != ''">
						,#{workClsfcCd}
						</if>
						<if test="workSizeWidth != null and workSizeWidth != ''">
						,#{workSizeWidth}
						</if>
						<if test="workSizeDepth != null and workSizeDepth != ''">
						,#{workSizeDepth}
						</if>
						<if test="workSizeHeight != null and workSizeHeight != ''">
						,#{workSizeHeight}
						</if>
						<if test="workSizeWeigth != null and workSizeWeigth != ''">
						,#{workSizeWeigth}
						</if>
						<if test="workLake != null and workLake != ''">
						,#{workLake}
						</if>
						<if test="workMainImgUrl != null and workMainImgUrl != ''">
						,#{workMainImgUrl}
						</if>
						<if test="workFrmImgUrl != null and workFrmImgUrl != ''">
						,#{workFrmImgUrl}
						</if>
						<if test="workMdia != null and workMdia != ''">
						,#{workMdia}
						</if>
						<if test="workProdcYear != null and workProdcYear != ''">
						,#{workProdcYear}
						</if>
						<if test="workPrc != null and workPrc != ''">
						,#{workPrc}
						</if>
						<if test="workIntrdc != null and workIntrdc != ''">
						,#{workIntrdc}
						</if>
						<if test="workThmCd != null and workThmCd != ''">
						,#{workThmCd}
						</if>
						<if test="artstEnglsNm != null and artstEnglsNm != ''">
						,#{artstEnglsNm}
						</if>
						<if test="artstBirthYear != null and artstBirthYear != ''">
						,#{artstBirthYear}
						</if>
						<if test="workImgRerUrl != null and workImgRerUrl != ''">
						,#{workImgRerUrl}
						</if>
						<if test="workImgTopUrl != null and workImgTopUrl != ''">
						,#{workImgTopUrl}
						</if>
						<if test="workImgBotUrl != null and workImgBotUrl != ''">
						,#{workImgBotUrl}
						</if>
						<if test="workImgLefUrl != null and workImgLefUrl != ''">
						,#{workImgLefUrl}
						</if>
						<if test="workImgRitUrl != null and workImgRitUrl != ''">
						,#{workImgRitUrl}
						</if>
						<if test="workVideoUrl != null and workVideoUrl != ''">
						,#{workVideoUrl}
						</if>
						<if test="workGrtUrl != null and workGrtUrl != ''">
						,#{workGrtUrl}
						</if>
				)
	</insert>
	<update id="updateDealWorkToPC" parameterType="hashMap">
		/*구매확정 거래 상태 작품 판매 여부 사용 여부 수정*/
  		UPDATE 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_DEAL_M AS B
			ON	A.WORK_SQ = B.WORK_SQ
		INNER JOIN
				TBL_DA_WORK_DEAL_H AS C
			ON	B.DEAL_SQ = C.DEAL_SQ
		SET		
				A.USE_YN = 'N',
				A.WORK_SALE_YN = 'Y',
				A.UPDT_DT = NOW(),
				A.UPDT_MBR_SQ = #{sellMbrSq},
				B.DEAL_STTS_CD = 'PC',
				C.DEAL_FINAL_PRC = #{dealFinalPrc},
				C.DEAL_SELL_FEE = #{dealSellFee},
				C.DEAL_CALC_PRC = #{dealCalcPrc}
		WHERE  
				B.DEAL_SQ = #{dealSq}
			AND	A.DEL_YN = 'N' /*작품 삭제 여부 확인 */
	</update>
</mapper>