<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.da.mapper.DealMapper">
	<select id="dealSerach" resultType="hashMap" parameterType="hashMap">
		/*딜 검색*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				YEAR (B.MBR_BIRTH) AS artstBirthYear, /*작가생년월일*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				D.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				D.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_HEIGHT AS workSizeHeight, /*작품사이즈높이*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				(SELECT MAX(BID_PRC)
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				D.DEAL_STRT_PRC AS dealStrtPrc, /*거래시작가격*/
				D.DEAL_SBID_PRC AS dealSbidPrc, /*거래낙찰가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE D.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				DATE_FORMAT(D.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(D.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				DATEDIFF(D.DEAL_ENDNG_DT, NOW()) AS dealRemainingDay, /*거래남은일자*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%H') AS dealRemainingHour, /*거래남은시*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%i') AS dealRemainingMin, /*거래남은분*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%s') AS dealRemainingSec /*거래남은초*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		INNER JOIN 
				TBL_DA_DEAL_M AS D
			ON 	A.WORK_SQ = D.WORK_SQ 
		WHERE
				1=1
			<if test="authSq != null and authSq != ''">
				AND B.AUTH_SQ = #{authSq}
        	</if>	
			<if test="dealTypCds.size != 0 and dealTypCds != null">
				AND D.DEAL_TYP_CD IN
				<foreach collection="dealTypCds" item="item" index="idex"  open="(" close=")" separator=",">
		        	#{item}
		        </foreach>
        	</if>
        	<if test="dealSttsCds.size != 0 and dealSttsCds != null">
				AND D.DEAL_STTS_CD IN
				<foreach collection="dealSttsCds" item="item" index="idex"  open="(" close=")" separator=",">
		        	#{item}
		        </foreach>
        	</if>
			<if test="workShpCds.size != 0 and workShpCds != null">
				AND A.WORK_SHP_CD IN
				<foreach collection="workShpCds" item="item" index="idex"  open="(" close=")" separator=",">
		        	#{item}
		        </foreach>
        	</if>
	        <if test="workClsfcCds.size != 0 and workClsfcCds != null">
				AND A.WORK_CLSFC_CD IN
				<foreach collection="workClsfcCds" item="item" index="idex"  open="(" close=")" separator=",">
		        	#{item}
		        </foreach>
	        </if>
	</select>
	<select id="dealDetail" parameterType="String" resultType="hashMap">
		/*응찰하기*/
		SELECT 
				D.DEAL_SQ AS dealSq, /*거래순번*/
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				B.MBR_NCKNM AS mbrNcknm, /*작가 닉네임*/
				YEAR (B.MBR_BIRTH) AS artstBirthYear, /*작가생년월일*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				D.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				D.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_HEIGHT AS workSizeHeight, /*작품사이즈높이*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_GRT_URL AS workGrtUrl, /*작품보증서URL*/
				A.WORK_FRM_YN AS workFrmYn, /*작품액자유무*/
				D.MBR_REF_NO AS mbrRefNo, /*거래주문코드*/
				(SELECT FORMAT(MAX(BID_PRC), 0)
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(D.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(D.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE D.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				(SELECT MBR_SQ 
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ
				ORDER BY BID_DATE DESC LIMIT 1) AS bidMbrSq, /*마지막 응찰 회원 순번*/
				DATE_FORMAT(D.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(D.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				DATEDIFF(D.DEAL_ENDNG_DT, NOW()) AS dealRemainingDay, /*거래남은일자*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%H') AS dealRemainingHour, /*거래남은시*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%i') AS dealRemainingMin, /*거래남은분*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%s') AS dealRemainingSec /*거래남은초*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		INNER JOIN 
				TBL_DA_DEAL_M AS D
			ON 	A.WORK_SQ = D.WORK_SQ 
		WHERE 
				A.WORK_SQ = #{workSq}
	</select>
	
	<insert id="dealReg">
		/*거래 등록*/
		INSERT INTO
					TBL_DA_DEAL_M (
						WORK_SQ,
						MBR_REF_NO,
						DEAL_TYP_CD,
						DEAL_STTS_CD,
						DEAL_STRT_PRC,
						DEAL_STRT_DT,
						DEAL_ENDNG_DT
						<if test="artstSq != null and artst != ''">
							,ARTST_SQ
						</if>
						<if test="dealFinalPrc != null and dealFinalPrc != ''">
							,DEAL_FINAL_PRC
						</if>
					) VALUES (
						#{workSq},
						CONCAT('D', LPAD(#{workSq}, 19, '0')),
						#{dealTypCd},
						#{dealSttsCd},
						#{dealStrtPrc},
						#{dealStrtDt}
						<if test="dealStrtDtAddDt != null and dealStrtDtAddDt != ''">
							,DATE_ADD(#{dealStrtDt}, INTERVAL #{dealStrtDtAddDt} DAY)
						</if>
						<if test="dealEndngDt != null and dealEndngDt != ''">
							,#{dealEndngDt}
						</if>
						<if test="artstSq != null and artst != ''">
							,#{artstSq}
						</if>
						<if test="dealFinalPrc != null and dealFinalPrc != ''">
							,#{dealFinalPrc}
						</if>
					) ON DUPLICATE KEY UPDATE
						DEAL_TYP_CD = #{dealTypCd},
						DEAL_STTS_CD = #{dealSttsCd},
						DEAL_STRT_PRC = #{dealStrtPrc},
						DEAL_STRT_DT = #{dealStrtDt}
						<if test="dealStrtDtAddDt != null and dealStrtDtAddDt != ''">
							,DEAL_ENDNG_DT = DATE_ADD(#{dealStrtDt}, INTERVAL #{dealStrtDtAddDt} DAY)
						</if>
						<if test="dealEndngDt != null and dealEndngDt != ''">
							,DEAL_STRT_DT = #{dealEndngDt}
						</if>
						<if test="artstSq != null and artstSq != ''">
							,ARTST_SQ = #{artstSq}
						</if>
	</insert>
	
</mapper>