<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.da.mapper.MainMapper">
	<select id="mainHotest" resultType="hashMap">
		/*오늘의 입찰*/
		SELECT 
				C.DEAL_SQ AS dealSq, /*거래번호*/
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				YEAR (B.MBR_BIRTH) AS artstBirthYear, /*작가생년월일*/
				C.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				C.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				(SELECT MAX(BID_PRC)
				FROM TBL_DA_AUCTN_BID_H
				WHERE C.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(C.DEAL_FINAL_PRC, 0) AS dealFinalPrc, /*거래최종가격*/
				FORMAT(C.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(C.DEAL_SBID_PRC, 0) AS dealSbidPrc /*거래낙찰가격*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN 
				TBL_DA_DEAL_M AS C
			ON 	A.WORK_SQ = C.WORK_SQ 
		WHERE
				C.DEAL_SQ IS NOT NULL
			AND C.DEAL_STTS_CD = "TP"
	</select>
	
	<select id="mainTodayBid" resultType="hashMap">
		/*오늘의 낙찰*/
		SELECT 	A.WORK_SQ AS workSq, <!-- 작품_순번 --> 
				A.MBR_SQ AS mbrSq, <!-- 멤버_순번 -->
				B.DEAL_SQ AS dealSq, <!-- 거래_순번 -->
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, <!-- 작품_대표_이미지 -->
				C.ARTST_ACTVTY_NM AS artstActvtyNm, <!-- 작가_활동명 -->
				C.ARTST_ENGLS_NM AS artstEnglsNm, <!-- 작가_영문명 --> 
				A.WORK_MATRL AS workMatrl, <!-- 작품_소재 --> 
				A.WORK_NM AS workNm, <!-- 작품_명 --> 
				A.WORK_SIZE_WIDTH AS workSizeWidth, <!-- 작품_사이즈_가로 --> 
				A.WORK_SIZE_DEPTH AS workSizeDepth, <!-- 작품_사이즈_세로 -->
				A.WORK_SIZE_HEIGHT AS workSizeHeight, <!--  작품_사이즈_높이 -->
				A.WORK_PRODC_YEAR AS workProdcYear, <!-- 작품_제작년도 --> 
				B.DEAL_SBID_PRC AS dealSbidPrc, <!-- 작품_낙찰_금액 --> 
				B.DEAL_ENDNG_DT AS dealEndngDate <!-- 작품_낙찰_일시 -->
		FROM 	TBL_DA_WORK_M AS A,
				TBL_DA_DEAL_M AS B,
				TBL_DA_ARTST_M AS C
		WHERE 	B.DEAL_STTS_CD NOT IN ('IP')
		<!-- 테스트를 위해 임시 주석처리 -->
		<!--  AND 	DATE_FORMAT(B.DEAL_ENDNG_DT, '%Y-%m-%d') = #{now} --> 
		AND 	B.WORK_SQ = A.WORK_SQ
		AND		A.ARTST_SQ = C.ARTST_SQ
		LIMIT #{pageSize}
		OFFSET #{page};
		
	</select>
	
	<select id="mainInsights" resultType="hashMap">
		/*메인 인사이트 조회*/
		SELECT 
				 MGZ_SQ 			as mgzSq
				,MGZ_TITLE 			as mgzTitle
				,MGZ_DESCRPTN       as mgzDescrptn  
				,MGZ_MAIN_IMG_URL 	as mgzMainImgUrl
		FROM TBL_DA_MGZ_M
		WHERE (USE_YN = 'Y' AND DEL_YN = 'N')
		AND MGZ_TYP_CD = 'IST'
		
	</select>
	
	<select id="totalSearchAutocompleteWork" resultType="hashMap" parameterType="String">
		/*작품 자동완성*/
		SELECT	
				A.MBR_SQ AS mbrSq,
				A.ARTST_SQ AS artstSq,
				A.WORK_SQ AS workSq,
				A.WORK_NM AS workNm,
				A.WORK_PRODC_YEAR AS workProdcYear,
				A.ARTST_ACTVTY_NM AS artstActvtyNm,
				(SELECT DEAL_STTS_CD
				FROM TBL_DA_DEAL_M
				WHERE A.WORK_SQ = WORK_SQ) AS dealSttsCd
				<!-- B.KEYWRD AS keywrd -->
		FROM	
				TBL_DA_WORK_M AS A
		<!-- INNER JOIN  
				TBL_DA_KEYWRD_S AS B 
			ON 	A.WORK_SQ = B.WORK_SQ -->
		WHERE 	
				A.ARTST_ACTVTY_NM LIKE CONCAT('%',#{searchKeyword},'%')
			OR  A.WORK_NM LIKE CONCAT('%',#{searchKeyword},'%')
			OR  A.WORK_PRODC_YEAR LIKE CONCAT('%',#{searchKeyword},'%')
			<!-- OR  B.KEYWRD LIKE CONCAT('%',#{searchKeyword},'%') -->
		LIMIT 	4
	</select>
	
	<select id="totalSearchAutocompleteArtist" resultType="hashMap" parameterType="String">
		/*작가 자동완성*/
		SELECT	
				A.ARTST_SQ AS artstSq,
				A.MBR_SQ AS mbrSq,
				A.ARTST_ACTVTY_NM AS artstActvtyNm,
				A.ARTST_ENGLS_NM AS artstEnglsNm,
				YEAR (B.MBR_BIRTH) AS artistBirthYear
		FROM	
				TBL_DA_ARTST_M AS A
		INNER JOIN 	
				TBL_DA_MBR_M AS B
			ON 	A.MBR_SQ = B.MBR_SQ
		WHERE 
				A.ARTST_ACTVTY_NM LIKE CONCAT('%',#{searchKeyword},'%') 
			OR  YEAR (B.MBR_BIRTH) LIKE CONCAT('%',#{searchKeyword},'%')
			OR  A.ARTST_ENGLS_NM LIKE CONCAT('%',#{searchKeyword},'%')
		LIMIT  4
	</select>
	
	<select id="totalSearchArtist" resultType="hashMap" parameterType="String">
		/*작가 통합검색*/
		SELECT	
				A.ARTST_SQ AS artstSq,
				A.MBR_SQ AS mbrSq,
				A.ARTST_ACTVTY_NM AS artstActvtyNm,
				A.ARTST_ENGLS_NM AS artstEnglsNm,
				YEAR (B.MBR_BIRTH) AS artistBirthYear,
				A.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, 
				A.ARTST_WORK_IMG_URL AS artstWorkImgUrl,
				A.ARTST_SELF_INTRO AS artstSelfIntro
		FROM	
				TBL_DA_ARTST_M AS A
		INNER JOIN 	
				TBL_DA_MBR_M AS B
			ON 	A.MBR_SQ = B.MBR_SQ
		INNER JOIN 
				TBL_DA_WORK_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ
		INNER JOIN 
				TBL_DA_ARTST_EDUCTN_S AS D
			ON	A.ARTST_SQ = D.ARTST_SQ 
		INNER JOIN 
				TBL_DA_ARTST_CAREER_S AS E 
			ON 	A.ARTST_SQ = E.ARTST_SQ 
		INNER JOIN 
				TBL_DA_ARTST_EXHBTN_S AS F 
			ON 	A.ARTST_SQ = F.ARTST_SQ 
		WHERE 
				A.ARTST_ACTVTY_NM LIKE CONCAT('%',#{searchKeyword},'%') 
			OR  YEAR (B.MBR_BIRTH) LIKE CONCAT('%',#{searchKeyword},'%')
			OR  A.ARTST_ENGLS_NM LIKE CONCAT('%',#{searchKeyword},'%')
			OR  D.EDUCTN_NM LIKE CONCAT('%',#{searchKeyword},'%')
			OR  E.CAREER_NM LIKE CONCAT('%',#{searchKeyword},'%')
			OR  F.EXHBTN_NM LIKE CONCAT('%',#{searchKeyword},'%')
		GROUP BY A.ARTST_SQ
	</select>
	
	<select id="totalSearchWork" resultType="hashMap" parameterType="String">
		/*작품 통합검색*/
		SELECT 
				D.DEAL_SQ AS dealSq, /*거래번호*/
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				A.ARTST_BIRTH_YEAR AS artstBirthYear, /*작가생년월일*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				D.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				D.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_HEIGHT AS workSizeHeight, /*작품사이즈높이*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				(SELECT FORMAT(MAX(BID_PRC), 0)
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(D.DEAL_FINAL_PRC, 0) AS dealFinalPrc, /*거래최종가격*/
				FORMAT(D.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(D.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE D.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				DATE_FORMAT(D.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(D.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				D.DEAL_ENDNG_DT AS dealEndngDateTime /*거래종료날짜시간*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		INNER JOIN 
				TBL_DA_DEAL_M AS D
			ON 	A.WORK_SQ = D.WORK_SQ 
		WHERE
			 	A.WORK_NM LIKE CONCAT('%',#{searchKeyword},'%')
			OR 	A.ARTST_ACTVTY_NM LIKE CONCAT('%',#{searchKeyword},'%')
			OR 	C.ARTST_ENGLS_NM LIKE CONCAT('%',#{searchKeyword},'%')
			OR 	A.WORK_PRODC_YEAR LIKE CONCAT('%',#{searchKeyword},'%')
			OR 	A.WORK_MATRL LIKE CONCAT('%',#{searchKeyword},'%')
			OR 	A.ARTST_BIRTH_YEAR LIKE CONCAT('%',#{searchKeyword},'%')
		GROUP BY A.WORK_SQ;
	</select>
</mapper>