<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.MemberMapper">
	
   <!-- 회원등록 -->
   <insert id="memberInsert" parameterType="hashMap">
    	INSERT INTO TBL_DA_MBR_M
        (
        	AUTH_SQ
			,MBR_SQ
			,MBR_ID
			,MBR_EMAIL
			,MBR_PASSWRD
			,MBR_NM
			,MBR_NCKNM
			,MBR_NATN_CD
			,MBR_BIRTH
			,MBR_SEX_CD
			,MBR_HOME_ADDR
			,MBR_DELIVRY_ADDR
			,MBR_DELIVRY_CP_NUM
			,MBR_CP_NUM
			,MBR_CP_CERT_YN
			,MBR_CP_CERT_DATE
			,REG_MBR_SQ
			,REG_DT
			,UPDT_MBR_SQ
			,UPDT_DT
			,USE_YN
			,DEL_YN
			,MBR_SOCIAL_SORT
			,MBR_CP_CERT_DI
       	) 
        VALUES
        (
        	'1'
			,#{mbrSq}
			,#{mbrId}
			,#{mbrEmail}
			,#{mbrPasswrd}
			,#{mbrNm}
			,#{mbrNcknm}
			,'KR'
			,#{mbrBirth}
			,#{mbrSexCd}
			,#{mbrHomeAddr}
			,#{mbrDelivryAddr}
			,#{mbrDelivryCpNum}
			,#{mbrCpNum}
			,#{mbrCpCertYn}
			,#{mbrCpCertDate}
			,'1'
			,NOW()
			,'1'
			,NOW()
			,#{useYn}
			,'N'
			,#{mbrSocialSort}
			,#{mbrCpCertDi}
        )
    </insert>
    
    <!-- 회원 상세 -->
    <select id="memberContent" resultType="hashMap">
        SELECT
            AUTH_SQ               AS authSq
			,MBR_SQ               AS mbrSq
			,MBR_ID               AS mbrId
			,MBR_EMAIL            AS mbrEmail
			,MBR_PASSWRD          AS mbrPasswrd
			,MBR_NM               AS mbrNm
			,MBR_NCKNM            AS mbrNcknm
			,MBR_NATN_CD          AS mbrNatnCd
			,MBR_BIRTH            AS mbrBirth
			,(
				CASE 
					WHEN MBR_SEX_CD = 'MALE' THEN '남'
					WHEN MBR_SEX_CD = 'FEMALE' THEN '여' 
				END
			 ) AS mbrSexCd
			,MBR_SEX_CD AS mbrSexCdChk
			,MBR_HOME_ADDR        AS mbrHomeAddr
			,MBR_DELIVRY_ADDR     AS mbrDelivryAddr
			,MBR_CP_NUM           AS mbrCpNum
			,MBR_CP_CERT_YN       AS mbrCpCertYn
			,MBR_CP_CERT_DATE     AS mbrCpCertDate
			,REG_MBR_SQ           AS regMbrSq
			,DATE_FORMAT(REG_DT,'%Y-%m-%d')  AS regDt
			,UPDT_MBR_SQ          AS updtMbrSq
			,DATE_FORMAT(UPDT_DT,'%Y-%m-%d')  AS updtDt
			,USE_YN               AS useYn
			,DEL_YN				  AS delYn
			,MBR_EML_ALARM		  AS mbrEmlAlarm
			,MBR_CP_ALARM		  AS mbrCpAlarm

        FROM
            TBL_DA_MBR_M A 
        WHERE 1=1
         AND A.MBR_SQ = #{mbrSq}
  </select>
    
    
    <update id="memberUpdate" parameterType="hashMap">
   		UPDATE TBL_DA_MBR_M 
   		
   		<trim prefix="SET" suffixOverrides=",">
      		<if test="mbrNm         != null">MBR_NM =#{mbrNm},</if>
      		<if test="authSq         != null">AUTH_SQ =#{authSq},</if>
			<if test="mbrEmail       != null">MBR_EMAIL =#{mbrEmail},</if>
			<if test="mbrPasswrd     != null">MBR_PASSWRD =#{mbrPasswrd},</if>
			<if test="mbrNatnCd      != null">MBR_NATN_CD = #{mbrNatnCd},</if>
			<if test="mbrBirth       != null">MBR_BIRTH = #{mbrBirth},</if>
			<if test="mbrSexCd       != null">MBR_SEX_CD = #{mbrSexCd},</if>
			<if test="mbrHomeAddr    != null">MBR_HOME_ADDR = #{mbrHomeAddr},</if>
			<if test="mbrDelivryAddr != null">MBR_DELIVRY_ADDR =#{mbrDelivryAddr},</if>
			<if test="mbrCpNum       != null">MBR_CP_NUM = #{mbrCpNum},</if>
			UPDT_DT = NOW(),
			<if test="useYn          != null">USE_YN = #{useYn},</if>
			<if test="delYn          != null">DEL_YN = #{delYn},</if>
			<if test="mbrEmlAlarm    != null">MBR_EML_ALARM = #{mbrEmlAlarm},</if>
			<if test="mbrCpAlarm     != null">MBR_CP_ALARM = #{mbrCpAlarm},</if>
			<if test="mbrCpCertYn    != null">MBR_CP_CERT_YN = #{mbrCpCertYn},</if>
			<if test="mbrCpCertDate  != null">MBR_CP_CERT_DATE = #{mbrCpCertDate},</if>
   		</trim>
   		WHERE MBR_SQ = #{mbrSq}
	</update>
   
   <select id="login" resultType="hashMap" parameterType="hashMap">
   /* 회원 로그인 */
		SELECT 	
				MBR_SQ AS mbrSq,
				AUTH_SQ AS authSq
		FROM 	
				TBL_DA_MBR_M
		WHERE 	
				MBR_ID = #{loginId}
			AND	MBR_PASSWRD = #{loginPw}   
   </select>
   
   <select id="loginIdCheck" resultType="int" parameterType="hashMap">
   /* 회원 로그인 아이디 체크 */
		SELECT 	
				COUNT(MBR_SQ)
		FROM 	
				TBL_DA_MBR_M
		WHERE 	
				MBR_ID = #{loginId}
   </select>
   
   <select id="loginPwdCheck" resultType="int" parameterType="hashMap">
   /* 회원 로그인 패스워드 체크 */
		SELECT 	
				COUNT(MBR_SQ)
		FROM 	
				TBL_DA_MBR_M
		WHERE 	
				MBR_ID = #{loginId}
			AND	MBR_PASSWRD = #{loginPw}  
   </select>
   
   <select id="getArtistInfo" resultType="hashMap" parameterType="String">
	   /* 작가 정보 */
	   SELECT 
			B.ARTST_SQ AS artstSq,
			B.ARTST_ACTVTY_NM AS artstActvtyNm,
			B.ARTST_ENGLS_NM AS artstEnglsNm,
			YEAR (A.MBR_BIRTH) AS artstBirthYear
		FROM 
				TBL_DA_MBR_M AS A,
				TBL_DA_ARTST_M AS B
		WHERE 
				A.MBR_SQ = B.MBR_SQ 
			AND A.MBR_SQ = #{value}
   </select>
   
   <update id="memberWithdrawal" parameterType="hashMap">
   /* 회원 탈퇴 */
   		UPDATE 	TBL_DA_MBR_M
   		
   		SET		USE_YN = 'N',
   				DEL_YN = 'Y'
   		
   		WHERE 	MBR_ID = #{email}
   			AND	MBR_EMAIL = #{email}
   			AND MBR_PASSWRD = #{password}	
   		
   </update>
   
   <select id="memberWithdrawalCheck" resultType="int" parameterType="hashMap">
   /* 회원 탈퇴 여부 */
   		SELECT 	
   				COUNT(MBR_SQ)
   		FROM 
   				TBL_DA_MBR_M
   		WHERE 	
   				MBR_ID = #{email}
   			AND	MBR_EMAIL = #{email}
   			AND MBR_PASSWRD = #{password}
   			AND USE_YN = 'N'
   			AND DEL_YN = 'Y'	
   </select>
   
   <!-- 회원 아이디 검색 -->
   <select id="memberIdCheck" resultType="int">
        SELECT
            count(*)
        FROM
            TBL_DA_MBR_M A
        WHERE 
        	MBR_ID = #{mbrId}
  </select>  
  
  <select id="memberInfoCount" resultType="int">
        SELECT
            count(*)
        FROM
            TBL_DA_MBR_M A
        WHERE 
        	MBR_ID = #{mbrId}
  </select>   
 
  <!-- 작가기본정보 입력 -->
  <insert id="authorInfoBaseInsert" parameterType="hashMap">
  		INSERT INTO TBL_DA_ARTST_M
  		(
  			MBR_SQ
			,ARTST_ACTVTY_NM
			,ARTST_ENGLS_NM
			,ARTST_ACTVTY_PART_CD
			,ARTST_ACTVTY_NATN_CD
			,ARTST_ACTVTY_CITY_CD
			,ARTST_SELF_INTRO
			,ARTST_PROFILE_IMG_URL
			,ARTST_HMPG_URL
			,ARTST_PROMTN_VIDEO_URL
			,ARTST_FACEBOOK_URL
			,ARTST_INSTAGRAM_URL
			,REG_MBR_SQ
			,REG_DT
			,UPDT_MBR_SQ
			,UPDT_DT
			,USE_YN
			,DEL_YN
			
		) VALUES (
			
        	#{mbrSq}
			,#{artstActvtyNm}
			,#{artstEnglsNm}
			,#{artstActvtyPartCd}
			,#{artstActvtyNatnCd}
			,#{artstActvtyCityCd}
			,#{artstSelfIntro}
			,#{artstProfileImgUrl}
			,#{artstHmpgUrl}
			,#{artstPromtnVideoUrl}
			,#{artstFacebookId}
			,#{artstInstagramId}
			,'1'
			,NOW()
			,'1'
			,NOW()
			,#{useYn}
			,'N'
        )
  </insert>
  <!-- 작가기본정보 수정 -->
  <update id="authorInfoBaseUpdate" parameterType="hashMap">
   		UPDATE TBL_DA_ARTST_M 
   		<trim prefix="SET" suffixOverrides=",">
      		<if test="artstActvtyNm">ARTST_ACTVTY_NM = #{artstActvtyNm},</if>
			<if test="artstEnglsNm">ARTST_ENGLS_NM = #{artstEnglsNm},</if>
			<if test="artstActvtyPartCd">ARTST_ACTVTY_PART_CD = #{artstActvtyPartCd},</if>
			<if test="artstActvtyNatnCd">ARTST_ACTVTY_NATN_CD = #{artstActvtyNatnCd},</if>
			<if test="artstActvtyCityCd">ARTST_ACTVTY_CITY_CD = #{artstActvtyCityCd},</if>
			<if test="artstSelfIntro">ARTST_SELF_INTRO = #{artstSelfIntro},</if>
			<if test="artstProfileImgUrl">ARTST_PROFILE_IMG_URL = #{artstProfileImgUrl},</if>
			<if test="artstHmpgUrl">ARTST_HMPG_URL = #{artstHmpgUrl},</if>
			<if test="artstPromtnVideoUrl">ARTST_PROMTN_VIDEO_URL = #{artstPromtnVideoUrl},</if>
			<if test="artstFacebookUrl">ARTST_FACEBOOK_URL = #{artstFacebookUrl},</if>
			<if test="artstInstagramUrl">ARTST_INSTAGRAM_URL = #{artstInstagramUrl},</if>
			UPDT_DT = NOW(),
			<if test="useYn">USE_YN = #{useYn},</if>
   		</trim>
   		WHERE MBR_SQ = #{mbrSq}
	</update>
	
  <!-- 작가기본정보 내용보기 -->
  <select id="authorBaseInfo" resultType="hashMap">
        SELECT
          	 MBR_SQ					AS mbrSq              
			,ARTST_SQ				AS artstSq           
			,ARTST_ACTVTY_NM		AS artstActvtyNm      
			,ARTST_ENGLS_NM			AS artstEnglsNm       
			,ARTST_ACTVTY_PART_CD	AS artstActvtyPartCd  
			,ARTST_ACTVTY_NATN_CD	AS artstActvtyNatnCd
			,ARTST_ACTVTY_CITY_CD	AS artstActvtyCityCd      
			,ARTST_SELF_INTRO		AS artstSelfIntro     
			,ARTST_PROFILE_IMG_URL	AS artstProfileImgUrl 
			,ARTST_HMPG_URL			AS artstHmpgUrl       
			,ARTST_PROMTN_VIDEO_URL	AS artstPromtnVideoUrl
			,ARTST_FACEBOOK_URL		AS artstFacebookUrl    
			,ARTST_INSTAGRAM_URL	AS artstInstagramUrl   
			,REG_MBR_SQ				AS regMbrSq           
			,REG_DT					AS regDt              
			,UPDT_MBR_SQ			AS updtMbrSq          
			,UPDT_DT				AS updtDt             
			,USE_YN					AS useYn              
			,DEL_YN					AS delYn  

        FROM TBL_DA_ARTST_M
        WHERE MBR_SQ = #{mbrSq}
  </select>
  <!-- 작가기본정보 카운터 -->
  <select id="authorBaseInfoCount" resultType="int">
  	SELECT
    	COUNT(*) AS CNT      
	FROM TBL_DA_ARTST_M
    WHERE MBR_SQ = #{mbrSq}
  </select>
    
  <!-- 작가학력정보 등록 -->
  <insert id="authorEduInfoInsert" parameterType="hashMap">
  		INSERT INTO TBL_DA_ARTST_EDUCTN_S
  		(
  			ARTST_SQ
			,MBR_SQ
			,EDUCTN_NM
			,EDUCTN_MAJOR
			
  		) VALUES (
  			#{artstSq}
  		   ,#{mbrSq}
  		   ,#{eductnNm}
  		   ,#{eductnMajor}
  		)
  </insert>
  
  <!-- 작가학력정보 리스트 -->   
   <select id="authorEduInfoList" resultType="hashMap">
   		SELECT
   			
   			EDUCTN_SQ AS eductnSq
   			,ARTST_SQ AS artstSq 
			,MBR_SQ AS mbrSq 
			,EDUCTN_NM AS eductnNm
			,EDUCTN_MAJOR AS eductnMajor
			
   		FROM 
   			TBL_DA_ARTST_EDUCTN_S
   		WHERE 1=1 
   			AND ARTST_SQ = #{artstSq}
   			AND MBR_SQ = #{mbrSq}
   </select>
   
   <!-- 작가학력정보 삭제 -->
   <delete id="authorEduInfoDelete"> 
   		DELETE FROM TBL_DA_ARTST_EDUCTN_S WHERE EDUCTN_SQ = #{eductnSq} 
   </delete>
   
   <!-- 작가학력정보 등록유무 체크를 위한 카운터 -->
   <select id="authorEduInfoCheckCount" resultType="int">
	  	SELECT
	    	COUNT(*) AS CNT      
		FROM TBL_DA_ARTST_EDUCTN_S
	    WHERE EDUCTN_SQ = #{eductnSq}
  </select>
  
  <!--  작가학력정보 수정 -->
  <update id="authorEduInfoUpdate" parameterType="hashMap">
   		UPDATE 	
   			TBL_DA_ARTST_EDUCTN_S
   		SET		
   			EDUCTN_NM = #{eductnNm},
   			EDUCTN_MAJOR = #{eductnMajor}
   		WHERE 	EDUCTN_SQ = #{eductnSq}
   </update>
   
   
  <!-- 작가경력-경력/소속 등록 -->
  <insert id="authorCareerInfoInsert" parameterType="hashMap">
  		INSERT INTO TBL_DA_ARTST_CAREER_S
  		(
  			ARTST_SQ
			,MBR_SQ
			,CAREER_NM
			,CAREER_TYP_CD
			
  		) VALUES (
  			#{artstSq}
  		   ,#{mbrSq}
  		   ,#{careerNm}
  		   ,#{careerTypCd}
  		)
  </insert>
  
  <!-- 작가경력-경력/소속 리스트  --> 
  <select id="authorCarrerInfoList" resultType="hashMap">
   		SELECT
   			
   			CAREER_SQ AS careerSq
   			,ARTST_SQ AS artstSq 
			,MBR_SQ AS mbrSq 
			,CAREER_NM AS careerNm
			,CAREER_TYP_CD AS careerTypCd
			
   		FROM 
   			TBL_DA_ARTST_CAREER_S
   		WHERE 1=1 
   			AND ARTST_SQ = #{artstSq}
   			AND MBR_SQ = #{mbrSq}
   			AND CAREER_TYP_CD = #{careerTypCd}
   </select>
   
   <!-- 작가경력-경력 삭제 -->
   <delete id="authorCarrerInfoDelete"> 
   		DELETE FROM TBL_DA_ARTST_CAREER_S WHERE CAREER_SQ = #{careerSq} 
   </delete>
   
   <!--  작가학경력-경력 수정 -->
  <update id="authorCarrerInfoUpdate" parameterType="hashMap">
   		UPDATE 	
   			TBL_DA_ARTST_CAREER_S
   		SET		
   			CAREER_NM = #{careerNm}
   		WHERE 	
   			CAREER_SQ = #{careerSq}
   </update>
   
   
  <!-- 작가학력정보 등록유무 체크를 위한 카운터 -->
  <select id="authorCarrerInfoCheckCount" resultType="int">
	  	SELECT
	    	COUNT(*) AS CNT      
		FROM TBL_DA_ARTST_CAREER_S
	    WHERE CAREER_SQ = #{careerSq}
  </select>
  
  
  <!-- 전시정보 등록 -->
  <insert id="authorExhbtnInfoInsert" parameterType="hashMap">
  		INSERT INTO TBL_DA_ARTST_EXHBTN_S
  		(
  			ARTST_SQ
			,MBR_SQ
			,EXHBTN_NM
			,EXHBTN_TYP_CD
			
  		) VALUES (
  			#{artstSq}
  		   ,#{mbrSq}
  		   ,#{exhbtnNm}
  		   ,#{exhbtnTypCd}
  		)
  </insert>
  
   <!-- 정시정보 리스트  --> 
  <select id="authorExhbtnInfoList" resultType="hashMap">
   		SELECT
   			
   			EXHBTN_SQ AS exhbtnSq
   			,ARTST_SQ AS artstSq 
			,MBR_SQ AS mbrSq 
			,EXHBTN_NM AS exhbtnNm
			,EXHBTN_TYP_CD AS exhbtnTypCd
			
   		FROM 
   			TBL_DA_ARTST_EXHBTN_S
   		WHERE 1=1 
   			AND ARTST_SQ = #{artstSq}
   			AND MBR_SQ = #{mbrSq}
   			AND EXHBTN_TYP_CD = #{exhbtnTypCd}
  </select>
  
  <!-- 전시정보 삭제 -->
  <delete id="authorExhbtnInfoDelete"> 
  	DELETE FROM TBL_DA_ARTST_EXHBTN_S WHERE EXHBTN_SQ = #{exhbtnSq} 
  </delete>
  
  <!-- 전시정보 수정 -->
  <update id="authorExhbtnInfoUpdate" parameterType="hashMap">
   		UPDATE 	
   			TBL_DA_ARTST_EXHBTN_S
   		SET		
   			EXHBTN_NM = #{exhbtnNm}
   		WHERE 	
   			EXHBTN_SQ = #{exhbtnSq}
  </update>
  
  <!-- 전시정보 등록유무 체크를 위한 카운터 -->
  <select id="authorExhbtnInfoCheckCount" resultType="int">
	  	SELECT
	    	COUNT(*) AS CNT      
		FROM TBL_DA_ARTST_EXHBTN_S
	    WHERE EXHBTN_SQ = #{exhbtnSq}
  </select>
   
   <insert id="scrapAdd">
   		/*회원 스크랩 추가*/
   		INSERT INTO 
   					TBL_DA_MBR_SCRAP_R (
						MBR_SQ,
						WORK_SQ
   					) VALUES (
   						#{mbrSq},
   						#{workSq}
   					)
   </insert>
   
   <delete id="scrapDel">
   		/*회원 스크랩 삭제*/
   		DELETE	FROM 
 					TBL_DA_MBR_SCRAP_R
   				WHERE
   					MBR_SQ = #{mbrSq}
   				AND WORK_SQ = #{workSq}
   </delete>
   
   <update id="autoLogin">
   		/*자동 로그인 정보 수정 등록*/
   		UPDATE TBL_DA_MBR_M 
   				SET
						AUTO_LOGIN_YN = #{autoLoginYn},
						AUTO_LOGIN_SSN_ID = #{autoLoginSsnId},
						AUTO_LOGIN_DATE = #{autoLoginDate}
				WHERE
						MBR_SQ = #{mbrSq}	
   </update>
   
   <select id="getSessionId" resultType="com.da.vo.AutoLoginVo" parameterType="String">
   		/*자동로그인 세션 아이디 가져오기*/
   		SELECT 
				A.MBR_SQ AS mbrSq,
				A.AUTH_SQ AS authSq
   		FROM 
   				TBL_DA_MBR_M AS A
   		WHERE 
   				A.AUTO_LOGIN_SSN_ID = #{value}
   </select>
   
   <select id="findId" resultType="hashMap" parameterType="String">
   		/*회원 아이디 찾기*/
   		SELECT 
				MBR_SQ AS mbrSq,
				MBR_ID AS mbrId,
				DATE_FORMAT(REG_DT, '%Y.%m.%d') AS mbrRegDt
		FROM 
				TBL_DA_MBR_M
		WHERE 
				MBR_CP_CERT_DI = #{mbrCpCertDi}
   </select>
   
   <select id="memberDuplicateCheck" resultType="int" parameterType="String">
   		/*회원 중복체크*/
   		SELECT 
				COUNT(MBR_CP_CERT_DI)
		FROM
				TBL_DA_MBR_M
		WHERE 
				MBR_CP_CERT_DI = #{mbrCpCertDi}
   </select>
   
   <select id="changePasswrdCheck" parameterType="hashMap" resultType="int">
   		/*회원 변경 비밀번호 중복체크*/
   		SELECT 
				COUNT(MBR_ID)
		FROM
				TBL_DA_MBR_M
		WHERE 
				MBR_ID = #{mbrId}
		AND		MBR_PASSWRD = #{mbrPasswrd}
   </select>
   
   <update id="changePasswrd" parameterType="hashMap">
   		/*회원 비밀번호 변경*/
   		UPDATE 
				TBL_DA_MBR_M 
		SET
				MBR_PASSWRD = #{mbrPasswrd}
		WHERE 
				MBR_ID = #{mbrId}
   </update>
   
   <select id="mbrInfo" parameterType="String" resultType="com.da.vo.MbrInfoVo">
   		/*회원 정보*/
   		SELECT * FROM TBL_DA_MBR_M WHERE MBR_SQ = #{mbrSq}
   </select>
   
   <update id="mbrDelivryAddrCor">
   		/*회원 배송 정보 수정*/
   		UPDATE
  				TBL_DA_MBR_M
   		SET
   				MBR_DELIVRY_ADDR = #{mbrDelivryAddr},
   				MBR_DELIVRY_CP_NUM = #{mbrDelivryCpNum}
   		WHERE 
   				MBR_SQ = #{mbrSq}
   </update>
</mapper>