<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.da.mapper.MyPageMapper">
	<select id="myDealSearchList" resultType="hashMap" parameterType="hashMap">
	/* 마이페이지 거래내역 리스트 */
		SELECT 
				B.DEAL_SQ AS dealSq,
				A.MBR_SQ AS mbrSq,
				B.WORK_SQ AS workSq,
				B.ARTST_SQ AS artstSq,
				A.WORK_MAIN_IMG_URL AS workMainImgUrl,
				C.ARTST_ACTVTY_NM AS artstActvtyNm,
				C.ARTST_ENGLS_NM AS artstEnglsNm,
				A.WORK_NM AS workNm,
				A.WORK_PRODC_YEAR AS workProdcYear,
				B.DEAL_TYP_CD AS dealTypCd,
				DATE_FORMAT(B.DEAL_STRT_DATE, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(B.DEAL_ENDNG_DATE, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				B.DEAL_STRT_PRC AS dealStrtPrc,
				E.MAX_BID_PRC AS maxBidPrc,
				DATEDIFF(B.DEAL_ENDNG_DATE, NOW()) AS dealRemainingDay, /*거래남은일자*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(B.DEAL_ENDNG_DATE, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%H') AS dealRemainingHour, /*거래남은시*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(B.DEAL_ENDNG_DATE, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%i') AS dealRemainingMin, /*거래남은분*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(B.DEAL_ENDNG_DATE, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%s') AS dealRemainingSec, /*거래남은초*/
				D.BID_CNT AS bidCnt,
				G.MAX_BID_DATE AS maxBidDate
		FROM 
				TBL_DA_WORK_M AS A,
				TBL_DA_DEAL_M AS B, 
				TBL_DA_ARTST_M AS C,
				(
					SELECT 
							DEAL_SQ , COUNT(DEAL_SQ) AS BID_CNT
					FROM 
							TBL_DA_AUCTN_BID_H 
					GROUP BY DEAL_SQ 
					ORDER BY BID_CNT DESC
				) AS D, /* 작품 응찰 횟수 */
				(
					SELECT 
							DEAL_SQ, MAX(BID_PRC) AS MAX_BID_PRC
					FROM 
							TBL_DA_AUCTN_BID_H
					GROUP BY DEAL_SQ
				) AS E, /* 작품 최고 응찰금액 */
				TBL_DA_AUCTN_BID_H AS F,
				(
					SELECT 
							DEAL_SQ, MAX(DATE_FORMAT(BID_DATE, '%Y.%m.%d')) AS MAX_BID_DATE
					FROM 
							TBL_DA_AUCTN_BID_H
					GROUP BY DEAL_SQ
				) AS G  /* 작품 마지막 응찰 일시 */
		WHERE 
				A.WORK_SQ = B.WORK_SQ 
			AND	A.ARTST_SQ = B.ARTST_SQ 
			AND A.MBR_SQ = C.MBR_SQ 
			AND D.DEAL_SQ = B.DEAL_SQ 
			AND E.DEAL_SQ = B.DEAL_SQ 
			AND F.DEAL_SQ = B.DEAL_SQ 
			AND G.DEAL_SQ = B.DEAL_SQ
			AND F.MBR_SQ = #{mbrSq}
			<if test="searchKeyword != null and searchKeyword != ''">
				AND (
						MATCH (C.ARTST_ACTVTY_NM) AGAINST (#{searchKeyword} IN BOOLEAN MODE)
						OR MATCH (C.ARTST_ENGLS_NM) AGAINST (#{searchKeyword} IN BOOLEAN MODE)
						OR MATCH (A.WORK_NM) AGAINST (#{searchKeyword} IN BOOLEAN MODE)
					)
			</if>
			<if test="searchStrtDate != null and searchStrtDate != '' and searchEndngDate != null and searchEndngDate != ''">
				AND G.MAX_BID_DATE BETWEEN #{searchStrtDate} AND #{searchEndngDate}
			</if>
		GROUP BY F.DEAL_SQ;
	</select>
	
	<insert id="collectionReg">
		/*소장품 등록*/
		INSERT INTO 
					TBL_DA_WORK_M (
						MBR_SQ,
						WORK_TYP_CD,
						ARTST_ACTVTY_NM,
						WORK_NM,
						WORK_FRM_YN,
						WORK_CLR_CD,
						WORK_MAIN_IMG_URL, 
						WORK_IMG_FRT_URL, 
						WORK_IMG_RER_URL,
						REG_DT,
						REG_MBR_SQ,
						UPDT_DT,
						UPDT_MBR_SQ
						<if test="artstYear != null and artstYear != ''">
							,ARTST_BIRTH_YEAR
						</if> 
						<if test="workPrc != null and workPrc != ''">
							,WORK_PRC
						</if> 
						<if test="workSizeWidth != null and workSizeWidth != ''">
							,WORK_SIZE_WIDTH
						</if> 
						<if test="workSizeDepth != null and workSizeDepth != ''">
							,WORK_SIZE_DEPTH
						</if> 
						<if test="workMatrl != null and workMatrl != ''">
							,WORK_MATRL 
						</if> 
						<if test="workProdcYear != null and workProdcYear != ''">
							,WORK_PRODC_YEAR 
						</if> 
						<if test="workVdoUrl  != null and workVdoUrl  != ''">
							,WORK_VDO_URL
						</if> 
						<if test="workIntrdc != null and workIntrdc != ''">
							,WORK_INTRDC
						</if> 
						<if test="workGrtUrl != null and workGrtUrl != ''">
							,WORK_GRT_URL
						</if>
						<if test="workImgLefUrl != null and workImgLefUrl != ''">
							,WORK_IMG_LEF_URL
						</if>
						<if test="workImgRitUrl != null and workImgRitUrl != ''">
							,WORK_IMG_RIT_URL
						</if>
						<if test="workImgTopUrl != null and workImgTopUrl != ''">
							,WORK_IMG_TOP_URL
						</if>
						<if test="workImgBotUrl != null and workImgBotUrl != ''">
							,WORK_IMG_BOT_URL
						</if>
					)
				VALUES (
						#{mbrSq}, 
						#{workTypCd}, 
						#{artstNm}, 
						#{workNm}, 
						#{workFrmYn}, 
						#{workClrCd},
						#{workMainImg}, 
						#{workImgFrt}, 
						#{workImgRer},
						NOW(),
						#{mbrSq},
						NOW(),
						#{mbrSq}
						<if test="artstYear != null and artstYear != ''">
							,#{artstYear}
						</if> 
						<if test="workPrc != null and workPrc != ''">
							,#{workPrc}
						</if> 
						<if test="workSizeWidth != null and workSizeWidth != ''">
							,#{workSizeWidth}
						</if> 
						<if test="workSizeDepth != null and workSizeDepth != ''">
							,#{workSizeDepth}
						</if> 
						<if test="workMatrl != null and workMatrl != ''">
							,#{workMatrl} 
						</if> 
						<if test="workProdcYear != null and workProdcYear != ''">
							,#{workProdcYear} 
						</if> 
						<if test="workVdoUrl  != null and workVdoUrl  != ''">
							,#{workVdoUrl}
						</if> 
						<if test="workIntrdc != null and workIntrdc != ''">
							,#{workIntrdc}
						</if> 
						<if test="workGrtUrl != null and workGrtUrl != ''">
							,#{workGrtUrl}
						</if>
						<if test="workImgLefUrl != null and workImgLefUrl != ''">
							,#{workImgLefUrl}
						</if>
						<if test="workImgRitUrl != null and workImgRitUrl != ''">
							,#{workImgRitUrl}
						</if>
						<if test="workImgTopUrl != null and workImgTopUrl != ''">
							,#{workImgTopUrl}
						</if>
						<if test="workImgBotUrl != null and workImgBotUrl != ''">
							,#{workImgBotUrl}
						</if>
				)
				
	</insert>
	
	<insert id="keywrdReg">
		/*작품 키워드 등록*/
		INSERT INTO
					TBL_DA_KEYWRD_S (
						KEYWRD,
						WORK_SQ
					)
					VALUE(
						#{keywrd},
						(
							SELECT
									WORK_SQ
							FROM
									TBL_DA_WORK_M
							WHERE
									ARTST_ACTVTY_NM = #{artstNm}
							AND 	WORK_NM = #{workNm}
							AND		WORK_FRM_YN = #{workFrmYn}
							AND 	WORK_CLR_CD = #{workClrCd}
							AND 	WORK_TYP_CD = #{workTypCd}
							AND 	WORK_MAIN_IMG_URL = #{workMainImg}
							AND		WORK_IMG_FRT_URL = #{workImgFrt}
							AND		WORK_IMG_RER_URL = #{workImgRer}
						)
										
					)
					
	</insert>
	
	<insert id="myWorkReg">
		/*나의 작품 등록*/
		INSERT INTO 
					TBL_DA_WORK_M(
									MBR_SQ,
									ARTST_SQ,
									ARTST_ACTVTY_NM,
									ARTST_BIRTH_YEAR,
									WORK_TYP_CD,
									WORK_NM,
									WORK_SIZE_WIDTH,
									WORK_SIZE_DEPTH,
									WORK_MATRL,
									WORK_PRODC_YEAR,
									WORK_MAIN_IMG_URL,
									WORK_IMG_FRT_URL,
									WORK_IMG_RER_URL,
									WORK_FRM_YN,
									WORK_SALE_YN,
									WORK_CLR_CD,
									REG_DT,
									REG_MBR_SQ,
									UPDT_DT,
									UPDT_MBR_SQ
									<if test="workGrtUrl != null and workGrtUrl != ''">
										,WORK_GRT_URL
									</if>
									<if test="workPrc != null and workPrc != ''">
										,WORK_PRC
									</if>
									<if test="workImgLefUrl != null and workImgLefUrl != ''">
										,WORK_IMG_LEF_URL
									</if>
									<if test="workImgRitUrl != null and workImgRitUrl != ''">
										,WORK_IMG_RIT_URL
									</if>
									<if test="workImgTopUrl != null and workImgTopUrl != ''">
										,WORK_IMG_TOP_URL
									</if>
									<if test="workImgBotUrl != null and workImgBotUrl != ''">
										,WORK_IMG_BOT_URL
									</if>
									<if test="workVdoUrl != null and workVdoUrl != ''">
										,WORK_VIDEO_URL
									</if>
									<if test="workIntrdc != null and workIntrdc != ''">
										,WORK_INTRDC
									</if>
					)
					VALUE(
							#{mbrSq},
							#{artstSq},
							#{artstNm},
							#{artstBirthYear},
							#{workTypCd},
							#{workNm},
							#{workSizeWidth},
							#{workSizeDepth},
							#{workMatrl},
							#{workProdcYear},
							#{workMainImg},
							#{workImgFrt},
							#{workImgRer},
							#{workFrmYn},
							#{workSaleYn},
							#{workClrCd},
							NOW(),
							#{mbrSq},
							NOW(),
							#{mbrSq}
							<if test="workGrtUrl != null and workGrtUrl != ''">
								,#{workGrtUrl}
							</if>
							<if test="workPrc != null and workPrc != ''">
								,#{workPrc}
							</if>
							<if test="workImgLefUrl != null and workImgLefUrl != ''">
								,#{workImgLefUrl}
							</if>
							<if test="workImgRitUrl != null and workImgRitUrl != ''">
								,#{workImgRitUrl}
							</if>
							<if test="workImgTopUrl != null and workImgTopUrl != ''">
								,#{workImgTopUrl}
							</if>
							<if test="workImgBotUrl != null and workImgBotUrl != ''">
								,#{workImgBotUrl}
							</if>
							<if test="workVdoUrl != null and workVdoUrl != ''">
								,#{workVdoUrl}
							</if>
							<if test="workIntrdc != null and workIntrdc != ''">
								,#{workIntrdc}
							</if>
					)
					
	
	</insert>
	
</mapper>