<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.da.mapper.MyPageMapper">
	<select id="myDealSearchList" resultType="hashMap" parameterType="hashMap">
	/* 마이페이지 거래내역 리스트 */
		SELECT 
				B.DEAL_SQ AS dealSq,
				A.MBR_SQ AS mbrSq,
				B.WORK_SQ AS workSq,
				B.ARTST_SQ AS artstSq,
				A.WORK_MAIN_IMG_URL AS workMainImgUrl,
				C.ARTST_ACTVTY_NM AS artstActvtyNm,
				C.ARTST_ENGLS_NM AS artstEnglsNm,
				A.WORK_NM AS workNm,
				A.WORK_PRODC_YEAR AS workProdcYear,
				B.DEAL_TYP_CD AS dealTypCd,
				DATE_FORMAT(B.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(B.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				FORMAT(B.DEAL_STRT_PRC, 0) AS dealStrtPrc,
				FORMAT(E.MAX_BID_PRC, 0) AS maxBidPrc,
				DATEDIFF(B.DEAL_ENDNG_DT, NOW()) AS dealRemainingDay, /*거래남은일자*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(B.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%H') AS dealRemainingHour, /*거래남은시*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(B.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%i') AS dealRemainingMin, /*거래남은분*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(B.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%s') AS dealRemainingSec, /*거래남은초*/
				D.BID_CNT AS bidCnt,
				G.MAX_BID_DATE AS maxBidDate
		FROM 
				TBL_DA_WORK_M AS A,
				TBL_DA_DEAL_M AS B, 
				TBL_DA_ARTST_M AS C,
				(
					SELECT 
							DEAL_SQ , COUNT(DEAL_SQ) AS BID_CNT
					FROM 
							TBL_DA_AUCTN_BID_H 
					GROUP BY DEAL_SQ 
					ORDER BY BID_CNT DESC
				) AS D, /* 작품 응찰 횟수 */
				(
					SELECT 
							DEAL_SQ, MAX(BID_PRC) AS MAX_BID_PRC
					FROM 
							TBL_DA_AUCTN_BID_H
					GROUP BY DEAL_SQ
				) AS E, /* 작품 최고 응찰금액 */
				TBL_DA_AUCTN_BID_H AS F,
				(
					SELECT 
							DEAL_SQ, MAX(DATE_FORMAT(BID_DATE, '%Y.%m.%d')) AS MAX_BID_DATE
					FROM 
							TBL_DA_AUCTN_BID_H
					GROUP BY DEAL_SQ
				) AS G  /* 작품 마지막 응찰 일시 */
		WHERE 
				A.WORK_SQ = B.WORK_SQ 
			AND	A.ARTST_SQ = B.ARTST_SQ 
			AND A.MBR_SQ = C.MBR_SQ 
			AND D.DEAL_SQ = B.DEAL_SQ 
			AND E.DEAL_SQ = B.DEAL_SQ 
			AND F.DEAL_SQ = B.DEAL_SQ 
			AND G.DEAL_SQ = B.DEAL_SQ
			AND F.MBR_SQ = #{mbrSq}
			<if test="searchKeyword != null and searchKeyword != ''">
				AND (
						MATCH (C.ARTST_ACTVTY_NM) AGAINST (#{searchKeyword} IN BOOLEAN MODE)
						OR MATCH (C.ARTST_ENGLS_NM) AGAINST (#{searchKeyword} IN BOOLEAN MODE)
						OR MATCH (A.WORK_NM) AGAINST (#{searchKeyword} IN BOOLEAN MODE)
					)
			</if>
			<if test="searchStrtDate != null and searchStrtDate != '' and searchEndngDate != null and searchEndngDate != ''">
				AND G.MAX_BID_DATE BETWEEN #{searchStrtDate} AND #{searchEndngDate}
			</if>
		GROUP BY F.DEAL_SQ;
	</select>
	
	<insert id="collectionReg">
		/*소장품 등록*/
		INSERT INTO 
					TBL_DA_WORK_M (
						MBR_SQ,
						WORK_TYP_CD,
						ARTST_ACTVTY_NM,
						WORK_NM,
						WORK_FRM_YN,
						WORK_CLR_CD,
						WORK_MAIN_IMG_URL, 
						WORK_IMG_FRT_URL, 
						WORK_IMG_RER_URL,
						REG_DT,
						REG_MBR_SQ,
						UPDT_DT,
						UPDT_MBR_SQ
						<if test="artstSq != null and artstSq != ''">
							,ARTST_SQ
						</if>
						<if test="artstYear != null and artstYear != ''">
							,ARTST_BIRTH_YEAR
						</if> 
						<if test="workPrc != null and workPrc != ''">
							,WORK_PRC
						</if> 
						<if test="workSizeWidth != null and workSizeWidth != ''">
							,WORK_SIZE_WIDTH
						</if> 
						<if test="workSizeDepth != null and workSizeDepth != ''">
							,WORK_SIZE_DEPTH
						</if> 
						<if test="workMatrl != null and workMatrl != ''">
							,WORK_MATRL 
						</if> 
						<if test="workProdcYear != null and workProdcYear != ''">
							,WORK_PRODC_YEAR 
						</if> 
						<if test="workVideoUrl != null and workVideoUrl != ''">
							,WORK_VIDEO_URL
						</if> 
						<if test="workIntrdc != null and workIntrdc != ''">
							,WORK_INTRDC
						</if> 
						<if test="workGrtUrl != null and workGrtUrl != ''">
							,WORK_GRT_URL
						</if>
						<if test="workImgLefUrl != null and workImgLefUrl != ''">
							,WORK_IMG_LEF_URL
						</if>
						<if test="workImgRitUrl != null and workImgRitUrl != ''">
							,WORK_IMG_RIT_URL
						</if>
						<if test="workImgTopUrl != null and workImgTopUrl != ''">
							,WORK_IMG_TOP_URL
						</if>
						<if test="workImgBotUrl != null and workImgBotUrl != ''">
							,WORK_IMG_BOT_URL
						</if>
					)
				VALUES (
						#{mbrSq}, 
						#{workTypCd}, 
						#{artstActvtyNm}, 
						#{workNm}, 
						#{workFrmYn}, 
						#{workClrCd},
						#{workMainImgUrl}, 
						#{workImgFrtUrl}, 
						#{workImgRerUrl},
						NOW(),
						#{mbrSq},
						NOW(),
						#{mbrSq}
						<if test="artstYear != null and artstYear != ''">
							,#{artstYear}
						</if> 
						<if test="workPrc != null and workPrc != ''">
							,#{workPrc}
						</if> 
						<if test="workSizeWidth != null and workSizeWidth != ''">
							,#{workSizeWidth}
						</if> 
						<if test="workSizeDepth != null and workSizeDepth != ''">
							,#{workSizeDepth}
						</if> 
						<if test="workMatrl != null and workMatrl != ''">
							,#{workMatrl} 
						</if> 
						<if test="workProdcYear != null and workProdcYear != ''">
							,#{workProdcYear} 
						</if> 
						<if test="workVideoUrl != null and workVideoUrl != ''">
							,#{workVideoUrl}
						</if> 
						<if test="workIntrdc != null and workIntrdc != ''">
							,#{workIntrdc}
						</if> 
						<if test="workGrtUrl != null and workGrtUrl != ''">
							,#{workGrtUrl}
						</if>
						<if test="workImgLefUrl != null and workImgLefUrl != ''">
							,#{workImgLefUrl}
						</if>
						<if test="workImgRitUrl != null and workImgRitUrl != ''">
							,#{workImgRitUrl}
						</if>
						<if test="workImgTopUrl != null and workImgTopUrl != ''">
							,#{workImgTopUrl}
						</if>
						<if test="workImgBotUrl != null and workImgBotUrl != ''">
							,#{workImgBotUrl}
						</if>
				)
				
	</insert>
	
	<insert id="keywrdReg">
		/*작품 키워드 등록*/
		INSERT INTO
					TBL_DA_KEYWRD_S (
						KEYWRD,
						WORK_SQ
					)
					VALUE(
						#{keywrd},
						(
							SELECT
									WORK_SQ
							FROM
									TBL_DA_WORK_M
							WHERE
									ARTST_ACTVTY_NM = #{artstActvtyNm}
							AND 	WORK_NM = #{workNm}
							AND		WORK_FRM_YN = #{workFrmYn}
							AND 	WORK_CLR_CD = #{workClrCd}
							AND 	WORK_TYP_CD = #{workTypCd}
							AND 	WORK_MAIN_IMG_URL = #{workMainImgUrl}
							AND		WORK_IMG_FRT_URL = #{workImgFrtUrl}
							AND		WORK_IMG_RER_URL = #{workImgRerUrl}
						)
										
					)
					
	</insert>
	
	<insert id="myWorkReg">
		/*나의 작품 등록*/
		INSERT INTO 
					TBL_DA_WORK_M(
									MBR_SQ,
									ARTST_SQ,
									ARTST_ACTVTY_NM,
									ARTST_BIRTH_YEAR,
									WORK_TYP_CD,
									WORK_NM,
									WORK_SIZE_WIDTH,
									WORK_SIZE_DEPTH,
									WORK_MATRL,
									WORK_PRODC_YEAR,
									WORK_MAIN_IMG_URL,
									WORK_IMG_FRT_URL,
									WORK_IMG_RER_URL,
									WORK_FRM_YN,
									WORK_SALE_YN,
									WORK_CLR_CD,
									REG_DT,
									REG_MBR_SQ,
									UPDT_DT,
									UPDT_MBR_SQ
									<if test="workGrtUrl != null and workGrtUrl != ''">
										,WORK_GRT_URL
									</if>
									<if test="workPrc != null and workPrc != ''">
										,WORK_PRC
									</if>
									<if test="workImgLefUrl != null and workImgLefUrl != ''">
										,WORK_IMG_LEF_URL
									</if>
									<if test="workImgRitUrl != null and workImgRitUrl != ''">
										,WORK_IMG_RIT_URL
									</if>
									<if test="workImgTopUrl != null and workImgTopUrl != ''">
										,WORK_IMG_TOP_URL
									</if>
									<if test="workImgBotUrl != null and workImgBotUrl != ''">
										,WORK_IMG_BOT_URL
									</if>
									<if test="workVideoUrl != null and workVideoUrl != ''">
										,WORK_VIDEO_URL
									</if>
									<if test="workIntrdc != null and workIntrdc != ''">
										,WORK_INTRDC
									</if>
					)
					VALUE(
							#{mbrSq},
							#{artstSq},
							#{artstActvtyNm},
							#{artstBirthYear},
							#{workTypCd},
							#{workNm},
							#{workSizeWidth},
							#{workSizeDepth},
							#{workMatrl},
							#{workProdcYear},
							#{workMainImgUrl},
							#{workImgFrtUrl},
							#{workImgRerUrl},
							#{workFrmYn},
							#{workSaleYn},
							#{workClrCd},
							NOW(),
							#{mbrSq},
							NOW(),
							#{mbrSq}
							<if test="workGrtUrl != null and workGrtUrl != ''">
								,#{workGrtUrl}
							</if>
							<if test="workPrc != null and workPrc != ''">
								,#{workPrc}
							</if>
							<if test="workImgLefUrl != null and workImgLefUrl != ''">
								,#{workImgLefUrl}
							</if>
							<if test="workImgRitUrl != null and workImgRitUrl != ''">
								,#{workImgRitUrl}
							</if>
							<if test="workImgTopUrl != null and workImgTopUrl != ''">
								,#{workImgTopUrl}
							</if>
							<if test="workImgBotUrl != null and workImgBotUrl != ''">
								,#{workImgBotUrl}
							</if>
							<if test="workVideoUrl != null and workVideoUrl != ''">
								,#{workVideoUrl}
							</if>
							<if test="workIntrdc != null and workIntrdc != ''">
								,#{workIntrdc}
							</if>
					)
					
	</insert>
	<select id="myWorkListSale" resultType="hashMap" parameterType="String">
		/*나의 작품 판매중 검색*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				YEAR (B.MBR_BIRTH) AS artstBirthYear, /*작가생년월일*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				D.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				D.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_HEIGHT AS workSizeHeight, /*작품사이즈높이*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				(SELECT MAX(FORMAT(BID_PRC, 0))
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(D.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(D.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE D.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				DATE_FORMAT(D.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(D.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				DATEDIFF(D.DEAL_ENDNG_DT, NOW()) AS dealRemainingDay, /*거래남은일자*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%H') AS dealRemainingHour, /*거래남은시*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%i') AS dealRemainingMin, /*거래남은분*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%s') AS dealRemainingSec /*거래남은초*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		INNER JOIN 
				TBL_DA_DEAL_M AS D
			ON 	A.WORK_SQ = D.WORK_SQ 
		WHERE
				A.WORK_TYP_CD = 'WORK'
				AND A.ARTST_SQ = #{value}
	</select>
	<select id="myWorkListNonSale" resultType="hashMap" parameterType="String">
		/*나의 작품 판매전 검색*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				YEAR (B.MBR_BIRTH) AS artstBirthYear, /*작가생년월일*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				A.WORK_NM AS workNm, /*작품명*/
				FORMAT(A.WORK_PRC, 0) AS workPrc, /*작품가격*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear /*작품제작년도*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		WHERE 
					A.WORK_TYP_CD = 'WORK'
				AND A.WORK_SALE_YN = 'N'
				AND A.ARTST_SQ = #{value}
	</select>
	
	<select id="myWorkMod" resultType="hashMap" parameterType="String">
		/*나의 작품 정보*/
		SELECT 
				A.WORK_SQ AS workSq,
				A.WORK_NM AS workNm,
				A.WORK_TYP_CD AS workTypCd,
				A.WORK_SIZE_WIDTH AS workSizeWidth,
				A.WORK_SIZE_DEPTH AS workSizeDepth,
				A.WORK_MATRL AS workMatrl,
				A.WORK_PRODC_YEAR AS workProdcYear,
				A.WORK_MAIN_IMG_URL AS workMainImgUrl,
				A.WORK_IMG_FRT_URL AS workImgFrtUrl,
				A.WORK_IMG_RER_URL AS workImgRerUrl,
				A.WORK_FRM_YN AS workFrmYn,
				A.WORK_SALE_YN AS workSaleYn,
				A.WORK_CLR_CD AS workClrCd,
				A.WORK_GRT_URL AS workGrtUrl,
				FORMAT(A.WORK_PRC, 0) AS workPrc,
				A.WORK_IMG_LEF_URL AS workImgLefUrl,
				A.WORK_IMG_RIT_URL AS workImgRitUrl,
				A.WORK_IMG_TOP_URL AS workImgTopUrl,
				A.WORK_IMG_BOT_URL AS workImgBotUrl,
				A.WORK_VIDEO_URL AS workVideoUrl,
				A.WORK_INTRDC AS workIntrdc,
				(SELECT B.KEYWRD_SQ  
				 FROM TBL_DA_KEYWRD_S AS B
				 WHERE A.WORK_SQ = B.WORK_SQ) AS keywrdSq,
				(SELECT B.KEYWRD
				 FROM TBL_DA_KEYWRD_S AS B
				 WHERE A.WORK_SQ = B.WORK_SQ) AS keywrd
		FROM 
				TBL_DA_WORK_M AS A
				
		WHERE 
				A.WORK_SQ = #{value}
			AND A.WORK_TYP_CD = 'WORK'
	</select>
	
	<insert id="myWorkCor">
		/*나의 작품 등록 수정*/
		INSERT INTO 
					TBL_DA_WORK_M(
									WORK_SQ,
									MBR_SQ,
									ARTST_SQ,
									ARTST_ACTVTY_NM,
									ARTST_BIRTH_YEAR,
									WORK_TYP_CD,
									WORK_NM,
									WORK_SIZE_WIDTH,
									WORK_SIZE_DEPTH,
									WORK_MATRL,
									WORK_PRODC_YEAR,
									WORK_MAIN_IMG_URL,
									WORK_IMG_FRT_URL,
									WORK_IMG_RER_URL,
									WORK_FRM_YN,
									WORK_SALE_YN,
									WORK_CLR_CD,
									UPDT_DT,
									UPDT_MBR_SQ
									<if test="workGrtUrl != null and workGrtUrl != ''">
										,WORK_GRT_URL
									</if>
									<if test="workPrc != null and workPrc != ''">
										,WORK_PRC
									</if>
									<if test="workImgLefUrl != null and workImgLefUrl != ''">
										,WORK_IMG_LEF_URL
									</if>
									<if test="workImgRitUrl != null and workImgRitUrl != ''">
										,WORK_IMG_RIT_URL
									</if>
									<if test="workImgTopUrl != null and workImgTopUrl != ''">
										,WORK_IMG_TOP_URL
									</if>
									<if test="workImgBotUrl != null and workImgBotUrl != ''">
										,WORK_IMG_BOT_URL
									</if>
									<if test="workVideoUrl != null and workVideoUrl != ''">
										,WORK_VIDEO_URL
									</if>
									<if test="workIntrdc != null and workIntrdc != ''">
										,WORK_INTRDC
									</if>
					) VALUES (
								#{workSq},
			     				#{mbrSq},
								#{artstSq},
								#{artstActvtyNm},
								#{artstBirthYear},
								#{workTypCd},
								#{workNm},
								#{workSizeWidth},
								#{workSizeDepth},
								#{workMatrl},
								#{workProdcYear},
								#{workMainImgUrl},
								#{workImgFrtUrl},
								#{workImgRerUrl},
								#{workFrmYn},
								#{workSaleYn},
								#{workClrCd},
								NOW(),
								#{mbrSq}
								<if test="workGrtUrl != null and workGrtUrl != ''">
									,#{workGrtUrl}
								</if>
								<if test="workPrc != null and workPrc != ''">
									,#{workPrc}
								</if>
								<if test="workImgLefUrl != null and workImgLefUrl != ''">
									,#{workImgLefUrl}
								</if>
								<if test="workImgRitUrl != null and workImgRitUrl != ''">
									,#{workImgRitUrl}
								</if>
								<if test="workImgTopUrl != null and workImgTopUrl != ''">
									,#{workImgTopUrl}
								</if>
								<if test="workImgBotUrl != null and workImgBotUrl != ''">
									,#{workImgBotUrl}
								</if>
								<if test="workVideoUrl != null and workVideoUrl != ''">
									,#{workVideoUrl}
								</if>
								<if test="workIntrdc != null and workIntrdc != ''">
									,#{workIntrdc}
								</if>
							)
	ON DUPLICATE KEY UPDATE
		    					MBR_SQ = #{mbrSq},
								ARTST_SQ = #{artstSq},
								ARTST_ACTVTY_NM = #{artstActvtyNm},
								ARTST_BIRTH_YEAR = #{artstBirthYear},
								WORK_TYP_CD = #{workTypCd},
								WORK_NM = #{workNm},
								WORK_SIZE_WIDTH = #{workSizeWidth},
								WORK_SIZE_DEPTH = #{workSizeDepth},
								WORK_MATRL = #{workMatrl},
								WORK_PRODC_YEAR = #{workProdcYear},
								WORK_MAIN_IMG_URL = #{workMainImgUrl},
								WORK_IMG_FRT_URL = #{workImgFrtUrl},
								WORK_IMG_RER_URL = #{workImgRerUrl},
								WORK_FRM_YN = #{workFrmYn},
								WORK_SALE_YN = #{workSaleYn},
								WORK_CLR_CD = #{workClrCd},
								UPDT_DT = NOW(),
								UPDT_MBR_SQ = #{mbrSq}
								<if test="workGrtUrl != null and workGrtUrl != ''">
									,WORK_GRT_URL = #{workGrtUrl}
								</if>
								<if test="workPrc != null and workPrc != ''">
									,WORK_PRC = #{workPrc}
								</if>
								<if test="workImgLefUrl != null and workImgLefUrl != ''">
									,WORK_IMG_LEF_URL = #{workImgLefUrl}
								</if>
								<if test="workImgRitUrl != null and workImgRitUrl != ''">
									,WORK_IMG_RIT_URL = #{workImgRitUrl}
								</if>
								<if test="workImgTopUrl != null and workImgTopUrl != ''">
									,WORK_IMG_TOP_URL = #{workImgTopUrl}
								</if>
								<if test="workImgBotUrl != null and workImgBotUrl != ''">
									,WORK_IMG_BOT_URL = #{workImgBotUrl}
								</if>
								<if test="workVideoUrl != null and workVideoUrl != ''">
									,WORK_VIDEO_URL = #{workVideoUrl}
								</if>
								<if test="workIntrdc != null and workIntrdc != ''">
									,WORK_INTRDC = #{workIntrdc}
								</if>
	</insert>
	
	<insert id="keywrdCor">
		/*작품 키워드 등록*/
		INSERT INTO
					TBL_DA_KEYWRD_S (
									KEYWRD_SQ,
									KEYWRD,
									WORK_SQ
									)
					VALUE(
									#{keywrdSq},
									#{keywrd},
									#{workSq}	
									)
		ON DUPLICATE KEY UPDATE			
									KEYWRD = #{keywrd}
	</insert>
	
	<select id="myCollectionSale" resultType="hashMap" parameterType="String">
		/*나의 소장품 판매중 검색*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				YEAR (B.MBR_BIRTH) AS artstBirthYear, /*작가생년월일*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				D.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				D.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_HEIGHT AS workSizeHeight, /*작품사이즈높이*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				(SELECT MAX(FORMAT(BID_PRC, 0))
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(D.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(D.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE D.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				DATE_FORMAT(D.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(D.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				DATEDIFF(D.DEAL_ENDNG_DT, NOW()) AS dealRemainingDay, /*거래남은일자*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%H') AS dealRemainingHour, /*거래남은시*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%i') AS dealRemainingMin, /*거래남은분*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%s') AS dealRemainingSec /*거래남은초*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		INNER JOIN 
				TBL_DA_DEAL_M AS D
			ON 	A.WORK_SQ = D.WORK_SQ 
		WHERE
				A.WORK_TYP_CD = 'COLL'
				AND A.MBR_SQ = #{value}
	</select>
	<select id="myCollectionNonSale" resultType="hashMap" parameterType="String">
		/*나의 소장품 판매전 검색*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				D.AUTH_SQ AS authSq, /*작가구분*/
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				A.ARTST_BIRTH_YEAR AS artstBirthYear, /*작가생년월일*/
				A.WORK_NM AS workNm, /*작품명*/
				FORMAT(A.WORK_PRC, 0) AS workPrc, /*작품가격*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear /*작품제작년도*/
		FROM 
				TBL_DA_WORK_M AS A,
				TBL_DA_MBR_M AS D
		WHERE 
				A.MBR_SQ = D.MBR_SQ 
				AND A.WORK_TYP_CD = 'COLL'
				AND A.WORK_SALE_YN = 'N'
				AND A.MBR_SQ = #{value}
	</select>
	<select id="myCollectionMod" resultType="hashMap" parameterType="String">
		/*나의 소장품 정보*/
		SELECT 
				A.WORK_SQ AS workSq,
				A.WORK_NM AS workNm,
				A.WORK_TYP_CD AS workTypCd,
				A.ARTST_SQ AS artstSq,
				A.ARTST_ACTVTY_NM AS artstActvtyNm,
				A.ARTST_BIRTH_YEAR AS artstBirthYear,
				A.WORK_SIZE_WIDTH AS workSizeWidth,
				A.WORK_SIZE_DEPTH AS workSizeDepth,
				A.WORK_MATRL AS workMatrl,
				A.WORK_PRODC_YEAR AS workProdcYear,
				A.WORK_MAIN_IMG_URL AS workMainImgUrl,
				A.WORK_IMG_FRT_URL AS workImgFrtUrl,
				A.WORK_IMG_RER_URL AS workImgRerUrl,
				A.WORK_FRM_YN AS workFrmYn,
				A.WORK_SALE_YN AS workSaleYn,
				A.WORK_CLR_CD AS workClrCd,
				A.WORK_GRT_URL AS workGrtUrl,
				FORMAT(A.WORK_PRC, 0) AS workPrc,
				A.WORK_IMG_LEF_URL AS workImgLefUrl,
				A.WORK_IMG_RIT_URL AS workImgRitUrl,
				A.WORK_IMG_TOP_URL AS workImgTopUrl,
				A.WORK_IMG_BOT_URL AS workImgBotUrl,
				A.WORK_VIDEO_URL AS workVideoUrl,
				A.WORK_INTRDC AS workIntrdc,
				(SELECT B.KEYWRD_SQ  
				 FROM TBL_DA_KEYWRD_S AS B
				 WHERE A.WORK_SQ = B.WORK_SQ) AS keywrdSq,
				(SELECT B.KEYWRD
				 FROM TBL_DA_KEYWRD_S AS B
				 WHERE A.WORK_SQ = B.WORK_SQ) AS keywrd
		FROM 
				TBL_DA_WORK_M AS A
				
		WHERE 
				A.WORK_SQ = #{value}
			AND A.WORK_TYP_CD = 'COLL'
	</select>
	
	<insert id="collectionCor">
		/*소장품 수정*/
		INSERT INTO 
					TBL_DA_WORK_M (
									WORK_SQ,
									MBR_SQ,
									WORK_TYP_CD,
									ARTST_ACTVTY_NM,
									WORK_NM,
									WORK_FRM_YN,
									WORK_CLR_CD,
									WORK_MAIN_IMG_URL, 
									WORK_IMG_FRT_URL, 
									WORK_IMG_RER_URL,
									UPDT_DT,
									UPDT_MBR_SQ
									<if test="artstSq != null and artstSq != ''">
										,ARTST_SQ
									</if>
									<if test="artstYear != null and artstYear != ''">
										,ARTST_BIRTH_YEAR
									</if> 
									<if test="workPrc != null and workPrc != ''">
										,WORK_PRC
									</if> 
									<if test="workSizeWidth != null and workSizeWidth != ''">
										,WORK_SIZE_WIDTH
									</if> 
									<if test="workSizeDepth != null and workSizeDepth != ''">
										,WORK_SIZE_DEPTH
									</if> 
									<if test="workMatrl != null and workMatrl != ''">
										,WORK_MATRL 
									</if> 
									<if test="workProdcYear != null and workProdcYear != ''">
										,WORK_PRODC_YEAR 
									</if> 
									<if test="workVideoUrl != null and workVideoUrl != ''">
										,WORK_VIDEO_URL
									</if> 
									<if test="workIntrdc != null and workIntrdc != ''">
										,WORK_INTRDC
									</if> 
									<if test="workGrtUrl != null and workGrtUrl != ''">
										,WORK_GRT_URL
									</if>
									<if test="workImgLefUrl != null and workImgLefUrl != ''">
										,WORK_IMG_LEF_URL
									</if>
									<if test="workImgRitUrl != null and workImgRitUrl != ''">
										,WORK_IMG_RIT_URL
									</if>
									<if test="workImgTopUrl != null and workImgTopUrl != ''">
										,WORK_IMG_TOP_URL
									</if>
									<if test="workImgBotUrl != null and workImgBotUrl != ''">
										,WORK_IMG_BOT_URL
									</if>
								)
							VALUES (
									#{workSq},
									#{mbrSq}, 
									#{workTypCd}, 
									#{artstActvtyNm}, 
									#{workNm}, 
									#{workFrmYn}, 
									#{workClrCd},
									#{workMainImgUrl}, 
									#{workImgFrtUrl}, 
									#{workImgRerUrl},
									NOW(),
									#{mbrSq}
									<if test="artstSq != null and artstSq != ''">
										,#{artstSq}
									</if>
									<if test="artstYear != null and artstYear != ''">
										,#{artstYear}
									</if> 
									<if test="workPrc != null and workPrc != ''">
										,#{workPrc}
									</if> 
									<if test="workSizeWidth != null and workSizeWidth != ''">
										,#{workSizeWidth}
									</if> 
									<if test="workSizeDepth != null and workSizeDepth != ''">
										,#{workSizeDepth}
									</if> 
									<if test="workMatrl != null and workMatrl != ''">
										,#{workMatrl} 
									</if> 
									<if test="workProdcYear != null and workProdcYear != ''">
										,#{workProdcYear} 
									</if> 
									<if test="workVideoUrl  != null and workVideoUrl  != ''">
										,#{workVideoUrl}
									</if> 
									<if test="workIntrdc != null and workIntrdc != ''">
										,#{workIntrdc}
									</if> 
									<if test="workGrtUrl != null and workGrtUrl != ''">
										,#{workGrtUrl}
									</if>
									<if test="workImgLefUrl != null and workImgLefUrl != ''">
										,#{workImgLefUrl}
									</if>
									<if test="workImgRitUrl != null and workImgRitUrl != ''">
										,#{workImgRitUrl}
									</if>
									<if test="workImgTopUrl != null and workImgTopUrl != ''">
										,#{workImgTopUrl}
									</if>
									<if test="workImgBotUrl != null and workImgBotUrl != ''">
										,#{workImgBotUrl}
									</if>
							)
	ON DUPLICATE KEY UPDATE
								WORK_TYP_CD = #{workTypCd}, 
								ARTST_ACTVTY_NM = #{artstActvtyNm}, 
								WORK_NM = #{workNm},
								WORK_FRM_YN = #{workFrmYn},
								WORK_CLR_CD = #{workClrCd},
								WORK_MAIN_IMG_URL = #{workMainImgUrl},
								WORK_IMG_FRT_URL = #{workImgFrtUrl},
								WORK_IMG_RER_URL =#{workImgRerUrl},
								UPDT_DT = NOW(),
								UPDT_MBR_SQ = #{mbrSq}
								<if test="artstSq != null and artstSq != ''">
									,ARTST_SQ = #{artstSq}
								</if>
								<if test="artstYear != null and artstYear != ''">
									,ARTST_BIRTH_YEAR = #{artstBirthYear}
								</if> 
								<if test="workPrc != null and workPrc != ''">
									,WORK_PRC = #{workPrc}
								</if> 
								<if test="workSizeWidth != null and workSizeWidth != ''">
									,WORK_SIZE_WIDTH = #{workSizeWidth}
								</if> 
								<if test="workSizeDepth != null and workSizeDepth != ''">
									,WORK_SIZE_DEPTH = #{workSizeDepth}
								</if> 
								<if test="workMatrl != null and workMatrl != ''">
									,WORK_MATRL = #{workMatrl}
								</if> 
								<if test="workProdcYear != null and workProdcYear != ''">
									,WORK_PRODC_YEAR = #{workProdcYear}
								</if> 
								<if test="workVideoUrl  != null and workVideoUrl  != ''">
									,WORK_VIDEO_URL = #{workVideoUrl}
								</if> 
								<if test="workIntrdc != null and workIntrdc != ''">
									,WORK_INTRDC = #{workIntrdc}
								</if> 
								<if test="workGrtUrl != null and workGrtUrl != ''">
									,WORK_GRT_URL = #{workGrtUrl}
								</if>
								<if test="workImgLefUrl != null and workImgLefUrl != ''">
									,WORK_IMG_LEF_URL = #{workImgLefUrl}
								</if>
								<if test="workImgRitUrl != null and workImgRitUrl != ''">
									,WORK_IMG_RIT_URL = #{workImgRitUrl}
								</if>
								<if test="workImgTopUrl != null and workImgTopUrl != ''">
									,WORK_IMG_TOP_URL = #{workImgTopUrl}
								</if>
								<if test="workImgBotUrl != null and workImgBotUrl != ''">
									,WORK_IMG_BOT_URL = #{workImgBotUrl}
								</if>
	</insert>
	
	<select id="scrapList" resultType="hashMap" parameterType="String">
		/*스크랩한 작품 번호 조회*/
		SELECT 
				WORK_SQ AS workSq
		FROM 
				TBL_DA_MBR_SCRAP_R
		WHERE 
				MBR_SQ = #{value}
	</select>
		
	<select id="scrapListSale" resultType="hashMap" parameterType="hashMap">
		/*판매중인 스크랩 목록 조회*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				YEAR (B.MBR_BIRTH) AS artstBirthYear, /*작가생년월일*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				D.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				D.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_HEIGHT AS workSizeHeight, /*작품사이즈높이*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				(SELECT MAX(FORMAT(BID_PRC, 0))
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(D.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(D.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE D.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				DATE_FORMAT(D.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(D.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				DATEDIFF(D.DEAL_ENDNG_DT, NOW()) AS dealRemainingDay, /*거래남은일자*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%H') AS dealRemainingHour, /*거래남은시*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%i') AS dealRemainingMin, /*거래남은분*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(D.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%s') AS dealRemainingSec /*거래남은초*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		INNER JOIN 
				TBL_DA_DEAL_M AS D
			ON 	A.WORK_SQ = D.WORK_SQ 
		WHERE
				A.WORK_SQ IN
				<foreach collection="list" item="item" index="idex"  open="(" close=")" separator=",">
		        	#{item.workSq}
		        </foreach>
	</select>
	<select id="scrapListNonSale" resultType="hashMap" parameterType="hashMap">
		/*판매중이 아닌 스크랩 목록 조회*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				D.AUTH_SQ AS authSq, /*작가구분*/
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				A.ARTST_BIRTH_YEAR AS artstBirthYear, /*작가생년월일*/
				A.WORK_NM AS workNm, /*작품명*/
				FORMAT(A.WORK_PRC, 0) AS workPrc, /*작품가격*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear /*작품제작년도*/
		FROM 
				TBL_DA_WORK_M AS A,
				TBL_DA_MBR_M AS D
		WHERE 
				A.MBR_SQ = D.MBR_SQ 
				AND A.WORK_SALE_YN = 'N'
				AND A.WORK_SQ IN
				<foreach collection="list" item="item" index="idex"  open="(" close=")" separator=",">
		        	#{item.workSq}
		        </foreach>
	</select>
</mapper>