<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.da.mapper.MyPageMapper">

	<select id="myCouponList_payment" resultType="hashMap" parameterType="String">
	/* 쿠폰 리스트 - 결제 */
		SELECT 
			 CM.CUPON_SQ										as cuponSq
			,CM.CUPON_DIV_CD									as cuponDivCd
			,(
				select CDCS.DTL_CD_NM
				from TBL_DA_COMN_DTL_CD_S CDCS 
				where (CDCS.USE_YN='Y' and CDCS.DEL_YN='N')
				and CDCS.DTL_CD=CM.CUPON_DIV_CD
			) 													as cuponDivNm
			,CM.CUPON_TYP_CD 									as cuponTypCd
			,(
				select CDCS.DTL_CD_NM
				from TBL_DA_COMN_DTL_CD_S CDCS 
				where (CDCS.USE_YN='Y' and CDCS.DEL_YN='N')
				and CDCS.DTL_CD=CM.CUPON_TYP_CD
			) 													as cuponTypNm
			,CM.DISC_TYP_CD 									as discTypCd
			,(
				select CDCS.DTL_CD_NM
				from TBL_DA_COMN_DTL_CD_S CDCS 
				where (CDCS.USE_YN='Y' and CDCS.DEL_YN='N')
				and CDCS.DTL_CD=CM.DISC_TYP_CD
			) 													as discTypNm
			,CM.CUPON_DR 										as cuponDr 			
			,CM.CUPON_DISC_AMT 									as cuponDiscAmt 		
			,CM.CUPON_IDNTFCTN_NUM 								as cuponIdntfctnNum 
			,CM.CUPON_NM 										as cuponNm 			
			,CM.CUPON_CNTNT 									as cuponCntnt 		
			,DATE_FORMAT(CM.USE_STRT_DATE, '%Y-%m-%d')			as useStrtDate 		
			,DATE_FORMAT(CM.USE_END_DATE, '%Y-%m-%d')          as useEndDate       
			,CM.REG_MBR_SQ                                      as regMbrSq         
			,CM.REG_DT                                          as regDt             
			,CM.UPDT_MBR_SQ                                     as updtMbrSq        
			,CM.UPDT_DT                                         as updtDt            
			,CM.USE_YN                                          as useYn             
			,CM.DEL_YN                                          as delYn             
			,TIMESTAMPDIFF(DAY, CM.USE_END_DATE, CURDATE()) 	as diffDay
			,MCR.CUPON_USE_YN									as cuponUseYn	
			,MCR.CUPON_USE_DT                                   as cuponUseDt
		FROM TBL_DA_CUPON_M CM
		INNER JOIN TBL_DA_MBR_CUPON_R MCR
		ON CM.CUPON_SQ = MCR.CUPON_SQ
		WHERE (CM.USE_YN = 'Y' AND CM.DEL_YN = 'N')
		AND (
				(
					CM.CUPON_DIV_CD = "IU" 
					
					AND (TIMESTAMPDIFF(DAY, CM.USE_END_DATE, CURDATE()) <![CDATA[<=]]> 0))
				OR (
						CM.CUPON_DIV_CD = "TU" 
						AND (CURDATE() BETWEEN CM.USE_STRT_DATE AND CM.USE_END_DATE)
					)
		)
		AND MCR.MBR_SQ = #{mbrSq}
		AND CM.CUPON_TYP_CD = #{cuponTypCd}
	</select>

	<select id="myCouponList" resultType="hashMap" parameterType="String">
	/* 쿠폰 리스트 - 목록*/
		SELECT 
			 CM.CUPON_SQ										as cuponSq
			,CM.CUPON_DIV_CD									as cuponDivCd
			,(
				select CDCS.DTL_CD_NM
				from TBL_DA_COMN_DTL_CD_S CDCS 
				where (CDCS.USE_YN='Y' and CDCS.DEL_YN='N')
				and CDCS.DTL_CD=CM.CUPON_DIV_CD
			) 													as cuponDivNm
			,CM.CUPON_TYP_CD 									as cuponTypCd
			,(
				select CDCS.DTL_CD_NM
				from TBL_DA_COMN_DTL_CD_S CDCS 
				where (CDCS.USE_YN='Y' and CDCS.DEL_YN='N')
				and CDCS.DTL_CD=CM.CUPON_TYP_CD
			) 													as cuponTypNm
			,CM.DISC_TYP_CD 									as discTypCd
			,(
				select CDCS.DTL_CD_NM
				from TBL_DA_COMN_DTL_CD_S CDCS 
				where (CDCS.USE_YN='Y' and CDCS.DEL_YN='N')
				and CDCS.DTL_CD=CM.DISC_TYP_CD
			) 													as discTypNm
			,CM.CUPON_DR 										as cuponDr 			
			,CM.CUPON_DISC_AMT 									as cuponDiscAmt 		
			,CM.CUPON_IDNTFCTN_NUM 								as cuponIdntfctnNum 
			,CM.CUPON_NM 										as cuponNm 			
			,CM.CUPON_CNTNT 									as cuponCntnt 		
			,DATE_FORMAT(CM.USE_STRT_DATE, '%Y-%m-%d')			as useStrtDate 		
			,DATE_FORMAT(CM.USE_END_DATE, '%Y-%m-%d')          as useEndDate       
			,CM.REG_MBR_SQ                                      as regMbrSq         
			,CM.REG_DT                                          as regDt             
			,CM.UPDT_MBR_SQ                                     as updtMbrSq        
			,CM.UPDT_DT                                         as updtDt            
			,CM.USE_YN                                          as useYn             
			,CM.DEL_YN                                          as delYn             
			,TIMESTAMPDIFF(DAY, CM.USE_END_DATE, CURDATE()) 	as diffDay
			,MCR.CUPON_USE_YN									as cuponUseYn	
			,MCR.CUPON_USE_DT                                   as cuponUseDt
		FROM TBL_DA_CUPON_M CM
		INNER JOIN TBL_DA_MBR_CUPON_R MCR
		ON CM.CUPON_SQ = MCR.CUPON_SQ
		WHERE (CM.USE_YN = 'Y' AND CM.DEL_YN = 'N')
		AND MCR.MBR_SQ = #{mbrSq}
	</select>
	
	<select id="searchCuponIdntfctnNum" resultType="hashMap" parameterType="hashMap">
	/* 쿠폰식별번호 조회 */
		SELECT 
			 CM.CUPON_SQ										as cuponSq
			,CM.CUPON_IDNTFCTN_NUM 								as cuponIdntfctnNum 
			,DATE_FORMAT(CM.USE_STRT_DATE, '%Y-%m-%d')			as useStrtDate 		
			,DATE_FORMAT(CM.USE_END_DATE, '%Y-%m-%d')           as useEndDate       
			,TIMESTAMPDIFF(DAY, CM.USE_END_DATE, CURDATE()) 	as diffDay
		FROM TBL_DA_CUPON_M CM
		WHERE (CM.USE_YN = 'Y' AND CM.DEL_YN = 'N')
		AND CM.CUPON_IDNTFCTN_NUM = #{cuponIdntfctnNum}
	</select>
	
	<select id="cntCouponOverlap" resultType="int" parameterType="hashMap">
		/* 쿠폰중복등록 카운트 */
		SELECT
			COUNT(*)
		FROM TBL_DA_MBR_CUPON_R
		WHERE CUPON_SQ = #{cuponSq} AND MBR_SQ = #{mbrSq}
	</select>
	
	<insert id="insertCouponReg">
		/*쿠폰 등록*/
		INSERT INTO TBL_DA_MBR_CUPON_R	(
			 CUPON_SQ 
			,MBR_SQ 
			,CUPON_USE_YN
		)VALUES(
			#{cuponSq} 
			,#{mbrSq} 
			,'N'
		);
	</insert>

	<select id="myDealSearchList123" resultType="hashMap" parameterType="hashMap">
	/* 마이페이지 거래내역 리스트 */
		SELECT 
				B.DEAL_SQ AS dealSq,
				A.MBR_SQ AS mbrSq,
				B.WORK_SQ AS workSq,
				B.ARTST_SQ AS artstSq,
				A.WORK_MAIN_IMG_URL AS workMainImgUrl,
				C.ARTST_ACTVTY_NM AS artstActvtyNm,
				C.ARTST_ENGLS_NM AS artstEnglsNm,
				A.WORK_NM AS workNm,
				A.WORK_PRODC_YEAR AS workProdcYear,
				B.DEAL_TYP_CD AS dealTypCd,
				DATE_FORMAT(B.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(B.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				FORMAT(B.DEAL_STRT_PRC, 0) AS dealStrtPrc,
				FORMAT(E.MAX_BID_PRC, 0) AS maxBidPrc,
				DATEDIFF(B.DEAL_ENDNG_DT, NOW()) AS dealRemainingDay, /*거래남은일자*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(B.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%H') AS dealRemainingHour, /*거래남은시*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(B.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%i') AS dealRemainingMin, /*거래남은분*/
				DATE_FORMAT(TIMEDIFF(DATE_FORMAT(B.DEAL_ENDNG_DT, '%H:%i:%s'), DATE_FORMAT(NOW(), '%H:%i:%s')), '%s') AS dealRemainingSec, /*거래남은초*/
				D.BID_CNT AS bidCnt,
				G.MAX_BID_DATE AS maxBidDate
		FROM 
				TBL_DA_WORK_M AS A,
				TBL_DA_DEAL_M AS B, 
				TBL_DA_ARTST_M AS C,
				(
					SELECT 
							DEAL_SQ , COUNT(DEAL_SQ) AS BID_CNT
					FROM 
							TBL_DA_AUCTN_BID_H 
					GROUP BY DEAL_SQ 
					ORDER BY BID_CNT DESC
				) AS D, /* 작품 응찰 횟수 */
				(
					SELECT 
							DEAL_SQ, MAX(BID_PRC) AS MAX_BID_PRC
					FROM 
							TBL_DA_AUCTN_BID_H
					GROUP BY DEAL_SQ
				) AS E, /* 작품 최고 응찰금액 */
				TBL_DA_AUCTN_BID_H AS F,
				(
					SELECT 
							DEAL_SQ, MAX(DATE_FORMAT(BID_DATE, '%Y.%m.%d')) AS MAX_BID_DATE
					FROM 
							TBL_DA_AUCTN_BID_H
					GROUP BY DEAL_SQ
				) AS G  /* 작품 마지막 응찰 일시 */
		WHERE 
				A.WORK_SQ = B.WORK_SQ 
			AND	A.ARTST_SQ = B.ARTST_SQ 
			AND A.MBR_SQ = C.MBR_SQ 
			AND D.DEAL_SQ = B.DEAL_SQ 
			AND E.DEAL_SQ = B.DEAL_SQ 
			AND F.DEAL_SQ = B.DEAL_SQ 
			AND G.DEAL_SQ = B.DEAL_SQ
			AND F.MBR_SQ = #{mbrSq}
			<if test="searchKeyword != null and searchKeyword != ''">
				AND (
						MATCH (C.ARTST_ACTVTY_NM) AGAINST (#{searchKeyword} IN BOOLEAN MODE)
						OR MATCH (C.ARTST_ENGLS_NM) AGAINST (#{searchKeyword} IN BOOLEAN MODE)
						OR MATCH (A.WORK_NM) AGAINST (#{searchKeyword} IN BOOLEAN MODE)
					)
			</if>
			<if test="searchStrtDate != null and searchStrtDate != '' and searchEndngDate != null and searchEndngDate != ''">
				AND G.MAX_BID_DATE BETWEEN #{searchStrtDate} AND #{searchEndngDate}
			</if>
		GROUP BY F.DEAL_SQ;
	</select>
	
	<select id="myDealSearchListSale" resultType="hashMap" parameterType="hashMap">
		/*거래내역 정찰가 리스트*/
		SELECT 
				B.DEAL_SQ AS dealSq,
				B.SELL_MBR_SQ AS sellMbrSq,
				B.BUY_MBR_SQ AS buyMbrSq,
				B.WORK_SQ AS workSq,
				B.ARTST_SQ AS artstSq,
				A.WORK_MAIN_IMG_URL AS workMainImgUrl,
				A.ARTST_ACTVTY_NM AS artstActvtyNm,
				A.WORK_NM AS workNm,
				A.WORK_PRODC_YEAR AS workProdcYear,
				B.DEAL_TYP_CD AS dealTypCd,
				B.DEAL_STTS_CD AS dealSttsCd,
				B.BUY_PAYMNT_STTS_CD AS buyPaymntSttsCd,
				B.SELL_PAYMNT_STTS_CD AS sellPaymntSttsCd,
				DATE_FORMAT(B.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(B.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				FORMAT(B.DEAL_STRT_PRC, 0) AS dealStrtPrc,
				FORMAT(B.DEAL_FINAL_PRC, 0) AS dealFinalPrc,
				B.DEAL_ENDNG_DT AS dealEndngDateTime /*거래종료날짜시간*/
		FROM 
				TBL_DA_WORK_M AS A,
				TBL_DA_DEAL_M AS B
		WHERE 
				A.WORK_SQ = B.WORK_SQ 
			AND B.DEAL_TYP_CD = 'S'
			AND	A.ARTST_SQ = B.ARTST_SQ 
			<if test="buyOrSell == 'BUY'">
				AND B.BUY_MBR_SQ = #{mbrSq}
			</if>
			<if test="buyOrSell == 'SELL'">
				AND B.SELL_MBR_SQ = #{mbrSq}
			</if>
			<if test="buyOrSell == 'ALL'">
				AND B.BUY_MBR_SQ = #{mbrSq}
				AND B.SELL_MBR_SQ = #{mbrSq}
			</if>
			<if test="dealSttsCd == 'TP'">
				AND B.DEAL_STTS_CD = 'TP'
			</if>
			<if test="dealSttsCd == 'TC'">
				AND B.DEAL_STTS_CD = 'TC'
			</if>
			<if test="searchKeyword != null and searchKeyword != ''">
				AND (
						A.ARTST_ACTVTY_NM LIKE CONCAT('%',#{searchKeyword},'%')
						OR A.ARTST_ENGLS_NM LIKE CONCAT('%',#{searchKeyword},'%')
						OR A.WORK_NM LIKE CONCAT('%',#{searchKeyword},'%')
					)
			</if>
			<if test="searchStrtDate != null and searchStrtDate != '' and searchEndngDate != null and searchEndngDate != ''">
				AND DATE_FORMAT(B.DEAL_ENDNG_DT, '%Y.%m.%d') BETWEEN #{searchStrtDate} AND #{searchEndngDate}
			</if>
		GROUP BY B.DEAL_SQ;
	</select>
	
	<select id="myDealSearchListAuctionBuy" resultType="hashMap" parameterType="hashMap">
		/*거래내역 구매 경매 리스트*/
		SELECT 
				C.DEAL_SQ AS dealSq, /*거래순번*/
				A.WORK_SQ AS workSq, /*작품번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				YEAR (A.ARTST_BIRTH_YEAR) AS artstBirthYear, /*작가생년월일*/
				C.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				C.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				C.MBR_REF_NO AS mbrRefNo, /*거래주문코드*/
				C.BUY_MBR_SQ AS buyMbrSq, /*거래구매자순번*/
				C.SELL_MBR_SQ AS sellMbrSq, /*거래판매자순번*/
				C.BUY_PAYMNT_STTS_CD AS buyPaymntSttsCd, /*거래구매자결제상태*/
				C.SELL_PAYMNT_STTS_CD AS sellPaymntSttsCd, /*거래판매자결제상태*/
				(SELECT FORMAT(MAX(BID_PRC), 0)
				FROM TBL_DA_AUCTN_BID_H
				WHERE C.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(C.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(C.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				FORMAT(C.DEAL_FINAL_PRC, 0) AS dealFinalPrc, /*거래최종가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE C.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				(SELECT MBR_SQ 
				FROM TBL_DA_AUCTN_BID_H
				WHERE C.DEAL_SQ = DEAL_SQ
				ORDER BY BID_DATE DESC LIMIT 1) AS bidMbrSq, /*마지막 응찰 회원 순번*/
				DATE_FORMAT(C.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작날짜*/
				DATE_FORMAT(C.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료날짜*/
				C.DEAL_ENDNG_DT AS dealEndngDateTime /*거래종료날짜시간*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN 
				TBL_DA_DEAL_M AS C
			ON 	A.WORK_SQ = C.WORK_SQ 
		INNER JOIN 
				TBL_DA_AUCTN_BID_H AS D
			ON C.DEAL_SQ = D.DEAL_SQ 
		WHERE 	
				C.DEAL_TYP_CD = 'A'
			AND	D.MBR_SQ IN (#{mbrSq})
			<if test="dealSttsCd == 'TP'">
				AND C.DEAL_STTS_CD = 'TP'
			</if>
			<if test="dealSttsCd == 'TC'">
				AND C.DEAL_STTS_CD = 'TC'
			</if>
			<if test="searchKeyword != null and searchKeyword != ''">
				AND (
						A.ARTST_ACTVTY_NM LIKE CONCAT('%',#{searchKeyword},'%')
						OR A.ARTST_ENGLS_NM LIKE CONCAT('%',#{searchKeyword},'%')
						OR A.WORK_NM LIKE CONCAT('%',#{searchKeyword},'%')
					)
			</if>
			<if test="searchStrtDate != null and searchStrtDate != '' and searchEndngDate != null and searchEndngDate != ''">
				AND DATE_FORMAT(C.DEAL_ENDNG_DT, '%Y.%m.%d') BETWEEN #{searchStrtDate} AND #{searchEndngDate}
			</if>
		GROUP BY C.DEAL_SQ;
	</select>
	<select id="myDealSearchListAuctionSell" resultType="hashMap" parameterType="hashMap">
		/*거래내역 판매 경매 리스트*/
		SELECT 
				C.DEAL_SQ AS dealSq, /*거래순번*/
				A.WORK_SQ AS workSq, /*작품번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				YEAR (A.ARTST_BIRTH_YEAR) AS artstBirthYear, /*작가생년월일*/
				C.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				C.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				C.MBR_REF_NO AS mbrRefNo, /*거래주문코드*/
				C.BUY_MBR_SQ AS buyMbrSq, /*거래구매자순번*/
				C.SELL_MBR_SQ AS sellMbrSq, /*거래판매자순번*/
				C.BUY_PAYMNT_STTS_CD AS buyPaymntSttsCd, /*거래구매자결제상태*/
				C.SELL_PAYMNT_STTS_CD AS sellPaymntSttsCd, /*거래판매자결제상태*/
				(SELECT FORMAT(MAX(BID_PRC), 0)
				FROM TBL_DA_AUCTN_BID_H
				WHERE C.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(C.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(C.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				FORMAT(C.DEAL_FINAL_PRC, 0) AS dealFinalPrc, /*거래최종가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE C.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				(SELECT MBR_SQ 
				FROM TBL_DA_AUCTN_BID_H
				WHERE C.DEAL_SQ = DEAL_SQ
				ORDER BY BID_DATE DESC LIMIT 1) AS bidMbrSq, /*마지막 응찰 회원 순번*/
				DATE_FORMAT(C.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작날짜*/
				DATE_FORMAT(C.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료날짜*/
				C.DEAL_ENDNG_DT AS dealEndngDateTime /*거래종료날짜시간*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN 
				TBL_DA_DEAL_M AS C
			ON 	A.WORK_SQ = C.WORK_SQ 
		WHERE 	
				C.DEAL_TYP_CD = 'A'
			AND	C.SELL_MBR_SQ = #{mbrSq}
			<if test="dealSttsCd == 'TP'">
				AND C.DEAL_STTS_CD = 'TP'
			</if>
			<if test="dealSttsCd == 'TC'">
				AND C.DEAL_STTS_CD = 'TC'
			</if>
			<if test="searchKeyword != null and searchKeyword != ''">
				AND (
						A.ARTST_ACTVTY_NM LIKE CONCAT('%',#{searchKeyword},'%')
						OR A.ARTST_ENGLS_NM LIKE CONCAT('%',#{searchKeyword},'%')
						OR A.WORK_NM LIKE CONCAT('%',#{searchKeyword},'%')
					)
			</if>
			<if test="searchStrtDate != null and searchStrtDate != '' and searchEndngDate != null and searchEndngDate != ''">
				AND DATE_FORMAT(C.DEAL_ENDNG_DT, '%Y.%m.%d') BETWEEN #{searchStrtDate} AND #{searchEndngDate}
			</if>
		GROUP BY C.DEAL_SQ;
	</select>
	
	<insert id="collectionReg">
		/*소장품 등록*/
		INSERT INTO 
					TBL_DA_WORK_M (
						MBR_SQ,
						WORK_TYP_CD,
						ARTST_ACTVTY_NM,
						WORK_NM,
						WORK_FRM_YN,
						WORK_CLR_CD,
						WORK_MAIN_IMG_URL, 
						WORK_IMG_FRT_URL, 
						WORK_IMG_RER_URL,
						REG_DT,
						REG_MBR_SQ,
						UPDT_DT,
						UPDT_MBR_SQ
						<if test="artstSq != null and artstSq != ''">
							,ARTST_SQ
						</if>
						<if test="artstYear != null and artstYear != ''">
							,ARTST_BIRTH_YEAR
						</if> 
						<if test="workPrc != null and workPrc != ''">
							,WORK_PRC
						</if> 
						<if test="workSizeWidth != null and workSizeWidth != ''">
							,WORK_SIZE_WIDTH
						</if> 
						<if test="workSizeDepth != null and workSizeDepth != ''">
							,WORK_SIZE_DEPTH
						</if> 
						<if test="workMatrl != null and workMatrl != ''">
							,WORK_MATRL 
						</if> 
						<if test="workProdcYear != null and workProdcYear != ''">
							,WORK_PRODC_YEAR 
						</if> 
						<if test="workVideoUrl != null and workVideoUrl != ''">
							,WORK_VIDEO_URL
						</if> 
						<if test="workIntrdc != null and workIntrdc != ''">
							,WORK_INTRDC
						</if> 
						<if test="workGrtUrl != null and workGrtUrl != ''">
							,WORK_GRT_URL
						</if>
						<if test="workImgLefUrl != null and workImgLefUrl != ''">
							,WORK_IMG_LEF_URL
						</if>
						<if test="workImgRitUrl != null and workImgRitUrl != ''">
							,WORK_IMG_RIT_URL
						</if>
						<if test="workImgTopUrl != null and workImgTopUrl != ''">
							,WORK_IMG_TOP_URL
						</if>
						<if test="workImgBotUrl != null and workImgBotUrl != ''">
							,WORK_IMG_BOT_URL
						</if>
					)
				VALUES (
						#{mbrSq}, 
						#{workTypCd}, 
						#{artstActvtyNm}, 
						#{workNm}, 
						#{workFrmYn}, 
						#{workClrCd},
						#{workMainImgUrl}, 
						#{workImgFrtUrl}, 
						#{workImgRerUrl},
						NOW(),
						#{mbrSq},
						NOW(),
						#{mbrSq}
						<if test="artstYear != null and artstYear != ''">
							,#{artstYear}
						</if> 
						<if test="workPrc != null and workPrc != ''">
							,#{workPrc}
						</if> 
						<if test="workSizeWidth != null and workSizeWidth != ''">
							,#{workSizeWidth}
						</if> 
						<if test="workSizeDepth != null and workSizeDepth != ''">
							,#{workSizeDepth}
						</if> 
						<if test="workMatrl != null and workMatrl != ''">
							,#{workMatrl} 
						</if> 
						<if test="workProdcYear != null and workProdcYear != ''">
							,#{workProdcYear} 
						</if> 
						<if test="workVideoUrl != null and workVideoUrl != ''">
							,#{workVideoUrl}
						</if> 
						<if test="workIntrdc != null and workIntrdc != ''">
							,#{workIntrdc}
						</if> 
						<if test="workGrtUrl != null and workGrtUrl != ''">
							,#{workGrtUrl}
						</if>
						<if test="workImgLefUrl != null and workImgLefUrl != ''">
							,#{workImgLefUrl}
						</if>
						<if test="workImgRitUrl != null and workImgRitUrl != ''">
							,#{workImgRitUrl}
						</if>
						<if test="workImgTopUrl != null and workImgTopUrl != ''">
							,#{workImgTopUrl}
						</if>
						<if test="workImgBotUrl != null and workImgBotUrl != ''">
							,#{workImgBotUrl}
						</if>
				)
				
	</insert>
	
	<insert id="keywrdReg">
		/*작품 키워드 등록*/
		INSERT INTO
					TBL_DA_KEYWRD_S (
						KEYWRD,
						WORK_SQ
					)
					VALUE(
						#{keywrd},
						(
							SELECT
									WORK_SQ
							FROM
									TBL_DA_WORK_M
							WHERE
									ARTST_ACTVTY_NM = #{artstActvtyNm}
							AND 	WORK_NM = #{workNm}
							AND		WORK_FRM_YN = #{workFrmYn}
							AND 	WORK_CLR_CD = #{workClrCd}
							AND 	WORK_TYP_CD = #{workTypCd}
							AND 	WORK_MAIN_IMG_URL = #{workMainImgUrl}
							AND		WORK_IMG_FRT_URL = #{workImgFrtUrl}
							AND		WORK_IMG_RER_URL = #{workImgRerUrl}
						)
										
					)
					
	</insert>
	
	<insert id="myWorkReg">
		/*나의 작품 등록*/
		INSERT INTO 
					TBL_DA_WORK_M(
									MBR_SQ,
									ARTST_SQ,
									ARTST_ACTVTY_NM,
									ARTST_BIRTH_YEAR,
									WORK_TYP_CD,
									WORK_NM,
									WORK_SIZE_WIDTH,
									WORK_SIZE_DEPTH,
									WORK_MATRL,
									WORK_PRODC_YEAR,
									WORK_MAIN_IMG_URL,
									WORK_IMG_FRT_URL,
									WORK_IMG_RER_URL,
									WORK_FRM_YN,
									WORK_SALE_YN,
									WORK_CLR_CD,
									REG_DT,
									REG_MBR_SQ,
									UPDT_DT,
									UPDT_MBR_SQ
									<if test="workGrtUrl != null and workGrtUrl != ''">
										,WORK_GRT_URL
									</if>
									<if test="workPrc != null and workPrc != ''">
										,WORK_PRC
									</if>
									<if test="workImgLefUrl != null and workImgLefUrl != ''">
										,WORK_IMG_LEF_URL
									</if>
									<if test="workImgRitUrl != null and workImgRitUrl != ''">
										,WORK_IMG_RIT_URL
									</if>
									<if test="workImgTopUrl != null and workImgTopUrl != ''">
										,WORK_IMG_TOP_URL
									</if>
									<if test="workImgBotUrl != null and workImgBotUrl != ''">
										,WORK_IMG_BOT_URL
									</if>
									<if test="workVideoUrl != null and workVideoUrl != ''">
										,WORK_VIDEO_URL
									</if>
									<if test="workIntrdc != null and workIntrdc != ''">
										,WORK_INTRDC
									</if>
					)
					VALUE(
							#{mbrSq},
							#{artstSq},
							#{artstActvtyNm},
							#{artstBirthYear},
							#{workTypCd},
							#{workNm},
							#{workSizeWidth},
							#{workSizeDepth},
							#{workMatrl},
							#{workProdcYear},
							#{workMainImgUrl},
							#{workImgFrtUrl},
							#{workImgRerUrl},
							#{workFrmYn},
							#{workSaleYn},
							#{workClrCd},
							NOW(),
							#{mbrSq},
							NOW(),
							#{mbrSq}
							<if test="workGrtUrl != null and workGrtUrl != ''">
								,#{workGrtUrl}
							</if>
							<if test="workPrc != null and workPrc != ''">
								,#{workPrc}
							</if>
							<if test="workImgLefUrl != null and workImgLefUrl != ''">
								,#{workImgLefUrl}
							</if>
							<if test="workImgRitUrl != null and workImgRitUrl != ''">
								,#{workImgRitUrl}
							</if>
							<if test="workImgTopUrl != null and workImgTopUrl != ''">
								,#{workImgTopUrl}
							</if>
							<if test="workImgBotUrl != null and workImgBotUrl != ''">
								,#{workImgBotUrl}
							</if>
							<if test="workVideoUrl != null and workVideoUrl != ''">
								,#{workVideoUrl}
							</if>
							<if test="workIntrdc != null and workIntrdc != ''">
								,#{workIntrdc}
							</if>
					)
					
	</insert>
	<select id="myWorkListSale" resultType="hashMap" parameterType="String">
		/*나의 작품 판매중 검색*/
		SELECT 
				D.DEAL_SQ AS dealSq, /*거래 번호*/
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				YEAR (B.MBR_BIRTH) AS artstBirthYear, /*작가생년월일*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				D.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				D.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_HEIGHT AS workSizeHeight, /*작품사이즈높이*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				(SELECT MAX(FORMAT(BID_PRC, 0))
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(D.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(D.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE D.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				DATE_FORMAT(D.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(D.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				D.DEAL_ENDNG_DT AS dealEndngDateTime /*거래종료날짜시간*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		INNER JOIN 
				TBL_DA_DEAL_M AS D
			ON 	A.WORK_SQ = D.WORK_SQ 
		WHERE
				A.WORK_TYP_CD = 'WORK'
				AND A.ARTST_SQ = #{value}
	</select>
	<select id="myWorkListNonSale" resultType="hashMap" parameterType="hashMap">
		/*나의 작품 판매중 아닌 것 검색*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				YEAR (B.MBR_BIRTH) AS artstBirthYear, /*작가생년월일*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				A.WORK_NM AS workNm, /*작품명*/
				FORMAT(A.WORK_PRC, 0) AS workPrc, /*작품가격*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear /*작품제작년도*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		WHERE 
				A.WORK_TYP_CD = 'WORK'
				<if test="workSq.size != 0 and workSq != null">
					AND A.WORK_SQ NOT IN
					<foreach collection="workSq" item="item" index="idex"  open="(" close=")" separator=",">
			        	#{item}
			        </foreach>
        		</if>
				AND A.WORK_SALE_YN = 'N'
				AND A.ARTST_SQ = #{artstSq}
	</select>
	
	<select id="myWorkMod" resultType="hashMap" parameterType="String">
		/*나의 작품 정보*/
		SELECT 
				A.WORK_SQ AS workSq,
				A.WORK_NM AS workNm,
				A.WORK_TYP_CD AS workTypCd,
				A.WORK_SIZE_WIDTH AS workSizeWidth,
				A.WORK_SIZE_DEPTH AS workSizeDepth,
				A.WORK_MATRL AS workMatrl,
				A.WORK_PRODC_YEAR AS workProdcYear,
				A.WORK_MAIN_IMG_URL AS workMainImgUrl,
				A.WORK_IMG_FRT_URL AS workImgFrtUrl,
				A.WORK_IMG_RER_URL AS workImgRerUrl,
				A.WORK_FRM_YN AS workFrmYn,
				A.WORK_SALE_YN AS workSaleYn,
				A.WORK_CLR_CD AS workClrCd,
				A.WORK_GRT_URL AS workGrtUrl,
				FORMAT(A.WORK_PRC, 0) AS workPrc,
				A.WORK_IMG_LEF_URL AS workImgLefUrl,
				A.WORK_IMG_RIT_URL AS workImgRitUrl,
				A.WORK_IMG_TOP_URL AS workImgTopUrl,
				A.WORK_IMG_BOT_URL AS workImgBotUrl,
				A.WORK_VIDEO_URL AS workVideoUrl,
				A.WORK_INTRDC AS workIntrdc,
				(SELECT B.KEYWRD_SQ  
				 FROM TBL_DA_KEYWRD_S AS B
				 WHERE A.WORK_SQ = B.WORK_SQ) AS keywrdSq,
				(SELECT B.KEYWRD
				 FROM TBL_DA_KEYWRD_S AS B
				 WHERE A.WORK_SQ = B.WORK_SQ) AS keywrd
		FROM 
				TBL_DA_WORK_M AS A
				
		WHERE 
				A.WORK_SQ = #{value}
			AND A.WORK_TYP_CD = 'WORK'
	</select>
	
	<insert id="myWorkCor">
		/*나의 작품 등록 수정*/
		INSERT INTO 
					TBL_DA_WORK_M(
									WORK_SQ,
									MBR_SQ,
									ARTST_SQ,
									ARTST_ACTVTY_NM,
									ARTST_BIRTH_YEAR,
									WORK_TYP_CD,
									WORK_NM,
									WORK_SIZE_WIDTH,
									WORK_SIZE_DEPTH,
									WORK_MATRL,
									WORK_PRODC_YEAR,
									WORK_MAIN_IMG_URL,
									WORK_IMG_FRT_URL,
									WORK_IMG_RER_URL,
									WORK_FRM_YN,
									WORK_SALE_YN,
									WORK_CLR_CD,
									UPDT_DT,
									UPDT_MBR_SQ
									<if test="workGrtUrl != null and workGrtUrl != ''">
										,WORK_GRT_URL
									</if>
									<if test="workPrc != null and workPrc != ''">
										,WORK_PRC
									</if>
									<if test="workImgLefUrl != null and workImgLefUrl != ''">
										,WORK_IMG_LEF_URL
									</if>
									<if test="workImgRitUrl != null and workImgRitUrl != ''">
										,WORK_IMG_RIT_URL
									</if>
									<if test="workImgTopUrl != null and workImgTopUrl != ''">
										,WORK_IMG_TOP_URL
									</if>
									<if test="workImgBotUrl != null and workImgBotUrl != ''">
										,WORK_IMG_BOT_URL
									</if>
									<if test="workVideoUrl != null and workVideoUrl != ''">
										,WORK_VIDEO_URL
									</if>
									<if test="workIntrdc != null and workIntrdc != ''">
										,WORK_INTRDC
									</if>
					) VALUES (
								#{workSq},
			     				#{mbrSq},
								#{artstSq},
								#{artstActvtyNm},
								#{artstBirthYear},
								#{workTypCd},
								#{workNm},
								#{workSizeWidth},
								#{workSizeDepth},
								#{workMatrl},
								#{workProdcYear},
								#{workMainImgUrl},
								#{workImgFrtUrl},
								#{workImgRerUrl},
								#{workFrmYn},
								#{workSaleYn},
								#{workClrCd},
								NOW(),
								#{mbrSq}
								<if test="workGrtUrl != null and workGrtUrl != ''">
									,#{workGrtUrl}
								</if>
								<if test="workPrc != null and workPrc != ''">
									,#{workPrc}
								</if>
								<if test="workImgLefUrl != null and workImgLefUrl != ''">
									,#{workImgLefUrl}
								</if>
								<if test="workImgRitUrl != null and workImgRitUrl != ''">
									,#{workImgRitUrl}
								</if>
								<if test="workImgTopUrl != null and workImgTopUrl != ''">
									,#{workImgTopUrl}
								</if>
								<if test="workImgBotUrl != null and workImgBotUrl != ''">
									,#{workImgBotUrl}
								</if>
								<if test="workVideoUrl != null and workVideoUrl != ''">
									,#{workVideoUrl}
								</if>
								<if test="workIntrdc != null and workIntrdc != ''">
									,#{workIntrdc}
								</if>
							)
	ON DUPLICATE KEY UPDATE
		    					MBR_SQ = #{mbrSq},
								ARTST_SQ = #{artstSq},
								ARTST_ACTVTY_NM = #{artstActvtyNm},
								ARTST_BIRTH_YEAR = #{artstBirthYear},
								WORK_TYP_CD = #{workTypCd},
								WORK_NM = #{workNm},
								WORK_SIZE_WIDTH = #{workSizeWidth},
								WORK_SIZE_DEPTH = #{workSizeDepth},
								WORK_MATRL = #{workMatrl},
								WORK_PRODC_YEAR = #{workProdcYear},
								WORK_MAIN_IMG_URL = #{workMainImgUrl},
								WORK_IMG_FRT_URL = #{workImgFrtUrl},
								WORK_IMG_RER_URL = #{workImgRerUrl},
								WORK_FRM_YN = #{workFrmYn},
								WORK_SALE_YN = #{workSaleYn},
								WORK_CLR_CD = #{workClrCd},
								UPDT_DT = NOW(),
								UPDT_MBR_SQ = #{mbrSq}
								<if test="workGrtUrl != null and workGrtUrl != ''">
									,WORK_GRT_URL = #{workGrtUrl}
								</if>
								<if test="workPrc != null and workPrc != ''">
									,WORK_PRC = #{workPrc}
								</if>
								<if test="workImgLefUrl != null and workImgLefUrl != ''">
									,WORK_IMG_LEF_URL = #{workImgLefUrl}
								</if>
								<if test="workImgRitUrl != null and workImgRitUrl != ''">
									,WORK_IMG_RIT_URL = #{workImgRitUrl}
								</if>
								<if test="workImgTopUrl != null and workImgTopUrl != ''">
									,WORK_IMG_TOP_URL = #{workImgTopUrl}
								</if>
								<if test="workImgBotUrl != null and workImgBotUrl != ''">
									,WORK_IMG_BOT_URL = #{workImgBotUrl}
								</if>
								<if test="workVideoUrl != null and workVideoUrl != ''">
									,WORK_VIDEO_URL = #{workVideoUrl}
								</if>
								<if test="workIntrdc != null and workIntrdc != ''">
									,WORK_INTRDC = #{workIntrdc}
								</if>
	</insert>
	
	<insert id="keywrdCor">
		/*작품 키워드 등록*/
		INSERT INTO
					TBL_DA_KEYWRD_S (
									KEYWRD_SQ,
									KEYWRD,
									WORK_SQ
									)
					VALUE(
									#{keywrdSq},
									#{keywrd},
									#{workSq}	
									)
		ON DUPLICATE KEY UPDATE			
									KEYWRD = #{keywrd}
	</insert>
	
	<select id="myCollectionSale" resultType="hashMap" parameterType="String">
		/*나의 소장품 판매중 검색*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				C.ARTST_ENGLS_NM AS artstEnglsNm, /*작가영문명*/
				YEAR (B.MBR_BIRTH) AS artstBirthYear, /*작가생년월일*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				D.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				D.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_HEIGHT AS workSizeHeight, /*작품사이즈높이*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				(SELECT MAX(FORMAT(BID_PRC, 0))
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(D.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(D.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE D.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				DATE_FORMAT(D.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(D.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				D.DEAL_ENDNG_DT AS dealEndngDateTime /*거래종료날짜시간*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		INNER JOIN 
				TBL_DA_DEAL_M AS D
			ON 	A.WORK_SQ = D.WORK_SQ 
		WHERE
				A.WORK_TYP_CD = 'COLL'
				AND A.MBR_SQ = #{value}
	</select>
	<select id="myCollectionNonSale" resultType="hashMap" parameterType="String">
		/*나의 소장품 판매전 검색*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				D.AUTH_SQ AS authSq, /*작가구분*/
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				A.ARTST_BIRTH_YEAR AS artstBirthYear, /*작가생년월일*/
				A.WORK_NM AS workNm, /*작품명*/
				FORMAT(A.WORK_PRC, 0) AS workPrc, /*작품가격*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear /*작품제작년도*/
		FROM 
				TBL_DA_WORK_M AS A,
				TBL_DA_MBR_M AS D
		WHERE 
				A.MBR_SQ = D.MBR_SQ 
				<if test="workSq.size != 0 and workSq != null">
					AND A.WORK_SQ NOT IN
					<foreach collection="workSq" item="item" index="idex"  open="(" close=")" separator=",">
			        	#{item}
			        </foreach>
        		</if>
				AND A.WORK_TYP_CD = 'COLL'
				AND A.WORK_SALE_YN = 'N'
				AND A.MBR_SQ = #{mbrSq}
	</select>
	<select id="myCollectionMod" resultType="hashMap" parameterType="String">
		/*나의 소장품 정보*/
		SELECT 
				A.WORK_SQ AS workSq,
				A.WORK_NM AS workNm,
				A.WORK_TYP_CD AS workTypCd,
				A.ARTST_SQ AS artstSq,
				A.ARTST_ACTVTY_NM AS artstActvtyNm,
				A.ARTST_BIRTH_YEAR AS artstBirthYear,
				A.WORK_SIZE_WIDTH AS workSizeWidth,
				A.WORK_SIZE_DEPTH AS workSizeDepth,
				A.WORK_MATRL AS workMatrl,
				A.WORK_PRODC_YEAR AS workProdcYear,
				A.WORK_MAIN_IMG_URL AS workMainImgUrl,
				A.WORK_IMG_FRT_URL AS workImgFrtUrl,
				A.WORK_IMG_RER_URL AS workImgRerUrl,
				A.WORK_FRM_YN AS workFrmYn,
				A.WORK_SALE_YN AS workSaleYn,
				A.WORK_CLR_CD AS workClrCd,
				A.WORK_GRT_URL AS workGrtUrl,
				FORMAT(A.WORK_PRC, 0) AS workPrc,
				A.WORK_IMG_LEF_URL AS workImgLefUrl,
				A.WORK_IMG_RIT_URL AS workImgRitUrl,
				A.WORK_IMG_TOP_URL AS workImgTopUrl,
				A.WORK_IMG_BOT_URL AS workImgBotUrl,
				A.WORK_VIDEO_URL AS workVideoUrl,
				A.WORK_INTRDC AS workIntrdc,
				(SELECT B.KEYWRD_SQ  
				 FROM TBL_DA_KEYWRD_S AS B
				 WHERE A.WORK_SQ = B.WORK_SQ) AS keywrdSq,
				(SELECT B.KEYWRD
				 FROM TBL_DA_KEYWRD_S AS B
				 WHERE A.WORK_SQ = B.WORK_SQ) AS keywrd
		FROM 
				TBL_DA_WORK_M AS A
				
		WHERE 
				A.WORK_SQ = #{value}
			AND A.WORK_TYP_CD = 'COLL'
	</select>
	
	<insert id="collectionCor">
		/*소장품 수정*/
		INSERT INTO 
					TBL_DA_WORK_M (
									WORK_SQ,
									MBR_SQ,
									WORK_TYP_CD,
									ARTST_ACTVTY_NM,
									WORK_NM,
									WORK_FRM_YN,
									WORK_CLR_CD,
									WORK_MAIN_IMG_URL, 
									WORK_IMG_FRT_URL, 
									WORK_IMG_RER_URL,
									UPDT_DT,
									UPDT_MBR_SQ
									<if test="artstSq != null and artstSq != ''">
										,ARTST_SQ
									</if>
									<if test="artstYear != null and artstYear != ''">
										,ARTST_BIRTH_YEAR
									</if> 
									<if test="workPrc != null and workPrc != ''">
										,WORK_PRC
									</if> 
									<if test="workSizeWidth != null and workSizeWidth != ''">
										,WORK_SIZE_WIDTH
									</if> 
									<if test="workSizeDepth != null and workSizeDepth != ''">
										,WORK_SIZE_DEPTH
									</if> 
									<if test="workMatrl != null and workMatrl != ''">
										,WORK_MATRL 
									</if> 
									<if test="workProdcYear != null and workProdcYear != ''">
										,WORK_PRODC_YEAR 
									</if> 
									<if test="workVideoUrl != null and workVideoUrl != ''">
										,WORK_VIDEO_URL
									</if> 
									<if test="workIntrdc != null and workIntrdc != ''">
										,WORK_INTRDC
									</if> 
									<if test="workGrtUrl != null and workGrtUrl != ''">
										,WORK_GRT_URL
									</if>
									<if test="workImgLefUrl != null and workImgLefUrl != ''">
										,WORK_IMG_LEF_URL
									</if>
									<if test="workImgRitUrl != null and workImgRitUrl != ''">
										,WORK_IMG_RIT_URL
									</if>
									<if test="workImgTopUrl != null and workImgTopUrl != ''">
										,WORK_IMG_TOP_URL
									</if>
									<if test="workImgBotUrl != null and workImgBotUrl != ''">
										,WORK_IMG_BOT_URL
									</if>
								)
							VALUES (
									#{workSq},
									#{mbrSq}, 
									#{workTypCd}, 
									#{artstActvtyNm}, 
									#{workNm}, 
									#{workFrmYn}, 
									#{workClrCd},
									#{workMainImgUrl}, 
									#{workImgFrtUrl}, 
									#{workImgRerUrl},
									NOW(),
									#{mbrSq}
									<if test="artstSq != null and artstSq != ''">
										,#{artstSq}
									</if>
									<if test="artstYear != null and artstYear != ''">
										,#{artstYear}
									</if> 
									<if test="workPrc != null and workPrc != ''">
										,#{workPrc}
									</if> 
									<if test="workSizeWidth != null and workSizeWidth != ''">
										,#{workSizeWidth}
									</if> 
									<if test="workSizeDepth != null and workSizeDepth != ''">
										,#{workSizeDepth}
									</if> 
									<if test="workMatrl != null and workMatrl != ''">
										,#{workMatrl} 
									</if> 
									<if test="workProdcYear != null and workProdcYear != ''">
										,#{workProdcYear} 
									</if> 
									<if test="workVideoUrl  != null and workVideoUrl  != ''">
										,#{workVideoUrl}
									</if> 
									<if test="workIntrdc != null and workIntrdc != ''">
										,#{workIntrdc}
									</if> 
									<if test="workGrtUrl != null and workGrtUrl != ''">
										,#{workGrtUrl}
									</if>
									<if test="workImgLefUrl != null and workImgLefUrl != ''">
										,#{workImgLefUrl}
									</if>
									<if test="workImgRitUrl != null and workImgRitUrl != ''">
										,#{workImgRitUrl}
									</if>
									<if test="workImgTopUrl != null and workImgTopUrl != ''">
										,#{workImgTopUrl}
									</if>
									<if test="workImgBotUrl != null and workImgBotUrl != ''">
										,#{workImgBotUrl}
									</if>
							)
	ON DUPLICATE KEY UPDATE
								WORK_TYP_CD = #{workTypCd}, 
								ARTST_ACTVTY_NM = #{artstActvtyNm}, 
								WORK_NM = #{workNm},
								WORK_FRM_YN = #{workFrmYn},
								WORK_CLR_CD = #{workClrCd},
								WORK_MAIN_IMG_URL = #{workMainImgUrl},
								WORK_IMG_FRT_URL = #{workImgFrtUrl},
								WORK_IMG_RER_URL =#{workImgRerUrl},
								UPDT_DT = NOW(),
								UPDT_MBR_SQ = #{mbrSq}
								<if test="artstSq != null and artstSq != ''">
									,ARTST_SQ = #{artstSq}
								</if>
								<if test="artstYear != null and artstYear != ''">
									,ARTST_BIRTH_YEAR = #{artstBirthYear}
								</if> 
								<if test="workPrc != null and workPrc != ''">
									,WORK_PRC = #{workPrc}
								</if> 
								<if test="workSizeWidth != null and workSizeWidth != ''">
									,WORK_SIZE_WIDTH = #{workSizeWidth}
								</if> 
								<if test="workSizeDepth != null and workSizeDepth != ''">
									,WORK_SIZE_DEPTH = #{workSizeDepth}
								</if> 
								<if test="workMatrl != null and workMatrl != ''">
									,WORK_MATRL = #{workMatrl}
								</if> 
								<if test="workProdcYear != null and workProdcYear != ''">
									,WORK_PRODC_YEAR = #{workProdcYear}
								</if> 
								<if test="workVideoUrl  != null and workVideoUrl  != ''">
									,WORK_VIDEO_URL = #{workVideoUrl}
								</if> 
								<if test="workIntrdc != null and workIntrdc != ''">
									,WORK_INTRDC = #{workIntrdc}
								</if> 
								<if test="workGrtUrl != null and workGrtUrl != ''">
									,WORK_GRT_URL = #{workGrtUrl}
								</if>
								<if test="workImgLefUrl != null and workImgLefUrl != ''">
									,WORK_IMG_LEF_URL = #{workImgLefUrl}
								</if>
								<if test="workImgRitUrl != null and workImgRitUrl != ''">
									,WORK_IMG_RIT_URL = #{workImgRitUrl}
								</if>
								<if test="workImgTopUrl != null and workImgTopUrl != ''">
									,WORK_IMG_TOP_URL = #{workImgTopUrl}
								</if>
								<if test="workImgBotUrl != null and workImgBotUrl != ''">
									,WORK_IMG_BOT_URL = #{workImgBotUrl}
								</if>
	</insert>
	
	<select id="scrapList" resultType="hashMap" parameterType="String">
		/*스크랩한 작품 번호 조회*/
		SELECT 
				WORK_SQ AS workSq
		FROM 
				TBL_DA_MBR_SCRAP_R
		WHERE 
				MBR_SQ = #{value}
	</select>
		
	<select id="scrapListSale" resultType="hashMap" parameterType="hashMap">
		/*판매중인 스크랩 목록 조회*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				B.AUTH_SQ AS authSq, /*작가구분*/
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				YEAR (B.MBR_BIRTH) AS artstBirthYear, /*작가생년월일*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				D.DEAL_TYP_CD AS dealTypCd, /*거래유형*/
				D.DEAL_STTS_CD AS dealSttsCd, /*거래상태*/
				A.WORK_NM AS workNm, /*작품명*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_HEIGHT AS workSizeHeight, /*작품사이즈높이*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				(SELECT MAX(FORMAT(BID_PRC, 0))
				FROM TBL_DA_AUCTN_BID_H
				WHERE D.DEAL_SQ = DEAL_SQ) AS maxBidPrc, /*응찰가*/
				FORMAT(D.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*거래시작가격*/
				FORMAT(D.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*거래낙찰가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE D.DEAL_SQ = DEAL_SQ) AS bidCnt, /*응찰수*/
				DATE_FORMAT(D.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(D.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				D.DEAL_ENDNG_DT AS dealEndngDateTime /*거래종료날짜시간*/
		FROM 
				TBL_DA_WORK_M AS A
		INNER JOIN
				TBL_DA_MBR_M AS B
			ON	A.MBR_SQ = B.MBR_SQ
		INNER JOIN
				TBL_DA_ARTST_M AS C
			ON 	A.ARTST_SQ = C.ARTST_SQ 
		INNER JOIN 
				TBL_DA_DEAL_M AS D
			ON 	A.WORK_SQ = D.WORK_SQ 
		WHERE
				A.WORK_SQ IN
				
				<foreach collection="list" item="item" index="idex"  open="(" close=")" separator=",">
		        	#{item.workSq}
		        </foreach>
	</select>
	<select id="scrapListNonSale" resultType="hashMap" parameterType="hashMap">
		/*판매중이 아닌 스크랩 목록 조회*/
		SELECT 
				A.WORK_SQ AS workSq, /*작품번호*/
				A.MBR_SQ AS mbrSq, /*멤버번호*/
				A.ARTST_SQ AS artstSq, /*작가번호*/
				D.AUTH_SQ AS authSq, /*작가구분*/
				C.ARTST_PROFILE_IMG_URL AS artstProfileImgUrl, /*작가프로필사진주소*/
				A.ARTST_ACTVTY_NM AS artstActvtyNm, /*작가활동명*/
				A.ARTST_BIRTH_YEAR AS artstBirthYear, /*작가생년월일*/
				A.WORK_NM AS workNm, /*작품명*/
				FORMAT(A.WORK_PRC, 0) AS workPrc, /*작품가격*/
				A.WORK_PRODC_YEAR AS workProdcYear, /*작품제작년도*/
				A.WORK_MATRL AS workMatrl, /*작품소재*/
				A.WORK_MAIN_IMG_URL AS workMainImgUrl, /*작품대표이미지주소*/
				A.WORK_SIZE_WIDTH AS workSizeWidth, /*작품사이즈가로*/
				A.WORK_SIZE_DEPTH AS workSizeDepth, /*작품사이즈세로*/
				A.WORK_PRODC_YEAR AS workProdcYear /*작품제작년도*/
		FROM 
				TBL_DA_WORK_M AS A,
				TBL_DA_MBR_M AS D,
				TBL_DA_ARTST_M AS C
		WHERE 
				A.MBR_SQ = D.MBR_SQ 
				AND A.ARTST_SQ = C.ARTST_SQ
				AND A.WORK_SALE_YN = 'N'
				<if test="workSq.size != 0 and workSq != null">
					AND A.WORK_SQ NOT IN
					<foreach collection="workSq" item="item" index="idex"  open="(" close=")" separator=",">
			        	#{item}
			        </foreach>
        		</if>
        		<if test="scrapSq.size != 0 and scrapSq != null">
					AND A.WORK_SQ IN
					<foreach collection="scrapSq" item="item" index="idex"  open="(" close=")" separator=",">
			        	#{item.workSq}
			        </foreach>
        		</if>
	</select>
	<update id="updateBuyPaymntSttsCd" parameterType="String">
		/*구매 결제상태 변경*/
		UPDATE 
				TBL_DA_DEAL_M 
		SET		
				BUY_PAYMNT_STTS_CD = #{dealSttsCd}
		WHERE  
				DEAL_SQ = #{dealSq}
	</update>
	<update id="updateSellPaymntSttsCd" parameterType="String">
		/*판매 결제상태 변경*/
		UPDATE 
				TBL_DA_DEAL_M 
		SET		
				SELL_PAYMNT_STTS_CD = #{dealSttsCd}
		WHERE  
				DEAL_SQ = #{dealSq}
	</update>
	
	<select id="getPaymentBuyerInfo" resultType="hashMap" parameterType="String">
		/*결제 구매자/판매자 배송지 조회*/
		SELECT 
				MBR_SQ AS buyMbrSq,
				MBR_NM AS mbrNm,
				MBR_EMAIL AS mbrEmail,
				MBR_CP_NUM AS mbrCpNum,
				MBR_DELIVRY_ADDR AS mbrDelivryAddr 
		FROM 
				TBL_DA_MBR_M
		WHERE 
				MBR_SQ = #{mbrSq}
	
	</select>
	
	<select id="getMyDealDetailDealInfo" resultType="hashMap" parameterType="String">
		/*결제 상세 페이지 상품 정보 조회*/
		SELECT 
				B.DEAL_SQ AS dealSq,
				B.SELL_MBR_SQ AS sellMbrSq,
				B.BUY_MBR_SQ AS buyMbrSq,
				A.WORK_SQ AS workSq,
				A.ARTST_SQ AS artstSq,
				A.WORK_MAIN_IMG_URL AS workMainImgUrl,
				A.WORK_GRT_URL AS workGrtUrl,
				A.ARTST_ACTVTY_NM AS artstActvtyNm,
				A.WORK_NM AS workNm,
				A.WORK_PRODC_YEAR AS workProdcYear,
				B.MBR_REF_NO AS mbrRefNo,
				B.DEAL_TYP_CD AS dealTypCd,
				B.DEAL_STTS_CD AS dealSttsCd,
				B.BUY_PAYMNT_STTS_CD AS buyPaymntSttsCd,
				B.SELL_PAYMNT_STTS_CD AS sellPaymntSttsCd,
				DATE_FORMAT(B.DEAL_STRT_DT, '%Y.%m.%d') AS dealStrtDate, /*거래시작일시*/
				DATE_FORMAT(B.DEAL_ENDNG_DT, '%Y.%m.%d') AS dealEndngDate, /*거래종료일시*/
				FORMAT(B.DEAL_STRT_PRC, 0) AS dealStrtPrc, /*경매 시작가*/
				(SELECT MBR_SQ 
				FROM TBL_DA_AUCTN_BID_H
				WHERE B.DEAL_SQ = DEAL_SQ
				ORDER BY BID_DATE DESC LIMIT 1) AS bidMbrSq, /*마지막 응찰 회원 순번*/
				FORMAT(B.DEAL_AUCTN_PRC, 0) AS dealAuctnPrc, /*경매 응찰 가격*/
				FORMAT(B.DEAL_SBID_PRC, 0) AS dealSbidPrc, /*경매 낙찰 가격*/
				FORMAT(B.DEAL_FINAL_PRC, 0) AS dealFinalPrc, /*거래 최종 가격*/
				(SELECT COUNT(DEAL_SQ)
				FROM TBL_DA_AUCTN_BID_H 
				WHERE B.DEAL_SQ = DEAL_SQ) AS bidCnt /*응찰수*/
		FROM 
				TBL_DA_WORK_M AS A,
				TBL_DA_DEAL_M AS B
		WHERE 
				A.WORK_SQ = B.WORK_SQ 
			AND	A.ARTST_SQ = B.ARTST_SQ 
			AND B.DEAL_SQ = #{dealSq}
		GROUP BY B.DEAL_SQ
	</select>
	
	<select id="selectTrnsprtPrc" resultType="String" parameterType="hashMap">
		/*운송 가격 가져오기*/
		SELECT
				FORMAT(TRNSPRT_PRC , 0)
		FROM
				TBL_DA_TRNSPRT_PRC_MTRX
		WHERE 
				TRNSPRT_DIV_CD = #{trnsprtDivCd}
			<if test="trnsprtTypCd != null and trnsprtTypCd != ''">
			AND TRNSPRT_TYP_CD = #{trnsprtTypCd}
			</if>
			<if test="trnsprtAreaCd != null and trnsprtAreaCd != ''">
			AND TRNSPRT_AREA_CD = #{trnsprtAreaCd}
			</if>
			<if test="trnsprtServiceCd != null and trnsprtServiceCd != ''">
			AND TRNSPRT_SERVICE_CD = #{trnsprtServiceCd}
			</if>
	</select>
	
	<select id="selectTrnsprtCdNm" resultType="hashMap" parameterType="hashMap">
		/*운송 매트리스 코드 이름 가져오기*/
		SELECT
			(SELECT TRNSPRT_DIV_CD_NM
			FROM TBL_DA_TRNSPRT_PRC_MTRX
			WHERE TRNSPRT_DIV_CD = #{trnsprtDivCd}
			GROUP BY TRNSPRT_DIV_CD_NM) AS trnsprtDivCdNm,
			(SELECT TRNSPRT_TYP_CD_NM 
			FROM TBL_DA_TRNSPRT_PRC_MTRX
			WHERE TRNSPRT_TYP_CD = #{trnsprtTypCd}
			GROUP BY TRNSPRT_TYP_CD_NM) AS trnsprtTypCdNm,
			(SELECT TRNSPRT_AREA_CD_NM 
			FROM TBL_DA_TRNSPRT_PRC_MTRX
			WHERE TRNSPRT_AREA_CD = #{trnsprtAreaCd}
			GROUP BY TRNSPRT_AREA_CD_NM) AS trnsprtAreaCdNm,
			(SELECT TRNSPRT_SERVICE_CD_NM 
			FROM TBL_DA_TRNSPRT_PRC_MTRX
			WHERE TRNSPRT_SERVICE_CD = #{trnsprtServiceCd}
			GROUP BY TRNSPRT_SERVICE_CD_NM) AS trnsprtServiceCdNm
	</select>
	
</mapper>