<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.paymentMapper">


	<!-- 거래 메인 -->
	<select id="dealMainList" resultType="hashMap">
		SELECT
           	DEAL_SQ             AS dealSq
			,(SELECT WORK_NM FROM TBL_DA_WORK_M WHERE WORK_SQ = TBL.WORK_SQ) AS workSq
			,(SELECT CONCAT(B.MBR_NM,'[',A.ARTST_ACTVTY_NM,']') FROM TBL_DA_ARTST_M A INNER JOIN TBL_DA_MBR_M B ON A.MBR_SQ = B.MBR_SQ WHERE ARTST_SQ = TBL.ARTST_SQ) AS artstSq
			,MBR_REF_NO          AS mbrRefNo
			,(SELECT B.DTL_CD_NM FROM TBL_DA_COMN_CD_M A INNER JOIN TBL_DA_COMN_DTL_CD_S B ON A.CD_SQ = B.CD_SQ WHERE A.CD = 'DEAL_TYP_CD' AND B.DTL_CD = TBL.DEAL_TYP_CD AND A.USE_YN = 'Y') AS dealTypCd
			,(SELECT B.DTL_CD_NM FROM TBL_DA_COMN_CD_M A INNER JOIN TBL_DA_COMN_DTL_CD_S B ON A.CD_SQ = B.CD_SQ WHERE A.CD = 'DEAL_STTS_CD' AND B.DTL_CD = TBL.DEAL_STTS_CD AND A.USE_YN = 'Y') AS dealSttsCd
			,FORMAT(DEAL_STRT_PRC,0)       AS dealStrtPrc
			,DEAL_AUCTN_PRC      AS dealAuctnPrc
			,DEAL_FINAL_PRC      AS dealFinalPrc
			,DATE_FORMAT(DEAL_STRT_DT, '%Y-%m-%d') AS dealStrtDt
			,DATE_FORMAT(DEAL_ENDNG_DT, '%Y-%m-%d') AS dealEndngDt
			,WORK_SQ AS workSqNum
		FROM
            TBL_DA_DEAL_M TBL 
        WHERE 1=1
             <if test="dealSq != null">
             	AND DEAL_SQ =#{dealSq}
             </if>
	</select>
	
	 <!-- 거래 상세 - 결제 -->
    <select id="payDetail" resultType="hashMap">
        SELECT
           	MBR_SQ					AS mbrSq
           	,PAYMNT_SQ                AS paymntSq
			,DEAL_SQ                 AS dealSq
			,PAYMNT_TYP_CD           AS paymntTypCd
			,MBR_REF_NO              AS mbrRefNo
			,REF_NO                  AS refNo
			,AUTH_TOKEN              AS authToken
			,AID                     AS aid
			,GOODS_NAME              AS goodsName
			,PAYMETHOD               AS paymethod
			,AMOUNT                  AS amount
			,TRAN_DATE               AS tranDate
			,TRAN_TIME               AS tranTime
			,APPL_NO                 AS applNo
			,CARD_NO                 AS cardNo
			,INSTALLMENT             AS installment
			,PAY_TYPE                AS payType
			,ISSUE_COMPANY_NO        AS issueCompanyNo
			,ISSUE_COMPANY_NAME      AS issueCompanyName
			,ISSUE_CARD_NAME         AS issueCardName
			,ACQ_COMPANY_NO          AS acqCompanyNo
			,ACQ_COMPANY_NAME        AS acqCompanyName
			,BANK_CODE               AS bankCode
			,ACCOUNT_NO              AS accountNo
			,ACCOUNT_CLOSE_DATE      AS accountCloseDate
			,TAX_AMOUNT              AS taxAmount
			,FEE_AMOUNT              AS feeAmount
			,FORMAT(TAX_FREE_AMOUNT,0) AS taxFreeAmount
			,(SELECT ARTST_SQ FROM TBL_DA_DEAL_M WHERE DEAL_SQ = A.DEAL_SQ) AS artstSq
		FROM
            TBL_DA_PAYMNT_H A
        WHERE 1=1
         	AND A.DEAL_SQ = #{dealSq}
    </select>
	  
    <!-- 거래 운송 목록 -->
    <select id="trnsprtList" resultType="hashMap">
        SELECT
           	DEAL_SQ				AS dealSq
			,SELL_MBR_SQ		AS sellMbrSq
			,BUY_MBR_SQ			AS buyMbrSq
			,ARTST_SQ			AS artstSq
			,TRNSPRT_DIV_CD		AS trnsprtDivCd
			,TRNSPRT_TYP_CD		AS trnsprtTypCd
			,TRNSPRT_AREA_CD	AS	trnsprtAreaCd
			,TRNSPRT_SERVICE_CD	AS trnsprtServiceCd
			,TRNSPRT_PRC		AS trnsprtPrc
		FROM
            TBL_DA_DEAL_TRNSPRT_S A 
        WHERE 1=1
         	AND A.DEAL_SQ = #{dealSq}
         	ORDER BY DEAL_SQ DESC
    </select>
    
    <!-- 작품정보 -->
    <select id="workInfo" resultType="hashMap">
    	SELECT 
			WORK_SQ AS workSq
			,WORK_MAIN_IMG_URL AS workMainImgUrl
		FROM TBL_DA_WORK_M
		WHERE 1=1
		AND WORK_SQ = #{workSq}
   </select>
   
</mapper>