<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.paymentMapper">


   <!-- 거래 메인/작품거래 내역  -->
   <select id="workDealhList" resultType="hashMap">
   		SELECT 
		 	DEAL_SQ 		AS dealSq
		 	,WORK_SQ		AS workSq
		 	,SELL_MBR_SQ	AS sellMbrSq
		 	,BUY_MBR_SQ		AS buyMbrSq
		 	,ARTST_SQ		AS artstSq
		FROM TBL_DA_WORK_DEAL_H
		WHERE DEAL_SQ = #{dealSq}
   </select>


	<!-- 거래 메인 -->
	<select id="dealMainList" resultType="hashMap">
		SELECT
           	 DEAL_SQ  AS dealSq
			,(SELECT WORK_NM FROM TBL_DA_WORK_M WHERE WORK_SQ = TBL.WORK_SQ) AS workSq
			,ARTST_SQ AS artstSq
			,(SELECT CONCAT(B.MBR_NM,'[',A.ARTST_ACTVTY_NM,']') FROM TBL_DA_ARTST_M A INNER JOIN TBL_DA_MBR_M B ON A.MBR_SQ = B.MBR_SQ WHERE A.ARTST_SQ = TBL.ARTST_SQ) AS artstSqNm
			,MBR_REF_NO          AS mbrRefNo
			,(SELECT B.DTL_CD_NM FROM TBL_DA_COMN_CD_M A INNER JOIN TBL_DA_COMN_DTL_CD_S B ON A.CD_SQ = B.CD_SQ WHERE A.CD = 'DEAL_TYP_CD' AND B.DTL_CD = TBL.DEAL_TYP_CD AND A.USE_YN = 'Y') AS dealTypCd
			,(SELECT B.DTL_CD_NM FROM TBL_DA_COMN_CD_M A INNER JOIN TBL_DA_COMN_DTL_CD_S B ON A.CD_SQ = B.CD_SQ WHERE A.CD = 'DEAL_STTS_CD' AND B.DTL_CD = TBL.DEAL_STTS_CD AND A.USE_YN = 'Y') AS dealTypCdTxt
			,FORMAT(DEAL_STRT_PRC,0)       AS dealStrtPrc
			,DEAL_AUCTN_PRC      AS dealAuctnPrc
			,DEAL_FINAL_PRC      AS dealFinalPrc
			,DATE_FORMAT(DEAL_STRT_DT, '%Y.%m.%d %H:%i') AS dealStrtDt
			,DATE_FORMAT(DEAL_ENDNG_DT, '%Y.%m.%d %H:%i') AS dealEndngDt
			,WORK_SQ        AS workSqNum
			,DEAL_MEMO      AS dealMemo
			,SELL_MBR_SQ	AS sellMbrSq
		 	,BUY_MBR_SQ		AS buyMbrSq
		 	,DEAL_STTS_CD   AS dealSttsCd
		 	,BUY_PAYMNT_STTS_CD AS buyPaymntSttsCd
		 	,SELL_PAYMNT_STTS_CD as sellPaymntSttsCd
		FROM
            TBL_DA_DEAL_M TBL 
        WHERE 1=1
             <if test="dealSq != null">
             	AND DEAL_SQ = #{dealSq}
             </if>
	</select>
	
	<!--거래 메인 수정 : 거래_상태_코드-->
	<update id="dealMainSttsCdUpdate" parameterType="hashMap">
   		UPDATE 
   			TBL_DA_DEAL_M
			<trim prefix="SET" suffixOverrides=",">
      			<if test="dealSttsCd  	  != null">DEAL_STTS_CD = #{dealSttsCd},</if>
				<if test="buyPaymntSttsCd != null">BUY_PAYMNT_STTS_CD = #{buyPaymntSttsCd},</if>
				<if test="sellPaymntSttsCd!= null">SELL_PAYMNT_STTS_CD = #{sellPaymntSttsCd},</if>
			</trim>
			
   		WHERE DEAL_SQ = #{dealSq}
    </update>
	
	<!--거래 메인 수정 : 거래_메모-->
	<update id="dealMainMemoUpdate" parameterType="hashMap">
   		UPDATE 
   			TBL_DA_DEAL_M
		SET
			DEAL_MEMO = #{dealMemo}
   		WHERE 1=1
         	AND DEAL_SQ = #{dealSq}
	</update>
	
	 <!-- 거래 상세 - 결제 -->
    <select id="payDetail" resultType="hashMap">
        SELECT
				PAYMNT_SQ			as	paymntSq
			,	PAYMNT_TYP_CD			as	paymntTypCd
			,(SELECT B.DTL_CD_NM FROM TBL_DA_COMN_CD_M A INNER JOIN TBL_DA_COMN_DTL_CD_S B ON A.CD_SQ = B.CD_SQ WHERE A.CD = 'PAYMNT_TYP_CD' AND B.DTL_CD = PH.PAYMNT_TYP_CD AND A.USE_YN = 'Y') AS paymntTypCdNm
			,	MBR_SQ			as	mbrSq
			,	DEAL_SQ			as	dealSq
			,	DEAL_TYP_CD			as	dealTypCd
			,(SELECT B.DTL_CD_NM FROM TBL_DA_COMN_CD_M A INNER JOIN TBL_DA_COMN_DTL_CD_S B ON A.CD_SQ = B.CD_SQ WHERE A.CD = 'DEAL_TYP_CD' AND B.DTL_CD = PH.DEAL_TYP_CD AND A.USE_YN = 'Y') AS dealTypCdNm
			,	WORK_SQ			as	workSq
			,	ARTST_SQ			as	artstSq
			,	CUPON_SQ			as	cuponSq
			,	PAYMNT_DIV_CD			as	paymntDivCd
			,(SELECT B.DTL_CD_NM FROM TBL_DA_COMN_CD_M A INNER JOIN TBL_DA_COMN_DTL_CD_S B ON A.CD_SQ = B.CD_SQ WHERE A.CD = 'PAYMNT_DIV_CD' AND B.DTL_CD = PH.PAYMNT_DIV_CD AND A.USE_YN = 'Y') AS paymntDivCdNm
			,	PAYMNT_AMT			as	paymntAmt
			,	PAYMNT_FEE_AMT			as	paymnt_feeAmt
			,	PAYMNT_DISC_AMT			as	paymntDiscAmt
			,	AMOUNT			as	amount
			,	MBR_REF_NO			as	mbrRefNo
			,	REF_NO			as	refNo
			,	AUTH_TOKEN			as	authToken
			,	AID			as	aid
			,	GOODS_NAME			as	goodsName
			,	PAYMETHOD			as	paymethod
			,	TRAN_DATE			as	tranDate
			,	TRAN_TIME			as	tranTime
			,	APPL_NO			as	applNo
			,	CARD_NO			as	cardNo
			,	INSTALLMENT			as	installment
			,	PAY_TYPE			as	payType
			,	ISSUE_COMPANY_NO			as	issueCompanyNo
			,	ISSUE_COMPANY_NAME			as	issueCompanyName
			,	ISSUE_CARD_NAME			as	issueCardName
			,	ACQ_COMPANY_NO			as	acqCompanyNo
			,	ACQ_COMPANY_NAME			as	acqCompanyName
			,	BANK_CODE			as	bankCode
			,	ACCOUNT_NO			as	accountNo
			,	ACCOUNT_CLOSE_DATE			as	accountCloseDate
			,	TAX_AMOUNT			as	taxAmount
			,	FEE_AMOUNT			as	feeAmount
			,	FORMAT(TAX_FREE_AMOUNT,0)			as	taxFreeAmount
			,A.PAYMNT_DT AS paymntDt
		FROM
            TBL_DA_PAYMNT_H PH
        WHERE 1=1
         	AND PH.DEAL_SQ = #{dealSq}
    </select>
	  
    <!-- 거래 운송 목록 -->
    <select id="trnsprtList" resultType="hashMap">
        SELECT
           	DEAL_SQ				AS dealSq
			,SELL_MBR_SQ		AS sellMbrSq
			,BUY_MBR_SQ			AS buyMbrSq
			,ARTST_SQ			AS artstSq
			,TRNSPRT_DIV_CD		AS trnsprtDivCd
			,TRNSPRT_TYP_CD		AS trnsprtTypCd
			,TRNSPRT_AREA_CD	AS	trnsprtAreaCd
			,TRNSPRT_SERVICE_CD	AS trnsprtServiceCd
			,TRNSPRT_PRC		AS trnsprtPrc
		FROM
            TBL_DA_DEAL_TRNSPRT_S A 
        WHERE 1=1
         	AND A.DEAL_SQ = #{dealSq}
         	ORDER BY DEAL_SQ DESC
    </select>
    
    <!-- 작품정보 -->
    <select id="workInfo" resultType="hashMap">
    	SELECT 
			WORK_SQ AS workSq
			,WORK_MAIN_IMG_URL AS workMainImgUrl
			,WORK_NM AS workNm
			,WORK_PRODC_YEAR AS workProdcYear
			,WORK_PRC AS workPrc
		FROM TBL_DA_WORK_M
		WHERE 1=1
		AND	DEL_YN = 'N' /*작품 삭제 여부 확인 */
		AND WORK_SQ = #{workSq}
   </select>
   
</mapper>