<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.ReportMapper">
   
   <insert id="reportInsert">
		/*신고 등록*/
		INSERT INTO
					TB_DA_RPRT_M (
						WORK_SQ,
						MBR_SQ,
						RPRT_DTL,
						PRPT_DT

					) VALUES (
						#{workSq},
						#{mbrSq},
						#{rprtDtl},
						NOW()
					)	
						
	</insert>
	
	<select id="reportList" resultType="hashMap">
		SELECT
			
			A.RPRT_SQ AS rprtSq,
			A.MBR_SQ AS mbrSq,
			A.WORK_SQ AS workSq,
			A.RPRT_DTL AS rprtDtl,
			A.RPRT_RSLT_TYP_CD AS rprtRsltTypCd,
			CASE
				WHEN A.RPRT_RSLT_TYP_CD = 'RP'
				THEN '신고요청'
				WHEN A.RPRT_RSLT_TYP_CD = 'FR'
				THEN '허위신고'
				WHEN A.RPRT_RSLT_TYP_CD = 'FS'
				THEN '허위판매'
				WHEN A.RPRT_RSLT_TYP_CD = 'FG'
				THEN '위작'
			END AS rprtTyp,
			DATE_FORMAT(A.PRPT_DT, "%Y-%m-%d-%h") AS rprtDt,
			B.WORK_NM As workNm,
			C.ARTST_ACTVTY_NM AS artstNm,
			D.MBR_NM AS mbrNm 
		
			FROM TB_DA_RPRT_M AS A
			
			INNER JOIN
				TBL_DA_WORK_M AS B
			ON 	A.WORK_SQ = B.WORK_SQ
			
			INNER JOIN
				TBL_DA_ARTST_M C
			ON 	B.ARTST_SQ = C.ARTST_SQ
			
			INNER JOIN
				TBL_DA_MBR_M AS D
			ON 	A.MBR_SQ = D.MBR_SQ
			
			WHERE 1=1
			  AND	B.DEL_YN = 'N' /*작품 삭제 여부 확인 */
			
			 <if test="rprtSq != null">
			 	AND A.RPRT_SQ = #{rprtSq}
			 </if>
			
			ORDER BY RPRT_SQ DESC 
	</select>
    <update id="reportUpdate" parameterType="hashMap">
   		UPDATE TB_DA_RPRT_M 
   		SET 
      		RPRT_RSLT_TYP_CD =#{rprtRsltTypCd}
      	WHERE 
      		RPRT_SQ = #{rprtSq}
	</update>
   
   
</mapper>