<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.da.mapper.ReportMapper">
   
   <insert id="reportInsert">
		/*신고 하기*/
		INSERT INTO 
			TBL_DA_RPRT_M (
				MBR_SQ 
				, WORK_SQ 
				, COMT_SQ 
				, ARTST_SQ 
				, DEAL_SQ 
				, RPRT_CONTENT 
				, REG_DT 
				, REG_MBR_SQ 
				, UPDT_DT 
				, UPDT_MBR_SQ 
		
			) VALUES (
				#{mbrSq}
				, #{comtSq}
				, #{artstSq}
				, #{dealSq}
				, #{rprtContent}
				, NOW()
				, #{regMbrSq}
				, NOW()
				, #{updtMbrSq}
			)
								
	</insert>
	
	<select id="reportList" resultType="hashMap">
		/* 신고 조회 */
		SELECT
				RPRT.RPRT_SQ AS rprtSq
				, RPRT.MBR_SQ AS mbrSq
				, RPRT.WORK_SQ  AS workSq
				, RPRT.COMT_SQ  AS comtSq
				, RPRT.ARTST_SQ AS artstSq
				, RPRT.DEAL_SQ  AS dealSq
				, RPRT.RPRT_TYP_CD AS rprtTypCd
				, (
				SELECT DTL_CD_NM 
				FROM TBL_DA_COMN_DTL_CD_S AS A
				WHERE RPRT.RPRT_TYP_CD = A.DTL_CD
				) AS rprtTypCdNm
				, RPRT.RPRT_RSLT_CD AS rprtRsltCd
				, (
				SELECT DTL_CD_NM 
				FROM TBL_DA_COMN_DTL_CD_S AS B
				WHERE RPRT.RPRT_RSLT_CD = B.DTL_CD
				) AS rprtRsltCdNm
				, RPRT_CONTENT AS rprtContent
				, RPRT.REG_DT AS regDt
				, RPRT.REG_MBR_SQ AS regMbrSq
				, RPRT.UPDT_DT AS updtDt
				, RPRT.UPDT_MBR_SQ AS updtMbrSq
				, RPRT.USE_YN AS useYn
				, RPRT.DEL_YN AS delYn
		FROM 
				TBL_DA_RPRT_M AS RPRT
		LEFT JOIN
				TBL_DA_WORK_M AS WORKS
			ON	WORKS.WORK_SQ = RPRT.WORK_SQ
		LEFT JOIN 
				TBL_DA_COMT_M AS COMT
			ON	COMT.COMT_SQ = RPRT.COMT_SQ
		LEFT JOIN 
				TBL_DA_DEAL_M AS DEAL
			ON	DEAL.DEAL_SQ = RPRT.DEAL_SQ
		WHERE 
				RPRT.DEL_YN = 'N'
			AND RPRT.USE_YN = 'Y'
		<if test="rprtSq != null and rprtSq != ''">
			AND RPRT.RPRT_SQ = #{rprtSq}
		</if>
		ORDER BY RPRT.RPRT_SQ DESC 
	</select>
    
    <update id="reportUpdate" parameterType="hashMap">
   		UPDATE TB_DA_RPRT_M 
   		SET 
      		RPRT_TYP_CD = #{rprtTypCd}
      		RPRT_RSLT_CD = #{rprtRsltCd}
      	WHERE 
      		RPRT_SQ = #{rprtSq}
	</update>
   
   
</mapper>