<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>딜링아트</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
	
	<meta name="author" content="">
	<meta name="keywords" content="미술,아트,경매,수수료,정찰,운송,보험,직거래,dealingart">
	<meta name="description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:description" content="미술품 거래의 새로운 트렌드">
	<meta property="og:type" content="website">
	<meta property="og:title" content="딜링아트">
	<meta property="og:image" content="https://www.dealing-art.com/resources/img/DA_logo_og.png">
	<meta property="og:url" content="https://www.dealing-art.com">
	
	<meta name="robots"content="noindex">
	
	<!-- google -->
    <meta name="google-site-verification" content="EKiW_Lm3Qw-DYnLT9qokEpZT2Sa8tSQuVWhVEvs4kPk" />
    <!-- faceBook -->
    <meta name="facebook-domain-verification" content="bgotqya9tcsrgrmspnq0uywh85kjzh" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- HTML의 <head> 섹션에 전체 사이트 태그를 복사합니다. -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRJBSR52MT"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WRJBSR52MT');
	</script>
	
	<!-- Google Tag Manager -->
	<!-- 페이지의 <head>에서 가능한 한 높은 위치에 코드를 붙여넣으세요. -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBP5CQ9');</script>
	<!-- End Google Tag Manager -->
			
	<!-- Google Tag Manager (noscript) -->
	<!-- 또한 여는 <body> 태그 바로 뒤에 코드를 붙여넣으세요. -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBP5CQ9"height="0" width="0" style="display:none; visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	
	<!-- 페이스북 Meta Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '5995234030505207');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=5995234030505207&ev=PageView&noscript=1"/></noscript>
    
    <style>
    	.head-wrap{border-bottom:#e9e9e9 1px solid;}
    	.swi-box::before{background-color:#f9f9f9;}
    	.footer-wrap{margin-top:0;}
    	.hd-div{background-color:#fff;}
    	[name=COLLworkClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		[name=WORKworkClrCd]:checked+label{
		  outline: 5px solid gray;
		}
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
		/* Firefox */
		input[type=number] {
		  -moz-appearance: textfield;
		}
    </style>
    
    <link rel="icon" type="image/png" href="/resources/img/favicon.png">
    <link type="text/css" rel="stylesheet" href="/resources/css/common_new.css"/>
</head>
<body>
	<th:block th:replace="thymeleaf/header :: headerFragment"></th:block>
    <div id="container">
        <div class="main_wrap">
            <!-- <div class="visual">
                <p>
                    딜링아트에서<br> 
                    당신만의 아트 컬렉션을<br> 
                    자유롭게 자랑해보세요.
                </p>
                <a href="/myPage/myWorkList_reg"><button type="button">시작하기</button></a>
            </div> -->
            <div class="contents banner_pc">
				<div class="bg-sh"></div>
				<div class="main-banner">						
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
							
							<!-- <div class="swiper-slide" align="center" style="background-color:#ffffff;">
								<a href="https://promo.dealing-art.com/dp/collectors-loving-ittem" target="_blank"><img src="/resources/img/banner-20_pc.jpg" border="0"/></a>
							</div> -->
							<!--/* 메인 배너 추가 (2023-01-18) : 정대현 */-->
							<!-- <div class="swiper-slide" align="center" style="background-color:#ffffff;">
								<img src="/resources/img/DA_banner_pc_230516.png" onclick="javascript:location.href='https://promo.dealing-art.com/2023/dp/da_1st';" style="cursor:pointer;"/>
							</div> -->
							<div class="swiper-slide" align="center" style="background-color:#ffffff;">
								<img src="/resources/img/banner-22_pc.jpg" onclick="javascript:location.href='https://promo.dealing-art.com/2023/auto_action_bidding_5percet?utm_source=landingpage&utm_medium=MainBanner&utm_campaign=action_bidding_5percet ';" style="cursor:pointer;"/>
							</div>
							<div class="swiper-slide" align="center" style="background-color:#ffffff;">
								<img src="/resources/img/banner-21_pc.png" onclick="javascript:location.href='https://promo.dealing-art.com/2023/auto_action_bidding_5percet?utm_source=landingpage&utm_medium=MainBanner&utm_campaign=action_bidding_5percet ';" style="cursor:pointer;"/>
							</div>
							<div class="swiper-slide" align="center" style="background-color:#ffffff;">
								<img src="/resources/img/banner-12_pc.png" onclick="javascript:location.href='/mgz9/insights';" style="cursor:pointer;"/>
							</div>
							<div class="swiper-slide" align="center" style="background-color:#fe4d01;">
								<img src="/resources/img/banner-13_pc.jpg" onclick="javascript:location.href='/mgz9/media';" style="cursor:pointer;"/>
							</div>
						</div>
						<div class="swiper-pagination swpa-1"></div>
					</div>
				</div>
			</div>

			<!--mobile배너-->
			<div class="contents banner_mobile">
				<div class="bg-sh"></div>
				<div class="main-banner">						
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
							
							<!-- <div class="swiper-slide" align="center" style="background-color:#ffffff;">
								<a href="https://promo.dealing-art.com/dp/collectors-loving-ittem" target="_blank"><img src="/resources/img/banner-20_mobile.jpg" border="0"/></a>
							</div> -->
							<!--/* 메인 배너 추가 (2023-01-18) : 정대현 */-->
							<!-- <div class="swiper-slide">
								<img src="/resources/img/DA_banner_mobile_230516.png" onclick="javascript:location.href='https://promo.dealing-art.com/2023/dp/da_1st';" style="cursor:pointer;"/>
							</div> -->
							<div class="swiper-slide">
								<img src="/resources/img/banner-22_mobile.jpg" onclick="javascript:location.href='https://promo.dealing-art.com/2023/auto_action_bidding_5percet?utm_source=landingpage&utm_medium=MainBanner&utm_campaign=action_bidding_5percet ';" style="cursor:pointer;"/>
							</div>
							<div class="swiper-slide">
								<img src="/resources/img/banner-21_mobile.png" onclick="javascript:location.href='https://promo.dealing-art.com/2023/auto_action_bidding_5percet?utm_source=landingpage&utm_medium=MainBanner&utm_campaign=action_bidding_5percet ';" style="cursor:pointer;"/>
							</div>
							<div class="swiper-slide">
								<img src="/resources/img/banner-12_mobile.png" onclick="javascript:location.href='/mgz9/insights';" style="cursor:pointer;"/>
							</div>
							<div class="swiper-slide">
								<img src="/resources/img/banner-13_mobile.jpg" onclick="javascript:location.href='/mgz9/media';" style="cursor:pointer;"/>
							</div>

						</div>
						<div class="swiper-pagination swpa-1"></div>
					</div>
				</div>
			</div>
            <div class="member_works_showingoff_wrap">
                <div class="tit_wrap">
                    <h2>회원들이 작품 자랑하기</h2>
                    <a href="/community/worksList"><button type="button" class="btn_more">더보기</button></a>
                </div>                
                <div class="works_layout" id="boaBox">
                    <!-- <div class="left">
                        <img src="/resources/img/img_new/main_works_showingoff_sample00.jpg" alt="">
                        <div class="bottom">
                            <img src="/resources/img/img_new/main_works_showingoff_sample02.jpg" alt="">
                            <img src="/resources/img/img_new/main_works_showingoff_sample03.jpg" alt="">    
                        </div>
                    </div>
                    <div class="right"><img src="/resources/img/img_new/main_works_showingoff_sample01.jpg" alt=""></div> -->
                </div>
            </div>
            <!-- <div class="market_work_wrap">
                <div class="tit_wrap">
                    <h2>지금 거래중인 작품</h2>
                    <a href="/deal"><button type="button" class="btn_more">더보기</button></a>
                </div>
                <div class="swiper-container">
                	
                	<div class="swiper-button-prev btn_swipe_left"></div>
	                
	                <ul class="swiper-wrapper" id="nowDealWorkBox">
	                             
	                </ul>
	                
	                <div class="swiper-button-next btn_swipe_right"></div>
                </div>
                
            </div> -->
            <!-- New deal --> <!-- 0808 -->
			<div class="contents max-1500 market_work_wrap" id="newDeal_title">				
				<div class="tit_wrap">
                    <h2>지금 거래중인 작품</h2>
                    <a href="/deal"><button type="button" class="btn_more">더보기</button></a>
                </div>
				<div class="swi-box mt10">
					<div class="swiper mySwiper1">
						<div class="swiper-wrapper" id="nowDealWorkBox"></div>
						<div class="swiper-pagination swpa-2 pc-no"></div>
					</div>
					<div class="swiper-button-next InNextSwiper1 sbn ta-no"><span><img src="/resources/img/arr-r.jpg"></span></div>
					<div class="swiper-button-prev InPrevSwiper1 sbp ta-no"><span><img src="/resources/img/arr-l.jpg"></span></div>
				</div>
				<!-- <div class="text-center">
					<button type="button" class="btn-more ta-no"><span>more</span></button>
				</div> -->
			</div>
            <!-- <div class="magazine9_wrap">
                <div class="tit_wrap">
                    <h2>매거진 9</h2>
                    <a href="mgz9/insights"><button type="button" class="btn_more">더보기</button></a>
                </div>
                <div class="swiper-container">
                	
                	<div class="swiper-button-prev btn_swipe_left"></div>
                	
	                <div class="swiper-wrapper" id="mgz9Box">
	                	<div class="magazine">
	                		<div class="contents">
		                        <p class="tit">매거진9  Insights 2023 / 6월호</p>
		                        <p class="text">전시에 관한 거의 모든 것에 대하여</p>
		                        <p class="text pt0">All about Exhibition</p>
		                        <span>Art-ist 박혜미</span>
		                    </div>
	                	</div>
	                </div>
	                
                	<div class="swiper-button-next btn_swipe_right"></div>
                </div>
            </div> -->
            <!-- Dealing Art Insights -->
			<div class="contents max-1500 magazine9_wrap">				
				<div class="tit_wrap">
                    <h2>매거진9</h2>
                    <a href="/mgz9/magazine9_main"><button type="button" class="btn_more">더보기</button></a>
                </div>
				<div class="cns-div swi-box mt10">
					<div class="swiper mySwiper2" >
						<div class="swiper-wrapper" id="mgz9Box"></div>
						<!-- <div class="swiper-pagination swpa-2 pc-no"></div> -->
					</div>
					<div class="swiper-button-next InNextSwiper2 sbn ta-no"><span><img src="/resources/img/arr-r.jpg"></span></div>
					<div class="swiper-button-prev InPrevSwiper2 sbp ta-no"><span><img src="/resources/img/arr-l.jpg"></span></div>
				</div>
			</div>
			
<!--         <div class="popular_member_wrap">
                <div class="tit_wrap">
                    <h2>인기 회원</h2>
                    <a href="#"><button type="button" class="btn_more">더보기</button></a>
                </div>
                <div class="swiper-container">
                	
                	<div class="swiper-button-prev btn_swipe_left"></div>
	                <ul class="swiper-wrapper" id="popularMbrBox">
	                                           
	                </ul>
                	<div class="swiper-button-next btn_swipe_right"></div>
                </div>
            </div>
           -->
            
            <div class="contents max-1500 popular_member_wrap">				
				<div class="tit_wrap">
                    <h2>인기 회원</h2>
                    <a href="#"><button type="button" class="btn_more">더보기</button></a>
                </div>
				<div class="cns-div swi-box mt10">
					<div class="swiper mySwiper3">
						<div class="swiper-wrapper" id="popularMbrBox"></div>
						<div class="swiper-pagination swpa-2 pc-no"></div>
					</div>
					<div class="swiper-button-next InNextSwiper3 sbn ta-no"><span><img src="/resources/img/arr-r.jpg"></span></div>
					<div class="swiper-button-prev InPrevSwiper3 sbp ta-no"><span><img src="/resources/img/arr-l.jpg"></span></div>
				</div>
			</div>
            <!-- Updated artist--> <!-- 0808 -->
		
            <!-- <div class="exhint_rewview_wrap">
                <div class="tit_wrap">
                    <h2>전시소개/후기</h2>
                    <a href="/community/exhintList"><button type="button" class="btn_more">더보기</button></a>
                </div>
                <div class="swiper-container">
                	
                	<div class="swiper-button-prev btn_swipe_left"></div>
	                <ul class="swiper-wrapper" id="popularExhibitBox">
	                    <li class="swiper-slide">
	                        <div class="exhint_review">        
	                            <div class="pic"><a href="#"><img src="/resources/img/img_new/main_exhint_review_sample00.jpg" alt=""></a></div>                                                                      
	                            <div class="name"><img src="/resources/img/img_new/mypage/ico_dauser.png" alt=""><span>딜링아트</span></div>
	                            <div class="text">나를 돌아보는 전시</div>
	                        </div>
	                    </li>
                	</ul>
                	<div class="swiper-button-next btn_swipe_right"></div>
                </div>
            </div> -->
            
            <!-- New deal --> <!-- 0808 -->
			<div class="contents max-1500 exhint_rewview_wrap" id="newDeal_title">				
				<div class="tit_wrap">
                    <h2>전시소개/후기</h2>
                    <a href="/community/exhintList"><button type="button" class="btn_more">더보기</button></a>
                </div>
				<div class="swi-box mt10">
					<div class="swiper mySwiper4">
						<div class="swiper-wrapper" id="popularExhibitBox"></div>
						<div class="swiper-pagination swpa-2 pc-no"></div>
					</div>
					<div class="swiper-button-next InNextSwiper4 sbn ta-no"><span><img src="/resources/img/arr-r.jpg"></span></div>
					<div class="swiper-button-prev InPrevSwiper4 sbp ta-no"><span><img src="/resources/img/arr-l.jpg"></span></div>
				</div>
				<!-- <div class="text-center">
					<button type="button" class="btn-more ta-no"><span>more</span></button>
				</div> -->
			</div>
        </div>        
    </div>
    <th:block th:replace="thymeleaf/footer :: footerFragment"></th:block>
    
    <script>
    
    $(document).ready(function(){
    	
    	// 초기 화면 셋팅
    	pageRendering();
    	
    	let ww = window.innerWidth;
    	
    	/* 메인 배너 */
    	var myArray = ["01","02","03","04","05","06","07","08","09"];
    	
    	var swiper = new Swiper(".mySwiper", {
  			autoHeight: false,
  		  	autoplay: {
  	          	delay: 3000,
  	          	disableOnInteraction: false,
  	       	},
  	    	pagination: {
  	      		el: ".swiper-pagination",
  	      		clickable: true,
  	      		renderBullet: function (index, className) {
  	        		return '<span class="' + className + '">' + myArray[index + 0] + '</span>';
  	      		},
  	    	},
  	  	});
    	/* 첫번째 배너  */
  	  	var swiper1Num = 4;
  	  
  	  	var swiper = new Swiper(".mySwiper1", {
  		   	slidesPerView: "auto",
  		   	loop: false,
  		   	/* autoplay: {
  		          delay: 3000,
  		          disableOnInteraction: false,
  		   	}, */
  			navigation: {
  				 nextEl: ".InNextSwiper1",
  				 prevEl: ".InPrevSwiper1",
  			},
  	  	});
  	  
  	  
  	  	responsiveSwiper(swiper1Num);
  	  
  	  	function responsiveSwiper(swiper1Num) {
  			if (ww >= 1200) {
  				// 1
  				swiper = new Swiper('.mySwiper1', {
  					slidesPerView: swiper1Num,
  					loop: false,
  					effect: 'slide',
  					navigation: {
  						 nextEl: ".InNextSwiper1",
  						 prevEl: ".InPrevSwiper1",
  					},
  				});
  			} else if (ww < 1200) {
  				// 2
  				swiper = new Swiper('.mySwiper1', {
  					slidesPerView: 1,
  					loop: false
  					
  				});
  			}
  		}
  	  	/* 두번째(매거진) 배너  */
  	  	var swiper2Num = 4;
  	  
  	  	var swiper = new Swiper(".mySwiper2", {
  		   	slidesPerView: "auto",
  		   	loop: false,
  		   	/* autoplay: {
  		          delay: 3000,
  		          disableOnInteraction: false,
  		   	}, */
  			navigation: {
  				 nextEl: ".InNextSwiper2",
  				 prevEl: ".InPrevSwiper2",
  			},
  	  	});
  	  
  	  
  	  	responsiveSwiper(swiper2Num);
  	  
  	  	function responsiveSwiper(swiper2Num) {
  			if (ww >= 1200) {
  				// 1
  				swiper = new Swiper('.mySwiper2', {
  					slidesPerView: swiper2Num,
  					loop: false,
  					effect: 'slide',
  					navigation: {
  						 nextEl: ".InNextSwiper2",
  						 prevEl: ".InPrevSwiper2",
  					},
  				});
  			} else if (ww < 1200) {
  				// 2
  				swiper = new Swiper('.mySwiper2', {
  					slidesPerView: 1,
  					loop: false
  					
  				});
  			}
  		}
  	  	/* 세번째(인기회원) 배너  */
  	  	var swiper3Num = 4;

  	  	var swiper = new Swiper(".mySwiper3", {
  		   	slidesPerView: "auto",
  		   	loop: false,
  		   	/* autoplay: {
  		          delay: 3000,
  		          disableOnInteraction: false,
  		   	}, */
  			navigation: {
  				 nextEl: ".InNextSwiper3",
  				 prevEl: ".InPrevSwiper3",
  			},
  	  	});
  	  
  	  
  	  	responsiveSwiper(swiper3Num);
  	  
  	  	function responsiveSwiper(swiper3Num) {
  			if (ww >= 1200) {
  				// 1
  				swiper = new Swiper('.mySwiper3', {
  					slidesPerView: swiper3Num,
  					loop: false,
  					effect: 'slide',
  					navigation: {
  						 nextEl: ".InNextSwiper3",
  						 prevEl: ".InPrevSwiper3",
  					},
  				});
  			} else if (ww < 1200) {
  				// 2
  				swiper = new Swiper('.mySwiper3', {
  					slidesPerView: 1,
  					loop: false
  					
  				});
  			}
  		}
  	  	/* 네번째 배너  */
  	  	var swiper4Num = 4;
  	  
  	  	var swiper = new Swiper(".mySwiper4", {
  		   	slidesPerView: "auto",
  		   	loop: false,
  		   	/* autoplay: {
  		          delay: 3000,
  		          disableOnInteraction: false,
  		   	}, */
  			navigation: {
  				 nextEl: ".InNextSwiper4",
  				 prevEl: ".InPrevSwiper4",
  			},
  	  	});
  	  
  	  
  	  	responsiveSwiper(swiper4Num);
  	  
  	  	function responsiveSwiper(swiper4Num) {
  			if (ww >= 1200) {
  				// 1
  				swiper = new Swiper('.mySwiper4', {
  					slidesPerView: swiper4Num,
  					loop: false,
  					effect: 'slide',
  					navigation: {
  						 nextEl: ".InNextSwiper4",
  						 prevEl: ".InPrevSwiper4",
  					},
  				});
  			} else if (ww < 1200) {
  				// 2
  				swiper = new Swiper('.mySwiper4', {
  					slidesPerView: 1,
  					loop: false
  					
  				});
  			}
  		}
    });
    
    // 초기 화면 셋팅 
    function pageRendering(){
    	$.ajax({
    		type: "POST",
    		url: "/main/totalContent",
    		success: (function(response){
    			setBoa(response.boas);
    			setNowDealWorks(response.nowDealWorks);
    			setMagazine9(response.mgz9s);
    			setPopularMbr(response.popularMbr);
    			setPopularExhibit(response.popularExhibit);
    		}),
    		error: (function(response){
    			
    		})
    	});
    }
        
    // 자랑하기 셋팅 
    function setBoa(list){
		var strHtml = '';
		
		for(i=0; i<list.length; i++){
			
		}
		
 		strHtml += '<div class="left">';
 		if(list[0] != null){
 		    strHtml += '    <a href="/community/showingOffDetail?SqNumber='+ list[0].comtSq +'"><img src="'+ list[0].comtImgUrl +'" alt=""></a>';
 		}
	    strHtml += '    <div class="bottom">';
 		if(list[1] != null){
 		    strHtml += '        <a href="/community/showingOffDetail?SqNumber='+ list[1].comtSq +'"><img src="'+ list[1].comtImgUrl +'" alt=""></a>';
 		}
 		if(list[2] != null){
 		    strHtml += '        <a href="/community/showingOffDetail?SqNumber='+ list[2].comtSq +'"><img src="'+ list[2].comtImgUrl +'" alt=""></a>';
 		}
	    strHtml += '    </div>';
	    strHtml += '</div>';
 		if(list[3] != null){
 		    strHtml += '<div class="right"><a href="/community/showingOffDetail?SqNumber='+ list[3].comtSq +'"><img src="'+ list[3].comtImgUrl +'" alt=""></a></div>';
 		}
    	
    	$("#boaBox").prepend(strHtml);
    }
    
    // 지금 거래중인 작품 셋팅 
    function setNowDealWorks(list){
    	
    	var strHtml = '';
    	
    
    	
    	list.forEach( function( work ) {
    		//console.log(work.dealSq);
    		///deal/bidding?SqNumber=
    		strHtml += '<div class="swiper-slide hd-div">';
    		strHtml += '	<a class="hd-div400" href="javascript:void(0);" onclick="dealDetail('+work.dealSq+')">';
    		strHtml += '		<img src="'+work.workMainImgUrl+'" class="hd-img"/>';
    		strHtml += '		<div class="hd-text">';
    		strHtml += '			<h4>'+work.artstActvtyNm+'</h4>';
    		strHtml += '			<div class="hd-d1">'+work.workNm +'('+ work.workProdcYear+')';
    		strHtml += '         <br/>'+work.workMatrl+', '+work.workSizeWidth +'x'+ work.workSizeDepth+'</div>';
    		//strHtml += '			<div class="hd-d2">낙찰가 3,700,000 원</div>';
    	    strHtml += '		</div>';
    	    strHtml += '	</a>';
    	    strHtml += '</div>';
    		
    	});
    	
    	$("#nowDealWorkBox").prepend(strHtml);
    }
    
    // 매거진9 셋팅
    function setMagazine9(list){
    	var strHtml = '';
    	
    	list.forEach( function( mgz9 ) {
    		console.log(mgz9.mgzSq);
    		console.log("매거진 img url",mgz9.mgzMainImgUrl);
    		console.log(mgz9.mgzTitle);
    		console.log(mgz9.mgzSq);
    		
    		
    		// mgz9.mgzMainImgUrl이 null이면 대체 이미지 사용
            var imageUrl = mgz9.mgzMainImgUrl ? mgz9.mgzMainImgUrl : '/resources/img/bigLogo2.png';
    		
    		strHtml += '<div class="swiper-slide">';
    		strHtml += '	<div class="cns-box" >';
    		strHtml += '		<a href="javascript:void(0);" onclick="mgzDetail('+ mgz9.mgzSq +')">';
			strHtml += '	<img src="'+ imageUrl +'"  alt="">';
    		strHtml += '		</a>';
    		strHtml += '		<div class="cns-sb">';
    		strHtml += '			<p class="cns-p1">'+mgz9.mgzTitle+'</p>';
    		strHtml += '			<p class="cns-p2 ellipsis">'+mgz9.mgzDescrptn+'</p>';
    		strHtml += '		</div>';
    		strHtml += '	</div>';
    		strHtml += '</div>';
	        
    	});
    	
    	$("#mgz9Box").prepend(strHtml);
    	
    }
    
    // 인기 회원 셋팅 
    function setPopularMbr(list){
    	
    	var strHtml = '';
    	
    	list.forEach( function( mbr ) {
    		console.log("인기회원  img url",mbr.mbrProfileImgUrl);
    		// mbr.mbrIntro이 null이면 대체 이미지 사용
            var mbrIntro = mbr.mbrIntro ? mbr.mbrIntro : ' ';
    		
	        strHtml += '<li class="swiper-slide">';
	        strHtml += '   <a href="javascript:void(0);" onclick="artstDetail('+mbr.mbrSq+')">';
	        strHtml += '	    <div class="cns-box3">';
	        strHtml += '		   <img src="'+mbr.mbrProfileImgUrl+'" alt="" />';
	        strHtml += '   	   <h4 style="text-align:center; padding-top:10px;">'+mbr.mbrNcknm+'</h4>';
	        strHtml += '        <div class="text" style="text-align:center; padding-top:10px;">'+ mbrIntro +'</div>';
		   	strHtml += '	    </div>';
		   	strHtml += '   </a>';
		   	strHtml += '</li>';
    	});
    	
    	$("#popularMbrBox").prepend(strHtml);

  	   
    }
    
    
    // 전시 소개/후기 셋팅
    function setPopularExhibit(list){
    	var strHtml = '';
    	
    	list.forEach( function( exhibit ) {
    		console.log(exhibit.comtSq);
    		console.log("전시 소개/후기 img url",exhibit.comtImgUrl);
    		    		
    		strHtml += '<li class="swiper-slide">';
	        strHtml += '    <div class="exhint_review">';
	        strHtml += '        <div class="pic"><a href="/community/exhibitDetail?SqNumber='+ exhibit.comtSq +'"><img src="'+ exhibit.comtImgUrl +'" alt=""></a></div>';
	        
	        if(null != exhibit.mbrProfileImgUrl){
		        strHtml += '        <div class="name"><img src="'+ exhibit.mbrProfileImgUrl +'" alt=""><span>'+ exhibit.mbrNcknm +'</span></div>';
	        } else {
		        strHtml += '        <div class="name"><img src="/resources/img/img_new/ico_dauser.png"><span>'+ exhibit.mbrNcknm +'</span></div>';
	        } 
	        
	        strHtml += '        <div class="text">'+ exhibit.comtTitle +'</div>';
	        strHtml += '    </div>';
	        strHtml += '</li>';
	        
    	});
    	
    	$("#popularExhibitBox").prepend(strHtml);
    }
    
    function dealDetail(dealSq){
    	location.href = "/deal/bidding?SqNumber="+dealSq;
    }
    
    
    //mgz>Insights 이동
    function mgzDetail(mgzSq){
	  	location.href = "/mgz9/insights?mgzSq="+mgzSq;
  	}
  
    
    
 	/*
     * MGZ9 상세 조회
     * PARAM : #MGZ_SQ
     * RETURN : MGZ9 상세
     */
     function selectMgz9Dtl(mgzSq){
     	
     	$.ajax({
             type: "post",
             url: "/mgz9/selectMgz9Dtl",
             data:{
            	 mgzSq : mgzSq
     		},
             success: function(data) {
             	var mgzDtl = null;
             	console.log(data);
	        	 var mbrNcknm = dataContent.mbrNcknm				//닉네임

             	if(data.result != null){
                 	$("#lp_mgz9Dtl_cntnt").empty();
                 	$("#lp_mgz9Dtl_cntnt").append(data.result.mgzContent).trigger("create");
                 	
                 	var appDevice =	$("#appDevice").val();
             		
             		if(appDevice == "MOBILE") {
             			
             			$(".mainInsightsContent > div").css('font-size', '11px');
             			$(".mainInsightsContent > div").css('padding-left', '0px');
             			$(".mainInsightsContent > div").css('padding-right', '0px');
             		}
                 	
             	}else{
             		modalAlertShow("검색 결과가 없습니다."); 
             		$("#lp_mgz9Dtl_cntnt").empty();
             	}
             },           
             error: function(error) {
                 alert("오류 발생" + error);
             }
     	});
     }
  	
	function more_onCilck(){
		page += 1;
		searchMainData(page);
	}
	
    </script>
</body>
</html>