<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/resources/css/common_pc.css"/>
    <title>Dealing Art</title>
</head>
<body>
    <div id="container">
        <div class="main_wrap">
            <div class="visual">
                <p>
                    딜링아트에서<br> 
                    당신만의 아트 컬렉션을<br> 
                    자유롭게 자랑해보세요.
                </p>
                <button>시작하기</button>
            </div>
            <div class="member_works_showingoff_wrap">
                <div class="tit_wrap">
                    <h2>회원들이 작품 자랑하기</h2>
                    <button class="btn_more">더보기</button>
                </div>                
                <div class="works_layout">
                    <div class="left">
                        <img src="/resources/img/img_new/main_works_showingoff_sample00.jpg" alt="">
                        <div class="bottom">
                            <img src="/resources/img/img_new/main_works_showingoff_sample02.jpg" alt="">
                            <img src="/resources/img/img_new/main_works_showingoff_sample03.jpg" alt="">    
                        </div>
                    </div>
                    <div class="right"><img src="/resources/img/img_new/main_works_showingoff_sample01.jpg" alt=""></div>
                </div>
            </div>
            <div class="market_work_wrap">
                <div class="tit_wrap">
                    <h2>지금 거래중인 작품</h2>
                    <button class="btn_more">더보기</button>
                </div>
                <div class="btn_swipe_left"></div>
                <ul>
                    <li>
                        <a href="#"><img src="/resources/img/img_new/main_market_work_sample00.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/resources/img/img_new/main_market_work_sample01.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/resources/img/img_new/main_market_work_sample02.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/resources/img/img_new/main_market_work_sample03.jpg" alt=""></a>
                    </li>                        
                </ul>
                <div class="btn_swipe_right"></div>
            </div>
            <div class="magazine9_wrap">
                <div class="tit_wrap">
                    <h2>매거진 9</h2>
                    <button class="btn_more">더보기</button>
                </div>
                <div class="btn_swipe_left"></div>
                <div class="magazine9">
                    <div class="contents">
                        <p class="tit">매거진9  Insights 2023 / 6월호</p>
                        <p class="text">전시에 관한 거의 모든 것에 대하여</p>
                        <p class="text pt0">All about Exhibition</p>
                        <span>Art-ist 박혜미</span>
                    </div>
                </div>
                <div class="btn_swipe_right"></div>
            </div>
            <div class="popular_member_wrap">
                <div class="tit_wrap">
                    <h2>인기 회원</h2>
                    <button class="btn_more">더보기</button>
                </div>
                <div class="btn_swipe_left"></div>
                <ul>
                    <li>
                        <div class="public_member">        
                            <div class="logo"></div>                                                                      
                            <div class="name"><span>딜링아트</span></div>
                            <div class="text">소중한 애장품을 기록합니다.</div>
                        </div>
                    </li>
                    <li>
                        <div class="public_member">        
                            <div class="logo"></div>                                                                      
                            <div class="name"><span>딜링아트</span></div>
                            <div class="text">소중한 애장품을 기록합니다.</div>
                        </div>
                    </li>
                    <li>
                        <div class="public_member">        
                            <div class="logo"></div>                                                                      
                            <div class="name"><span>딜링아트</span></div>
                            <div class="text">소중한 애장품을 기록합니다.</div>
                        </div>
                    </li>
                    <li>
                        <div class="public_member">        
                            <div class="logo"></div>                                                                      
                            <div class="name"><span>딜링아트</span></div>
                            <div class="text">소중한 애장품을 기록합니다.</div>
                        </div>
                    </li>
                    <li>
                        <div class="public_member">        
                            <div class="logo"></div>                                                                      
                            <div class="name"><span>딜링아트</span></div>
                            <div class="text">소중한 애장품을 기록합니다.</div>
                        </div>
                    </li>                        
                </ul>
                <div class="btn_swipe_right"></div>
            </div>
            <div class="exhint_rewview_wrap">
                <div class="tit_wrap">
                    <h2>전시소개/후기</h2>
                    <button class="btn_more">더보기</button>
                </div>
                <div class="btn_swipe_left"></div>
                <ul>
                    <li>
                        <div class="exhint_review">        
                            <div class="pic"><a href="#"><img src="/resources/img/img_new/main_exhint_review_sample00.jpg" alt=""></a></div>                                                                      
                            <div class="name"><img src="/resources/img/img_new/mypage/ico_dauser.png" alt=""><span>딜링아트</span></div>
                            <div class="text">나를 돌아보는 전시</div>
                        </div>
                    </li>
                    <li>
                        <div class="exhint_review">        
                            <div class="pic"><a href="#"><img src="/resources/img/img_new/main_exhint_review_sample01.jpg" alt=""></a></div>                                                                      
                            <div class="name"><img src="/resources/img/img_new/mypage/ico_dauser.png" alt=""><span>딜링아트</span></div>
                            <div class="text">나를 돌아보는 전시</div>
                        </div>
                    </li>
                    <li>
                        <div class="exhint_review">        
                            <div class="pic"><a href="#"><img src="/resources/img/img_new/main_exhint_review_sample02.jpg" alt=""></a></div>                                                                      
                            <div class="name"><img src="/resources/img/img_new/mypage/ico_dauser.png" alt=""><span>딜링아트</span></div>
                            <div class="text">나를 돌아보는 전시</div>
                        </div>
                    </li>
                    <li>
                        <div class="exhint_review">        
                            <div class="pic"><a href="#"><img src="/resources/img/img_new/main_exhint_review_sample03.jpg" alt=""></a></div>                                                                      
                            <div class="name"><img src="/resources/img/img_new/mypage/ico_dauser.png" alt=""><span>딜링아트</span></div>
                            <div class="text">나를 돌아보는 전시</div>
                        </div>
                    </li>
                </ul>
                <div class="btn_swipe_right"></div>
            </div>
        </div>        
    </div>
</body>
</html>