<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<th:block th:fragment="footerFragment">
<head>
</head>
<body>
	<div class="footer-wrap">
			<div class="footer-box">
				<div class="footer-nav">
					<ul class="">
						<li><a href="/about/termOfService">이용약관</a></li>
						<li><a href="/about/privacyPolicy">개인정보처리방침</a></li>
						<li><a href="/about/serviceIntro">고객센터</a></li>
					</ul>
					<div class="footer-icon">
						<!-- <a href="javascript:fnModalAlert();"><img src="/resources/img/sns-f.jpg" /></a>
						<a href="javascript:fnModalAlert();"><img src="/resources/img/sns-t.jpg" /></a> -->
						<a href="https://www.instagram.com/dealing_art/" target="_blank"><img src="/resources/img/img_new/ico_footer_instagram.png" /></a>
					</div>
				</div>
				
				<div class="pc-on">
					<div class="footer-text">상호 : 맨션나인 주식회사  대표 : 이영선  사업자등록번호 : 473-81-01206 <a href="javascript:void(0);" onclick="window.open('http://www.ftc.go.kr/bizCommPop.do?wrkr_no=4738101206', 'bizCommPop', 'width=750, height=700;');">[사업자정보확인]</a> </div>
					<div class="footer-text">
						<ol>
							<li>주소 : (06222) 서울특별시 강남구 역삼동 723-29 1F</li>
							<li>대표번호 : 070-4267-7372</li>
							<!-- <li>팩스번호 : 02-336-2920</li> -->
						</ol>
					</div>
					<div class="footer-text">
						<ol>
							<li>통신판매업 신고 : 제 2019-서울마포-1063호</li>
							<li>개인정보관리책임자 : 이영중(privacy@dealing-art.com)</li>
							<li>이메일 : help@dealing-art.com</li>
							<!-- <li class="af-dn">개인정보관리책임자</li> 
							<li> - 이영중(help@dealing-art.com) </li> -->
						</ol>
					</div>
					<div class="newsletter_wrap">
						<div class="tit">뉴스레터 구독하기</div>
						<form action="" method="" id="" name="">
                            <legend>뉴스레터 구독하기 입력 폼</legend>
                            <p>
                                <label for="newsletterName">이름</label>
                                <input type="text" id="newsletterName" name="" required placeholder="">
                            </p>
							<p>
                                <label for="newsletter_email">이메일</label>
                                <input type="text" id="newsletterEmail" name="" required placeholder="">
                            </p>
						</form>
					</div>
				</div>
				
				
				<div class="tb-on max-100">
					<div class="footer-text">상호 : 맨션나인 주식회사  대표 : 이영선  사업자등록번호 : 473-81-01206 <a href="javascript:void(0);" onclick="window.open('http://www.ftc.go.kr/bizCommPop.do?wrkr_no=4738101206', 'bizCommPop', 'width=750, height=700;');">[사업자정보확인]</a> </div>
					<div class="footer-text">
						<ol>
							<li class="dib af-dn">주소 : (06222) 서울특별시 강남구 역삼동 723-29 1F</li>
							<li class="">대표번호 : 070-4267-7372</li>
							<!-- <li class="af-dn">팩스번호 : 02-336-2920</li> -->
						</ol>
					</div>
					<div class="footer-text">
						<ol>
							<li class="af-dn">통신판매업 신고 : 제 2019-서울마포-1063호</li>
							<li>개인정보관리책임자 : 이영중(privacy@dealing-art.com)</li>
						</ol>
					</div>
				</div>
				
				<div class="mo-on max-100">
					<div class="footer-text">상호 : 맨션나인 주식회사<br/>대표 : 이영선</div>
					<div class="footer-text">
						<ol>
							<li class="dib af-dn">주소 : (06222) 서울특별시 강남구 역삼동 723-29 1F</li>
							<li class="dib af-dn">대표번호 : 070-4267-7372</li>
							<!-- <li class="af-dn">팩스번호 : 02-336-2920</li> -->
							<li class="af-dn">이메일 : help@dealing-art.com</li>
							<li class="af-dn">개인정보관리책임자 : 이영중(privacy@dealing-art.com)</li> 
							<!-- <li> - 이영중(help@dealing-art.com)</li> -->
						</ol>
					</div>
					<div class="newsletter_wrap">
						<div class="tit">뉴스레터 구독하기</div>
						<form action="" method="" id="" name="">
                            <legend>뉴스레터 구독하기 입력 폼</legend>
                            <p>
                                <label for="newsletterName">이름</label>
                                <input type="text" id="newsletterName" name="" required placeholder="">
                            </p>
							<p>
                                <label for="newsletter_email">이메일</label>
                                <input type="text" id="newsletterEmail" name="" required placeholder="">
                            </p>
						</form>
					</div>
				</div>
			</div>
		</div>
<!-- LEFT MENU ACTIVE -->
<script>
$(function () {
		var url = window.location.pathname,
		urlRegExp = new RegExp(url.replace(/\/$/, '') + "$");  
        
        $('a').each(function () {
            if (urlRegExp.test(this.href.replace(/\/$/, ''))) {
                $(this).parent().addClass('active');
			}
		});
});
</script>
</body>
</th:block>

</html>

