<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<div th:fragment="footerFragment">

<!DOCTYPE HTML>
<html>
<head>
<body>
	<div class="footer-wrap">
		<div class="footer-box">
			<div class="footer-nav">
				<ul class="">
					<li><a href="#">경매약관</a></li>
					<li><a href="#">온라인경매약관</a></li>
					<li><a href="#">개인정보처림방침</a></li>
					<li><a href="#">내부정보관리규정</a></li>
				</ul>
				<div class="footer-icon">
					<a href="#"><img src="resources/img/sns-f.jpg" /></a>
					<a href="#"><img src="resources/img/sns-t.jpg" /></a>
					<a href="#"><img src="resources/img/sns-i.jpg" /></a>
				</div>
			</div>
			
			<div class="pc-on">
				<div class="footer-text">상호 : MANSION9  대표 : 이영선  사업자등로번호 : 473-81-01206[사업자정보확인]</div>
				<div class="footer-text">
					<ol>
						<li>주소 : 04075 서울특별시 마포구 토정로 11길 60(상수동)1F</li>
						<li>대표번호 : 070-4267-7371</li>
						<li>팩스번호 : 02-336-2920</li>
					</ol>
				</div>
				<div class="footer-text">
					<ol>
						<li>통신판매업 신고 : 제 2019-서울마포-1063호</li>
						<li>개인정보관리책임자 : 이영선(privacy@mainsion9.co.kr</li>
						<li>이메일 : cafe24@mainsion9.co,kr</li>
					</ol>
				</div>
			</div>
			
			
			<div class="tb-on max-100">
				<div class="footer-text">상호 : MANSION9<br/>대표 : 이영선  사업자등로번호 : 473-81-01206[사업자정보확인]</div>
				<div class="footer-text">
					<ol>
						<li class="dib af-dn">주소 : 04075 서울특별시 마포구 토정로 11길 60(상수동)1F</li>
						<li class="">대표번호 : 070-4267-7371</li>
						<li class="af-dn">팩스번호 : 02-336-2920</li>
					</ol>
				</div>
				<div class="footer-text">
					<ol>
						<li class="af-dn">통신판매업 신고 : 제 2019-서울마포-1063호</li>
						<li>개인정보관리책임자 : 이영선(privacy@mainsion9.co.kr 이메일 : cafe24@mainsion9.co,kr</li>
					</ol>
				</div>
			</div>
			
			<div class="mo-on max-100">
				<div class="footer-text">상호 : MANSION9<br/>대표 : 이영선</div>
				<div class="footer-text">
					<ol>
						<li class="dib af-dn">주소 : 04075 서울특별시 마포구 토정로 11길 60(상수동)1F</li>
						<li class="dib af-dn">대표번호 : 070-4267-7371</li>
						<li class="af-dn">팩스번호 : 02-336-2920</li>
						<li class="af-dn">이메일 : cafe24@mainsion9.co,kr</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<!-- LEFT MENU ACTIVE -->
<script>
$(function () {
		var url = window.location.pathname,
		urlRegExp = new RegExp(url.replace(/\/$/, '') + "$");  
        
        $('a').each(function () {
            if (urlRegExp.test(this.href.replace(/\/$/, ''))) {
                $(this).parent().addClass('active');
			}
		});
});
</script>

</div>