<!DOCTYPE HTML>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	 <th:block th:replace="thymeleaf/header :: headerFragment"></th:block>  
	<!-- <th:block th:replace="templates/thymeleaf/headerFragment :: headerFragment" ></th:block> -->
	<style>
		.ellipsis{
				overflow:hidden;
				text-overflow: ellipsis;
				width:235px;
	    	};
    </style>
</head>

<body>
	<div class="wrap">
		<div class="body-wrap">
			<!-- 메인 배너 -->
			<div class="contents">
				<div class="bg-sh"></div>
				<div class="main-banner">						
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="resources/img/beta_babber-1.jpg"/>
							</div>
							<div class="swiper-slide">
								<img src="resources/img/banner-1.jpg" />
								<div class="mab-text">
									<div class="mb-box">
										<div class="mab-title">작가</div>
										<h2>MeME (b. 1983)</h2>
										<p class="mab-p1">WITH LOVE #4 (edition10),</p>
										<p class="mab-p2">35x35cm,  Lenticular & mixed media, 2021</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<img src="resources/img/banner-3.jpg" />
							</div>
							<div class="swiper-slide">
								<img src="resources/img/banner-4.jpg" />
							</div>
							<div class="swiper-slide">
								<img src="resources/img/banner-5.jpg" />
							</div>
							<div class="swiper-slide">
								<img src="resources/img/banner-6.jpg" />
							</div>
							<div class="swiper-slide">
								<img src="resources/img/banner-7.jpg" />
							</div>
						</div>
						<div class="swiper-pagination swpa-1"></div>
					</div>
				</div>
			</div>
			
			<!-- 모바일일때 -->
			<div class="contents mo-nav">
				<nav>
					<li><a href="/deal">Deal</a></li>
					<li><a href="/insights">Mgz9</a></li>
					<li><a href="/artist">Artist Library</a></li>
					<li><a href="/serviceIntro">About</a></li>
				</nav>
			</div>
			
			<!-- 진행 순서 -->
			<div class="contents bg-1">
				<div class="da-snm">
					<ul class="">
						<li>
							<img src="resources/img/img-1.png" />
							<p class="da-p1">안전한 거래</p>
							<p class="da-p2 pc-on">딜링아트를 통한 거래는<br/>안전합니다.</p>
							<p class="da-p2 ta-on">딜링아트를 통한<br/>거래는 안전합니다.</p>
						</li>
						<li>
							<img src="resources/img/img-2.png" />
							<p class="da-p1">공개경매</p>
							<p class="da-p2 pc-on">경매 진행 현황을<br/>실시간으로 확인하세요.</p>
							<p class="da-p2 ta-on">경매 진행 현황을<br/>실시간으로 확인하세요.</p>
						</li>
						<li>
							<img src="resources/img/img-3.png" />
							<p class="da-p1">온라인 결제</p>
							<p class="da-p2 pc-on">번거로운 작품 거래. 더 이상<br/>직접 움직일 필요가 없습니다.</p>
							<p class="da-p2 ta-on">번거로운 작품 거래<br/>간편하게 결재하시요.</p>
						</li>
						<li>
							<img src="resources/img/img-4.png" />
							<p class="da-p1">저렴한 수수료</p>
							<p class="da-p2 pc-on">비상식적인 미술품 거래 수수료<br/>거품을 제거했습니다.</p>
							<p class="da-p2 ta-on">비상식적인 미술품 거래<br/>거품을 제거했습니다.</p>
						</li>
						<li>
							<img src="resources/img/img-5.png" />
							<p class="da-p1">간편매물 등록</p>
							<p class="da-p2 pc-on">보증서만 업로드 하면<br/>딜링아트에서 입력해 드립니다.</p>
							<p class="da-p2 ta-on">보증서만 업로드 하면<br/>정보를 입력해 드립니다.</p>
						</li>
					</ul>
				</div>
			</div>
			
			<!-- hotest deal 스와이퍼 -->
			<div class="contents max-1500">
				<div class="cont-title">
					<h3>hotest deal</h3>
				</div>
				<div class="swi-box">
					<div class="swiper mySwiper2">
						
						<div class="swiper-wrapper" id="mainHotestContent">
						
						</div>
						<div class="swiper-pagination swpa-2 pc-no"></div>	
					</div>	
					
					
					<div class="swiper-button-next InPrevSwiper2 sbn ta-no"><span><img src="resources/img/arr-r.jpg"></span></div>
					<div class="swiper-button-prev InNextSwiper2 sbp ta-no"><span><img src="resources/img/arr-l.jpg"></span></div>
					
				</div>
				
				
					
				
			</div>
			
			<!-- Dealing Art Insights -->
			<div class="contents max-1500">
				<div class="cont-title ta-t60">
					<h3>Dealing Art <span class="ta-no"><br/></span>Insights</h3>
				</div>
				<div class="swi-box">
					
					
					
					<div class="swiper mySwiperIn" >
						
						<div class="swiper-wrapper" id="mainInsights">
						
						</div>
						
						<div class="swiper-pagination swpa-2 pc-no"></div>
					</div>
					<div class="swiper-button-prev InPrev sbp ta-no" style="left:auto;float:left"><span><img src="resources/img/arr-l.jpg"></span></div>
					<div class="swiper-button-next InNext sbn ta-no" style="right:auto;"><span><img src="resources/img/arr-r.jpg"></span></div>
					
			    	
			    	
				</div>
				
			</div>
			
		 
		
		<th:block th:replace="thymeleaf/footer :: footerFragment"></th:block> 
	</div>


<!-- 모달검색 -->
<!-- Modal -->
<div class="modal fade modal-s" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sech">
		<div class="modal-content">
			<div class="modal-header">
				<div class="conts">
				    <div class="close" data-dismiss="modal" aria-label="Close"></div>
				</div>

			</div>
			<div class="modal-body">				
				<!-- 검색버튼 클릭시 -->
				<div class="search-show">
					<div class="sea-box">
						<img src="resources/img/w-logo.jpg" class="sea-img" />
						
						<div class="sea-won">
							<!-- <div class="select-box">
								<select>
									<option>작가명</option>
								</select>
							</div> -->
							<input type="text" class="" />
							<a href="#"><img src="resources/img/icon-2.jpg" /></a>
						</div>
						<div class="ta-h3">
							<h3 class="sea-h3">작품</h3>
							<a href="#"><span>more</span></a>
						</div>
						<ul class="sea-text">
							<li><a href="#">text</a></li>
							<li><a href="#">text</a></li>
							<li><a href="#">text</a></li>
							<li><a href="#">text</a></li>
						</ul>
						<div class="ta-h3">
							<h3 class="sea-h3">작가</h3>
							<a href="#"><span>more</span></a>
						</div>
						<ul class="sea-text">
							<li><a href="#">text</a></li>
							<li><a href="#">text</a></li>
							<li><a href="#">text</a></li>
							<li><a href="#">text</a></li>
						</ul>
						<div class="ta-h3">
							<h3 class="sea-h3">컨텐츠</h3>
							<a href="#"><span>more</span></a>
						</div>
						<ul class="sea-text">
							<li><a href="#">text</a></li>
							<li><a href="#">text</a></li>
							<li><a href="#">text</a></li>
							<li><a href="#">text</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 모달검색 -->
<!-- Modal -->
<div class="modal fade modal-s" id="lp_mgz9Dtl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-baeg max-w1200">
		<div class="modal-content">
			<div class="modal-header" style="padding: 0;min-height: 0;">
				<div class="baegs">
				    <div class="close" data-dismiss="modal" aria-label="Close"><img src="resources/img/ba/icon-end.png" /></div>
				</div>
			</div>
			
			
			<!-- 상세내용 -->
			<div class="modal-body pd60 h850-o mainInsightsContent" id="lp_mgz9Dtl_cntnt"></div>
			
		</div>
	</div>
</div>

<script type="text/javascript">
	var mainHotest = {};
	var mainTodayBid = {};
	var mainInsights = {};
	
	var page = 1;
	
	$(document).ready(function() {
	    $(".elm").hover(
	  	function(){ $(this).addClass('hover') },
	 	    function(){ $(this).removeClass('hover') }
	 	  )
	 	$(".cn-b").hover(
	  	function(){ $(this).addClass('gis') },
	 	    function(){ $(this).removeClass('gis') }
	 	  )
	 	searchMainData(page);
	});
	
	$(function() {                      
		  $(".bab-bo").click(function() { 
		    $(this).toggleClass("bashow");     
		  });
		  
		  $(".lg-my").click(function() { 
		    $('.bg-sh').toggleClass('bg-show');     
		 	 $('.s-hov').toggleClass('s-hov-show');     
		  });
	});
	
	  var myArray = ["01","02","03","04","05","06","07","08","09"];
	 
	  
	  var swiper = new Swiper(".mySwiper", {
		  autoHeight: false,
		  autoplay: {
	          delay: 3000,
	          disableOnInteraction: false,
	        },
	    pagination: {
	      el: ".swiper-pagination",
	      clickable: true,
	      renderBullet: function (index, className) {
	        return '<span class="' + className + '">' + myArray[index + 0] + '</span>';
	      },
	    },
	  });
	  
	  
	  let ww = window.innerWidth;
	  
	  
	  
	  var swiper = new Swiper(".mySwiper2", {
		   slidesPerView: 2,
		   autoHeight: false,
		   loop: false,
		   autoplay: {
		          delay: 3000,
		          disableOnInteraction: false,
		   },
			navigation: {
				 nextEl: ".InNextSwiper2",
				 prevEl: ".InPrevSwiper2",
			},
	  });
	  
	  
	  responsiveSwiper();
	  
	  function responsiveSwiper() {
			if (ww >= 1200) {
				// 1
				swiper = new Swiper('.mySwiper2', {
					slidesPerView: 2,
					loop: false,
					effect: 'slide',
					navigation: {
						 nextEl: ".swiper-button-next",
						 prevEl: ".swiper-button-prev",
					},
				});
			} else if (ww < 1200) {
				// 2
				swiper = new Swiper('.mySwiper2', {
					slidesPerView: 1,
					loop: false,
					 autoplay: {
				          delay: 3000,
				          disableOnInteraction: false,
				     }
				});
			}
		}
	       	  
	    var swiper = new Swiper(".mySwiperIn", {
	    	   
	    	slidesPerView: 3,
			loop: false,
			effect: 'slide',
			navigation: {
				 nextEl: ".InNext",
				 prevEl: ".InPrev",
			},
    	     
	    });
	    
	    responsiveSwiperIn();
	    
	    function responsiveSwiperIn() {
			
	    	if (ww >= 1200) {
				
				swiper = new Swiper('.mySwiperIn', {
				
					slidesPerView: 3,
					loop: false,
					effect: 'slide',
					navigation: {
						 nextEl: ".InNext",
						 prevEl: ".InPrev",
					},
					
				});
				
			} else if (ww < 1200) {
				
				
				swiper = new Swiper('.mySwiperIn', {
					slidesPerView: 1,
					loop: false
					 
				});
			}
		}
	  
	       	  
	       	  
	   window.addEventListener('resize', function() {
			ww = window.innerWidth;
			responsiveSwiper();
			responsiveSwiperIn();
		});
		  	
	       	
	  /* 메뉴바 FIXED */
	  if (jQuery(window).width() > 0) {
	      jQuery(window).on("scroll",function(ev){
	          if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
	              jQuery('.head-wrap').addClass('fixed');
	          }
	          else{
	              jQuery('.head-wrap').removeClass('fixed');
	          }
	          return false;
	      });
	  }
	  
	
	  var delay = 300;
	  var timer = null;
	
	  //Javascript
	  window.addEventListener('resize', function(){
	  	clearTimeout(timer);
	  	timer = setTimeout(function(){
	  		document.location.reload();
	  	}, delay);
	  });
	
	  //jQuery
	  $(window).on('resize', function(){
	  	clearTimeout(timer);
	  	timer = setTimeout(function(){
	  		document.location.reload();
	  	}, delay);
	  });
	  
      /* 메뉴바 FIXED */
      if (jQuery(window).width() > 0) {
          jQuery(window).on("scroll",function(ev){
              if(jQuery(window).scrollTop() > 80 ) { /* 해당 높이를 벗어나면 fixed 클래스 추가 */
                  jQuery('.head-wrap').addClass('fixed');
              }
              else{
                  jQuery('.head-wrap').removeClass('fixed');
              }
              return false;
          });
      }
      
    
      function searchMainData(page) {
		$.ajax({
	           type: "post",
	           url: "main/mainData",
	           data: {
	        	   page : page,
	        	   pageSize : 4
	           },
	           success: function(data) {
	        	   mainHotest = data.mainData.mainHotest;
	        	   mainTodayBid = data.mainData.todayBid;
	        	   mainInsights = data.mainData.insights;
	        	   var hotestHtml = '';
	        	   for(i=0; i<mainHotest.length; i++){
	        		hotestHtml +='<div class="swiper-slide hd-div">';
					hotestHtml +='	<a href="javascript:fnModalAlert();">';
					hotestHtml +='		<img src="'+mainHotest[i].workMainImgUrl+'" class="hd-img" style="width:280px; heigth:280px;"/>';
					hotestHtml +='		<div class="hd-text">';
					hotestHtml +='			<h4 style="height:100px;">'+mainHotest[i].artstActvtyNm+'<br>('+mainHotest[i].workNm+')</h4>';
// 					hotestHtml +='			<div class="hd-d1" >'+mainHotest[i].workNm+'('+mainHotest[i].workProdcYear+')';
// 					hotestHtml +='			<br/>소재 '+mainHotest[i].workMatrl+', '+mainHotest[i].workSizeWidth+'x'+mainHotest[i].workSizeDepth+'cm</div>';
// 					if(mainHotest[i].dealTypCd == "A"){
// 						if(mainHotest[i].maxBidPrc == null || mainHotest[i].maxBidPrc == ""){
// 							hotestHtml +='			<div class="hd-d2">시작가 '+mainHotest[i].dealStrtPrc+' 원</div>';
// 						}else{
// 							hotestHtml +='			<div class="hd-d2">응찰가 '+mainHotest[i].maxBidPrc+' 원</div>';
// 						}
// 	        	    }
// 	        	    if(mainHotest[i].dealTypCd == "S"){
// 						hotestHtml +='			<div class="hd-d2">판매가 '+mainHotest[i].dealFinalPrc+' 원</div>';
// 	        	    }
					hotestHtml +='		</div>';
					hotestHtml +='	</a>';
					hotestHtml +='</div>';
	        	   }
	        	   $("#mainHotestContent").empty();
	        	   $("#mainHotestContent").append(hotestHtml).trigger("create");
	        	   
	        	   
	        	   
	        	   var insightsHtml = '';
	        	   for(i=0; i<mainInsights.length; i++){


	        		   insightsHtml +='<div class="swiper-slide">';
	        		   insightsHtml +='<div>';
	        		   insightsHtml += '	<a href="" data-toggle="modal" data-target="#lp_mgz9Dtl" onclick="selectMgz9Dtl('+ mainInsights[i].mgzSq +');">';
	        		   insightsHtml += '<div class="cns-box">';
	        		   insightsHtml +='<img src="'+mainInsights[i].mgzMainImgUrl+'" class="hd-img" style="height:300px; "/>';
	 				   insightsHtml += '<div class="cns-sb">';
	 				   insightsHtml += '<p class="cns-p1">'+mainInsights[i].mgzTitle+'</p>';
	 				   insightsHtml += '<p class="cns-p2 ellipsis">'+mainInsights[i].mgzDescrptn+'</p>';
	 				   insightsHtml +='</a>';
	 				   insightsHtml +='</div>';
	 				   insightsHtml +='<div>';
	 				   insightsHtml +='</div>';
	 				   insightsHtml +='</div>';
	 				   insightsHtml +='</div>';
	 				   insightsHtml +='</div>';
	        	   }
	        	   $("#mainInsights").empty();
	        	   $("#mainInsights").append(insightsHtml).trigger("create");
	        	  /*  var todayBidHtml = '';
	        	   for(i=0; i<mainTodayBid.length; i++){
	        		   
	        		   var imgId = Math.random().toString(36).substr(2,11);
	        		   
	        		   todayBidHtml += '<figure class="item">';
	        		   todayBidHtml += '<img src="'+ mainTodayBid[i].workMainImgUrl +'" id="'+imgId+'" onmouseover=imgSize("'+imgId+'") >';
	        		   todayBidHtml += '	<a class="hd-div2">';								
	        		   todayBidHtml += '		<div class="hd-text" id="hd-'+imgId+'">';
	        		   todayBidHtml += '			<h4>'+ mainTodayBid[i].artstActvtyNm +'</h4>';
	        		   todayBidHtml += '			<div class="hd-tc">';
	        		   todayBidHtml += '				<div class="hd-d1">'+ mainTodayBid[i].workNm +'('+ mainTodayBid[i].workProdcYear +')';
	        		   todayBidHtml += '				<br/>'+ mainTodayBid[i].workMatrl +', '+ mainTodayBid[i].workSizeWidth +'x'+ mainTodayBid[i].workSizeDepth +'x'+ mainTodayBid[i].workSizeHeight +'</div>';
	        		   //todayBidHtml += '				<div class="hd-d2">낙찰가 '+ formatComma(mainTodayBid[i].dealSbidPrc) +'</div>';
	        		   todayBidHtml += '			</div>';
	        		   todayBidHtml += '		</div>';
	        		   todayBidHtml += '	</a>';
	        		   todayBidHtml += '</figure>';
	        		
 	        		   //imgSize(imgId);
	        	   }
	        	   $("#columns").append(todayBidHtml).trigger("create"); */
	        	   
	           },
	           error: function(error) {
	               alert("오류 발생" + error);
	           }
		})
	}
	
  	/*
     * MGZ9 상세 조회
     * PARAM : #MGZ_SQ
     * RETURN : MGZ9 상세
     */
     function selectMgz9Dtl(mgzSq){
     	
     	$.ajax({
             type: "post",
             url: "/selectMgz9Dtl",
             data:{
            	 mgzSq : mgzSq
     		},
             success: function(data) {
             	var mgzDtl = null;
             	console.log(data);
             	if(data.result != null){
                 	$("#lp_mgz9Dtl_cntnt").empty();
                 	$("#lp_mgz9Dtl_cntnt").append(data.result.mgzContent).trigger("create");
                 	
                 	var appDevice =	$("#appDevice").val();
             		
             		if(appDevice == "MOBILE") {
             			
             			$(".mainInsightsContent > div").css('font-size', '11px');
             			$(".mainInsightsContent > div").css('padding-left', '0px');
             			$(".mainInsightsContent > div").css('padding-right', '0px');
             		}
                 	
             	}else{
             		modalAlertShow("검색 결과가 없습니다."); 
             		$("#lp_mgz9Dtl_cntnt").empty();
             	}
             },           
             error: function(error) {
                 alert("오류 발생" + error);
             }
     	});
     }
  	
	function more_onCilck(){
		page += 1;
		searchMainData(page);
	}
	
	
	
 	function imgSize(imgId){
 		
 		var imgWidth = $('#'+imgId).width()-49;
  		var imgHeight = $('#'+imgId).height()-49;
  		
  		console.log("imgWidth :"+imgWidth);
  		console.log("imgHeight :"+imgHeight);
  		  		
  		$('#hd-'+imgId).width(imgWidth);
  		$('#hd-'+imgId).height(imgHeight);
 		
 	}
 	
 	
</script>
</body>

</html>
