<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:blcok th:fragment="myPageLeftFragment" class="con-left2">

	<div class="cont-title4" id="conTitle">
	</div>
	<div class="con-btn" id="conBtn">
	</div>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading1">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
						My Deal
					</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
				<div class="panel-body">
					<ul class="mypage-ul">
						<li class="" id="myDeal"><a href="/myDeal">거래 내역</a></li>
						<li class="" id="coupon"><a href="/coupon">쿠폰</a></li>
						<li class=""><a href="javascript:fnModalAlert();">문의 내역</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default" id="portfolio" style="display:none;">
			<div class="panel-heading" role="tab" id="heading2">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
						포트폴리오
					</a>
				</h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
				<div class="panel-body">
					<ul class="mypage-ul">
						<li class="" id="information"><a href="/information">작가 정보</a></li>
						<li class="myWork" id="myWork"><a href="#">나의 작품</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading3">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion3" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
						My Collection
					</a>
				</h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
				<div class="panel-body">
					<ul class="mypage-ul">
						<li class="myCollection" id="myCollection"><a href="#">소장품</a></li>
						<li class="scrap" id="scrap"><a href="#">스크랩</a></li>
						<!-- <li class="myWorkList" id="myWorkList"><a href="#">나의 작품(통합)</a></li> -->
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading3">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion4" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
						설정
					</a>
				</h4>
			</div>
			<div id="collapse4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading4">
				<div class="panel-body">
					<ul class="mypage-ul"><!--class="active"-->
						<li class="" id="memberEdit"><a href="/memberEdit">회원 정보 수정</a></li>
						<li class="" id="withdrawal"><a href="/withdrawal">회원탈퇴</a></li>
						<li class="" id="alarm"><a href="/alarm">알림 설정</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<script th:inline="javascript">
$(function() {
	if(sMbrSqVal == null || sMbrSqVal == ""){
		modalAlertShow("로그인 후 이용하실 수 있습니다.", "main");
	}
});
/*
$(document).on("click", ".myWork", function(){
	pageGoPost({
		url:"/myWork",
		target:"_self",
		vals:[
			["artstSq", artstSq]
		]
	});
}); 
*/
$(document).on("click", ".myCollection", function(){
	pageGoPost({
		url:"/myCollection",
		target:"_self",
		vals:[
			["mbrSq", sMbrSqVal]
		]
	});
});
$(document).on("click", ".scrap", function(){
	pageGoPost({
		url:"/scrap",
		target:"_self",
		vals:[
			["mbrSq", sMbrSqVal]
		]
	});
});

$(document).on("click", ".myWorkList", function(){
	pageGoPost({
		url:"/myWorkList",
		target:"_self",
		vals:[
			["mbrSq", sMbrSqVal]
		]
	});
});
</script>
</th:blcok>	
